Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Fix broken doc links after Pro docs consolidation (#2631)
  .lychee.toml
  CHANGELOG.md
Due: prettier

Fix missing v prefix in changelog compare links (#2628)
  .claude/commands/update-changelog.md
  CHANGELOG.md
  react_on_rails/rakelib/update_changelog.rake
  react_on_rails/spec/react_on_rails/update_changelog_rake_helpers_spec.rb
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Sync update-changelog command with shakapacker improvements (#2643)
  .claude/commands/update-changelog.md
Due: prettier

Fix placeholder text in docs (#2649)
  docs/oss/building-features/how-to-use-different-files-for-client-and-server-rendering.md
  docs/oss/building-features/images.md
Due: prettier

Docs: add competitive comparison with alternatives (#2641)
  docs/README.md
  docs/oss/building-features/rails-webpacker-react-integration-options.md
  docs/oss/introduction.md
Due: prettier

Add changelog link to documentation site (#2632)
  docs/README.md
Due: prettier

Fix broken doc links after Pro docs consolidation (#2630)
  react_on_rails_pro/CONTRIBUTING.md
Due: prettier

Add 'What's Next?' sections to getting-started docs (#2640)
  docs/oss/getting-started/create-react-on-rails-app.md
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/getting-started/quick-start.md
  docs/oss/getting-started/tutorial.md
Due: prettier

Bump version to 16.4.0
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Update address-review command to use sequential numbering (#2656)
  .claude/commands/address-review.md
Due: prettier

Recognize TypeScript (.ts) Shakapacker config variants (#2567)
  CHANGELOG.md
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
  react_on_rails/spec/react_on_rails/generators/base_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop, prettier

Update CHANGELOG.md for 16.4.0 (#2655)
  CHANGELOG.md
Due: prettier

Add documentation site nav links to README (#2662)
  README.md
Due: prettier

Update Pro docs URL to canonical /docs/pro path (#2657)
  AGENTS.md
  CHANGELOG.md
  README.md
  analysis/create-react-on-rails-app-proposal.md
  docs/oss/building-features/streaming-server-rendering.md
  docs/oss/configuration/configuration-pro.md
  internal/planning/docs-improvement/04-ia-redesign-plan.md
  llms.txt
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
  packages/react-on-rails/README.md
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/bin/dev
  react_on_rails/lib/react_on_rails/configuration.rb
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/packer_utils.rb
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/lib/react_on_rails/server_rendering_js_code.rb
  react_on_rails/lib/tasks/generate_packs.rake
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
  react_on_rails_pro/CONTRIBUTING.md
  react_on_rails_pro/lib/react_on_rails_pro/compression_middleware_guard.rb
Due: autofix, rubocop, eslint, prettier

Address review feedback on install docs and generator
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
Due: autofix, rubocop, prettier

Address remaining PR review feedback on robustness and docs
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  packages/create-react-on-rails-app/src/create-app.ts
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
  react_on_rails/spec/react_on_rails/git_utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Improve create/install validation flows and migration docs
  README.md
  docs/oss/getting-started/create-react-on-rails-app.md
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/migrating/migrating-from-react-rails.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
  packages/create-react-on-rails-app/src/utils.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/git_utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix install and docs review follow-ups
  docs/oss/building-features/how-to-use-different-files-for-client-and-server-rendering.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/utils.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/git_utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Address PR review feedback on validation and docs
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/utils.ts
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
  react_on_rails/spec/react_on_rails/git_utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Clarify Shakapacker package manager preflights
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/migrating/migrating-from-react-rails.md
  docs/oss/migrating/migrating-from-vite-rails.md
  docs/oss/upgrading/upgrading-react-on-rails.md
Due: prettier

Fix #2606: reduce doctor false positives for custom layouts (#2612)
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Tighten evaluator comparison copy
  docs/oss/getting-started/comparing-react-on-rails-to-alternatives.md
  docs/oss/getting-started/quick-start.md
Due: prettier

Add evaluator decision docs
  docs/README.md
  docs/oss/getting-started/quick-start.md
  docs/oss/getting-started/tutorial.md
  docs/oss/introduction.md
Due: prettier

Tighten migration preflights from validation runs
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/migrating/migrating-from-react-rails.md
  docs/oss/migrating/migrating-from-vite-rails.md
  docs/oss/upgrading/upgrading-react-on-rails.md
Due: prettier

Print Pro upgrade hint after successful install (#2642)
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/react_with_redux_generator.rb
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
Due: autofix, rubocop

Tighten bundler config detection in system checker
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Fix #2607: align Pro worker-count env var naming (#2611)
  docs/oss/getting-started/pro-quick-start.md
  packages/react-on-rails-pro-node-renderer/README.md
  packages/react-on-rails-pro-node-renderer/src/ReactOnRailsProNodeRenderer.ts
  react_on_rails/lib/generators/react_on_rails/templates/pro/base/client/node-renderer.js
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop, eslint, prettier

Add decision trees for Pro vs OSS to AGENTS_USER_GUIDE (#2639)
  AGENTS_USER_GUIDE.md
  CHANGELOG.md
  README.md
  docs/README.md
  docs/oss/configuration/configuration-pro.md
  docs/pro/troubleshooting.md
Due: prettier

Sync address-review command with shakapacker improvements (#2658)
  .claude/commands/address-review.md
Due: prettier

Fix conductor setup dirtying Pro lockfiles (sqlite3 Ruby 3.4 compat) (#2667)
  conductor-setup.sh
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: none

Improve create/install validation flows and migration docs (#2650)
  docs/oss/getting-started/comparison-with-alternatives.md
  docs/oss/getting-started/create-react-on-rails-app.md
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/migrating/migrating-from-react-rails.md
  docs/oss/migrating/migrating-from-vite-rails.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/git_utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Sync address-review command with triage improvements (#2760)
  .claude/commands/address-review.md
Due: prettier

Docs: fill upgrade guide gaps for 16.1.x → 16.4.0 migration (#2772)
  docs/oss/upgrading/upgrading-react-on-rails.md
  docs/pro/updating.md
  react_on_rails_pro/README.md
Due: prettier

Add missing language specifiers to docs code blocks (#2778)
  CHANGELOG.md
  docs/DIRECTORY_LICENSING.md
  docs/LICENSING_FAQ.md
  docs/oss/api-reference/generator-details.md
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/building-features/code-splitting.md
  docs/oss/building-features/dev-server-and-testing.md
  docs/oss/building-features/images.md
  docs/oss/building-features/node-renderer/basics.md
  docs/oss/building-features/node-renderer/heroku.md
  docs/oss/building-features/process-managers.md
  docs/oss/building-features/rails-webpacker-react-integration-options.md
  docs/oss/building-features/testing-configuration.md
  docs/oss/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  docs/oss/deployment/elastic-beanstalk.md
  docs/oss/deployment/troubleshooting-build-errors.md
  docs/oss/deployment/troubleshooting-when-using-shakapacker.md
  docs/oss/getting-started/quick-start.md
  docs/oss/getting-started/tutorial.md
  docs/oss/migrating/babel-to-swc-migration.md
  docs/oss/migrating/convert-rails-5-api-only-app.md
  docs/oss/migrating/rsc-preparing-app.md
  docs/oss/migrating/rsc-third-party-libs.md
  docs/oss/migrating/rsc-troubleshooting.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  docs/pro/react-server-components/add-streaming-and-interactivity.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/flight-protocol-syntax.md
  docs/pro/react-server-components/server-side-rendering.md
  docs/pro/updating.md
Due: prettier

Revise title and enhance project description
  docs/oss/getting-started/create-react-on-rails-app.md
Due: prettier

Docs: clean up directory structure and normalize filenames (#2780) (#2784)
  docs/oss/api-reference/rails_view_rendering_from_inline_javascript.md
  docs/oss/misc/code_of_conduct.md
Due: prettier

Move docs home copy upstream and fix tutorial anchor (#2671)
  docs/README.md
  docs/oss/getting-started/tutorial.md
Due: prettier

Add shared address-review prompt for non-Claude tools (#2761)
  .claude/commands/address-review.md
  AGENTS.md
Due: prettier
