Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Address code review feedback: standardize author and organize docs
  .claude/docs/analysis/github-issue-1765-status-update.md
  .claude/docs/analysis/github-issue-1765-update.md
  package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
Due: prettier

Fix ESLint default-param-last errors after rebase
  packages/react-on-rails/src/buildConsoleReplay.ts
Due: eslint, prettier

Fix Pro ESLint configuration to ignore open-source package
  react_on_rails_pro/eslint.config.mjs
Due: none

Add service dependency checking to bin/dev (#2098)
  CHANGELOG.md
  Steepfile
  docs/building-features/process-managers.md
  lib/generators/react_on_rails/base_generator.rb
  lib/generators/react_on_rails/templates/base/base/.dev-services.yml.example
  lib/react_on_rails/dev/server_manager.rb
  lib/react_on_rails/dev/service_checker.rb
  sig/react_on_rails/dev/service_checker.rbs
  spec/dummy/.dev-services.yml.example
  spec/react_on_rails/dev/service_checker_spec.rb
Due: autofix, rubocop, prettier

Fix prepare scripts to avoid yarn deadlock during install
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
Due: prettier

Add documentation for CI failure analysis and PR splitting strategy
  .claude/docs/analysis/CI_FAILURES_2024-11-21.md
  .claude/docs/analysis/INDEX.md
  .claude/docs/pr-splitting-strategy.md
  CLAUDE.md
Due: prettier

Document manual workflow triggering in GitHub Actions
  .github/read-me.md
Due: prettier

Fix inaccurate workflow list in manual triggering docs
  .github/read-me.md
Due: prettier

Fix documentation dates and add PR splitting strategy reference
  .claude/docs/analysis/CI_FAILURES_2024-11-21.md
  .claude/docs/analysis/INDEX.md
  CLAUDE.md
Due: prettier

Add CI failure analysis and PR splitting strategy documentation
  .claude/docs/analysis/CI_FAILURES_2024-11-21.md
  .claude/docs/analysis/INDEX.md
  CLAUDE.md
Due: prettier

Fix hanging node-renderer tests by adding setup script
  .github/workflows/pro-test-package-and-gem.yml
  packages/react-on-rails-pro-node-renderer/scripts/setup-test-env.sh
  react_on_rails_pro/spec/dummy/.gitignore
Due: prettier

Debug CI: check if setup script exists
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

Fix setup script path for Pro workflow working directory
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

Add 30s test timeout and remove debug output
  .github/workflows/pro-test-package-and-gem.yml
  packages/react-on-rails-pro-node-renderer/package.json
Due: prettier

Copy actual manifest files from webpack build if they exist
  packages/react-on-rails-pro-node-renderer/scripts/setup-test-env.sh
Due: none

Add CI failure analysis and PR splitting strategy documentation (#2107)
  .claude/docs/analysis/CI_FAILURES_2024-11-21.md
  .claude/docs/analysis/INDEX.md
  CLAUDE.md
Due: prettier

Fix React 19 compatibility issues in Pro package tests
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

Add PR Testing Agent documentation
  .claude/docs/pr-testing-agent.md
Due: prettier

Strengthen React 19 test assertions with component-specific checks
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
Due: eslint, prettier

Simplify React 19 test assertions to handle JSON-wrapped responses
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
Due: eslint, prettier

Add agent invocation and workflow integration sections
  .claude/docs/pr-testing-agent.md
Due: prettier

Address code review feedback for Pro node-renderer tests
  .github/workflows/pro-test-package-and-gem.yml
  packages/react-on-rails-pro-node-renderer/scripts/setup-test-env.sh
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

Fix Pro Node Renderer tests: React 19 compatibility and race conditions
  packages/react-on-rails-pro-node-renderer/tests/concurrentHtmlStreaming.test.ts
  packages/react-on-rails-pro-node-renderer/tests/htmlStreaming.test.js
  packages/react-on-rails-pro-node-renderer/tests/httpRequestUtils.ts
  packages/react-on-rails-pro-node-renderer/tests/serverRenderRSCReactComponent.test.js
  packages/react-on-rails-pro-node-renderer/tests/testingNodeRendererConfigs.js
  packages/react-on-rails-pro-node-renderer/tests/testingNodeRendererConfigs.ts
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

linting
  packages/react-on-rails-pro-node-renderer/tests/httpRequestUtils.ts
  packages/react-on-rails-pro-node-renderer/tests/serverRenderRSCReactComponent.test.js
  packages/react-on-rails-pro-node-renderer/tests/testingNodeRendererConfigs.ts
Due: eslint, prettier

Fix linting: Add missing trailing newline to testingNodeRendererConfigs.ts
  packages/react-on-rails-pro-node-renderer/tests/testingNodeRendererConfigs.ts
Due: eslint, prettier

Fix Pro Node Renderer tests: React 19 compatibility and race conditions (#2110)
  packages/react-on-rails-pro-node-renderer/tests/concurrentHtmlStreaming.test.ts
  packages/react-on-rails-pro-node-renderer/tests/htmlStreaming.test.js
  packages/react-on-rails-pro-node-renderer/tests/httpRequestUtils.ts
  packages/react-on-rails-pro-node-renderer/tests/serverRenderRSCReactComponent.test.js
  packages/react-on-rails-pro-node-renderer/tests/testingNodeRendererConfigs.js
  packages/react-on-rails-pro-node-renderer/tests/testingNodeRendererConfigs.ts
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

Add cross-references, success criteria, Playwright testing, and fix formatting
  .claude/docs/pr-testing-agent.md
Due: prettier

Fix critical Pro gemspec and Gemfile issues
  react_on_rails_pro.gemspec
  react_on_rails_pro/Gemfile
Due: none

Fix Pro gemspec paths after Phase 6 restructure
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
  react_on_rails_pro/spec/dummy/Gemfile
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile
Due: prettier

Skip Pro validation for example app RSpec tests
  rakelib/run_rspec.rake
Due: autofix, rubocop

Add REACT_ON_RAILS_PRO_LICENSE to missing workflows
  .github/workflows/examples.yml
  .github/workflows/integration-tests.yml
Due: prettier

Fix example generation in monorepo with Pro gem
  rakelib/shakapacker_examples.rake
Due: autofix, rubocop

Fix ReactOnRailsPro::Utils uninitialized constant error
  lib/react_on_rails/utils.rb
Due: autofix, rubocop

Fix critical bug: MIT gem was including Pro code
  rakelib/shakapacker_examples.rake
  react_on_rails.gemspec
Due: autofix, rubocop

Fix CI failures: Build packages before yalc publish
  .github/workflows/examples.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
Due: prettier

Fix gemspec to exclude entire react_on_rails_pro directory
  react_on_rails.gemspec
Due: none

Fix Pro workflow paths after Phase 6 restructuring
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

Add gemspec validation and documentation
  .github/read-me.md
  CONTRIBUTING.md
  react_on_rails.gemspec
  spec/react_on_rails/gemspec_file_inclusion_spec.rb
Due: autofix, rubocop, prettier
