Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Improve /address-review command based on CodeRabbit feedback
  .claude/commands/address-review.md
Due: prettier

Fix broken links and add URL exclusions for bot-blocked sites
  .lychee.toml
  PROJECTS.md
Due: prettier

Add claude.ai to URL exclusions
  .lychee.toml
Due: none

Fix malformed code fences in improved-error-messages.md
  docs/guides/improved-error-messages.md
Due: prettier

Fix malformed code fences in improved-error-messages.md (#2222)
  docs/guides/improved-error-messages.md
Due: prettier

Fix markdown lint issues in react_on_rails_pro/CONTRIBUTING.md
  react_on_rails_pro/CONTRIBUTING.md
Due: prettier

Migrate from markdown-link-check to lychee (#2219)
  .github/markdown-link-check-config.json
  .github/workflows/check-markdown-links.yml
  .gitignore
  .lychee.toml
  PROJECTS.md
  react_on_rails_pro/CHANGELOG.md
  react_on_rails_pro/CONTRIBUTING.md
  react_on_rails_pro/docs/release-notes/4.0.md
  react_on_rails_pro/docs/release-notes/v4-react-server-components.md
Due: prettier

Fix outdated paths after monorepo restructuring
  .claude/agents/pr-testing-agent.md
  .claude/agents/pr-testing-guide.md
  .claude/docs/analysis/CI_FAILURES_2024-11-21.md
  .claude/docs/analysis/MIGRATION_QUICK_REFERENCE.md
  .claude/docs/analysis/MONOREPO_MIGRATION_ANALYSIS.md
  .claude/docs/analysis/PHASE_6_CHECKLIST.md
  .stylelintrc.json
  CHANGELOG.md
  CLAUDE.md
  CODING_AGENTS.md
  CONTRIBUTING.md
  NEWS.md
  README.md
  SWITCHING_CI_CONFIGS.md
  WARP.md
  docs/JS_PRO_PACKAGE_SEPARATION_PLAN.md
  docs/MONOREPO_MERGER_PLAN.md
  docs/api-reference/redux-store-api.md
  docs/api-reference/view-helpers-api.md
  docs/building-features/images.md
  docs/building-features/rspec-configuration.md
  docs/contributor-info/errors-with-hooks.md
  docs/contributor-info/generator-testing.md
  docs/contributor-info/linters.md
  docs/contributor-info/pull-requests.md
  docs/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  docs/core-concepts/how-react-on-rails-works.md
  docs/core-concepts/render-functions-and-railscontext.md
  docs/introduction.md
  react_on_rails/spec/support/shakapacker_precompile_hook_shared.rb
  react_on_rails_pro/docs/home-pro.md
Due: autofix, rubocop, prettier

Fix Prettier formatting (version 3.6.2)
  .claude/docs/analysis/MONOREPO_MIGRATION_ANALYSIS.md
  CHANGELOG.md
  CODING_AGENTS.md
  CONTRIBUTING.md
  docs/MONOREPO_MERGER_PLAN.md
Due: prettier

Fix doubled paths and inconsistent link text
  SWITCHING_CI_CONFIGS.md
  WARP.md
  docs/building-features/images.md
Due: prettier

Fix spec/dummy link references in CHANGELOG.md and NEWS.md
  CHANGELOG.md
  NEWS.md
Due: prettier

Dependabot config
  .github/dependabot.yml
  docs/MONOREPO_MERGER_PLAN.md
Due: prettier

Fix broken internal links from docs reorganization (#1845)
  CHANGELOG.md
  NEWS.md
  README.md
  docs/contributor-info/rbs-type-signatures.md
Due: prettier

Fix remaining monorepo path references in docs
  docs/building-features/turbolinks.md
  docs/contributor-info/releasing.md
  docs/swc-migration.md
  docs/upgrading/upgrading-react-on-rails.md
Due: prettier

Fix remaining spec/dummy path references missed in monorepo migration
  .prettierignore
  SWITCHING_CI_CONFIGS.md
  bin/ci-local
  bin/ci-switch-config
  docs/contributor-info/releasing.md
Due: prettier

Fix outdated paths after monorepo restructuring (#2216)
  .claude/agents/pr-testing-agent.md
  .claude/agents/pr-testing-guide.md
  .claude/docs/analysis/CI_FAILURES_2024-11-21.md
  .claude/docs/analysis/MIGRATION_QUICK_REFERENCE.md
  .claude/docs/analysis/MONOREPO_MIGRATION_ANALYSIS.md
  .claude/docs/analysis/PHASE_6_CHECKLIST.md
  .prettierignore
  .stylelintrc.json
  CHANGELOG.md
  CLAUDE.md
  CODING_AGENTS.md
  CONTRIBUTING.md
  NEWS.md
  README.md
  SWITCHING_CI_CONFIGS.md
  WARP.md
  bin/ci-local
  bin/ci-switch-config
  docs/JS_PRO_PACKAGE_SEPARATION_PLAN.md
  docs/MONOREPO_MERGER_PLAN.md
  docs/api-reference/redux-store-api.md
  docs/api-reference/view-helpers-api.md
  docs/building-features/images.md
  docs/building-features/rspec-configuration.md
  docs/building-features/turbolinks.md
  docs/contributor-info/errors-with-hooks.md
  docs/contributor-info/generator-testing.md
  docs/contributor-info/linters.md
  docs/contributor-info/pull-requests.md
  docs/contributor-info/releasing.md
  docs/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  docs/core-concepts/how-react-on-rails-works.md
  docs/core-concepts/render-functions-and-railscontext.md
  docs/introduction.md
  docs/swc-migration.md
  docs/upgrading/upgrading-react-on-rails.md
  react_on_rails/spec/support/shakapacker_precompile_hook_shared.rb
  react_on_rails_pro/docs/home-pro.md
Due: autofix, rubocop, prettier

Fix shakacode.com docs URLs broken by docs reorganization
  CHANGELOG.md
Due: prettier

Fix 2 missed shakacode.com URLs in README.md
  README.md
Due: prettier

Fix 1 more missed shakacode.com URL in docs/api-reference/javascript-api.md
  docs/api-reference/javascript-api.md
Due: prettier

Fix inconsistent link text in CHANGELOG.md line 712
  CHANGELOG.md
Due: prettier

use react-on-rails-rsc as git deps
  packages/react-on-rails-pro/package.json
  pnpm-lock.yaml
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/pnpm-lock.yaml
Due: prettier

use react 19.0.3
  package.json
  packages/react-on-rails-pro/package.json
  pnpm-lock.yaml
  react_on_rails/spec/dummy/package.json
  react_on_rails/spec/dummy/pnpm-lock.yaml
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/pnpm-lock.yaml
Due: prettier

Revert "use react 19.0.3"
  package.json
  packages/react-on-rails-pro/package.json
  pnpm-lock.yaml
  react_on_rails/spec/dummy/package.json
  react_on_rails/spec/dummy/pnpm-lock.yaml
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/pnpm-lock.yaml
Due: prettier

upgrade react to v19.2.3
  package.json
  packages/react-on-rails-pro/package.json
  pnpm-lock.yaml
  react_on_rails/spec/dummy/package.json
  react_on_rails/spec/dummy/pnpm-lock.yaml
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/pnpm-lock.yaml
Due: prettier

update pnpm-lock.yml file
  pnpm-lock.yaml
Due: prettier

use react-on-rails-rsc@19.0.4
  package.json
  packages/react-on-rails-pro/package.json
  pnpm-lock.yaml
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/pnpm-lock.yaml
Due: prettier

make react-on-rails accept range of versions of react-on-rails-rsc
  packages/react-on-rails-pro/package.json
Due: prettier

Update CHANGELOG for React security vulnerability fixes (CVE-2025-55183, CVE-2025-55184, CVE-2025-67779)
  CHANGELOG.md
Due: prettier

Upgrade React to v19.0.3 and react-on-rails-rsc to v19.0.4 (CVE-2025-55183, CVE-2025-55184, CVE-2025-67779) (#2233)
  CHANGELOG.md
  package.json
  packages/react-on-rails-pro/package.json
  pnpm-lock.yaml
  react_on_rails/spec/dummy/package.json
  react_on_rails/spec/dummy/pnpm-lock.yaml
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/pnpm-lock.yaml
Due: prettier

Initial benchmark workflow
  .github/workflows/benchmark.yml
Due: prettier

Initial benchmark version
  .gitignore
  spec/performance/bench.sh
Due: none

Enable clustered mode in production
  .github/workflows/benchmark.yml
  react_on_rails/spec/dummy/config/puma.rb
Due: autofix, rubocop, prettier

Add production scripts
  react_on_rails/spec/dummy/bin/prod
  react_on_rails/spec/dummy/bin/prod-assets
Due: none

Fix max rate K6 scenario
  spec/performance/bench.sh
Due: none

Fix knip error
  knip.ts
Due: eslint, prettier

Make request timeout a parameter
  .github/workflows/benchmark.yml
  spec/performance/bench.sh
Due: prettier

Add server warm-up to benchmark
  spec/performance/bench.sh
Due: none

Add MAX_CONNECTIONS
  .github/workflows/benchmark.yml
  spec/performance/bench.sh
Due: prettier

Update defaults for now
  .github/workflows/benchmark.yml
Due: prettier
