Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Add CSP nonce support for consoleReplay script
  lib/react_on_rails/helper.rb
  packages/react-on-rails/src/RenderUtils.ts
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/buildConsoleReplay.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
Due: autofix, rubocop, eslint, prettier

Add nonce sanitization to prevent XSS attacks
  packages/react-on-rails/src/RenderUtils.ts
  packages/react-on-rails/tests/buildConsoleReplay.test.js
Due: eslint, prettier

Add tests and security documentation for CSP nonce support
  lib/react_on_rails/helper.rb
  packages/react-on-rails/tests/buildConsoleReplay.test.js
Due: autofix, rubocop, eslint, prettier

Fix Rails version compatibility for content_security_policy_nonce
  lib/react_on_rails/helper.rb
Due: autofix, rubocop

Add CHANGELOG entry for CSP nonce support
  CHANGELOG.md
Due: prettier

Fix RuboCop errors in Pro helper spec
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop

Fix double-wrapped script tags in console replay
  packages/react-on-rails/src/serverRenderReactComponent.ts
Due: eslint, prettier

Update Pro tests to expect wrapped console scripts
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop

Fix Jest configuration for monorepo node-renderer tests
  react_on_rails_pro/package-scripts.yml
  react_on_rails_pro/package.json
Due: prettier

Fix Pro console logging test for new format
  react_on_rails_pro/spec/dummy/spec/requests/renderer_console_logging_spec.rb
Due: autofix, rubocop

Add comprehensive proposal for create-react-on-rails-app CLI tool
  PROPOSAL.md
Due: prettier

Fix node-renderer package.json and knip configuration
  knip.ts
  packages/react-on-rails-pro-node-renderer/package.json
  yarn.lock
Due: eslint, prettier

Format: Apply Prettier to knip.ts entry points array
  knip.ts
Due: eslint, prettier

Fix Pro console logging test for second component
  react_on_rails_pro/spec/dummy/spec/requests/renderer_console_logging_spec.rb
Due: autofix, rubocop

convert testUtils to ts
  packages/react-on-rails-pro/tests/testUtils.ts
Due: eslint, prettier

convert testUtils to ts (#2074)
  packages/react-on-rails-pro/tests/testUtils.ts
Due: eslint, prettier

handle errors happen at the InrecementalRequestManager
  react_on_rails_pro/packages/node-renderer/src/worker.ts
  react_on_rails_pro/packages/node-renderer/src/worker/IncrementalRenderRequestManager.ts
Due: eslint, prettier

Enhance incremental render tests with helper functions for setup and processing
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

create a test to test the streaming from server to client
  react_on_rails_pro/packages/node-renderer/src/worker.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleIncrementalRenderStream.ts
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

upload assets in a separate request when needed
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
Due: autofix, rubocop

Refactor incremental render tests to use custom waitFor function
  react_on_rails_pro/packages/node-renderer/src/worker/handleIncrementalRenderStream.ts
  react_on_rails_pro/packages/node-renderer/tests/helper.ts
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Implement Incremental Render Request Manager and Bundle Validation
  react_on_rails_pro/packages/node-renderer/src/shared/utils.ts
  react_on_rails_pro/packages/node-renderer/src/worker.ts
  react_on_rails_pro/packages/node-renderer/src/worker/IncrementalRenderRequestManager.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleRenderRequest.ts
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

add echo server test and enhance error reporting in waitFor function
  react_on_rails_pro/packages/node-renderer/tests/helper.ts
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Enhance error handling in incremental rendering stream
  react_on_rails_pro/packages/node-renderer/src/worker/handleIncrementalRenderStream.ts
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Remove unnecessary console logs from worker and test files
  react_on_rails_pro/packages/node-renderer/src/worker.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleIncrementalRenderStream.ts
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Refactor incremental rendering logic and enhance bundle validation
  react_on_rails_pro/packages/node-renderer/src/worker.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleIncrementalRenderRequest.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleRenderRequest.ts
  react_on_rails_pro/packages/node-renderer/src/worker/sharedRenderUtils.ts
  react_on_rails_pro/packages/node-renderer/src/worker/vm.ts
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Refactor incremental rendering to use a new function stream handler
  react_on_rails_pro/packages/node-renderer/src/worker.ts
  react_on_rails_pro/packages/node-renderer/src/worker/IncrementalRenderRequestManager.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleIncrementalRenderRequest.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleIncrementalRenderStream.ts
Due: eslint, prettier

replace pending operations with content buffer
  react_on_rails_pro/packages/node-renderer/src/worker/IncrementalRenderRequestManager.ts
Due: eslint, prettier

add ndjson end point to accept the rendering request in chunks
  react_on_rails_pro/packages/node-renderer/src/worker.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleIncrementalRenderRequest.ts
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

WIP: handle errors happen during incremental rendering
  react_on_rails_pro/packages/node-renderer/src/worker.ts
  react_on_rails_pro/packages/node-renderer/src/worker/IncrementalRenderRequestManager.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleIncrementalRenderRequest.ts
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Refactor incremental render tests for improved readability and maintainability
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Refactor incremental render tests to use jest mock functions for sink handling
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

linting
  react_on_rails_pro/packages/node-renderer/src/worker.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleIncrementalRenderStream.ts
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Enhance incremental render functionality and improve test coverage
  react_on_rails_pro/packages/node-renderer/src/worker.ts
  react_on_rails_pro/packages/node-renderer/tests/fixtures/bundle.js
  react_on_rails_pro/packages/node-renderer/tests/fixtures/secondary-bundle.js
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Add incremental render endpoint tests
  react_on_rails_pro/packages/node-renderer/tests/worker.test.ts
Due: eslint, prettier

Enhance tests for asset upload handling
  react_on_rails_pro/packages/node-renderer/tests/worker.test.ts
Due: eslint, prettier

make buildVM returns the built vm
  react_on_rails_pro/packages/node-renderer/src/worker/vm.ts
  react_on_rails_pro/packages/node-renderer/tests/helper.ts
  react_on_rails_pro/packages/node-renderer/tests/serverRenderRSCReactComponent.test.js
Due: eslint, prettier

Refactor and enhance incremental render endpoint tests
  react_on_rails_pro/packages/node-renderer/tests/worker.test.ts
Due: eslint, prettier

Add test for asset upload with bundles in hash directories
  react_on_rails_pro/packages/node-renderer/tests/worker.test.ts
Due: eslint, prettier

Refactor request handling by consolidating prechecks
  react_on_rails_pro/packages/node-renderer/src/worker.ts
  react_on_rails_pro/packages/node-renderer/src/worker/authHandler.ts
  react_on_rails_pro/packages/node-renderer/src/worker/checkProtocolVersionHandler.ts
  react_on_rails_pro/packages/node-renderer/src/worker/requestPrechecks.ts
Due: eslint, prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
