Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

docs: cross-link the TanStack Start comparison from the decision guide and Next.js RSC doc
  docs/oss/getting-started/comparing-react-on-rails-to-alternatives.md
  docs/pro/react-server-components/nextjs-comparison.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

docs: cross-link the TanStack Start comparison from the decision guide and Next.js RSC doc (#4254)
  docs/oss/getting-started/comparing-react-on-rails-to-alternatives.md
  docs/pro/react-server-components/nextjs-comparison.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Add changelog entry for #4249
  CHANGELOG.md
Due: prettier

Address review: drop issue ref from comment, trim info redundancy, strengthen test
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Make RSC Rspack doctor lazyCompilation warning honest about its limitation
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Make RSC Rspack doctor lazyCompilation warning honest about its limitation (#4249)
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, prettier

Add Rails response type generation
  CHANGELOG.md
  docs/oss/building-features/generated-rails-response-types.md
  docs/oss/building-features/tanstack-query.md
  docs/sidebars.ts
  react_on_rails/lib/react_on_rails.rb
  react_on_rails/lib/react_on_rails/typescript_response_types.rb
  react_on_rails/lib/tasks/generate_response_types.rake
  react_on_rails/sig/react_on_rails.rbs
  react_on_rails/sig/react_on_rails/typescript_response_types.rbs
  react_on_rails/spec/lib/react_on_rails/generate_response_types_rake_task_spec.rb
  react_on_rails/spec/react_on_rails/typescript_response_types_spec.rb
Due: autofix, rubocop, eslint, prettier

Stabilize rejected replacement test setup
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

Guard generated response type names
  react_on_rails/lib/react_on_rails/typescript_response_types.rb
  react_on_rails/sig/react_on_rails/typescript_response_types.rbs
  react_on_rails/spec/react_on_rails/typescript_response_types_spec.rb
Due: autofix, rubocop

Clarify rejected replacement cache test
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

Guard rejected replacement test promise
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

Document cache test unpin flush
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

Load Rails response contracts before generating types
  docs/oss/building-features/generated-rails-response-types.md
  react_on_rails/lib/react_on_rails/typescript_response_types.rb
  react_on_rails/lib/tasks/generate_response_types.rake
  react_on_rails/spec/lib/react_on_rails/generate_response_types_rake_task_spec.rb
  react_on_rails/spec/react_on_rails/typescript_response_types_spec.rb
Due: autofix, rubocop, prettier

Preserve shorthand response object fields
  react_on_rails/lib/react_on_rails/typescript_response_types.rb
  react_on_rails/spec/react_on_rails/typescript_response_types_spec.rb
Due: autofix, rubocop

Preserve option-like response object fields
  react_on_rails/lib/react_on_rails/typescript_response_types.rb
  react_on_rails/spec/react_on_rails/typescript_response_types_spec.rb
Due: autofix, rubocop

Guard response type generation edge cases
  react_on_rails/lib/react_on_rails/typescript_response_types.rb
  react_on_rails/spec/react_on_rails/typescript_response_types_spec.rb
Due: autofix, rubocop

Record response type PR in changelog
  CHANGELOG.md
Due: prettier

Update generated llms docs for response types
  llms-full.txt
Due: none

Validate Rails response type references
  docs/oss/building-features/generated-rails-response-types.md
  llms-full.txt
  react_on_rails/lib/react_on_rails/typescript_response_types.rb
  react_on_rails/spec/react_on_rails/typescript_response_types_spec.rb
Due: autofix, rubocop, prettier

Harden response type contract validation
  react_on_rails/lib/react_on_rails/typescript_response_types.rb
  react_on_rails/sig/react_on_rails/typescript_response_types.rbs
  react_on_rails/spec/react_on_rails/typescript_response_types_spec.rb
Due: autofix, rubocop

Fix release forward-port review edge cases
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

Harden response type generation
  docs/oss/building-features/generated-rails-response-types.md
  llms-full.txt
  react_on_rails/lib/react_on_rails/typescript_response_types.rb
  react_on_rails/spec/react_on_rails/typescript_response_types_generate_spec.rb
  react_on_rails/spec/react_on_rails/typescript_response_types_spec.rb
Due: autofix, rubocop, prettier

Fix forward-port merge liveness edge cases
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

Address forward-port review cleanup
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

Fix ACK-MANUAL target checkout
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

Handle renamed target forward-port patches
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

Align rename detection threshold
  script/release-forward-port
Due: none

Fix release forward-port post-merge review findings (#4261)
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

ci(detector): classify release tooling as rspec-covered, not generator-sensitive
  script/ci-changes-detector
  script/ci-changes-detector-test.bash
Due: none

ci(detector): run rubocop for release-tooling paths via dedicated lint flag
  script/ci-changes-detector
  script/ci-changes-detector-test.bash
Due: none

test(detector): full benchmark contract + comment-only coverage for release arm
  script/ci-changes-detector-test.bash
Due: none

Release train: ci-changes-detector classifies release-tooling paths (skip full matrix) (#4262)
  script/ci-changes-detector
  script/ci-changes-detector-test.bash
Due: none

Add `release start` to auto-create release/X.Y.Z on an rc cut
  internal/contributor-info/release-train-runbook.md
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop, prettier

Fix release-cut offer dry-run to honor the existence guard
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Add release-train automation design spec
  internal/contributor-info/release-train-automation-design.md
Due: prettier

Release train: add `release start` (auto-create release/X.Y.Z on rc cut) (#4255)
  internal/contributor-info/release-train-automation-design.md
  internal/contributor-info/release-train-runbook.md
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop, prettier

Add release-vs-main target to update-changelog skill
  .agents/skills/update-changelog/SKILL.md
Due: prettier

Address review: close 3 doc gaps in update-changelog target flow
  .agents/skills/update-changelog/SKILL.md
Due: prettier

Extract cherry-pick body to fix run ABC size after rebase
  script/release-forward-port
Due: none

Fix release-forward-port --changelog review findings
  script/release-forward-port
  script/release-forward-port-test.bash
Due: none
