Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Preserve valid URL paths during fail-closed redaction
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Protect valid URLs while failing closed on credentials
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Fix valid-prefix credential redaction gap
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Close quote-boundary credential redaction gap
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Classify URL redaction by structural boundaries
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Split URL redaction tokens at nested schemes
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Keep unresolved URL spans fail closed
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Sanitize prefixed configured renderer URLs
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Fail closed across multiline URL credentials
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Compact URL redaction specs
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Fix URL sanitizer fallback edge cases
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Fix durable ShakaPerf release evidence reuse (#4833)
  CHANGELOG.md
  internal/contributor-info/releasing.md
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/fixtures/release/shakaperf_issue_4806_run_30417447319.json
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop, prettier

Close gaps in generated-tree approval coverage
  react_on_rails/spec/react_on_rails/fixtures/generated/README.md
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_typescript/config/rspack/ServerClientOrBoth.js
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_typescript/config/rspack/clientWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_typescript/config/rspack/commonWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_typescript/config/rspack/development.js
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_typescript/config/rspack/production.js
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_typescript/config/rspack/rspack.config.ts
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_typescript/config/rspack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_typescript/config/rspack/test.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_typescript/config/webpack/ServerClientOrBoth.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_typescript/config/webpack/clientWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_typescript/config/webpack/commonWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_typescript/config/webpack/development.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_typescript/config/webpack/production.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_typescript/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_typescript/config/webpack/test.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_typescript/config/webpack/webpack.config.ts
  react_on_rails/spec/react_on_rails/generated_tree_approval_spec.rb
  react_on_rails/spec/react_on_rails/generators/generator_golden_output_spec.rb
Due: autofix, rubocop, eslint, prettier

Refresh approvals after generator lint cleanup
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_typescript/config/rspack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_tailwind/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_typescript/config/webpack/serverWebpackConfig.js
Due: eslint, prettier

Docs: move agent coordination to the HTTP backend (#4764)
  .agents/agent-workflow.yml
  AGENTS.md
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Make rollout diagnostics fail closed under ambiguity
  docs/oss/building-features/node-renderer/container-deployment.md
  docs/oss/building-features/node-renderer/js-configuration.md
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, prettier

Reject ambiguous renderer identifier bindings
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Require canonical renderer package bindings
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Close static renderer evidence bypasses
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Treat Node global access as unverified
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Normalize Unicode escapes in Doctor evidence
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Fail closed on active Unicode escapes
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Honor JavaScript line comment terminators
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Make Doctor prove renderer script provenance
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Ignore quoted renderer binding lookalikes
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Fail closed on unterminated renderer strings
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Reject duplicate renderer local bindings
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Require parseable renderer capacity evidence
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Bound renderer syntax checks
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Reap syntax-check process groups
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Keep syntax cleanup on core Ruby
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Fail closed on ambiguous syntax checks
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Require unambiguous CommonJS provenance
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Preserve rollout config compatibility
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/tests/configBuilder.test.ts
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, eslint, prettier

Keep rollout validation fail-closed
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/tests/configBuilder.test.ts
Due: eslint, prettier

Keep Doctor cleanup bounded and signal-safe
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Keep healthy startup diagnostics out of default logs
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/engine.rb
  react_on_rails/spec/react_on_rails/engine_spec.rb
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop, prettier

Link startup diagnostics fix in changelog
  CHANGELOG.md
Due: prettier
