Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

fix: round 21 review polish — case-insensitive localhost + whitespace URL guards
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

Fix async props race conditions (#2297)
  packages/react-on-rails-pro-node-renderer/src/shared/constants.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleGracefulShutdown.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/projects/spec-dummy/asyncComponentsTreeForTestingRenderingRequest.js
  packages/react-on-rails-pro-node-renderer/tests/fixtures/secondary-bundle-incremental.js
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails-pro/src/capabilities/proMethods.ts
  packages/react-on-rails-pro/src/capabilities/proRSC.ts
  packages/react-on-rails-pro/tests/AsyncPropManager.test.ts
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/capabilities/core.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/lib/react_on_rails_pro/httpx_stream_bidi_patch.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/node_rendering_pool.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/renderer/node-renderer.js
  react_on_rails_pro/spec/dummy/spec/requests/incremental_rendering_integration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_js_code_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/node_rendering_pool_spec.rb
Due: autofix, rubocop, eslint, prettier

Add script to publish built JS packages to dist repo (#2767)
  scripts/publish-to-builds-repo.sh
Due: none

Unify incremental rendering to use length-prefixed protocol (#3195)
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop

Replace NDJSON envelope with length-prefixed streaming protocol (#2615)
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/concurrentHtmlStreaming.test.ts
  packages/react-on-rails-pro-node-renderer/tests/handleRenderRequest.test.ts
  packages/react-on-rails-pro-node-renderer/tests/htmlStreaming.test.js
  packages/react-on-rails-pro-node-renderer/tests/httpRequestUtils.ts
  packages/react-on-rails-pro-node-renderer/tests/parseLengthPrefixedStream.ts
  packages/react-on-rails-pro-node-renderer/tests/streamErrorHang.test.ts
  packages/react-on-rails-pro/src/getReactServerComponent.client.ts
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/src/parseLengthPrefixedStream.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  packages/react-on-rails-pro/src/transformRSCNodeStream.ts
  packages/react-on-rails-pro/src/transformRSCStreamAndReplayConsoleLogs.ts
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
  packages/react-on-rails-pro/tests/streamServerRenderedReactComponent.test.jsx
  packages/react-on-rails-pro/tests/transformRSCStreamAndReplayConsoleLogs.test.ts
  packages/react-on-rails-pro/tests/utils/removeRSCChunkStack.ts
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/base/full.rsc.ts
  packages/react-on-rails/src/base/full.ts
  packages/react-on-rails/src/serverRenderReactComponent.ts
  packages/react-on-rails/src/serverRenderUtils.ts
  packages/react-on-rails/src/types/index.ts
  packages/react-on-rails/tests/serverRenderReactComponent.test.ts
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails/lib/react_on_rails/length_prefixed_parser.rb
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/dummy/spec/helpers/react_on_rails_helper_spec.rb
  react_on_rails/spec/dummy/spec/requests/server_render_check_spec.rb
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/app/views/react_on_rails_pro/rsc_payload.text.erb
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
  react_on_rails_pro/spec/dummy/spec/requests/rsc_payload_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_integration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_request_spec.rb
Due: autofix, rubocop, eslint, prettier

Remove unused eslint-disable directive after FastifyRequest import removal
  packages/react-on-rails-pro-node-renderer/src/worker.ts
Due: eslint, prettier

Fix RSC streaming: use React's flush() signal instead of setTimeout(0) (#3196)
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/tests/htmlStreaming.test.js
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  react_on_rails_pro/spec/dummy/spec/requests/incremental_rendering_integration_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix test failures after rebase onto main's refactored upload-assets endpoint
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

Fix typecheck failures after rebase onto main's capability architecture
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro/src/getReactServerComponent.client.ts
  packages/react-on-rails/src/capabilities/ssr.ts
Due: eslint, prettier

Fix CI: prettier, CodeQL alerts on rebased branch
  .claude/commands/stress-test.md
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/htmlStreaming.test.js
Due: eslint, prettier

Wire prepareRenderResult into capability architecture
  packages/react-on-rails/src/capabilities/core.ts
  packages/react-on-rails/src/capabilities/ssr.rsc.ts
  packages/react-on-rails/src/capabilities/ssr.ts
Due: eslint, prettier

Remove proMethods stubs that overrode proRSC's real implementation
  packages/react-on-rails-pro/src/capabilities/proMethods.ts
Due: eslint, prettier

Catch Markdown formatting before merge
  .claude/commands/stress-test.md
  .github/workflows/check-markdown-links.yml
Due: prettier

Address Markdown CI review feedback
  .claude/commands/stress-test.md
  .github/workflows/check-markdown-links.yml
Due: prettier

Separate Markdown format and link checks
  .github/workflows/check-markdown-links.yml
Due: prettier

Run Markdown checks for Prettier config changes
  .github/workflows/check-markdown-links.yml
Due: prettier

Explain Markdown CI Node pin
  .github/workflows/check-markdown-links.yml
Due: prettier

Clarify benchmark gate re-enable plan
  internal/planning/library-benchmarking.md
Due: prettier

Clarify performance benchmark planning scope
  internal/planning/performance-test-expansion-plan.md
Due: prettier

Clarify React 19 PPR planning notes
  internal/planning/react-19-partial-prerendering-plan.md
Due: prettier

Tighten benchmark gate acceptance criteria
  internal/planning/library-benchmarking.md
Due: prettier

Align benchmark plan with existing runners
  internal/planning/performance-test-expansion-plan.md
Due: prettier

Add RSC coverage to React 19 checklist
  internal/planning/react-19-partial-prerendering-plan.md
Due: prettier

Clarify Pro doctor base package reference warning
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Update benchmark gate tracking criteria
  internal/planning/library-benchmarking.md
Due: prettier

Clarify percentile metric expectations
  internal/planning/performance-test-expansion-plan.md
Due: prettier

Preserve generated packs lock inode
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
Due: autofix, rubocop

Clarify benchmark gate thresholds
  internal/planning/library-benchmarking.md
Due: prettier

Cover Vitest base package references
  .claude/commands/stress-test.md
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, prettier

Tighten benchmark metric wording
  internal/planning/performance-test-expansion-plan.md
Due: prettier

Bound generated packs concurrency spec waits
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
Due: autofix, rubocop

Document benchmark gate audit rules
  internal/planning/library-benchmarking.md
Due: prettier

Address package manager validation review feedback
  react_on_rails/lib/generators/react_on_rails/generator_messages/package_manager_detection.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Ground benchmark plan metrics in tooling
  internal/planning/performance-test-expansion-plan.md
Due: prettier

Handle client-only generated packs staleness
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
Due: autofix, rubocop

Extract command existence check
  react_on_rails/lib/generators/react_on_rails/generator_messages/package_manager_detection.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/lib/react_on_rails/utils.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
  react_on_rails/spec/react_on_rails/utils_spec.rb
Due: autofix, rubocop

Clarify migration proof template guidance
  docs/oss/migrating/example-migrations.md
Due: prettier

docs: mention executable build helper
  docs/oss/building-features/extensible-precompile-pattern.md
Due: prettier

Clarify legacy Webpacker shim guidance
  docs/oss/building-features/rails-webpacker-react-integration-options.md
Due: prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
