Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

chore: remove completed planning/analysis docs (#3361)
  .bookignore
  .claude/docs/analysis/CI_FAILURES_2024-11-21.md
  .claude/docs/analysis/CI_FIXES_APPLIED.md
  .claude/docs/analysis/CI_OPTIMIZATION_SUMMARY.md
  .claude/docs/analysis/CLAUDE_MD_UPDATES.md
  .claude/docs/analysis/INDEX.md
  .claude/docs/analysis/MIGRATION_QUICK_REFERENCE.md
  .claude/docs/analysis/MONOREPO_MIGRATION_ANALYSIS.md
  .claude/docs/analysis/PHASE_5_CHECKLIST.md
  .claude/docs/analysis/PHASE_5_COMPLETION_NOTES.md
  .claude/docs/analysis/PHASE_6_CHECKLIST.md
  .claude/docs/analysis/PHASE_7_8_CHECKLIST.md
  .claude/docs/analysis/README.md
  .claude/docs/analysis/RSPACK_IMPLEMENTATION.md
  .claude/docs/analysis/claude-md-improvements.md
  .claude/docs/analysis/github-issue-1765-status-update.md
  .claude/docs/analysis/github-issue-1765-update.md
  .claude/docs/rails-engine-nuances.md
  CONTRIBUTING.md
  WARP.md
  analysis/create-react-on-rails-app-proposal.md
  analysis/open-issue-deep-dive/README.md
  analysis/open-issue-deep-dive/wave-1-active.md
  analysis/open-issue-deep-dive/wave-2-backlog.md
  analysis/open-issue-deep-dive/wave-3-long-tail.md
  analysis/rake-task-duplicate-analysis.md
  analysis/v8-crash-retry-solution.md
  docs/DIRECTORY_LICENSING.md
  docs/LICENSING_FAQ.md
  internal/planning/DOCS_PR_SUMMARY.md
  internal/planning/DOCUMENTATION_IMPROVEMENT_PLAN.md
  internal/planning/JS_PRO_PACKAGE_SEPARATION_PLAN.md
  internal/planning/MONOREPO_MERGER_PLAN_REF.md
  internal/planning/docs-improvement/GITHUB_ISSUE_DRAFT.md
  react_on_rails/spec/react_on_rails/engine_spec.rb
Due: autofix, rubocop, prettier

chore(ci): remove obsolete setup-node-with-retry action (#3352)
  .github/actions/setup-node-with-retry/action.yml
  .github/workflows/check-markdown-links.yml
  .github/workflows/examples.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/package-js-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

docs(changelog): note fastify security bump
  CHANGELOG.md
Due: prettier

docs: plan flagship 2026 React on Rails starter kit (#3357)
  internal/planning/3357-react-on-rails-starter-2026.md
Due: prettier

Address PR review for jwt compatibility relaxation
  docs/pro/updating.md
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop, prettier

docs: clarify ERR_STREAM_PREMATURE_CLOSE cross-reference
  docs/oss/building-features/node-renderer/js-configuration.md
Due: prettier

docs: consolidate node renderer probe settings (#3257) (#3348)
  docs/oss/building-features/node-renderer/container-deployment.md
  docs/oss/building-features/node-renderer/js-configuration.md
Due: prettier

docs(planning): design for unifying lint configs (#2214)
  internal/planning/2214-unify-lint-configs.md
Due: prettier

Declare base64 dev dep for jwt 2.x + Ruby 3.5+ compatibility
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
Due: none

docs: remove docs-only changelog entry
  CHANGELOG.md
Due: prettier

docs: clarify initial security triage ownership in SECURITY.md (#3337)
  SECURITY.md
Due: prettier

docs(planning): revise starter-2026 plan + add detailed implementation plan
  internal/planning/3357-react-on-rails-starter-2026-implementation.md
  internal/planning/3357-react-on-rails-starter-2026.md
Due: prettier

docs(planning): lock coordinator decisions + add rendering surface split
  internal/planning/3357-react-on-rails-starter-2026-implementation.md
  internal/planning/3357-react-on-rails-starter-2026.md
Due: prettier

docs: clarify coupled gem/npm/lockfile upgrade for React on Rails Pro
  AGENTS_USER_GUIDE.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  docs/pro/updating.md
  docs/pro/upgrading-to-pro.md
  llms-full.txt
  llms.txt
Due: prettier

docs: address PR review on coupled upgrade checklist
  docs/pro/updating.md
Due: prettier

Use plural jwt algorithm allowlist
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop

docs: clarify coupled gem/npm/lockfile upgrade for React on Rails Pro (#3369)
  AGENTS_USER_GUIDE.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  docs/pro/updating.md
  docs/pro/upgrading-to-pro.md
  llms-full.txt
  llms.txt
Due: prettier

docs(planning): add kickoff section + link Inertia-on-Pro follow-up issue
  internal/planning/3357-react-on-rails-starter-2026-implementation.md
  internal/planning/3357-react-on-rails-starter-2026.md
Due: prettier

Plan: flagship 2026 React on Rails starter kit (#3357) (#3364)
  internal/planning/3357-react-on-rails-starter-2026-implementation.md
  internal/planning/3357-react-on-rails-starter-2026.md
Due: prettier

Surface jwt algorithm allowlist fix in CHANGELOG and clarify base64 dep
  CHANGELOG.md
  react_on_rails_pro/Gemfile.development_dependencies
Due: prettier

Allow Pro 16.7 to keep jwt 2.x compatibility (#3344)
  CHANGELOG.md
  docs/pro/updating.md
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/react_on_rails_pro.gemspec
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop, prettier

fix(pro): preserve react-on-rails-rsc/client.browser in client bundle
  CHANGELOG.md
  packages/react-on-rails-pro/src/wrapServerComponentRenderer/client.tsx
  packages/react-on-rails-pro/tests/wrapServerComponentRenderer.client.imports.test.ts
Due: eslint, prettier

test(pro): explicitly skip lib compile check when lib/ is absent
  packages/react-on-rails-pro/tests/wrapServerComponentRenderer.client.imports.test.ts
Due: eslint, prettier

Test RSC client manifest emission
  packages/react-on-rails-pro/tests/fixtures/rsc-manifest/getReactServerComponent.client.stub.ts
  packages/react-on-rails-pro/tests/wrapServerComponentRenderer.client.manifest.test.js
Due: eslint, prettier

chore(knip): ignore pro test fixtures referenced dynamically
  knip.ts
Due: eslint, prettier

fix(pro): preserve react-on-rails-rsc/client.browser in client bundle (#3366) (#3368)
  CHANGELOG.md
  knip.ts
  packages/react-on-rails-pro/src/wrapServerComponentRenderer/client.tsx
  packages/react-on-rails-pro/tests/fixtures/rsc-manifest/getReactServerComponent.client.stub.ts
  packages/react-on-rails-pro/tests/wrapServerComponentRenderer.client.imports.test.ts
  packages/react-on-rails-pro/tests/wrapServerComponentRenderer.client.manifest.test.js
Due: eslint, prettier

docs: document RSC node renderer globals (#3221)
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/oss/migrating/rsc-data-fetching.md
  docs/oss/migrating/rsc-third-party-libs.md
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/react-server-components/rendering-flow.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
Due: eslint, prettier

fix(tanstack-router): preserve SSR HTML during hydration (#3213)
  CHANGELOG.md
  packages/react-on-rails-pro/src/tanstack-router/clientHydrate.ts
  packages/react-on-rails-pro/tests/tanstackRouter.test.ts
Due: eslint, prettier

fix: add reactDomClientWarning helper for React 16/17 (#3137)
  CHANGELOG.md
  docs/oss/building-features/rails-webpacker-react-integration-options.md
  packages/react-on-rails/package.json
  packages/react-on-rails/src/reactApis.cts
  packages/react-on-rails/src/webpackHelpers.cts
  packages/react-on-rails/tests/webpackHelpers.test.ts
Due: eslint, prettier

fix(package): include .d.cts type files in published react-on-rails package
  packages/react-on-rails/package.json
Due: prettier

review: drop RegExp annotation, add webpack 4 test + docs snippet
  docs/oss/building-features/rails-webpacker-react-integration-options.md
  packages/react-on-rails/src/webpackHelpers.cts
  packages/react-on-rails/tests/webpackHelpers.test.ts
Due: eslint, prettier

fix: add reactDomClientWarning helper for React 16/17 (#3137) (#3358)
  CHANGELOG.md
  docs/oss/building-features/rails-webpacker-react-integration-options.md
  packages/react-on-rails/package.json
  packages/react-on-rails/src/reactApis.cts
  packages/react-on-rails/src/webpackHelpers.cts
  packages/react-on-rails/tests/webpackHelpers.test.ts
Due: eslint, prettier

chore(lint): unify ESLint config across core and Pro (#2214)
  eslint.config.ts
  packages/react-on-rails-pro/src/tanstack-router/clientHydrate.ts
  packages/react-on-rails/src/ComponentRegistry.ts
  packages/react-on-rails/src/reactApis.cts
  react_on_rails_pro/eslint.config.mjs
  react_on_rails_pro/spec/dummy/client/app/components/HelloWorldRedux.jsx
  react_on_rails_pro/spec/dummy/client/app/components/HelloWorldRedux/index.jsx
  react_on_rails_pro/spec/dummy/client/app/components/ReactHelmet.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/AsyncComponentsTreeForTesting.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/HelloWorldES5.jsx
  react_on_rails_pro/spec/dummy/client/app/utils/redisReceiver.ts
  react_on_rails_pro/spec/dummy/client/app/utils/useLazyMutation.ts
  react_on_rails_pro/spec/execjs-compatible-dummy/app/javascript/bundles/HelloWorld/components/HelloWorld.jsx
Due: eslint, prettier

chore(format): unify Prettier config across core and Pro (#2214)
  .prettierignore
  react_on_rails_pro/.prettierignore
  react_on_rails_pro/.prettierrc
  react_on_rails_pro/spec/dummy/bin/export-bundler-config
  react_on_rails_pro/spec/dummy/client/app/CssModulesImagesFontsExample.module.scss
  react_on_rails_pro/spec/dummy/client/app/assets/styles/app-variables.scss
  react_on_rails_pro/spec/dummy/client/app/assets/styles/application.css
  react_on_rails_pro/spec/dummy/client/app/components/HelloWorld.module.scss
  react_on_rails_pro/spec/dummy/client/app/components/ImageExample/ImageExample.module.scss
  react_on_rails_pro/spec/dummy/client/app/components/Loadable/letters/A.css
  react_on_rails_pro/spec/dummy/client/app/components/Loadable/letters/main.css
  react_on_rails_pro/spec/execjs-compatible-dummy/bin/export-bundler-config
Due: none

Switch Pro renderer client to async-http
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/README.md
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/react_on_rails_pro.gemspec
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
  react_on_rails_pro/spec/dummy/spec/rails_helper.rb
  react_on_rails_pro/spec/dummy/spec/spec_helper.rb
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/node_rendering_pool_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/support/httpx/plugins/mock_stream.rb
  react_on_rails_pro/spec/react_on_rails_pro/support/mock_stream_helper.rb
Due: autofix, rubocop, prettier

Document async-http renderer migration
  CHANGELOG.md
Due: prettier

fix: avoid insertion effect for TanStack SSR cleanup
  packages/react-on-rails-pro/src/tanstack-router/clientHydrate.ts
  packages/react-on-rails-pro/tests/tanstackRouter.test.ts
Due: eslint, prettier

Address async-http review feedback
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
Due: autofix, rubocop

Tighten async-http renderer handling
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop

Harden async-http multipart handling
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
Due: autofix, rubocop
