Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

feat: add LicenseCache for persisting fetched license tokens
  react_on_rails_pro/lib/react_on_rails_pro/license_cache.rb
Due: autofix, rubocop

fix: add daily threshold for ≤7 days refresh window
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
Due: autofix, rubocop

refactor: move WebMock requires to spec_helper.rb
  react_on_rails_pro/spec/react_on_rails_pro/spec_helper.rb
  react_on_rails_pro/spec/react_on_rails_pro/support/webmock_helper.rb
Due: autofix, rubocop

refactor: extract license refresh logic to LicenseRefreshChecker module
  react_on_rails_pro/lib/react_on_rails_pro.rb
  react_on_rails_pro/lib/react_on_rails_pro/license_refresh_checker.rb
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop

docs: add automatic license renewal documentation
  react_on_rails_pro/LICENSE_SETUP.md
  react_on_rails_pro/README.md
  react_on_rails_pro/docs/configuration.md
  react_on_rails_pro/docs/installation.md
Due: prettier

fix: seed license cache on first boot for auto-refresh to work
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop

test: add comprehensive tests for automatic license renewal
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_cache_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_fetcher_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/support/webmock_helper.rb
Due: autofix, rubocop

feat(node-renderer): add automatic license refresh support
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/ReactOnRailsProNodeRenderer.ts
  packages/react-on-rails-pro-node-renderer/src/master.ts
  packages/react-on-rails-pro-node-renderer/src/shared/licenseCache.ts
  packages/react-on-rails-pro-node-renderer/src/shared/licenseFetcher.ts
  packages/react-on-rails-pro-node-renderer/src/shared/licenseRefreshChecker.ts
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseCache.test.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseFetcher.test.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseRefreshChecker.test.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseValidator.test.ts
  pnpm-lock.yaml
Due: eslint, prettier

test(node-renderer): add missing license test cases
  packages/react-on-rails-pro-node-renderer/tests/licenseCache.test.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseFetcher.test.ts
Due: eslint, prettier

fix: add ENV support for license_api_url and fix TypeScript types
  packages/react-on-rails-pro-node-renderer/src/shared/licenseFetcher.ts
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/spec/dummy/config/initializers/react_on_rails_pro.rb
Due: autofix, rubocop, eslint, prettier

feat(gem): add User-Agent header to license fetch requests
  react_on_rails_pro/LICENSE_SETUP.md
  react_on_rails_pro/lib/react_on_rails_pro/license_fetcher.rb
Due: autofix, rubocop, prettier

fix(tests): use fake timers for async-retry tests
  packages/react-on-rails-pro-node-renderer/tests/licenseFetcher.test.ts
Due: eslint, prettier

chore: add lychee config with licenses.shakacode.com exclusion
  .lychee.toml
Due: none

fix(tests): prevent async-retry timer leak in licenseFetcher tests
  packages/react-on-rails-pro-node-renderer/tests/licenseFetcher.test.ts
Due: eslint, prettier

docs: fix Pro imports from react-on-rails to react-on-rails-pro (#2252)
  .lychee.toml
  docs/LICENSING_FAQ.md
  react_on_rails_pro/docs/code-splitting-loadable-components.md
  react_on_rails_pro/docs/code-splitting.md
  react_on_rails_pro/docs/installation.md
  react_on_rails_pro/docs/react-server-components/create-without-ssr.md
  react_on_rails_pro/docs/react-server-components/how-react-server-components-work.md
  react_on_rails_pro/docs/react-server-components/inside-client-components.md
  react_on_rails_pro/docs/updating.md
Due: prettier

fix: address CodeRabbit review comments on Pro docs
  react_on_rails_pro/docs/bundle-caching.md
  react_on_rails_pro/docs/contributors-info/style.md
  react_on_rails_pro/docs/node-renderer/heroku.md
  react_on_rails_pro/docs/profiling-server-side-rendering-code.md
Due: prettier

fix: add main field to pro packages for legacy resolver compatibility
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
Due: prettier

chore(pro): format all Pro docs with Prettier (#2253)
  react_on_rails_pro/docs/bundle-caching.md
  react_on_rails_pro/docs/configuration.md
  react_on_rails_pro/docs/contributors-info/onboarding-customers.md
  react_on_rails_pro/docs/contributors-info/releasing.md
  react_on_rails_pro/docs/contributors-info/style.md
  react_on_rails_pro/docs/js-memory-leaks.md
  react_on_rails_pro/docs/node-renderer/debugging.md
  react_on_rails_pro/docs/node-renderer/error-reporting-and-tracing.md
  react_on_rails_pro/docs/node-renderer/heroku.md
  react_on_rails_pro/docs/profiling-server-side-rendering-code.md
  react_on_rails_pro/docs/react-server-components/add-streaming-and-interactivity.md
  react_on_rails_pro/docs/react-server-components/glossary.md
  react_on_rails_pro/docs/react-server-components/purpose-and-benefits.md
  react_on_rails_pro/docs/react-server-components/rendering-flow.md
  react_on_rails_pro/docs/react-server-components/server-side-rendering.md
  react_on_rails_pro/docs/streaming-server-rendering.md
  react_on_rails_pro/docs/troubleshooting.md
Due: prettier

fix: replace async-retry with custom retry to fix Jest timer leak
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/shared/licenseFetcher.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseFetcher.test.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix: add main field to pro packages for legacy resolver compatibility (#2256)
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
Due: prettier

Remove unused FastifyRequest type definition from types.ts
  packages/react-on-rails-pro-node-renderer/src/worker/types.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails/src/types/index.ts
Due: eslint, prettier

reenable-skipped-test
  react_on_rails_pro/spec/dummy/spec/system/integration_spec.rb
Due: autofix, rubocop

Fix retry bug in HTTPX stream_bidi plugin by resetting headers on state transition
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
Due: autofix, rubocop

Fix retry bug in HTTPX stream_bidi plugin by resetting @closed flag on state transition to :idle
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
Due: autofix, rubocop

Fix typo in error message for missing async prop in incremental HTML streaming test
  packages/react-on-rails-pro-node-renderer/tests/incrementalHtmlStreaming.test.ts
Due: eslint, prettier

Fix reset of @headers_sent flag on transition to :idle in StreamBidi plugin
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
Due: autofix, rubocop

Move HTTPX stream_bidi retry patch to dedicated patch file
  react_on_rails_pro/lib/react_on_rails_pro/httpx_stream_bidi_patch.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
Due: autofix, rubocop

Remove obsolete inflight? patch from HTTPX stream_bidi patch file
  react_on_rails_pro/lib/react_on_rails_pro/httpx_stream_bidi_patch.rb
Due: autofix, rubocop

Add changelog entry for HTTPX streaming compatibility fix
  react_on_rails_pro/CHANGELOG.md
Due: prettier

Remove stream plugin from HTTPX connection setup
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
Due: autofix, rubocop

fix: add thread-safe connection management to ReactOnRailsPro::Request
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
Due: autofix, rubocop

test: add thread-safety tests for connection management
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop

fix: let close errors propagate in reset_connection
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop

docs: add changelog entry for thread-safe connection fix
  react_on_rails_pro/CHANGELOG.md
Due: prettier

Add NDJSON buffer size protection to prevent memory exhaustion
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/tests/handleIncrementalRenderStream.test.ts
Due: eslint, prettier

fix(security): update dependencies to address Dependabot vulnerabilities
  react_on_rails/Gemfile.lock
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails/spec/dummy/package.json
  react_on_rails/spec/dummy/pnpm-lock.yaml
Due: prettier

fix(security): address Dependabot vulnerabilities in Pro packages
  packages/react-on-rails-pro-node-renderer/package.json
  pnpm-lock.yaml
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/pnpm-lock.yaml
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: prettier

fix(security): revert Rails to 7.1.x to fix CI failures
  react_on_rails/Gemfile.development_dependencies
  react_on_rails/Gemfile.lock
Due: none

Dependabot config
  .github/dependabot.yml
  docs/MONOREPO_MERGER_PLAN.md
Due: prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
