Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Correct RSC parser planning snapshot
  internal/planning/2026-05-21-3258-rsc-parser-helper-cleanup-design.md
Due: prettier

[codex] Cover check-links CI invocation (#3464)
  bin/check-links
  react_on_rails/spec/react_on_rails/check_links_script_spec.rb
Due: autofix, rubocop

Clarify CI escalation for risky PRs
  .github/workflows/detect-changes.yml
  AGENTS.md
  script/ci-changes-detector
  script/ci-changes-detector-test.bash
Due: prettier

ci: add BUNDLE_DISABLE_CHECKSUM_VALIDATION to remaining Pro jobs
  .github/workflows/benchmark.yml
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

ci(precompile-check): use non-interactive apt install for libyaml-dev
  .github/workflows/precompile-check.yml
Due: prettier

ci: address review feedback and fix bundler-cache test failures
  .github/workflows/benchmark.yml
  .github/workflows/pro-integration-tests.yml
  react_on_rails/rakelib/run_rspec.rake
Due: autofix, rubocop, prettier

ci: address remaining bundler-cache review feedback
  .github/workflows/integration-tests.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
  react_on_rails/Gemfile.development_dependencies
  react_on_rails/rakelib/run_rspec.rake
Due: autofix, rubocop, prettier

ci: address bundler-cache review feedback
  .github/workflows/benchmark.yml
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: prettier

Fix Pro bundler base64 dependency
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: none

ci: clarify bundler-cache review notes
  .github/workflows/benchmark.yml
  react_on_rails/Gemfile.development_dependencies
Due: prettier

Clarify benchmark bundler cache setup
  .github/workflows/benchmark.yml
Due: prettier

Install libyaml before bundler cache
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/lint-js-and-ruby.yml
Due: prettier

Clean up Pro integration workflow lint
  .github/workflows/pro-integration-tests.yml
Due: prettier

Fix benchmark server port handling
  .github/workflows/benchmark.yml
Due: prettier

Address remaining PR review reliability notes
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

Make test asset failure guidance bundler-neutral
  CHANGELOG.md
  docs/oss/building-features/dev-server-and-testing.md
  react_on_rails/lib/react_on_rails/test_helper/webpack_assets_compiler.rb
  react_on_rails/spec/react_on_rails/test_helper/webpack_assets_compiler_spec.rb
Due: autofix, rubocop, prettier

ci: pin BUNDLE_GEMFILE on Core benchmark steps and harden lint paths
  .github/workflows/benchmark.yml
  .github/workflows/pro-test-package-and-gem.yml
  react_on_rails/Gemfile.development_dependencies
Due: prettier

ci: pin BUNDLE_GEMFILE on lint and Main CI steps
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
Due: prettier

Fix CI workflow shell lint findings
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

ci: clarify rebased bundle setup
  .github/workflows/benchmark.yml
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
  react_on_rails/Gemfile.development_dependencies
Due: prettier

ci: use setup-ruby bundler cache
  .github/actions/setup-bundle/action.yml
  .github/actions/setup-ruby/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/playwright.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

ci: polish CI workflow review comments
  .github/workflows/benchmark.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
  AGENTS.md
Due: prettier

ci: simplify benchmark summary quoting
  .github/workflows/benchmark.yml
Due: prettier

ci: address benchmark workflow review
  .github/workflows/benchmark.yml
  .github/workflows/integration-tests.yml
Due: prettier

ci: address remaining workflow review
  .github/actions/setup-bundle/action.yml
  .github/actions/setup-ruby/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/lint-js-and-ruby.yml
Due: prettier

ci: let dummy specs use dummy bundle
  .github/workflows/integration-tests.yml
Due: prettier

Address review feedback after CI rebase
  .github/actions/setup-bundle/action.yml
  .github/workflows/benchmark.yml
Due: prettier

Run benchmark suites independently
  .github/actions/setup-benchmark-runner/action.yml
  .github/workflows/benchmark.yml
  benchmarks/split_html_report.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop, prettier

Split pro node renderer benchmark job
  .github/actions/setup-benchmark-runner/action.yml
  .github/workflows/benchmark.yml
Due: prettier

Shard benchmark routes by suite
  .github/workflows/benchmark.yml
  benchmarks/bench.rb
  benchmarks/count_benchmark_shards.rb
  benchmarks/lib/benchmark_routes.rb
Due: autofix, rubocop, prettier

Fix issues
  .github/workflows/benchmark.yml
  benchmarks/lib/benchmark_routes.rb
  benchmarks/track_benchmarks.rb
  react_on_rails/spec/react_on_rails/benchmark_routes_spec.rb
Due: autofix, rubocop, prettier

Fix benchmark workflow and Bencher comments
  .github/actions/setup-benchmark-runner/action.yml
  .github/workflows/benchmark.yml
  benchmarks/lib/benchmark_routes.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop, prettier

More fixes
  .github/workflows/benchmark.yml
  benchmarks/lib/benchmark_config.rb
  benchmarks/lib/benchmark_routes.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop, prettier

Install libyaml in setup-bundle
  .github/actions/setup-bundle/action.yml
  .github/workflows/benchmark.yml
Due: prettier

Try to fix benchmark-pro-node-renderer
  .github/workflows/benchmark.yml
Due: prettier

Install libyaml-dev before any gem operations
  .github/actions/setup-benchmark-runner/action.yml
Due: prettier

Hardcode benchmark shard counts and drop Rails boot from matrix setup
  .github/workflows/benchmark.yml
  benchmarks/count_benchmark_shards.rb
Due: autofix, rubocop, prettier

Revert libyaml-dev install from setup-bundle
  .github/actions/setup-bundle/action.yml
Due: prettier

Adopt non_runtime_only rename from main
  .github/workflows/benchmark.yml
Due: prettier

Clarify RSC clientReferences migration helper contracts (#3452)
  internal/planning/2026-05-21-3258-rsc-parser-helper-cleanup-design.md
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
Due: autofix, rubocop, prettier
