Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

CI: keep ShakaPerf release workflows YAML-lint clean (#4741)
  .github/workflows/shakaperf-release-gates.yml
  .github/workflows/shakaperf-release-prerun.yml
Due: prettier

Docs: fence live release helper instructions
  internal/contributor-info/releasing.md
Due: prettier

Preserve the cache-isolation security advisory
  CHANGELOG.md
Due: prettier

Docs: use supported release closeout merge mode
  internal/contributor-info/release-train-runbook.md
Due: prettier

Restore final release note context
  CHANGELOG.md
Due: prettier

Fix guardrail recovery message and broaden auth callback detection
  react_on_rails/lib/react_on_rails/agent_guardrails.rb
  react_on_rails/lib/react_on_rails/agent_guardrails/templates/rsc_app_safety_check.rb
  react_on_rails/spec/react_on_rails/agent_guardrails_spec.rb
Due: autofix, rubocop

Prevent RSC diagnostics leaking outside development
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
Due: eslint, prettier

Revert "Fix SSR crash on unpaired UTF-16 surrogates from JS JSON output (#4710) (#4726)"
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/length_prefixed_parser.rb
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/lib/react_on_rails/length_prefixed_parser_spec.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop, prettier

Add react_on_rails:install_rsc_agent_guardrails: ship RSC agent-safety skill + hook into apps (#4606)
  CHANGELOG.md
  react_on_rails/lib/generators/react_on_rails/rsc_generator.rb
  react_on_rails/lib/react_on_rails/agent_guardrails.rb
  react_on_rails/lib/react_on_rails/agent_guardrails/templates/rsc_app_safety_check.rb
  react_on_rails/lib/react_on_rails/agent_guardrails/templates/rsc_app_safety_skill.md
  react_on_rails/lib/tasks/agent_guardrails.rake
  react_on_rails/spec/react_on_rails/agent_guardrails_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop, prettier

CI: shorten generator critical path with subshards
  .github/workflows/gem-tests.yml
  .github/workflows/hosted-ci-safety.test.cjs
Due: prettier

Build fail-closed fleet release lifecycle
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/agents/openai.yaml
  .agents/skills/run-fleet-validation/fixtures/rc12-sanitized.yml
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  .agents/skills/run-fleet-validation/scripts/replay_rc12_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/validate_ledger.rb
  AGENTS.md
  internal/contributor-info/demo-fleet.yml
  internal/contributor-info/rc-testing-plan.md
  internal/contributor-info/release-verification-runbook.md
Due: autofix, rubocop, prettier

Require replayable fleet closeout evidence
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  .agents/skills/run-fleet-validation/scripts/replay_rc12_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/validate_ledger.rb
  internal/contributor-info/rc-testing-plan.md
Due: autofix, rubocop, prettier

Preserve and prove fleet closeout state
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  .agents/skills/run-fleet-validation/scripts/replay_rc12_lifecycle.rb
Due: autofix, rubocop

Close remaining fleet lifecycle state gaps
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  .agents/skills/run-fleet-validation/scripts/replay_rc12_lifecycle.rb
Due: autofix, rubocop, prettier

Bind fleet closeout to its exact snapshot
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  .agents/skills/run-fleet-validation/scripts/replay_rc12_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/validate_ledger.rb
Due: autofix, rubocop, prettier

Close fleet lifecycle fail-open paths
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
Due: autofix, rubocop

Enforce fleet lifecycle phase invariants
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  .agents/skills/run-fleet-validation/scripts/replay_rc12_lifecycle.rb
Due: autofix, rubocop, prettier

Document generator sharding invariants
  .github/workflows/gem-tests.yml
Due: prettier

Tolerate lone UTF-16 surrogates in renderer JSON (#4710)
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/length_prefixed_parser.rb
  react_on_rails/lib/react_on_rails/lenient_json.rb
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/lib/react_on_rails/length_prefixed_parser_spec.rb
  react_on_rails/spec/lib/react_on_rails/lenient_json_spec.rb
Due: autofix, rubocop, prettier

Close final fleet lifecycle evidence gaps
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  .agents/skills/run-fleet-validation/scripts/replay_rc12_lifecycle.rb
  internal/contributor-info/rc-testing-plan.md
  internal/contributor-info/release-verification-runbook.md
Due: autofix, rubocop, prettier

Prove fleet closeout authorization and independence
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  .agents/skills/run-fleet-validation/scripts/replay_rc12_lifecycle.rb
  internal/contributor-info/rc-testing-plan.md
Due: autofix, rubocop, prettier

Simplify generator shard bookkeeping
  .github/workflows/gem-tests.yml
  .github/workflows/hosted-ci-safety.test.cjs
Due: prettier

Bind every fleet transition to terminal proof
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  internal/contributor-info/rc-testing-plan.md
Due: autofix, rubocop, prettier

Fail closed on ambiguous fleet lifecycle input
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
Due: autofix, rubocop

Model exact fleet revisions and partial merges
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  .agents/skills/run-fleet-validation/scripts/replay_rc12_lifecycle.rb
  internal/contributor-info/rc-testing-plan.md
  internal/contributor-info/release-verification-runbook.md
Due: autofix, rubocop, prettier

Close preflight and report-only lifecycle gaps
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  internal/contributor-info/rc-testing-plan.md
  internal/contributor-info/release-verification-runbook.md
Due: autofix, rubocop, prettier

Repair lone surrogates that JSON.parse accepts without raising (#4710 review)
  react_on_rails/lib/react_on_rails/lenient_json.rb
  react_on_rails/spec/lib/react_on_rails/lenient_json_spec.rb
Due: autofix, rubocop

Make fleet lifecycle states mutually exclusive
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
Due: autofix, rubocop

Preserve valid preflight-only lifecycle evidence
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  .agents/skills/run-fleet-validation/scripts/replay_rc12_lifecycle.rb
Due: autofix, rubocop

Make surrogate repair byte-safe; correct CHANGELOG (#4710 review round 2)
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/lenient_json.rb
  react_on_rails/spec/lib/react_on_rails/lenient_json_spec.rb
Due: autofix, rubocop, prettier

Make fleet pack evidence replayable across hosts
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
Due: autofix, rubocop

Bind fleet lane evidence to closeout state
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  .agents/skills/run-fleet-validation/scripts/replay_rc12_lifecycle.rb
Due: autofix, rubocop, prettier

Revert byte-safe repair; rely on documented valid-UTF-8 assumption (#4710)
  react_on_rails/lib/react_on_rails/lenient_json.rb
  react_on_rails/spec/lib/react_on_rails/lenient_json_spec.rb
Due: autofix, rubocop

Fail closed on remote and merged fleet gates
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
Due: autofix, rubocop, prettier

Scope fleet evidence to release gates
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  internal/contributor-info/demo-fleet.yml
  internal/contributor-info/rc-testing-plan.md
  internal/contributor-info/release-verification-runbook.md
Due: autofix, rubocop, prettier

Bind core fleet evidence to candidate
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  internal/contributor-info/rc-testing-plan.md
  internal/contributor-info/release-verification-runbook.md
Due: autofix, rubocop, prettier

Verify fleet barrier and pack identity
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  .agents/skills/run-fleet-validation/scripts/replay_rc12_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/validate_ledger.rb
  internal/contributor-info/rc-testing-plan.md
  internal/contributor-info/release-verification-runbook.md
Due: autofix, rubocop, prettier

Bind fleet closeout to terminal release state
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  .agents/skills/run-fleet-validation/scripts/validate_ledger.rb
  internal/contributor-info/rc-testing-plan.md
  internal/contributor-info/release-verification-runbook.md
Due: autofix, rubocop, prettier

Anchor fleet closeout to the source commit
  .agents/skills/run-fleet-validation/SKILL.md
  .agents/skills/run-fleet-validation/scripts/fleet_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
  .agents/skills/run-fleet-validation/scripts/replay_rc12_lifecycle.rb
  .agents/skills/run-fleet-validation/scripts/validate_ledger.rb
  internal/contributor-info/rc-testing-plan.md
  internal/contributor-info/release-verification-runbook.md
Due: autofix, rubocop, prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
