Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Fix test failures after rebase onto main's refactored upload-assets endpoint
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

Keep address-review from re-triaging old feedback
  .agents/workflows/address-review.md
  .claude/commands/address-review.md
Due: prettier

Keep a repo-specific agent runbook in the worktree
  .Codex/napkin.md
Due: prettier

Ignore Codex runbook and remove it from tracking
  .Codex/napkin.md
  .gitignore
Due: prettier

Narrow Codex ignore rule to napkin file
  .gitignore
Due: none

Improve address-review summary checkpoints and cutoff (#2912)
  .agents/workflows/address-review.md
  .claude/commands/address-review.md
  .gitignore
Due: prettier

Enable HTTP/1.1 on Node Renderer for Kubernetes probe compatibility
  docs/oss/building-features/node-renderer/container-deployment.md
  packages/react-on-rails-pro-node-renderer/src/worker.ts
Due: eslint, prettier

Docs: link published Rails 7 react-rails migration example (#2902)
  docs/README.md
  docs/oss/migrating/migrating-from-react-rails.md
Due: prettier

docs: validate legacy react_component helper syntax during migration
  docs/oss/migrating/migrating-from-react-rails.md
Due: prettier

docs: add one-shot legacy migration compatibility checklist
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/migrating/migrating-from-react-rails.md
Due: prettier

docs: default to npm/pnpm in install snippets
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/getting-started/quick-start.md
Due: prettier

docs: clarify migration/install steps when generator skips deps
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/getting-started/quick-start.md
  docs/oss/migrating/migrating-from-react-rails.md
Due: prettier

Add docs IA screenshots for issue context
  issue-assets/docs-ia/docs-guide-page.png
  issue-assets/docs-ia/docs-intro-fullpage-expanded.png
  issue-assets/docs-ia/docs-sidebar-intro.png
  issue-assets/docs-ia/homepage-fullpage.png
  issue-assets/docs-ia/homepage-viewport.png
  issue-assets/docs-ia/sidebar-default-collapsed.png
  issue-assets/docs-ia/sidebar-full-expanded.png
  issue-assets/docs-ia/sidebar-top-expanded.png
Due: none

Fix h2c probe guidance and remove ineffective allowHTTP1
  docs/oss/building-features/node-renderer/container-deployment.md
  packages/react-on-rails-pro-node-renderer/src/worker.ts
Due: eslint, prettier

docs: clarify install-failure warnings and migration checks
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/getting-started/quick-start.md
  docs/oss/migrating/migrating-from-react-rails.md
Due: prettier

Restore orphaned docs in sidebar navigation
  docs/sidebars.ts
Due: eslint, prettier

Clarify Pro release-notes archive scope
  docs/pro/release-notes/index.md
Due: prettier

Automate Pro generator gem and import upgrade steps
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Add first-class --rsc-pro install mode
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop

Refine h2c readiness and startup probe guidance
  docs/oss/building-features/node-renderer/container-deployment.md
Due: prettier

Handle failed npm add results so RSC installs recover
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

Harden Pro generator Gemfile swap and import rewrites
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Harden Pro Gemfile swap and bundle install flow
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Fix rsc-pro gem pinning and generator review issues
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop

Harden Pro generator gem swap and import rewrites
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Harden Pro gem swap and import rewrite behavior
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Clarify preserved Pro Gemfile entries during swap
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Fix Gemfile multiline parsing edge case in pro generator
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Harden Pro generator multiline parsing and atomic writes
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Harden pro generator import and Gemfile rewrite flows
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Harden Pro generator import rewrites and error handling
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Harden pro Gemfile swap and import rewrite edge cases
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Handle magic-comment dynamic imports in pro import rewrite
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Fix parenthesized Gemfile swap edge cases
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Harden Pro gem swap parsing and import rewrite guards
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Cover Pro generator multiline and rewrite edge cases
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Fix backtick detection for quoted string literals
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Assert no orphan parenthesis in Gemfile rewrite
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Handle block-comment and multiline static import rewrites
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Preserve Gemfile metadata in Pro swap edge cases
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
