Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

test(renderer-cleanup): use auto-load bundle for the dummy fixture
  react_on_rails/spec/dummy/app/views/pages/renderer_cleanup_test.html.erb
  react_on_rails/spec/dummy/client/app/packs/client-bundle.js
Due: eslint, prettier

test(client-renderer): drop the degenerate renderer-function test
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

test(rsc): add FOUC reproduction page and e2e test for #3211
  .claude/docs/3211-fouc-fix-plan.md
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/rsc_fouc_demo.html.erb
  react_on_rails_pro/spec/dummy/client/app/components/RSCFOUCDemo/StyledClientCard.jsx
  react_on_rails_pro/spec/dummy/client/app/components/RSCFOUCDemo/StyledClientCard.module.scss
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/RSCFOUCDemo.jsx
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/e2e-tests/rsc_fouc_demo.spec.ts
Due: autofix, rubocop, eslint, prettier

fix(rsc): patch react-server-dom-webpack chunk-skip and chunk-merge bugs
  package.json
  patches/react-on-rails-rsc@19.0.4.patch
  pnpm-lock.yaml
Due: prettier

chore(env): downgrade connection_pool to 2.5.5 for Ruby 3.3.x compat
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: none

fix(rsc): Path A — wrap each CSS-having client ref with in-tree <link> JSX
  patches/react-on-rails-rsc@19.0.4.patch
Due: none

test(dummy): address StrictMode review feedback
  react_on_rails/spec/dummy/client/app-react16/startup/ManualRenderApp.jsx
  react_on_rails/spec/dummy/client/app-react16/startup/ReduxApp.client.jsx
  react_on_rails/spec/dummy/client/app-react16/startup/ReduxSharedStoreApp.client.jsx
  react_on_rails/spec/dummy/client/app/packs/client-bundle.js
  react_on_rails/spec/dummy/client/app/strictModeSupport.jsx
  react_on_rails/spec/dummy/tests/strict-mode-support.test.jsx
  react_on_rails_pro/spec/dummy/client/app/strictModeSupport.tsx
  react_on_rails_pro/spec/dummy/config/webpack/rscWebpackConfig.js
  react_on_rails_pro/spec/dummy/config/webpack/serverWebpackConfig.js
Due: eslint, prettier

docs: normalize external GitHub repo slugs in links and generators (#3198)
  .claude/docs/analysis/RSPACK_IMPLEMENTATION.md
  .claude/docs/conductor-compatibility.md
  NEWS.md
  analysis/create-react-on-rails-app-proposal.md
  analysis/open-issue-deep-dive/README.md
  bin/conductor-exec
  docs/oss/building-features/rails-webpacker-react-integration-options.md
  docs/oss/core-concepts/react-server-rendering.md
  docs/oss/core-concepts/webpack-configuration.md
  docs/oss/getting-started/tutorial.md
  docs/oss/introduction.md
  docs/oss/migrating/example-migrations.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/demo_page_config.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/babel.config.js.tt
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/ServerClientOrBoth.js.tt
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/clientWebpackConfig.js.tt
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/commonWebpackConfig.js.tt
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/development.js.tt
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/production.js.tt
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/serverWebpackConfig.js.tt
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/test.js.tt
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails_pro/spec/execjs-compatible-dummy/babel.config.js
  react_on_rails_pro/spec/execjs-compatible-dummy/config/webpack/clientWebpackConfig.js
  react_on_rails_pro/spec/execjs-compatible-dummy/config/webpack/commonWebpackConfig.js
  react_on_rails_pro/spec/execjs-compatible-dummy/config/webpack/development.js
  react_on_rails_pro/spec/execjs-compatible-dummy/config/webpack/production.js
  react_on_rails_pro/spec/execjs-compatible-dummy/config/webpack/serverWebpackConfig.js
  react_on_rails_pro/spec/execjs-compatible-dummy/config/webpack/test.js
  react_on_rails_pro/spec/execjs-compatible-dummy/config/webpack/webpackConfig.js
Due: autofix, rubocop, eslint, prettier

Address second-round review on PR #3204
  README.md
  react_on_rails/Gemfile.development_dependencies
  react_on_rails/Gemfile.lock
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/rakelib/run_rspec.rake
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: autofix, rubocop, prettier

test(dummy): bring OSS StrictMode helper to parity with Pro
  react_on_rails/spec/dummy/client/app/strictModeSupport.jsx
  react_on_rails/spec/dummy/tests/strict-mode-support.test.jsx
  react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsProNode.js
  react_on_rails_pro/spec/dummy/client/app/strictModeSupport.tsx
Due: eslint, prettier

Address pnpm CI scaffold review feedback
  react_on_rails/lib/generators/react_on_rails/generator_messages/package_manager_detection.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/.github/workflows/ci.yml.tt
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
Due: autofix, rubocop

ci: exclude bot-blocking URLs from lychee link check
  .lychee.toml
Due: none

Remove stale Coveralls integration (#3204)
  CONTRIBUTING.md
  README.md
  docs/oss/deployment/troubleshooting.md
  docs/oss/getting-started/common-issues.md
  react_on_rails/Gemfile.development_dependencies
  react_on_rails/Gemfile.lock
  react_on_rails/Rakefile
  react_on_rails/lib/generators/react_on_rails/dev_tests_generator.rb
  react_on_rails/rakelib/run_rspec.rake
  react_on_rails/rakelib/shakapacker_examples.rake
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails/spec/dummy/bin/coveralls
  react_on_rails/spec/react_on_rails/generators/dev_tests_generator_spec.rb
  react_on_rails_pro/CONTRIBUTING.md
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/Rakefile
  react_on_rails_pro/rakelib/run_rspec.rake
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/dummy/bin/coveralls
Due: autofix, rubocop, prettier

ci: exclude bot-blocking URLs from lychee link check (#3214)
  .lychee.toml
Due: none

test(dummy): act on PR #3206 review pass — server alias, dead branch, scope comment, Pro tests
  react_on_rails/spec/dummy/client/app/packs/client-bundle.js
  react_on_rails/spec/dummy/client/app/strictModeSupport.jsx
  react_on_rails_pro/spec/dummy/client/app/strictModeSupport.tsx
  react_on_rails_pro/spec/dummy/config/webpack/serverWebpackConfig.js
  react_on_rails_pro/spec/dummy/jest.config.cjs
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/tests/strict-mode-support.test.tsx
  react_on_rails_pro/spec/dummy/tsconfig.json
Due: eslint, prettier

docs(analysis): add v16.3 browser stress-test findings
  analysis/stress-test-v16.3/MASTER-ALL-BUGS.md
  analysis/stress-test-v16.3/browser-stress-test-round2.md
  analysis/stress-test-v16.3/stress-test-node-renderer.md
  analysis/stress-test-v16.3/stress-test-ssr-streaming-rsc.md
  analysis/stress-test-v16.3/stress-test-turbo-redux-router.md
Due: prettier

perf(pro): enable TCP_NODELAY on httpx sockets to remove 40ms HTTP/2 tail
  CHANGELOG.md
  react_on_rails_pro/lib/react_on_rails_pro/httpx_tcp_nodelay_patch.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/spec/react_on_rails_pro/httpx_tcp_nodelay_patch_spec.rb
Due: autofix, rubocop, prettier

Fix pnpm fallback package manager detection
  .lychee.toml
  react_on_rails/lib/generators/react_on_rails/generator_messages/package_manager_detection.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Document examples catalog and naming plan
  docs/oss/introduction.md
Due: prettier

Document examples catalog and naming plan
  docs/oss/getting-started/tutorial.md
Due: prettier

Document examples catalog and naming plan
  docs/README.md
Due: prettier

Document examples catalog and naming plan
  docs/oss/building-features/rails-webpacker-react-integration-options.md
Due: prettier

Document examples catalog and naming plan
  docs/oss/core-concepts/webpack-configuration.md
Due: prettier

Document examples catalog and naming plan
  docs/oss/getting-started/examples-and-references.md
Due: prettier

Document examples catalog and naming plan
  docs/oss/core-concepts/react-server-rendering.md
Due: prettier

Fix docs catalog follow-ups
  docs/oss/core-concepts/webpack-configuration.md
Due: prettier

Document examples catalog and naming plan
  internal/planning/examples-catalog-and-repo-naming-plan.md
Due: prettier

Fix docs catalog follow-ups
  docs/oss/building-features/rails-webpacker-react-integration-options.md
Due: prettier

Fix docs catalog follow-ups
  docs/sidebars.ts
Due: eslint, prettier

Decouple examples docs from pending site work
  docs/oss/getting-started/examples-and-references.md
Due: prettier

Polish examples catalog docs
  internal/planning/examples-catalog-and-repo-naming-plan.md
Due: prettier

Polish examples catalog docs
  docs/oss/getting-started/examples-and-references.md
Due: prettier

Polish examples catalog docs
  docs/oss/introduction.md
Due: prettier

Tighten examples docs guidance
  docs/oss/getting-started/examples-and-references.md
Due: prettier

Decouple examples docs from pending site work
  internal/planning/examples-catalog-and-repo-naming-plan.md
Due: prettier

Normalize examples catalog repo slugs
  docs/README.md
  docs/oss/building-features/rails-webpacker-react-integration-options.md
  docs/oss/getting-started/examples-and-references.md
  internal/planning/examples-catalog-and-repo-naming-plan.md
Due: prettier

Address examples catalog review feedback
  docs/oss/getting-started/examples-and-references.md
  docs/oss/introduction.md
  internal/planning/examples-catalog-and-repo-naming-plan.md
Due: prettier

Address optional review nits on examples catalog
  docs/oss/getting-started/examples-and-references.md
  internal/planning/examples-catalog-and-repo-naming-plan.md
Due: prettier

Remove internal planning link from public examples docs
  docs/oss/getting-started/examples-and-references.md
Due: prettier

Address round 5 review nits on examples catalog
  docs/oss/getting-started/examples-and-references.md
  docs/oss/migrating/example-migrations.md
  docs/sidebars.ts
Due: eslint, prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
