Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Align licensing docs with OSS npm metadata
  docs/DIRECTORY_LICENSING.md
Due: prettier

Align 17.0.1 licensing docs with npm metadata (#4795)
  docs/DIRECTORY_LICENSING.md
Due: prettier

Bump version to 17.0.1.rc.0
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Forward-port OSS npm license metadata fix (#4794)
  docs/DIRECTORY_LICENSING.md
  packages/react-on-rails/LICENSE.md
  packages/react-on-rails/package.json
  packages/react-on-rails/scripts/check-package-license.mjs
Due: prettier

Finalize changelog for 17.0.1 promotion
  CHANGELOG.md
Due: prettier

Pin GitHub releases to the origin repository
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Scope GitHub release commands to the origin repository (#4803)
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Docs: ADR 0002 — Skills-in-package over MCP for agent-native DX (#4735)
  internal/adr/0002-skills-in-package-over-mcp.md
  internal/planning/CONTEXT.md
Due: prettier

Fix error-aware buffered RSC caching
  CHANGELOG.md
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop, prettier

Handle default RSC cache options
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop

Avoid skip_nil dependency for rejected RSC caches
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop

Bind fleet closeout to its generated pack
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
Due: autofix, rubocop

Anchor fleet closeout paths to generated pack
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
Due: autofix, rubocop

Agents: bind fleet closeout to generated pack (#4805)
  .agents/skills/run-fleet-validation/scripts/generate_prompts.rb
  .agents/skills/run-fleet-validation/scripts/generate_prompts_test.rb
Due: autofix, rubocop

Finalize changelog for React on Rails 17.0.1 (#4802)
  CHANGELOG.md
Due: prettier

Trust Copilot reviews without weakening human checks
  .agents/agent-workflow-drift.yml
  .agents/skills/pr-batch/bin/pr-security-preflight
  .agents/skills/pr-batch/bin/pr-security-preflight-test.rb
  .agents/trusted-github-actors.yml
Due: autofix, rubocop, prettier

Agents: trust Copilot review identities (#4807)
  .agents/agent-workflow-drift.yml
  .agents/skills/pr-batch/bin/pr-security-preflight
  .agents/skills/pr-batch/bin/pr-security-preflight-test.rb
  .agents/trusted-github-actors.yml
Due: autofix, rubocop, prettier

Document cache safety fix attribution
  CHANGELOG.md
Due: prettier

[Pro] Prevent caching RSC renders with errors (#4804)
  CHANGELOG.md
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop, prettier

Avoid selector parsing for component DOM IDs
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

Document metacharacter DOM ID support
  CHANGELOG.md
Due: prettier

Handle selector metacharacters in renderComponent DOM IDs (#4808)
  CHANGELOG.md
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

Package version-matched agent workflows
  CHANGELOG.md
  packages/react-on-rails/docs/agent/README.md
  packages/react-on-rails/docs/agent/doctor-fix-loop.md
  packages/react-on-rails/docs/agent/install-and-upgrade.md
  packages/react-on-rails/docs/agent/rsc-adoption.md
  packages/react-on-rails/docs/agent/streaming-debug.md
  packages/react-on-rails/package.json
  packages/react-on-rails/scripts/check-package-license.mjs
  packages/react-on-rails/skills/doctor-fix-loop/SKILL.md
  packages/react-on-rails/skills/install-and-upgrade/SKILL.md
  packages/react-on-rails/skills/rsc-adoption/SKILL.md
  packages/react-on-rails/skills/streaming-debug/SKILL.md
  react_on_rails/docs/agent/README.md
  react_on_rails/docs/agent/doctor-fix-loop.md
  react_on_rails/docs/agent/install-and-upgrade.md
  react_on_rails/docs/agent/rsc-adoption.md
  react_on_rails/docs/agent/streaming-debug.md
  react_on_rails/lib/generators/react_on_rails/templates/agent_files/AGENTS.md
  react_on_rails/skills/doctor-fix-loop/SKILL.md
  react_on_rails/skills/install-and-upgrade/SKILL.md
  react_on_rails/skills/rsc-adoption/SKILL.md
  react_on_rails/skills/streaming-debug/SKILL.md
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/package_agent_content_spec.rb
Due: autofix, rubocop, prettier

Bump version to 17.0.1
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Fix rolling-deploy VM rebuild thrash
  CHANGELOG.md
  benchmarks/bench-node-renderer-rollout.mjs
  docs/oss/api-reference/doctor.md
  docs/oss/building-features/node-renderer/container-deployment.md
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/pro/rolling-deploy-adapters.md
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vmSourceMapSupport.ts
  packages/react-on-rails-pro-node-renderer/tests/configBuilder.test.ts
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/doctor_schema.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, eslint, prettier

Address rollout VM review findings
  CHANGELOG.md
  benchmarks/bench-node-renderer-rollout.mjs
  docs/oss/building-features/node-renderer/js-configuration.md
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/tests/configBuilder.test.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, eslint, prettier

Fail closed on ambiguous RSC initializers
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Only infer direct initializer RSC assignments
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Keep failed-boot RSC capacity conservative
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Document conservative rollout evidence
  CHANGELOG.md
  docs/oss/api-reference/doctor.md
  docs/oss/building-features/node-renderer/container-deployment.md
  docs/pro/rolling-deploy-adapters.md
Due: prettier

Harden rollout configuration edge cases
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/tests/configBuilder.test.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, eslint, prettier

Fail closed on conditional renderer calls
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Reject conditional renderer default initializers
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Reject malformed renderer configuration sources
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Keep packaged agent guidance source-accurate
  CHANGELOG.md
  packages/react-on-rails/docs/agent/install-and-upgrade.md
  packages/react-on-rails/docs/agent/rsc-adoption.md
  packages/react-on-rails/docs/agent/streaming-debug.md
  packages/react-on-rails/skills/streaming-debug/SKILL.md
  react_on_rails/docs/agent/install-and-upgrade.md
  react_on_rails/docs/agent/rsc-adoption.md
  react_on_rails/docs/agent/streaming-debug.md
  react_on_rails/skills/streaming-debug/SKILL.md
  react_on_rails/spec/react_on_rails/package_agent_content_spec.rb
Due: autofix, rubocop, prettier

Add 17.0.1 changelog section to main (forward-port)
  CHANGELOG.md
Due: prettier

Fix install_rsc_agent_guardrails hook registration to use supported schema
  react_on_rails/lib/react_on_rails/agent_guardrails.rb
  react_on_rails/spec/react_on_rails/agent_guardrails_spec.rb
Due: autofix, rubocop

Forward-port the 17.0.1 changelog section to main (#4814)
  CHANGELOG.md
Due: prettier

Redact RSC render-error metadata on the fetched payload path
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop

Changelog: [Pro] fetched RSC payload error redaction (#4821)
  CHANGELOG.md
Due: prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
