Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Fix regex injection and input validation in component_extensions
  react_on_rails/lib/react_on_rails/configuration.rb
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
  react_on_rails/spec/react_on_rails/configuration_spec.rb
Due: autofix, rubocop

Address review feedback for component_extensions feature
  docs/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/sig/react_on_rails/configuration.rbs
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
Due: autofix, rubocop, prettier

Fix broken relative link to sig/README.md
  docs/contributor-info/rbs-type-signatures.md
Due: prettier

Simplify component_extensions documentation
  docs/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
Due: prettier

Docs: Fix broken links and use relative paths for website docs (#2322)
  docs/api-reference/view-helpers-api.md
  docs/configuration/configuration-deprecated.md
  docs/configuration/configuration-pro.md
  docs/contributor-info/rbs-type-signatures.md
  react_on_rails_pro/docs/caching.md
  react_on_rails_pro/docs/home-pro.md
  react_on_rails_pro/docs/installation.md
  react_on_rails_pro/docs/updating.md
Due: prettier

Move misplaced root-level docs into proper subdirectories
  .claude/docs/analysis/CI_OPTIMIZATION_SUMMARY.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/contributor-info/ci-optimization.md
  docs/migrating/swc-migration.md
  react_on_rails_pro/CONTRIBUTING.md
Due: prettier

Rename swc-migration.md to babel-to-swc-migration.md
  docs/migrating/babel-to-swc-migration.md
Due: prettier

Move misplaced docs into proper subdirectories (#2351)
  .claude/docs/analysis/CI_OPTIMIZATION_SUMMARY.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/contributor-info/ci-optimization.md
  docs/migrating/babel-to-swc-migration.md
  react_on_rails_pro/CONTRIBUTING.md
Due: prettier

Bump version to 16.3.0.rc.2
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Run link checker daily instead of weekly (#2320)
  .github/workflows/check-markdown-links.yml
Due: prettier

Fix conductor-setup.sh: Use pnpm and bundle in all directories
  conductor-setup.sh
Due: none

Address CodeRabbit review feedback
  conductor-setup.sh
Due: none

Fix rspack configuration not applying to all environments
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/bin/switch-bundler
Due: autofix, rubocop

Fix release script to update execjs-compatible-dummy Gemfile.lock
  rakelib/release.rake
  rakelib/task_helpers.rb
Due: autofix, rubocop

Fix release script to update execjs-compatible-dummy Gemfile.lock (#2353)
  rakelib/release.rake
  rakelib/task_helpers.rb
Due: autofix, rubocop

Use run_cmd wrapper for subdirectory bundle installs
  conductor-setup.sh
Due: none

Fix javascript_transpiler key and add rspack config tests
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/bin/switch-bundler
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Move docs/ai-agents/ out of docs/ to fix empty website category
  AI_SETUP_GUIDE.md
  README.md
Due: prettier

Rename to AGENTS.md standard, restructure content, rename user guide
  AGENTS.md
  AGENTS_USER_GUIDE.md
  CODING_AGENTS.md
  README.md
  WARP.md
Due: prettier

Fix rspack configuration not applying to all environments (#2275)
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/bin/switch-bundler
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Bump version to 16.3.0
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Document React on Rails 16.3.0 release in CHANGELOG
  CHANGELOG.md
Due: prettier

Fix CHANGELOG: remove Pro-only entry and fix version link tags
  CHANGELOG.md
Due: prettier

Document React on Rails 16.3.0 release in CHANGELOG (#2358)
  CHANGELOG.md
Due: prettier

Unify CHANGELOG.md to include both open-source and Pro entries
  CHANGELOG.md
  CLAUDE.md
  react_on_rails_pro/CHANGELOG.md
Due: prettier

Clean up pro CHANGELOG and add clear cross-references
  CHANGELOG.md
  react_on_rails_pro/CHANGELOG.md
Due: prettier

Unify CHANGELOG.md to include both open-source and Pro entries (#2359)
  CHANGELOG.md
  CLAUDE.md
  react_on_rails_pro/CHANGELOG.md
Due: prettier

Remove standalone repo artifacts from react_on_rails_pro
  react_on_rails_pro/.scss-lint.yml
  react_on_rails_pro/CONTRIBUTING.md
  react_on_rails_pro/Dockerfile
  react_on_rails_pro/rakelib/lint.rake
  react_on_rails_pro/rakelib/yard.rake
  react_on_rails_pro/readme-gen-docs.md
  react_on_rails_pro/script/bootstrap
  react_on_rails_pro/script/setup
  react_on_rails_pro/script/test
  react_on_rails_pro/spec/dummy/bin/scss-lint
Due: autofix, rubocop, prettier

Consolidate three testing docs into one
  docs/building-features/minitest-configuration.md
  docs/building-features/rspec-configuration.md
  docs/building-features/testing-configuration.md
  docs/configuration/configuration.md
  docs/getting-started/using-react-on-rails.md
Due: prettier

Remove guides/ and advanced-topics/ categories
  docs/building-features/rails-engine-integration.md
  docs/guides/improved-error-messages.md
  docs/upgrading/release-notes/16.2.0.md
Due: prettier

Fix missed cross-references and restore dropped content
  CHANGELOG.md
  CLAUDE.md
  docs/building-features/testing-configuration.md
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/test_helper.rb
Due: autofix, rubocop, prettier

Fix GitHub link format: use /blob/ for file links
  docs/building-features/testing-configuration.md
Due: prettier

Fix grammar: hyphenate compound modifier "Webpack-generated"
  docs/building-features/testing-configuration.md
Due: prettier

Fix CHANGELOG reference to deleted rspec-configuration doc
  CHANGELOG.md
Due: prettier

Docs: Clean up post-reorg category drift (#2361)
  CHANGELOG.md
  CLAUDE.md
  docs/building-features/minitest-configuration.md
  docs/building-features/rails-engine-integration.md
  docs/building-features/rspec-configuration.md
  docs/building-features/testing-configuration.md
  docs/configuration/configuration.md
  docs/getting-started/using-react-on-rails.md
  docs/guides/improved-error-messages.md
  docs/upgrading/release-notes/16.2.0.md
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/test_helper.rb
Due: autofix, rubocop, prettier

Delete redundant docs/contributor-info/coding-agents-guide.md
  .prettierignore
  docs/contributor-info/coding-agents-guide.md
Due: prettier

Flag inline "For Coding Agents" section for removal after llms.txt
  docs/deployment/troubleshooting-build-errors.md
Due: prettier

Move AI agent docs out of docs/, adopt AGENTS.md standard (#2355)
  .prettierignore
  AGENTS.md
  AGENTS_USER_GUIDE.md
  CODING_AGENTS.md
  README.md
  WARP.md
  docs/contributor-info/coding-agents-guide.md
  docs/deployment/troubleshooting-build-errors.md
Due: prettier

Fix MDX comment syntax in troubleshooting docs
  docs/deployment/troubleshooting-build-errors.md
Due: prettier

Remove TODO comment — can't survive both Prettier and MDX
  docs/deployment/troubleshooting-build-errors.md
Due: prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
