Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Clarify runtime helper sync points
  .github/actions/read-tool-versions/action.yml
  SWITCHING_CI_CONFIGS.md
  bin/ci-switch-config
Due: prettier

Harden transport probe startup cleanup
  react_on_rails_pro/scripts/load/README.md
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
  react_on_rails_pro/spec/load/transport_probe_spec.rb
Due: autofix, rubocop, prettier

Align RuboCop helper dependencies
  Gemfile
  react_on_rails/rakelib/task_helpers.rb
Due: autofix, rubocop

Polish benchmark cleanup comments
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/bencher_runner_spec.rb
Due: autofix, rubocop

Derive CI Node major messages
  .github/actions/read-tool-versions/action.yml
  SWITCHING_CI_CONFIGS.md
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop, prettier

Harden RuboCop entrypoint paths
  bin/ci-local
  react_on_rails/spec/dummy/bin/rubocop
  react_on_rails_pro/spec/dummy/bin/rubocop
Due: none

Clarify transport probe setup failures
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
Due: autofix, rubocop

Address benchmark review cleanup
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/bencher_runner_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Address CI runtime review polish
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop

Address RuboCop ownership review notes
  AGENTS.md
  react_on_rails/rakelib/lint.rake
  react_on_rails_pro/rakelib/lint.rake
  react_on_rails_pro/rakelib/task_helpers.rb
Due: autofix, rubocop, prettier

Wrap non-json benchmark reports
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/bencher_runner_spec.rb
Due: autofix, rubocop

Reduce transport probe measurement noise
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
  react_on_rails_pro/spec/load/transport_probe_spec.rb
Due: autofix, rubocop

Tighten CI runtime review fixes
  .github/workflows/bundle-size.yml
  bin/ci-switch-config
Due: prettier

Validate transport probe readiness payloads
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
  react_on_rails_pro/spec/load/transport_probe_spec.rb
Due: autofix, rubocop

Address benchmark review follow-ups
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Pin root RuboCop plugin versions
  Gemfile
  Gemfile.lock
  react_on_rails/rakelib/lint.rake
  react_on_rails_pro/rakelib/lint.rake
Due: autofix, rubocop

Clarify tool-version compatibility notes
  .tool-versions
  SWITCHING_CI_CONFIGS.md
  bin/ci-switch-config
Due: prettier

Clarify benchmark helper contracts
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/pr_report_poster_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Match Pro task helper root lookup
  react_on_rails_pro/rakelib/task_helpers.rb
Due: autofix, rubocop

Scope transport probe dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  react_on_rails_pro/package.json
  react_on_rails_pro/scripts/load/README.md
  react_on_rails_pro/scripts/load/package.json
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
Due: prettier

Clarify benchmark cleanup intent
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
Due: autofix, rubocop

Clarify bundle-size runtime checkout
  .github/workflows/bundle-size.yml
Due: prettier

Clarify transport probe stream cases
  react_on_rails_pro/scripts/load/README.md
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
  react_on_rails_pro/spec/load/transport_probe_spec.rb
Due: autofix, rubocop, prettier

Clarify benchmark review fixes
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/pr_report_poster_spec.rb
Due: autofix, rubocop

Use absolute Pro RuboCop Gemfile path
  bin/ci-local
  react_on_rails_pro/package-scripts.yml
Due: prettier

Cover CI runtime parser parity
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop

Record transport probe baseline
  react_on_rails_pro/scripts/load/README.md
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
  react_on_rails_pro/spec/load/transport_probe_spec.rb
Due: autofix, rubocop, prettier

Clarify benchmark report cleanup
  benchmarks/lib/pr_report_poster.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Clarify Pro RuboCop lint command
  react_on_rails_pro/package-scripts.yml
  react_on_rails_pro/rakelib/lint.rake
Due: autofix, rubocop, prettier

Document Pro RuboCop exclusions
  react_on_rails_pro/rakelib/lint.rake
Due: autofix, rubocop

Document CI Node version pin
  .github/workflows/pro-integration-tests.yml
Due: prettier

Document benchmark report invariants
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Tighten benchmark helper review fixes
  benchmarks/lib/bencher_runner.rb
  benchmarks/spec/bencher_runner_spec.rb
  benchmarks/spec/pr_report_poster_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Warn when CI status may under-report latest runtimes
  .github/actions/read-tool-versions/action.yml
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ci_switch_config_spec.rb
Due: autofix, rubocop, prettier

Clarify benchmark report cleanup diagnostics
  benchmarks/lib/bencher_runner.rb
  benchmarks/spec/bencher_runner_spec.rb
  benchmarks/spec/pr_report_poster_spec.rb
Due: autofix, rubocop

Add Pro headers to transport probe files
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
  react_on_rails_pro/spec/load/transport_probe_spec.rb
Due: autofix, rubocop

Round out CI tool-version action outputs
  .github/actions/read-tool-versions/action.yml
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop, prettier

Clarify benchmark helper contracts
  benchmarks/lib/bencher_runner.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Use explicit Node versions in CI workflows
  .github/workflows/benchmark-suite.yml
  .github/workflows/examples.yml
  .github/workflows/playwright.yml
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop, prettier

Format benchmark report I/O failures
  benchmarks/spec/bencher_runner_spec.rb
  benchmarks/spec/track_benchmarks_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop
