Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Fix doctor bundler config detection for custom shakapacker paths
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Align doctor bundler path detection with custom shakapacker configs
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Handle custom config edge cases in doctor path diagnostics
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Keep explicit shakapacker config paths authoritative
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Align bundler config path resolution semantics
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Require explicit shakapacker bundler path when configured
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Fix Pro gem version and component file paths in upgrade guide
  docs/pro/react-server-components/upgrading-existing-pro-app.md
Due: prettier

Remove redundant react_on_rails gem row from prerequisites
  docs/pro/react-server-components/upgrading-existing-pro-app.md
Due: prettier

Clarify legacy export shape requires upgrade to v16.4.0+
  docs/pro/react-server-components/upgrading-existing-pro-app.md
Due: prettier

Replace suspect CVE IDs with link to release notes
  docs/pro/react-server-components/upgrading-existing-pro-app.md
Due: prettier

Extract shared replayConsoleLog utility and add cross-boundary chunk test
  packages/react-on-rails-pro/src/getReactServerComponent.client.ts
  packages/react-on-rails-pro/src/transformRSCStreamAndReplayConsoleLogs.ts
  packages/react-on-rails-pro/src/utils.ts
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
Due: eslint, prettier

Fix #2821 review follow-ups for RSC-Pro generator
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop

Add standalone RSC upgrade guide for existing Pro apps (#2425)
  docs/README.md
  docs/pro/react-server-components/tutorial.md
  docs/pro/react-server-components/upgrading-existing-pro-app-to-rsc.md
  docs/pro/upgrading-to-pro.md
Due: prettier

Scope Dependabot skip to pull_request events only
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

Use bare raise to preserve original backtrace in rescue block
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
Due: autofix, rubocop

Check both NODE_ENV and RAILS_ENV for password enforcement
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/tests/configBuilder.test.ts
Due: eslint, prettier

Fix no-nested-ternary ESLint errors in create-react-on-rails-app
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
Due: eslint, prettier

docs: remove duplicate Pro RSC upgrade guide
  docs/README.md
  docs/pro/react-server-components/tutorial.md
  docs/pro/react-server-components/upgrading-existing-pro-app-to-rsc.md
  docs/pro/upgrading-to-pro.md
Due: prettier

Add breaking changes note for async gem version bump
  CHANGELOG.md
Due: prettier

Address PR review feedback on RSC upgrade guide
  docs/pro/react-server-components/upgrading-existing-pro-app-to-rsc.md
Due: prettier

Add common mistakes and diagnostic sections to RSC migration guides (#2769)
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/migrating/rsc-context-and-state.md
  docs/oss/migrating/rsc-data-fetching.md
  docs/oss/migrating/rsc-preparing-app.md
  docs/oss/migrating/rsc-third-party-libs.md
  docs/oss/migrating/rsc-troubleshooting.md
Due: prettier

Fix review feedback: provider explanation, Server Actions example, import advice
  docs/oss/migrating/rsc-context-and-state.md
  docs/oss/migrating/rsc-data-fetching.md
  docs/oss/migrating/rsc-third-party-libs.md
Due: prettier

Remove duplicate RSC upgrade guide and fix version requirements
  docs/README.md
  docs/pro/react-server-components/tutorial.md
  docs/pro/react-server-components/upgrading-existing-pro-app-to-rsc.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  docs/pro/upgrading-to-pro.md
Due: prettier

Clarify renderer password comment
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
Due: eslint, prettier

Fix review feedback: Procfile.dev HMR flag, Server Actions scope, Redux fix clarity
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/migrating/rsc-context-and-state.md
  docs/oss/migrating/rsc-data-fetching.md
Due: prettier

Address review feedback for RSC Pro dependency handling
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop

Harden RSC pin fallback messaging and Pro flag checks
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Replace nested ternaries in create-app CLI flow
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
Due: eslint, prettier

Avoid ternary in pro mode label assignment
  packages/create-react-on-rails-app/src/create-app.ts
Due: eslint, prettier

Use shared default bundler config path constants
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
Due: autofix, rubocop

Refine doctor bundler config detection fallbacks
  packages/create-react-on-rails-app/src/create-app.ts
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop, eslint, prettier

Simplify bundler config file existence check
  react_on_rails/lib/react_on_rails/system_checker.rb
Due: autofix, rubocop

Tighten doctor fallback checks and path normalization
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
Due: autofix, rubocop

Honor configured bundler for discovered config candidates
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Clean up checker path resolution helpers
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
Due: autofix, rubocop

Remove unused bundler candidate constants from SystemChecker
  react_on_rails/lib/react_on_rails/system_checker.rb
Due: autofix, rubocop

Refine bundler-path resolution edge cases
  react_on_rails/lib/react_on_rails/system_checker.rb
Due: autofix, rubocop

Refine config path normalization and bundler path helpers
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Fix doctor specs for renamed config directory helper
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Fix config-path memoization and doctor helper spec rename
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
