Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Docs: refresh llms full index
  llms-full.txt
Due: none

Add PR attribution to ScoutApm changelog entry
  CHANGELOG.md
Due: prettier

Docs: correct create app Rspack default
  docs/oss/getting-started/create-react-on-rails-app.md
  llms-full.txt
Due: prettier

Docs: mention stale RSC manifest warning
  docs/oss/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  llms-full.txt
Due: prettier

Clarify structural review coverage shortfalls
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/adversarial-pr-review.md
  .agents/workflows/pr-processing.md
  AGENTS.md
Due: prettier

Guard Pro ScoutApm instrumentation setup
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
Due: autofix, rubocop

Docs: cross-link compiled language wrappers
  docs/oss/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  llms-full.txt
Due: prettier

Docs: clarify create app bundler options
  docs/oss/getting-started/create-react-on-rails-app.md
  llms-full.txt
Due: prettier

Clarify unset renderer env guidance
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/tests/configBuilder.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
Due: autofix, rubocop, eslint, prettier

Polish unset renderer env diagnostics
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/tests/configBuilder.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
Due: autofix, rubocop, eslint, prettier

Add RSC generator pin coverage
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Validate RSC React peer compatibility in doctor
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Improve RSC manifest diagnostics
  packages/react-on-rails-pro/src/handleErrorRSC.ts
  packages/react-on-rails-pro/tests/handleErrorRSC.rsc.test.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, eslint, prettier

Tighten review-system liveness references
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  AGENTS.md
Due: prettier

Docs: clarify compiled RSC manifest paths
  docs/oss/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  llms-full.txt
Due: prettier

Docs: show default create app RSC bundler
  docs/oss/getting-started/create-react-on-rails-app.md
  llms-full.txt
Due: prettier

Tighten unset env guidance formatting
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
Due: autofix, rubocop

Document RSC doctor diagnostics
  CHANGELOG.md
Due: prettier

Address RSC doctor review feedback
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Tighten RSC doctor review fixes
  packages/react-on-rails-pro/src/handleErrorRSC.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, eslint, prettier

Clarify RSC dist-tag lookup timeout
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Add review-system liveness gate and coverage floor for PR batches (#4195)
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/adversarial-pr-review.md
  .agents/workflows/pr-processing.md
  AGENTS.md
Due: prettier

Remove duplicate live demos section
  docs/oss/getting-started/examples-and-references.md
  llms-full.txt
Due: prettier

Regenerate llms-full docs index
  llms-full.txt
Due: none

Docs: explain RSC client references for compiled JS (#4209)
  docs/oss/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  llms-full.txt
Due: prettier

Fix Pro ScoutApm instrumentation load order (#4210)
  CHANGELOG.md
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/node_rendering_pool.rb
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
Due: autofix, rubocop, prettier

docs(planning): address review wave 2 — query authority, isolation, robustness
  internal/planning/2026-06-21-plan-qa-batch-design.md
Due: prettier

docs: tighten QA batch planning design
  internal/planning/2026-06-21-plan-qa-batch-design.md
Due: prettier

docs: harden QA batch command contracts
  internal/planning/2026-06-21-plan-qa-batch-design.md
Due: prettier

docs(planning): add plan-qa-batch design
  internal/planning/2026-06-21-plan-qa-batch-design.md
Due: prettier

docs: make QA label lookup pagination explicit
  internal/planning/2026-06-21-plan-qa-batch-design.md
Due: prettier

docs(planning): address review — two-label QA model + robustness invariants
  internal/planning/2026-06-21-plan-qa-batch-design.md
Due: prettier

docs: close QA batch review polish
  internal/planning/2026-06-21-plan-qa-batch-design.md
Due: prettier

docs: clarify QA batch backlog overrides
  internal/planning/2026-06-21-plan-qa-batch-design.md
Due: prettier

docs: set QA batch degraded-mode defaults
  internal/planning/2026-06-21-plan-qa-batch-design.md
Due: prettier

docs: cover release-branch QA backlog bases
  internal/planning/2026-06-21-plan-qa-batch-design.md
Due: prettier

docs: settle QA batch fallback defaults
  internal/planning/2026-06-21-plan-qa-batch-design.md
Due: prettier

docs: add Octochangelog to the RSC demos examples list (#4196)
  docs/oss/getting-started/examples-and-references.md
  llms-full.txt
Due: prettier

Docs: correct create app Rspack default (#4212)
  docs/oss/getting-started/create-react-on-rails-app.md
  llms-full.txt
Due: prettier

Improve Pro renderer password guidance for unset envs (#4211)
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/tests/configBuilder.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
Due: autofix, rubocop, eslint, prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
