Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

fix: trust hosted CI commands after Dependabot labels
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Fix hosted CI command trust in merge ledger
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Align merge ledger with CI command dispatch
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

ci: make benchmark proof gates replayable (#4626)
  .github/workflows/hosted-ci-safety.test.cjs
  .github/workflows/rspack-vite-dx.yml
  benchmarks/rspack-vite-dx/README.md
  benchmarks/rspack-vite-dx/scripts/local-paths.mjs
  benchmarks/rspack-vite-dx/scripts/local-paths.test.mjs
  benchmarks/rspack-vite-dx/scripts/report.mjs
  benchmarks/rspack-vite-dx/scripts/run.mjs
  react_on_rails/spec/react_on_rails/pr_merge_ledger_script_spec.rb
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop, prettier

[Pro] Keep react-on-rails-rsc out of non-RSC entry graphs
  docs/pro/installation.md
  llms-full-pro.txt
  llms-full.txt
  packages/react-on-rails-pro/src/cache/manifestLoaderServer.ts
  packages/react-on-rails-pro/src/cache/manifestStylesheets.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/manifestStylesheets.test.ts
  packages/react-on-rails-pro/tests/rscDependencyIsolation.test.ts
  packages/react-on-rails-pro/tests/streamServerRenderedReactComponent.test.jsx
Due: eslint, prettier

Add changelog entry for PR 4641
  CHANGELOG.md
Due: prettier

[Pro] Keep react-on-rails-rsc out of non-RSC entry graphs (fixes React 18 builds on rc.9) (#4641)
  CHANGELOG.md
  docs/pro/installation.md
  llms-full-pro.txt
  llms-full.txt
  packages/react-on-rails-pro/src/cache/manifestLoaderServer.ts
  packages/react-on-rails-pro/src/cache/manifestStylesheets.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/manifestStylesheets.test.ts
  packages/react-on-rails-pro/tests/rscDependencyIsolation.test.ts
  packages/react-on-rails-pro/tests/streamServerRenderedReactComponent.test.jsx
Due: eslint, prettier

Update changelog for 17.0.0.rc.10
  CHANGELOG.md
Due: prettier

Regenerate release-branch llms artifacts
  llms-full-pro.txt
  llms-full.txt
Due: none

Bump version to 17.0.0.rc.10
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

docs: clarify release version ownership
  AGENTS.md
  internal/contributor-info/release-train-runbook.md
  internal/contributor-info/releasing.md
Due: prettier

docs: prevent stale lockfiles and release gate shortcuts
  AGENTS.md
  internal/contributor-info/releasing.md
Due: prettier

Docs: explain Rails async-props streaming advantage
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/getting-started/comparing-react-on-rails-to-alternatives.md
  docs/oss/getting-started/comparison-with-alternatives.md
  docs/oss/getting-started/nextjs-with-separate-rails-backend.md
  docs/pro/react-server-components/nextjs-comparison.md
  docs/pro/streaming-ssr.md
  internal/analysis/nextjs-vs-react-on-rails-pro-async-streaming.md
Due: prettier

Docs: qualify async-props pull-mode availability
  docs/oss/api-reference/view-helpers-api.md
  docs/pro/streaming-ssr.md
Due: prettier

Test packaged Pro compatibility on React 16 and 17
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/scripts/packed-react-compatibility-smoke.mjs
Due: prettier

Test current package builds in compatibility smokes
  packages/react-on-rails-pro/scripts/packed-react-compatibility-smoke.mjs
Due: none

docs: clarify release version ownership and RSC promotion (#4650)
  AGENTS.md
  internal/contributor-info/release-train-runbook.md
  internal/contributor-info/releasing.md
Due: prettier

Test Pro against the packed core instance
  packages/react-on-rails-pro/scripts/packed-react-compatibility-smoke.mjs
Due: none

Docs: address async streaming review feedback
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/getting-started/nextjs-with-separate-rails-backend.md
  docs/pro/react-server-components/nextjs-comparison.md
  docs/pro/streaming-ssr.md
  internal/analysis/nextjs-vs-react-on-rails-pro-async-streaming.md
Due: prettier

Test: add packaged Pro smokes for React 16 and 17 (#4652)
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/scripts/packed-react-compatibility-smoke.mjs
Due: prettier

fix: fail closed on ambiguous prerelease retries
  internal/contributor-info/releasing.md
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop, prettier

fix: enforce stable changelog gates in dry runs
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

CI: route Pro compatibility smokes through hosted tests
  .github/workflows/pro-test-package-and-gem.yml
  react_on_rails/spec/react_on_rails/hosted_ci_workflow_spec.rb
Due: autofix, rubocop, prettier

fix: align release guidance with stable gates
  internal/contributor-info/releasing.md
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop, prettier

Fix ambiguous prerelease retries (#4654)
  internal/contributor-info/releasing.md
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop, prettier

CI: run Pro compatibility smokes in hosted tests (#4656)
  .github/workflows/pro-test-package-and-gem.yml
  react_on_rails/spec/react_on_rails/hosted_ci_workflow_spec.rb
Due: autofix, rubocop, prettier

Docs: split RC10 demo fleet into copyable batches
  internal/contributor-info/demo-fleet.yml
  internal/contributor-info/rc-testing-plan.md
Due: prettier

Docs: gate optional fleet work correctly
  internal/contributor-info/rc-testing-plan.md
Due: prettier

Docs: route mechanical fleet work efficiently
  internal/contributor-info/rc-testing-plan.md
Due: prettier

Docs: separate Codex settings from batch behavior
  internal/contributor-info/rc-testing-plan.md
Due: prettier

Docs: clarify demo fleet Codex setup
  internal/contributor-info/rc-testing-plan.md
Due: prettier

Docs: add reusable demo fleet RC prompt
  internal/contributor-info/rc-testing-plan.md
Due: prettier

Docs: require real review apps in fleet prompts
  internal/contributor-info/rc-testing-plan.md
Due: prettier

Docs: add reusable demo fleet RC update prompt (#4649)
  internal/contributor-info/demo-fleet.yml
  internal/contributor-info/rc-testing-plan.md
Due: prettier

Docs: compare Next.js with Rails async-props streaming (#4651)
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/getting-started/comparing-react-on-rails-to-alternatives.md
  docs/oss/getting-started/comparison-with-alternatives.md
  docs/oss/getting-started/nextjs-with-separate-rails-backend.md
  docs/pro/react-server-components/nextjs-comparison.md
  docs/pro/streaming-ssr.md
  internal/analysis/nextjs-vs-react-on-rails-pro-async-streaming.md
Due: prettier

Test: support React 18 non-RSC streaming
  CHANGELOG.md
  docs/pro/installation.md
  docs/pro/streaming-ssr.md
  docs/pro/upgrading-to-pro.md
  llms-full-pro.txt
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/scripts/packed-react-compatibility-cases.mjs
  packages/react-on-rails-pro/scripts/packed-react-compatibility-cases.test.mjs
  packages/react-on-rails-pro/scripts/packed-react-compatibility-smoke.mjs
Due: prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
