Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Pro: harden renderer OpenTelemetry propagation
  CHANGELOG.md
  docs/pro/node-renderer.md
  docs/pro/updating.md
  react_on_rails_pro/lib/react_on_rails_pro/concerns/async_rendering.rb
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
  react_on_rails_pro/lib/react_on_rails_pro/open_telemetry.rb
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/sig/react_on_rails_pro/open_telemetry.rbs
  react_on_rails_pro/sig/react_on_rails_pro/renderer_http_client.rbs
  react_on_rails_pro/spec/react_on_rails_pro/open_telemetry_spec.rb
Due: autofix, rubocop, prettier

Pro: harden async telemetry request handling
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop

Pro: load telemetry status constants directly
  react_on_rails_pro/lib/react_on_rails_pro/open_telemetry.rb
Due: autofix, rubocop

Pro: strengthen async telemetry regression coverage
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop

Pro: preserve telemetry across async retries
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro/open_telemetry.rb
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/sig/react_on_rails_pro/open_telemetry.rbs
  react_on_rails_pro/sig/react_on_rails_pro/renderer_http_client.rbs
  react_on_rails_pro/spec/react_on_rails_pro/open_telemetry_spec.rb
Due: autofix, rubocop

Pro: restore renderer OpenTelemetry trace propagation (#4869)
  CHANGELOG.md
  docs/pro/node-renderer.md
  docs/pro/updating.md
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro/concerns/async_rendering.rb
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
  react_on_rails_pro/lib/react_on_rails_pro/open_telemetry.rb
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/sig/react_on_rails_pro/open_telemetry.rbs
  react_on_rails_pro/sig/react_on_rails_pro/renderer_http_client.rbs
  react_on_rails_pro/spec/react_on_rails_pro/open_telemetry_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop, prettier

Pro: compose Node Renderer OpenTelemetry initialization
  CHANGELOG.md
  docs/pro/node-renderer.md
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetryConfig.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-composition.test.ts
Due: eslint, prettier

Pro: harden composable OpenTelemetry initialization
  docs/pro/node-renderer.md
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/integrations/internal/opentelemetryConfig.ts
  packages/react-on-rails-pro-node-renderer/src/integrations/internal/opentelemetryState.ts
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/src/testUtils/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-composition.test.ts
Due: eslint, prettier

Pro: resolve OpenTelemetry review findings
  CHANGELOG.md
  docs/pro/node-renderer.md
  packages/react-on-rails-pro-node-renderer/src/integrations/internal/opentelemetryConfig.ts
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-composition.test.ts
Due: eslint, prettier

Docs: attribute composable OpenTelemetry PR
  CHANGELOG.md
Due: prettier

Pro: guard OpenTelemetry detector diagnostics
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-composition.test.ts
Due: eslint, prettier

Normalize bounded Codex eval events
  internal/agent-evals/pro-app-buildability/bin/normalize-codex-events.mjs
  internal/agent-evals/pro-app-buildability/bin/run-eval
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Pro: resolve OpenTelemetry composition review feedback
  packages/react-on-rails-pro-node-renderer/src/integrations/internal/opentelemetryConfig.ts
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-composition.test.ts
Due: eslint, prettier

Pro: harden renderer transport follow-ups
  CHANGELOG.md
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/fastifyConfig.ts
  packages/react-on-rails-pro-node-renderer/src/worker/types.ts
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/react_on_rails_pro/open_telemetry_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
Due: autofix, rubocop, eslint, prettier

Recognize correlated eval completion proofs
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/bin/sanitize-events.pl
  internal/agent-evals/pro-app-buildability/prompt.md
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: prettier

Pro: preserve caller-owned OpenTelemetry processors on init failure
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-composition.test.ts
Due: eslint, prettier

Docs: clarify empty OpenTelemetry service names
  CHANGELOG.md
Due: prettier

Distinguish runtime command canonicalization from leaks
  internal/agent-evals/pro-app-buildability/bin/sanitize-events.pl
  internal/agent-evals/pro-app-buildability/bin/sensitive-values.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Pro: tolerate providers without forceFlush during failed init
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
Due: eslint, prettier

Pro: address renderer transport review feedback
  CHANGELOG.md
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/fastifyConfig.ts
  packages/react-on-rails-pro-node-renderer/src/worker/types.ts
  packages/react-on-rails-pro-node-renderer/type-tests/fastifyConfig.ts
  packages/react-on-rails-pro-node-renderer/type-tests/tsconfig.json
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/spec/react_on_rails_pro/open_telemetry_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
Due: autofix, rubocop, eslint, prettier

Pro: address PR review follow-ups
  CHANGELOG.md
  packages/react-on-rails-pro-node-renderer/src/worker/fastifyConfig.ts
Due: eslint, prettier

Pro: disable instrumentations after failed OpenTelemetry init
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-composition.test.ts
Due: eslint, prettier

Pro: harden renderer transport follow-ups (#4893)
  CHANGELOG.md
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/fastifyConfig.ts
  packages/react-on-rails-pro-node-renderer/src/worker/types.ts
  packages/react-on-rails-pro-node-renderer/type-tests/fastifyConfig.ts
  packages/react-on-rails-pro-node-renderer/type-tests/tsconfig.json
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/react_on_rails_pro/open_telemetry_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
Due: autofix, rubocop, eslint, prettier

Pro: harden OpenTelemetry lifecycle cleanup
  docs/pro/node-renderer.md
  packages/react-on-rails-pro-node-renderer/src/integrations/internal/opentelemetryConfig.ts
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-composition.test.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry.test.ts
Due: eslint, prettier

Pro: resolve OpenTelemetry review findings
  CHANGELOG.md
  docs/pro/node-renderer.md
  packages/react-on-rails-pro-node-renderer/src/integrations/internal/opentelemetryExistingProviderState.ts
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/src/testUtils/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-composition.test.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-init.test.ts
Due: eslint, prettier

Pro: finalize OpenTelemetry init cleanup
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-composition.test.ts
Due: eslint, prettier

Pro: make Node Renderer OpenTelemetry initialization composable (#4878)
  CHANGELOG.md
  docs/pro/node-renderer.md
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/integrations/internal/opentelemetryConfig.ts
  packages/react-on-rails-pro-node-renderer/src/integrations/internal/opentelemetryExistingProviderState.ts
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/src/testUtils/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-composition.test.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-init.test.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry.test.ts
Due: eslint, prettier

PPR: simplify API loading and param surfaces (post-review /pr-simplify pass)
  packages/react-on-rails-pro/src/capabilities/proStreaming.ts
  packages/react-on-rails-pro/src/pprServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/pprServerRenderedReactComponent.test.jsx
  packages/react-on-rails/src/types/index.ts
Due: eslint, prettier

feat(pro): cacheSignal() abort-on-disconnect test and documentation (#3885) (#4847)
  packages/react-on-rails-pro/tests/cacheSignalAbort.rsc.test.tsx
Due: eslint, prettier

Scroll-priority P0: boundary-aligned section assets + manifest.json + fail-closed verify (#4770) (#4850)
  react_on_rails_pro/spec/dummy/app/views/pages/selective_hydration_demo.html.erb
  react_on_rails_pro/spec/dummy/client/app/components/SelectiveHydration/SelectiveHydrationContentSection.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/SelectiveHydrationDemo.jsx
  react_on_rails_pro/spec/dummy/config/application.rb
  react_on_rails_pro/spec/dummy/lib/middleware/stream_tee.rb
  react_on_rails_pro/spec/dummy/lib/section_cache/stream_splitter.rb
  react_on_rails_pro/spec/dummy/lib/tasks/section_cache.rake
  react_on_rails_pro/spec/dummy/spec/lib/section_cache/stream_splitter_spec.rb
Due: autofix, rubocop, eslint, prettier

Verify React 19.2 <Activity> inside streamed RSC trees (Pro) + docs (#3883 Phase 2a) (#4865)
  docs/oss/building-features/react-19-activity.md
  docs/pro/react-server-components/activity-inside-rsc.md
  docs/sidebars.ts
  llms-full-pro.txt
  llms-full.txt
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/activity_rsc_tabs.html.erb
  react_on_rails_pro/spec/dummy/app/views/shared/_menu.erb
  react_on_rails_pro/spec/dummy/client/app/components/ActivityRSC/ActivityTabsClient.jsx
  react_on_rails_pro/spec/dummy/client/app/components/ActivityRSC/ProfileServerContent.jsx
  react_on_rails_pro/spec/dummy/client/app/components/ActivityRSC/SlowDraftsServerContent.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/RSCActivityTabsPage.jsx
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/config/webpack/alias.js
  react_on_rails_pro/spec/dummy/e2e-tests/activity_rsc.spec.ts
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/spec/requests/activity_rsc_spec.rb
Due: autofix, rubocop, eslint, prettier

[Pro] Add RSC SSR synchrony regression tests: complete payload must render before setTimeout(0) (#4860)
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/tests/fixtures/rscSsrSynchrony/generateFlightPayloads.mjs
  packages/react-on-rails-pro/tests/rscSsrSynchrony.e2e.test.tsx
  packages/react-on-rails-pro/tests/streamBackpressure.e2e.test.tsx
  packages/react-on-rails-pro/tests/testUtils.ts
Due: eslint, prettier

Fix on-demand renders touching every store: scope initialization to the island's declared dependencies (#4862) (#4870)
  CHANGELOG.md
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
  react_on_rails/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails/spec/dummy/app/views/pages/async_component_shared_store.html.erb
  react_on_rails/spec/dummy/app/views/pages/async_component_shared_store_island.html.erb
  react_on_rails/spec/dummy/app/views/shared/_header.erb
  react_on_rails/spec/dummy/config/routes.rb
  react_on_rails/spec/dummy/e2e/playwright/e2e/react_on_rails/async_component_store_preservation.spec.js
Due: autofix, rubocop, eslint, prettier

[Pro] Clear hydrated-store registry on page unload so the store_dependencies gate works across soft navigations (#4871)
  CHANGELOG.md
  packages/react-on-rails-pro/src/ClientSideRenderer.ts
  packages/react-on-rails-pro/src/StoreRegistry.ts
  packages/react-on-rails-pro/tests/CallbackRegistry.test.ts
  packages/react-on-rails-pro/tests/ClientSideRenderer.test.ts
  packages/react-on-rails-pro/tests/StoreRegistry.test.ts
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/stale_store_probe.html.erb
  react_on_rails_pro/spec/dummy/client/app/packs/client-bundle.js
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/e2e-tests/stale_store_after_navigation.spec.ts
Due: autofix, rubocop, eslint, prettier

PPR v1: re-land the prerender/resume pipeline with the #4659 review defects fixed (#4889)
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/src/capabilities/proStreaming.ts
  packages/react-on-rails-pro/src/pprApiRegistry.ts
  packages/react-on-rails-pro/src/pprServerRenderedReactComponent.ts
  packages/react-on-rails-pro/src/pprSupport.ts
  packages/react-on-rails-pro/src/streamRenderErrorSupport.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  packages/react-on-rails-pro/tests/pprServerRenderedReactComponent.test.jsx
  packages/react-on-rails/src/types/index.ts
  react_on_rails/lib/react_on_rails/pro_helper.rb
  react_on_rails/lib/react_on_rails/react_component/render_options.rb
  react_on_rails/spec/dummy/spec/helpers/react_on_rails_helper_spec.rb
  react_on_rails/spec/react_on_rails/react_component/render_options_spec.rb
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro.rb
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/lib/react_on_rails_pro/ppr.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/sig/react_on_rails_pro/configuration.rbs
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/ppr_page_for_testing.html.erb
  react_on_rails_pro/spec/dummy/client/app/packs/server-bundle.js
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/PprPageForTesting.jsx
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/config/webpack/alias.js
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
  react_on_rails_pro/spec/dummy/spec/react_on_rails_pro/ppr_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_js_code_spec.rb
Due: autofix, rubocop, eslint, prettier

PPR: marker-in-content regression test and version-skew error message (#4890)
  packages/react-on-rails-pro/tests/pprServerRenderedReactComponent.test.jsx
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop, eslint, prettier

Address review: pin version in version-skew test regex
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop

PPR: marker-in-content regression test and version-skew error message (#4890) (#4894)
  packages/react-on-rails-pro/tests/pprServerRenderedReactComponent.test.jsx
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop, eslint, prettier

PPR: versioned envelope, cache validation, and graceful degradation (#4891)
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro/ppr.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
  react_on_rails_pro/spec/dummy/spec/react_on_rails_pro/ppr_spec.rb
Due: autofix, rubocop

Review fixes: props-error isolation and component_name in eviction events
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop
