Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Harden Pro setup migration checks and version guidance
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Add --rsc flow to create-react-on-rails-app (#2430)
  CHANGELOG.md
  docs/getting-started/create-react-on-rails-app.md
  internal/contributor-info/create-react-on-rails-app-smoke-testing.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
  packages/create-react-on-rails-app/src/types.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  react_on_rails/rakelib/run_rspec.rake
  react_on_rails/rakelib/shakapacker_examples.rake
  react_on_rails/spec/react_on_rails/run_rspec_rake_spec.rb
  react_on_rails/spec/react_on_rails/shakapacker_examples_rake_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix create-react-on-rails-app follow-ups
  analysis/create-react-on-rails-app-proposal.md
  docs/getting-started/create-react-on-rails-app.md
  packages/create-react-on-rails-app/package.json
  packages/create-react-on-rails-app/src/utils.ts
  packages/create-react-on-rails-app/src/validators.ts
  packages/create-react-on-rails-app/tests/validators.test.ts
Due: eslint, prettier

Address PR review comments on app name validation and validators
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/validators.ts
Due: eslint, prettier

Address PR review comments for CSP nonce handling
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
  packages/react-on-rails-pro/tests/transformRSCStreamAndReplayConsoleLogs.test.ts
  packages/react-on-rails/src/RenderUtils.ts
Due: eslint, prettier

Address PR review comments on app name validation and validators
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/validators.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  packages/create-react-on-rails-app/tests/validators.test.ts
Due: eslint, prettier

Align same_bundle guidance with inline deprecation
  docs/configuration/README.md
Due: prettier

Address PR review comments for Pro auto-install
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Align same_bundle guidance with inline deprecation
  docs/building-features/hmr-and-hot-reloading-with-the-webpack-dev-server.md
Due: prettier

Remove deprecated devServer.inline reference from integration options doc
  docs/building-features/rails-webpacker-react-integration-options.md
Due: prettier

Avoid unnecessary Babel preset installs for rspack projects
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop

docs: remove deprecated devServer.inline references from HMR guide (#2479)
  docs/building-features/hmr-and-hot-reloading-with-the-webpack-dev-server.md
  docs/building-features/rails-webpacker-react-integration-options.md
  docs/configuration/README.md
Due: prettier

Revert to --strict for bundle add (matches Shakapacker pattern)
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Fix create-react-on-rails-app follow-ups for #2383 (#2577)
  analysis/create-react-on-rails-app-proposal.md
  docs/getting-started/create-react-on-rails-app.md
  packages/create-react-on-rails-app/package.json
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/utils.ts
  packages/create-react-on-rails-app/src/validators.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  packages/create-react-on-rails-app/tests/validators.test.ts
Due: eslint, prettier

Address PR review: capture bundler output and simplify config checks
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Fix stale Pro docs references after migration
  docs/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  docs/getting-started/project-structure.md
  internal/README.md
  react_on_rails_pro/CONTRIBUTING.md
  react_on_rails_pro/README.md
  react_on_rails_pro/lib/react_on_rails_pro/concerns/rsc_payload_renderer.rb
  react_on_rails_pro/spec/dummy/README.md
  react_on_rails_pro/spec/execjs-compatible-dummy/README.md
Due: autofix, rubocop, prettier

Add missing changelog entries for unreleased PRs
  CHANGELOG.md
Due: prettier

Add missing changelog entries for unreleased PRs (#2578)
  CHANGELOG.md
Due: prettier

Bump version to 16.4.0.rc.7
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Address PR review: timeout, config detection, and version docs
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
Due: autofix, rubocop

Add doctor check for Pro gem/package consistency
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Fix Pro npm packages falling back to latest when gem not loaded
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
Due: autofix, rubocop

Revert "Fix first-start bin/dev precompile hook detection for RSC demo (#2561)"
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/packer_utils.rb
  react_on_rails/spec/react_on_rails/packer_utils_spec.rb
Due: autofix, rubocop, prettier

Revert redundant #2561 — #2568 + shakapacker#963 already fix #2438 (#2580)
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/packer_utils.rb
  react_on_rails/spec/react_on_rails/packer_utils_spec.rb
Due: autofix, rubocop, prettier

fix: use nil-safe merge for package.json dependencies across SystemChecker
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

feat: recognise react-on-rails-pro npm package in doctor checks
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

feat: skip @babel/preset-react warning when transpiler is SWC
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

fix: guard parsed_shakapacker_config against non-hash YAML
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Fix doctor false positives for Pro/SWC setups (#2581)
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Update react_on_rails_pro/lib/react_on_rails_pro/concerns/rsc_payload_renderer.rb
  react_on_rails_pro/lib/react_on_rails_pro/concerns/rsc_payload_renderer.rb
Due: autofix, rubocop

Install @babel/preset-react for non-SWC generator installs (#2421)
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop

Automate changelog-driven release and GitHub release sync
  rakelib/release.rake
  react_on_rails/rakelib/update_changelog.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
  react_on_rails/spec/react_on_rails/update_changelog_rake_helpers_spec.rb
Due: autofix, rubocop

Update release docs for changelog-driven release workflow
  .claude/commands/update-changelog.md
  .claude/docs/changelog-guidelines.md
  CONTRIBUTING.md
  internal/contributor-info/releasing.md
Due: prettier

Integrate rake task into /update-changelog workflow
  .claude/commands/update-changelog.md
Due: prettier

Fix release tooling and changelog review blockers
  .claude/commands/update-changelog.md
  internal/contributor-info/releasing.md
  rakelib/release.rake
  react_on_rails/rakelib/update_changelog.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
  react_on_rails/spec/react_on_rails/update_changelog_rake_helpers_spec.rb
Due: autofix, rubocop, prettier

Avoid mis-versioned releases and late release failures
  rakelib/release.rake
  react_on_rails/rakelib/update_changelog.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
  react_on_rails/spec/react_on_rails/update_changelog_rake_helpers_spec.rb
Due: autofix, rubocop

Avoid shell interpolation in release OTP handling
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Preserve original release errors during cleanup
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Add CSP nonce support to RSC streaming and console replay scripts (#2418)
  packages/react-on-rails-pro/src/getReactServerComponent.client.ts
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/src/transformRSCStreamAndReplayConsoleLogs.ts
  packages/react-on-rails-pro/src/utils.ts
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
  packages/react-on-rails-pro/tests/transformRSCStreamAndReplayConsoleLogs.test.ts
  packages/react-on-rails/src/RenderUtils.ts
  packages/react-on-rails/src/types/index.ts
  packages/react-on-rails/tests/buildConsoleReplay.test.js
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails/spec/dummy/spec/helpers/react_on_rails_helper_spec.rb
Due: autofix, rubocop, eslint, prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
