Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

fix(pro): correlate deferred RSC diagnostics before merging
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/rscDiagnostics.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/rscDiagnostics.test.ts
  packages/react-on-rails-pro/tests/streamServerRenderedReactComponent.test.jsx
Due: eslint, prettier

Finalize Shakapacker config before path copies
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Clarify unknown audit scope fallback
  .agents/workflows/post-merge-audit.md
Due: prettier

Address generator review cleanups
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/react_with_redux_generator.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
Due: autofix, rubocop

Clarify Capacity AI template tradeoffs
  react_on_rails_pro/.controlplane/rails.yml
Due: prettier

test(pro): tighten streaming warning assertions
  packages/react-on-rails-pro/tests/streamBackpressure.e2e.test.tsx
  packages/react-on-rails-pro/tests/streamServerRenderedReactComponent.test.jsx
Due: eslint, prettier

fix(pro): preserve evicted marker and same-key pins
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCRouteSuccessfulVersion.ts
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

Document Redis Capacity AI divergence
  react_on_rails_pro/.controlplane/redis.yml
Due: prettier

fix(pro): keep RSC cache internals private
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCProviderCache.ts
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

Address audit workflow review feedback
  .agents/skills/post-merge-audit/SKILL.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
Due: prettier

fix(pro): bound RSC eviction marker window
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCProviderCache.ts
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

fix(pro): harden RSC cache restore races
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCProviderCache.ts
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

Clarify Redis scaling defaults
  react_on_rails_pro/.controlplane/redis.yml
Due: prettier

Document generator path invariants
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/react_no_redux_generator.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/app/views/home/index.html.erb.tt
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

Tighten audit output routing
  .agents/skills/post-merge-audit/SKILL.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
Due: prettier

Make Redis autoscaling explicit
  react_on_rails_pro/.controlplane/redis.yml
Due: prettier

Clarify unknown audit scope boundary
  .agents/workflows/pr-processing.md
Due: prettier

Compute generated stylesheet imports
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/react_with_redux_generator.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

Document audit ledger failure path
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
Due: prettier

Cover root entrypoint helper path
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

Keep generator helper test memoization isolated
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

Clarify Control Plane template capacity intent
  react_on_rails_pro/.controlplane/rails.yml
  react_on_rails_pro/.controlplane/redis.yml
Due: prettier

Clarify audit coordination fallbacks
  .agents/skills/post-merge-audit/SKILL.md
  .agents/workflows/post-merge-audit.md
Due: prettier

Tighten audit prompt handoff guards
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
Due: prettier

Cover Tailwind custom source paths
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/app/views/hello_world/index.html.erb.tt
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Make Postgres template scaling explicit
  react_on_rails_pro/.controlplane/postgres.yml 
Due: none

Refine audit scope confirmation rules
  .agents/skills/post-merge-audit/SKILL.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
Due: prettier

Harden generator path helper tests
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Extract generator memoization reset helper
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

Clarify audit UNKNOWN fallbacks
  .agents/skills/post-merge-audit/SKILL.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
Due: prettier

Mirror audit claim fallback in skill
  .agents/skills/post-merge-audit/SKILL.md
  .agents/workflows/pr-processing.md
Due: prettier

Carry advisory audit rows through checks
  .agents/skills/post-merge-audit/SKILL.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
Due: prettier

Guard generator path helper inputs
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Complete audit coordination edge states
  .agents/skills/post-merge-audit/SKILL.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
Due: prettier

Clarify audit UNKNOWN precedence
  .agents/skills/post-merge-audit/SKILL.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
Due: prettier

Cover RSC Tailwind custom source paths
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Preserve advisory audit scope rows
  .agents/skills/post-merge-audit/SKILL.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
Due: prettier

Clarify audit UNKNOWN confirmation flow
  .agents/skills/post-merge-audit/SKILL.md
  .agents/workflows/pr-processing.md
Due: prettier

Clarify verified audit scope states
  .agents/skills/post-merge-audit/SKILL.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
Due: prettier

Cover generator path guard reviews
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop
