Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Allow specifying routes
  .github/workflows/benchmark.yml
  spec/performance/bench.rb
Due: autofix, rubocop, prettier

Update prod-assets to include generate_packs
  .github/workflows/benchmark.yml
  react_on_rails_pro/spec/dummy/bin/prod-assets
Due: prettier

Benchmark all routes
  spec/performance/bench.rb
Due: autofix, rubocop

Update Claude instructions
  CLAUDE.md
Due: prettier

Fix k6 timeout
  spec/performance/bench.rb
Due: autofix, rubocop

Remove duplication in adding summaries
  spec/performance/bench.rb
Due: autofix, rubocop

Disable js_compressor and css_compressor
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/dummy/config/environments/production.rb
Due: autofix, rubocop

Group all code for a tool into a single block
  spec/performance/bench.rb
Due: autofix, rubocop

Replace DURATION_SEC with DURATION
  .github/workflows/benchmark.yml
  spec/performance/bench.rb
Due: autofix, rubocop, prettier

Reorder workflow parameters more logically
  .github/workflows/benchmark.yml
Due: prettier

Allow configuring RAILS_MAX/MIN_THREADS in the workflow
  .github/workflows/benchmark.yml
Due: prettier

Add pro benchmarks
  .github/workflows/benchmark.yml
  react_on_rails_pro/spec/dummy/Procfile.prod
  react_on_rails_pro/spec/dummy/bin/prod
  react_on_rails_pro/spec/dummy/bin/prod-assets
  react_on_rails_pro/spec/dummy/config/environments/production.rb
Due: autofix, rubocop, prettier

Fix app version handling in the benchmark workflow
  .github/workflows/benchmark.yml
Due: prettier

Fix Fortio failure on server_side_log_throw_raise
  spec/performance/bench.rb
Due: autofix, rubocop

Move showing benchmark params to bench.sh for simplicity
  .github/workflows/benchmark.yml
  spec/performance/bench.sh
Due: prettier

Convert the benchmark script to Ruby
  .github/workflows/benchmark.yml
  knip.ts
  spec/performance/bench.rb
  spec/performance/bench.sh
Due: autofix, rubocop, eslint, prettier

Handle empty inputs correctly
  .github/workflows/benchmark.yml
  spec/performance/bench.rb
Due: autofix, rubocop, prettier

Closer to recommended Fortio options
  spec/performance/bench.sh
Due: none

Add logging to server check
  spec/performance/bench.rb
Due: autofix, rubocop

Don't follow redirects
  spec/performance/bench.rb
Due: autofix, rubocop

Fix starting/stopping servers
  .github/workflows/benchmark.yml
Due: prettier

generate_packs is now needed in core as well
  react_on_rails/spec/dummy/bin/prod-assets
Due: none

Move stopping the servers after validating/uploading benchmark results
  .github/workflows/benchmark.yml
Due: prettier

Update Core dummy path
  .github/workflows/benchmark.yml
  spec/performance/bench.rb
Due: autofix, rubocop, prettier

Run benchmark workflow only on PRs with full-ci or benchmark labels
  .github/workflows/benchmark.yml
Due: prettier

Skip testing routes
  spec/performance/bench.rb
Due: autofix, rubocop

Allow redirects in server_responding
  spec/performance/bench.rb
Due: autofix, rubocop

Simplify validate steps
  .github/workflows/benchmark.yml
Due: prettier

Switch benchmark.yml to pnpm and new directory structure
  .github/workflows/benchmark.yml
  react_on_rails/spec/dummy/bin/prod
  react_on_rails/spec/dummy/bin/prod-assets
  react_on_rails_pro/spec/dummy/bin/prod
Due: prettier

Fix killing the server
  .github/workflows/benchmark.yml
Due: prettier

Add doc
  docs/planning/library-benchmarking.md
Due: prettier

Temp config to speed up
  .github/workflows/benchmark.yml
Due: prettier

Improve route handling
  spec/performance/bench.rb
Due: autofix, rubocop

Optimize tools installation
  .github/workflows/benchmark.yml
Due: prettier

Fix Vegeta tests
  spec/performance/bench.rb
Due: autofix, rubocop

Try full Pro benchmark
  .github/workflows/benchmark.yml
Due: prettier

Make installs frozen
  .github/workflows/benchmark.yml
  react_on_rails/spec/dummy/Gemfile.lock
Due: prettier

Separate k6 test file
  benchmarks/bench.rb
  benchmarks/k6.ts
  knip.ts
  package.json
  pnpm-lock.yaml
Due: autofix, rubocop, eslint, prettier

Add max column
  benchmarks/bench-node-renderer.rb
  benchmarks/bench.rb
  benchmarks/lib/benchmark_helpers.rb
Due: autofix, rubocop

Fix Yalc and pnpm handling in benchmark.yml
  .github/workflows/benchmark.yml
Due: prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
