Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

docs: mark 16.2.0 immediate_hydration override note as historical (fixes #4639)
  docs/oss/upgrading/release-notes/16.2.0.md
  llms-full.txt
Due: prettier

Anchor RSC_BUNDLE_ONLY insertion to the default-build branch (fix regression)
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

CI: avoid duplicate exact-head hosted runs
  .github/read-me.md
  .github/workflows/ci-commands.test.cjs
  .github/workflows/ci-commands.yml
  .github/workflows/ci-required.yml
Due: prettier

CI: identify exact hosted workflow runs
  .github/read-me.md
  .github/workflows/ci-commands.test.cjs
  .github/workflows/ci-commands.yml
Due: prettier

CI: bind hosted coverage to trusted dispatches
  .github/read-me.md
  .github/workflows/ci-commands.test.cjs
  .github/workflows/ci-commands.yml
Due: prettier

CI: start proof grace after dispatch
  .github/workflows/ci-commands.test.cjs
  .github/workflows/ci-commands.yml
Due: prettier

CI: serialize and validate exact-head dispatches
  .github/read-me.md
  .github/workflows/ci-commands.test.cjs
  .github/workflows/ci-commands.yml
Due: prettier

CI: report exact hosted coverage modes
  .github/workflows/ci-commands.test.cjs
  .github/workflows/ci-commands.yml
Due: prettier

CI: bound command serialization history
  .github/workflows/ci-commands.test.cjs
  .github/workflows/ci-commands.yml
Due: prettier

Docs: clarify CI command coordination race
  .github/read-me.md
Due: prettier

CI: cover uncertain dispatch transport failures
  .github/workflows/ci-commands.test.cjs
  .github/workflows/ci-commands.yml
Due: prettier

CI: retain dispatch proof across comment retries
  .github/workflows/ci-commands.test.cjs
  .github/workflows/ci-commands.yml
Due: prettier

CI: retry definitively rejected dispatches
  .github/read-me.md
  .github/workflows/ci-commands.test.cjs
  .github/workflows/ci-commands.yml
Due: prettier

CI: persist fail-closed dispatch anchors
  .github/read-me.md
  .github/workflows/ci-commands.test.cjs
  .github/workflows/ci-commands.yml
  .github/workflows/hosted-ci-safety.test.cjs
Due: prettier

docs: correct OSS helper & API-reference examples (broken/stale snippets)
  docs/oss/api-reference/generator-details.md
  docs/oss/api-reference/redux-store-api.md
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  docs/oss/core-concepts/performance-benchmarks.md
  docs/oss/getting-started/quick-start.md
  docs/oss/getting-started/using-react-on-rails.md
Due: prettier

docs: note --agent-files as a default-on exception in generator intro
  docs/oss/api-reference/generator-details.md
Due: prettier

Regenerate llms-full.txt after rebase onto main
  llms-full.txt
Due: none

docs: correct OSS helper & API-reference examples (broken/stale snippets) (#4637)
  docs/oss/api-reference/generator-details.md
  docs/oss/api-reference/redux-store-api.md
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  docs/oss/core-concepts/performance-benchmarks.md
  docs/oss/getting-started/quick-start.md
  docs/oss/getting-started/using-react-on-rails.md
  llms-full.txt
Due: prettier

Verify all 5 SCOB transforms so a silent default-branch no-op is surfaced
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Docs: clarify cached_static_rsc_component scope
  docs/pro/fragment-caching.md
Due: prettier

Docs: document Pro ExecJS profiling prerequisites & missing cached helpers
  docs/pro/fragment-caching.md
  docs/pro/profiling-server-side-rendering-code.md
Due: prettier

Regenerate llms-full-pro.txt after rebase onto main
  llms-full-pro.txt
Due: none

Docs: document Pro ExecJS profiling prerequisites & missing cached helpers (#4706)
  docs/pro/fragment-caching.md
  docs/pro/profiling-server-side-rendering-code.md
  llms-full-pro.txt
Due: prettier

Docs: fix Shakapacker build & migration recipes
  docs/oss/api-reference/generator-details.md
  docs/oss/building-features/code-splitting.md
  docs/oss/building-features/node-renderer/heroku.md
  docs/oss/building-features/testing-configuration.md
  docs/oss/core-concepts/webpack-configuration.md
  docs/oss/deployment/troubleshooting-build-errors.md
  docs/oss/migrating/babel-to-swc-migration.md
  docs/oss/migrating/migrating-from-webpack-to-rspack.md
  llms-full.txt
Due: prettier

Docs: fix Shakapacker build & migration recipes (#4703) (#4708)
  docs/oss/api-reference/generator-details.md
  docs/oss/building-features/code-splitting.md
  docs/oss/building-features/node-renderer/heroku.md
  docs/oss/building-features/testing-configuration.md
  docs/oss/core-concepts/webpack-configuration.md
  docs/oss/deployment/troubleshooting-build-errors.md
  docs/oss/migrating/babel-to-swc-migration.md
  docs/oss/migrating/migrating-from-webpack-to-rspack.md
  llms-full.txt
Due: prettier

rsc-guardrails: detect prettier-split multiline dangerouslySetInnerHTML sinks
  .claude/hooks/rsc-guardrails-check.sh
  packages/react-on-rails-pro/tests/rscGuardrailsHook.test.ts
Due: eslint, prettier

Address review feedback: clarify NODE_ENV and integer parsing
  docs/oss/building-features/node-renderer/js-configuration.md
Due: prettier

Docs: fix node-renderer startup, versions, and missing config options
  docs/oss/building-features/node-renderer/basics.md
  docs/oss/building-features/node-renderer/js-configuration.md
Due: prettier

Clarify that node-renderer script is user-defined
  docs/oss/building-features/node-renderer/basics.md
Due: prettier

Match real JS structure in SCOB guards so comment/string mentions can't fool them
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Docs: fix node-renderer startup, versions, and missing config options (#4707)
  docs/oss/building-features/node-renderer/basics.md
  docs/oss/building-features/node-renderer/js-configuration.md
Due: prettier

Docs: normalize version floors, release metadata, and branch links
  CHANGELOG.md
  docs/oss/building-features/react-19-native-metadata.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/migrating/rsc-preparing-app.md
  docs/oss/upgrading/release-notes/16.0.0.md
  docs/oss/upgrading/release-notes/16.3.0.md
  docs/oss/upgrading/release-notes/16.4.0.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  docs/pro/updating.md
Due: prettier

Docs: restore accurate RoR floor on native-metadata basic-usage line
  docs/oss/building-features/react-19-native-metadata.md
Due: prettier

Docs: drop prerelease jwt history from Pro upgrade guidance
  docs/pro/updating.md
Due: prettier

Docs: normalize version floors, release metadata, and branch links (#4709)
  CHANGELOG.md
  docs/oss/building-features/react-19-native-metadata.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/migrating/rsc-preparing-app.md
  docs/oss/upgrading/release-notes/16.0.0.md
  docs/oss/upgrading/release-notes/16.3.0.md
  docs/oss/upgrading/release-notes/16.4.0.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  docs/pro/updating.md
Due: prettier

CI: make hosted dispatch exact-head idempotent (#4692)
  .github/read-me.md
  .github/workflows/ci-commands.test.cjs
  .github/workflows/ci-commands.yml
  .github/workflows/ci-required.yml
  .github/workflows/hosted-ci-safety.test.cjs
Due: prettier

Regenerate llms-full references
  llms-full-pro.txt
  llms-full.txt
Due: none

rsc-guardrails: close literal-prefix + document.writeln sink bypasses; document base-package escaper
  .agents/skills/rsc-guardrails/SKILL.md
  .claude/hooks/rsc-guardrails-check.sh
  packages/react-on-rails-pro/tests/rscGuardrailsHook.test.ts
Due: eslint, prettier

Convert last loose SCOB guard to structural matcher; de-vacuum reflow spec
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Docs: v17 server_render_method removal + fix rc-testing generator gate command (#4539)
  docs/oss/upgrading/upgrading-react-on-rails.md
  internal/contributor-info/rc-testing-plan.md
Due: prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
