Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Install the React 19.3 line for new RSC apps (#5164)
  CHANGELOG.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/critical-resource-hints.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop, prettier

Promote react-on-rails-rsc to stable 19.3.1 and drop the prerelease allowance (#5162)
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/shared/checkRscPeerCompatibility.ts
  packages/react-on-rails-pro-node-renderer/src/shared/rscPeerSupport.ts
  packages/react-on-rails-pro-node-renderer/tests/checkRscPeerCompatibility.test.ts
  packages/react-on-rails-pro-node-renderer/tests/runRscPeerCompatibilityCheck.test.ts
  packages/react-on-rails-pro/package.json
  pnpm-lock.yaml
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails_pro/spec/dummy/package.json
  script/convert-test.bash
Due: autofix, rubocop, eslint, prettier

Forward-port: promote react-on-rails-rsc to stable 19.3.1 from 17.2.0 (#5162) (#5165)
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/shared/checkRscPeerCompatibility.ts
  packages/react-on-rails-pro-node-renderer/src/shared/rscPeerSupport.ts
  packages/react-on-rails-pro-node-renderer/tests/checkRscPeerCompatibility.test.ts
  packages/react-on-rails-pro-node-renderer/tests/runRscPeerCompatibilityCheck.test.ts
  packages/react-on-rails-pro/package.json
  pnpm-lock.yaml
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails_pro/spec/dummy/package.json
  script/convert-test.bash
Due: autofix, rubocop, eslint, prettier

Describe the React 19.2 and 19.3 RSC support range across the docs
  CHANGELOG.md
  docs/oss/building-features/react-19-activity.md
  docs/oss/building-features/react-19-native-metadata.md
  docs/oss/building-features/streaming-server-rendering.md
  docs/oss/deployment/security-model-and-hardening.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/migrating/rsc-preparing-app.md
  docs/oss/migrating/rsc-troubleshooting.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  docs/pro/react-on-rails-pro.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/index.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/streaming-ssr.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Install the React 19.3 line for new RSC apps (#5164)
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/critical-resource-hints.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop, prettier

Bound the 19.3 RSC line and state the 17.1.0 upgrade pairs directly
  CHANGELOG.md
  docs/oss/deployment/security-model-and-hardening.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/migrating/rsc-preparing-app.md
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/index.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  docs/pro/streaming-ssr.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Name the matching React version in the 17.1.0 upgrade advice
  docs/pro/react-server-components/index.md
  docs/pro/react-server-components/rspack-compatibility.md
  llms-full-pro.txt
Due: prettier

Describe RSC version requirements as coordinated sets
  docs/oss/migrating/rsc-preparing-app.md
  llms-full.txt
Due: prettier

Docs: describe the supported react-on-rails-rsc and React sets for 17.2.0 (#5166)
  CHANGELOG.md
  docs/oss/building-features/react-19-activity.md
  docs/oss/building-features/react-19-native-metadata.md
  docs/oss/building-features/streaming-server-rendering.md
  docs/oss/deployment/security-model-and-hardening.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/migrating/rsc-preparing-app.md
  docs/oss/migrating/rsc-troubleshooting.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  docs/pro/react-on-rails-pro.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/index.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  docs/pro/streaming-ssr.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Forward-port: install the React 19.3 line for new RSC apps from 17.2.0 (#5164) (#5167)
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/critical-resource-hints.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop, prettier

Say stable releases only when rejecting a react-on-rails-rsc prerelease
  CHANGELOG.md
  packages/react-on-rails-pro-node-renderer/src/shared/checkRscPeerCompatibility.ts
  packages/react-on-rails-pro-node-renderer/tests/checkRscPeerCompatibility.test.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, eslint, prettier

Link the changelog entry to PR 5168
  CHANGELOG.md
Due: prettier

Docs: describe the supported react-on-rails-rsc and React sets for 17.2.0 (#5166)
  docs/oss/building-features/react-19-activity.md
  docs/oss/building-features/react-19-native-metadata.md
  docs/oss/building-features/streaming-server-rendering.md
  docs/oss/deployment/security-model-and-hardening.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/migrating/rsc-preparing-app.md
  docs/oss/migrating/rsc-troubleshooting.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  docs/pro/react-on-rails-pro.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/index.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  docs/pro/streaming-ssr.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Regenerate llms-full files from main's docs
  llms-full-pro.txt
  llms-full.txt
Due: none

Regenerate llms-full references
  llms-full-pro.txt
  llms-full.txt
Due: none

Say stable releases only when rejecting a react-on-rails-rsc prerelease (#5168)
  CHANGELOG.md
  packages/react-on-rails-pro-node-renderer/src/shared/checkRscPeerCompatibility.ts
  packages/react-on-rails-pro-node-renderer/tests/checkRscPeerCompatibility.test.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, eslint, prettier

Gate the supported RSC sets by React on Rails Pro version in the docs
  docs/oss/deployment/security-model-and-hardening.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/pro/react-server-components/index.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Update changelog for 17.2.0.rc.2
  CHANGELOG.md
Due: prettier

Say stable releases only when rejecting a react-on-rails-rsc prerelease (#5168)
  packages/react-on-rails-pro-node-renderer/src/shared/checkRscPeerCompatibility.ts
  packages/react-on-rails-pro-node-renderer/tests/checkRscPeerCompatibility.test.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, eslint, prettier

Update changelog for 17.2.0.rc.2 (#5172)
  CHANGELOG.md
Due: prettier

Docs: gate the supported RSC sets by React on Rails Pro version (#5170)
  docs/oss/deployment/security-model-and-hardening.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/pro/react-server-components/index.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Forward-port: say stable releases only when rejecting an RSC prerelease from 17.2.0 (#5168) (#5171)
  packages/react-on-rails-pro-node-renderer/src/shared/checkRscPeerCompatibility.ts
  packages/react-on-rails-pro-node-renderer/tests/checkRscPeerCompatibility.test.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, eslint, prettier

Forward-port: describe the React 19.2 and 19.3 RSC support range in docs from 17.2.0 (#5166) (#5169)
  docs/oss/building-features/react-19-activity.md
  docs/oss/building-features/react-19-native-metadata.md
  docs/oss/building-features/streaming-server-rendering.md
  docs/oss/deployment/security-model-and-hardening.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/migrating/rsc-preparing-app.md
  docs/oss/migrating/rsc-troubleshooting.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  docs/pro/react-on-rails-pro.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/index.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  docs/pro/streaming-ssr.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Forward-port: gate the supported RSC sets by React on Rails Pro version in docs from 17.2.0 (#5170) (#5173)
  docs/oss/deployment/security-model-and-hardening.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/pro/react-server-components/index.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Bound the React range in RSC pairing statements in the docs
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/migrating/rsc-preparing-app.md
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/index.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  docs/pro/streaming-ssr.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Docs: bound the React range in RSC pairing statements (#5174)
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/migrating/rsc-preparing-app.md
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/index.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  docs/pro/streaming-ssr.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Forward-port: bound the React range in RSC pairing statements in docs from 17.2.0 (#5174) (#5175)
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/migrating/rsc-preparing-app.md
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/index.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  docs/pro/streaming-ssr.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Bump version to 17.2.0.rc.2
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Verify npm packages after all npm publishes with a longer window
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Make the npm verification window a full ten minutes of waiting
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop
