Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Trim CI runtime action outputs
  .github/actions/read-tool-versions/action.yml
  .github/workflows/bundle-size.yml
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop, prettier

Harden benchmark report failure handling
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/pr_report_poster_spec.rb
  benchmarks/spec/track_benchmarks_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Clarify CI runtime version selection
  .github/workflows/bundle-size.yml
  .github/workflows/examples.yml
  .github/workflows/integration-tests.yml
  .github/workflows/playwright.yml
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop, prettier

Centralize RuboCop ownership in root bundle (#3836)
  .github/workflows/benchmark.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/pro-test-package-and-gem.yml
  .gitignore
  AGENTS.md
  Gemfile
  Gemfile.lock
  Gemfile.shared_dev_dependencies
  bin/ci-local
  internal/contributor-info/linters.md
  rakelib/release.rake
  react_on_rails/Gemfile.lock
  react_on_rails/rakelib/lint.rake
  react_on_rails/rakelib/task_helpers.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails/spec/dummy/bin/rubocop
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/package-scripts.yml
  react_on_rails_pro/rakelib/lint.rake
  react_on_rails_pro/rakelib/task_helpers.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/dummy/bin/rubocop
Due: autofix, rubocop, prettier

Add renderer transport probe (#3784)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  react_on_rails_pro/scripts/load/README.md
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/package.json
  react_on_rails_pro/scripts/load/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
  react_on_rails_pro/spec/load/transport_probe_spec.rb
Due: autofix, rubocop, prettier

Clarify benchmark failure annotations
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/pr_report_poster_spec.rb
  benchmarks/spec/track_benchmarks_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Clarify CI Node profile comments
  .github/workflows/check-markdown-links.yml
  .github/workflows/pro-integration-tests.yml
Due: prettier

Align root lint Ruby setup with tool versions
  .github/workflows/lint-js-and-ruby.yml
Due: prettier

Address CI runtime review feedback
  .github/workflows/pro-test-package-and-gem.yml
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ci_switch_config_spec.rb
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop, prettier

Tighten benchmark review fixes
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/bencher_runner_spec.rb
  benchmarks/spec/pr_report_poster_spec.rb
  benchmarks/spec/track_benchmarks_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Clarify CI runtime review comments
  .github/workflows/examples.yml
  bin/ci-switch-config
Due: prettier

Harden benchmark cleanup review notes
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/bencher_runner_spec.rb
  benchmarks/spec/pr_report_poster_spec.rb
Due: autofix, rubocop

Address final CI runtime review notes
  .github/workflows/bundle-size.yml
  .github/workflows/pro-integration-tests.yml
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ci_switch_config_spec.rb
Due: autofix, rubocop, prettier

Address benchmark helper review notes
  benchmarks/lib/bencher_runner.rb
  benchmarks/spec/pr_report_poster_spec.rb
Due: autofix, rubocop

Clarify benchmark report error handling
  benchmarks/lib/bencher_runner.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Harden workflow runtime setup comments
  .github/workflows/bundle-size.yml
  .github/workflows/examples.yml
Due: prettier

Tighten benchmark persistence errors
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/bencher_runner_spec.rb
Due: autofix, rubocop

Avoid empty benchmark PR env lookup
  benchmarks/spec/spec_helper.rb
  benchmarks/spec/track_benchmarks_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Address CI runtime review followups
  .github/workflows/bundle-size.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop, prettier

Clarify benchmark error handling annotations
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/bencher_runner_spec.rb
  benchmarks/spec/pr_report_poster_spec.rb
Due: autofix, rubocop

Make root RuboCop bundle lint-only (no Rails/test stack)
  AGENTS.md
  Gemfile
  Gemfile.lock
Due: prettier

Address benchmark review followups
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/github.rb
  benchmarks/spec/bencher_runner_spec.rb
  benchmarks/spec/track_benchmarks_spec.rb
Due: autofix, rubocop

Clarify CI runtime helper followups
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop

Handle benchmark PR comment env outside CI
  benchmarks/lib/bencher_runner.rb
  benchmarks/spec/track_benchmarks_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Address benchmark review followups
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/bencher_runner_spec.rb
  benchmarks/spec/pr_report_poster_spec.rb
  benchmarks/spec/spec_helper.rb
  benchmarks/spec/track_benchmarks_spec.rb
Due: autofix, rubocop

Address CI runtime review followups
  .github/workflows/check-markdown-links.yml
  bin/ci-switch-config
Due: prettier

Address benchmark review cleanup
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/pr_report_poster_spec.rb
Due: autofix, rubocop

Address CI switch review coverage
  react_on_rails/spec/react_on_rails/ci_switch_config_spec.rb
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop

Address benchmark review followups
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/pr_report_poster_spec.rb
Due: autofix, rubocop

Address CI review followups
  .github/workflows/bundle-size.yml
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop, prettier

Address benchmark review assertions
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/bencher_runner_spec.rb
Due: autofix, rubocop

Declare benchmark gem in lint-only root bundle for Ruby >= 3.5
  Gemfile
  Gemfile.lock
Due: none

Address benchmark stderr review
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/bencher_runner_spec.rb
Due: autofix, rubocop

Stabilize dummy bundle handoff
  .github/workflows/dummy-app-bundler-tests.yml
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ci_switch_config_spec.rb
Due: autofix, rubocop, prettier

Clarify runtime backup restore
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ci_switch_config_spec.rb
Due: autofix, rubocop

Keep root RuboCop bundle lint-only
  .github/dependabot.yml
  AGENTS.md
  Gemfile
  Gemfile.lock
  Rakefile
  bin/ci-local
  bin/ci-rerun-failures
  bin/setup
  conductor-setup.sh
  rakelib/release.rake
  react_on_rails/rakelib/lint.rake
Due: autofix, rubocop, prettier

Clarify CI runtime backup restore
  .github/workflows/dummy-app-bundler-tests.yml
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ci_switch_config_spec.rb
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop, prettier

Address benchmark review cleanup
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Clarify root lint task delegation
  Rakefile
Due: none
