Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

fix: address eleventh round of PR review feedback
  react_on_rails/lib/generators/react_on_rails/generator_messages/package_manager_detection.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/.github/workflows/ci.yml.tt
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

fix: validate bundle path before hash computation, and harden paths
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/lib/react_on_rails_pro/prepare_node_renderer_bundles.rb
  react_on_rails_pro/lib/react_on_rails_pro/renderer_cache_helpers.rb
  react_on_rails_pro/spec/dummy/spec/prepare_node_renderer_bundles_spec.rb
Due: autofix, rubocop

Guard Procfile update when legacy renderer detected, use Thor empty_directory
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Address review: sync f+i opt-in, unify Optional heading, d/o tier guards
  .agents/workflows/address-review.md
  .claude/commands/address-review.md
Due: prettier

refactor: unify renderer cache staging under PreSeedRendererCache#call(mode:)
  CHANGELOG.md
  docs/pro/node-renderer.md
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails_pro/lib/react_on_rails_pro/assets_precompile.rb
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/lib/react_on_rails_pro/prepare_node_renderer_bundles.rb
  react_on_rails_pro/lib/tasks/assets.rake
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
  react_on_rails_pro/spec/dummy/spec/prepare_node_renderer_bundles_spec.rb
Due: autofix, rubocop, prettier

Add OPTIONAL triage tier and fix recommendations to /address-review (#3161)
  .agents/workflows/address-review.md
  .claude/commands/address-review.md
Due: prettier

fix: address twelfth round of PR review feedback
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/rakelib/shakapacker_examples.rake
  react_on_rails/spec/react_on_rails/support/generator_spec_helper.rb
Due: autofix, rubocop

Emit full Procfile command in legacy renderer migration hint
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

docs: remove fabricated DevConsole tool, link verified RSC tools
  docs/oss/migrating/rsc-troubleshooting.md
Due: prettier

Address PR #3165 optional review polish
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/pro/base/renderer/node-renderer.js
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop, eslint, prettier

fix: address PR B review feedback for unified renderer cache staging
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/lib/react_on_rails_pro/prepare_node_renderer_bundles.rb
  react_on_rails_pro/lib/tasks/assets.rake
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
  react_on_rails_pro/spec/dummy/spec/prepare_node_renderer_bundles_spec.rb
Due: autofix, rubocop

docs: remove stale immediate_hydration references
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/building-features/turbolinks.md
  docs/pro/streaming-ssr.md
  docs/pro/troubleshooting.md
Due: prettier

ci: make Bencher main-regression alert a warning, not a hard fail
  .github/workflows/benchmark.yml
Due: prettier

fix(node-renderer): expose `performance` in VM context when supportModules
  CHANGELOG.md
  docs/oss/building-features/node-renderer/js-configuration.md
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
Due: eslint, prettier

docs: add legacy Webpacker and migration-fit guidance
  docs/oss/migrating/migrating-from-react-rails.md
  docs/oss/migrating/migrating-from-vite-rails.md
Due: prettier

Add error scenarios hub and test pages (#2497)
  .gitignore
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/error_scenarios_hub.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/non_existing_react_component.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/non_existing_rsc_payload.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/non_existing_stream_react_component.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/rsc_component_error.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/ssr_async_error.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/ssr_async_prop_error.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/ssr_shell_error.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/ssr_sync_error.html.erb
  react_on_rails_pro/spec/dummy/app/views/shared/_menu.erb
  react_on_rails_pro/spec/dummy/client/app/components/ServerComponentRouter.tsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/DeterministicRSCErrorComponent.tsx
  react_on_rails_pro/spec/dummy/config/routes.rb
Due: autofix, rubocop, eslint, prettier

docs: document polyfill requirements for web-targeted server bundles (#3092)
  docs/oss/core-concepts/client-vs-server-rendering.md
  docs/oss/core-concepts/execjs-limitations.md
Due: prettier

fix: Doctor no longer fails custom projects for missing bin/dev (#3117)
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, prettier

fix: cap webpack <5.106.0 to prevent ExecJS SSR breakage (#3095)
  package.json
  pnpm-lock.yaml
  react_on_rails/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: prettier

Add Rspack + RSC compatibility tests and documentation (#1828) (#3120)
  docs/pro/react-server-components/rspack-compatibility.md
  docs/sidebars.ts
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop, eslint, prettier

refactor: replace stub-throw + Object.assign with capability-based composition (#3096)
  packages/react-on-rails-pro/src/ReactOnRails.client.ts
  packages/react-on-rails-pro/src/ReactOnRails.full.ts
  packages/react-on-rails-pro/src/ReactOnRails.node.ts
  packages/react-on-rails-pro/src/ReactOnRailsRSC.ts
  packages/react-on-rails-pro/src/capabilities/proLifecycle.ts
  packages/react-on-rails-pro/src/capabilities/proMethods.ts
  packages/react-on-rails-pro/src/capabilities/proRSC.ts
  packages/react-on-rails-pro/src/capabilities/proStreaming.ts
  packages/react-on-rails-pro/src/createReactOnRailsPro.ts
  packages/react-on-rails-pro/src/proClientStartup.ts
  packages/react-on-rails-pro/tests/createReactOnRailsPro.test.ts
  packages/react-on-rails/package.json
  packages/react-on-rails/src/ReactOnRails.client.ts
  packages/react-on-rails/src/ReactOnRails.full.ts
  packages/react-on-rails/src/base/full.rsc.ts
  packages/react-on-rails/src/base/full.ts
  packages/react-on-rails/src/capabilities/core.ts
  packages/react-on-rails/src/capabilities/lifecycle.ts
  packages/react-on-rails/src/capabilities/ssr.rsc.ts
  packages/react-on-rails/src/capabilities/ssr.ts
  packages/react-on-rails/src/createReactOnRails.ts
  packages/react-on-rails/tests/createReactOnRails.test.js
Due: eslint, prettier

Add complimentary OSS license policy for React on Rails Pro (#3123)
  REACT-ON-RAILS-PRO-LICENSE.md
Due: prettier

fix: address deferred review items from PR #2849 (#3093)
  .gitignore
  packages/react-on-rails/tests/scriptSanitizedVal.test.js
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/serverWebpackConfig.js.tt
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/spec/dummy/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
  react_on_rails/spec/react_on_rails/support/generator_spec_helper.rb
  react_on_rails_pro/spec/dummy/config/webpack/serverWebpackConfig.js
  react_on_rails_pro/spec/execjs-compatible-dummy/config/webpack/serverWebpackConfig.js
Due: autofix, rubocop, eslint, prettier

fix: centralize CI docs-only detection and add CLI flag validation (#3091)
  .github/workflows/benchmark.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/package-js-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
  packages/create-react-on-rails-app/src/index.ts
  packages/create-react-on-rails-app/tests/index-tty.test.ts
Due: eslint, prettier

Enhance address-review with parallel fixes, self-review, and Greptile verification (#3121)
  .agents/workflows/address-review.md
  .claude/commands/address-review.md
Due: prettier

refactor: add RenderRequest, JsCodeBuilder, and RenderingStrategy abstractions (#3094)
  react_on_rails/Steepfile
  react_on_rails/lib/react_on_rails.rb
  react_on_rails/lib/react_on_rails/configuration.rb
  react_on_rails/lib/react_on_rails/js_code_builder.rb
  react_on_rails/lib/react_on_rails/render_request.rb
  react_on_rails/lib/react_on_rails/rendering_strategy.rb
  react_on_rails/lib/react_on_rails/rendering_strategy/exec_js_strategy.rb
  react_on_rails/sig/react_on_rails.rbs
  react_on_rails/sig/react_on_rails/js_code_builder.rbs
  react_on_rails/sig/react_on_rails/render_request.rbs
  react_on_rails/sig/react_on_rails/rendering_strategy.rbs
  react_on_rails/sig/react_on_rails/rendering_strategy/exec_js_strategy.rbs
  react_on_rails/spec/react_on_rails/js_code_builder_spec.rb
  react_on_rails/spec/react_on_rails/render_request_spec.rb
  react_on_rails/spec/react_on_rails/rendering_strategy/exec_js_strategy_spec.rb
  react_on_rails_pro/lib/react_on_rails_pro.rb
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/lib/react_on_rails_pro/js_code_builder.rb
  react_on_rails_pro/lib/react_on_rails_pro/rendering_strategy/node_strategy.rb
Due: autofix, rubocop

Split rspec-package-tests into parallel generator/unit shards (#3134)
  .github/workflows/gem-tests.yml
  react_on_rails/spec/react_on_rails/spec_helper.rb
  react_on_rails_pro/spec/react_on_rails_pro/spec_helper.rb
Due: autofix, rubocop, prettier

docs: comprehensive RSC API documentation and registration consolidation (#3140)
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  docs/oss/core-concepts/render-functions.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/migrating/rsc-component-patterns.md
  docs/oss/migrating/rsc-preparing-app.md
  docs/pro/installation.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/how-react-server-components-work.md
  docs/pro/react-server-components/inside-client-components.md
  docs/pro/updating.md
Due: prettier

fix: add concurrency groups to long-running CI workflows (#3133)
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/playwright.yml
Due: prettier

Fix initial page startup race for late-loading client bundles (#3151)
  CHANGELOG.md
  packages/react-on-rails/src/pageLifecycle.ts
  packages/react-on-rails/tests/pageLifecycle.test.js
Due: eslint, prettier

fix: merge setup-gem-tests-matrix job into detect-changes (#3135)
  .github/workflows/actionlint.yml
  .github/workflows/gem-tests.yml
Due: prettier

chore: apply prettier formatting to tracked docs files (#3153)
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/building-features/rails-webpacker-react-integration-options.md
  docs/oss/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  docs/oss/core-concepts/render-functions.md
  docs/oss/core-concepts/webpack-configuration.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/pro/react-server-components/inside-client-components.md
Due: prettier

chore: sync Gemfile.lock with term-ansicolor 1.11.3 (#3164)
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: none

Simplify the docs sidebar and Pro landing pages (#3119)
  docs/.sidebar-exclusions
  docs/pro/home-pro.md
  docs/sidebars.ts
Due: eslint, prettier

docs: sharpen minimum acceptable evidence for example migrations
  docs/oss/migrating/example-migrations.md
Due: prettier

Scaffold CI workflow and build scripts for first-run consistency (#3097)
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
  react_on_rails/lib/generators/react_on_rails/generator_messages/ci_section.rb
  react_on_rails/lib/generators/react_on_rails/generator_messages/package_manager_detection.rb
  react_on_rails/lib/generators/react_on_rails/generator_messages/shakapacker_status_section.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/react_with_redux_generator.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/.github/workflows/ci.yml.tt
  react_on_rails/rakelib/shakapacker_examples.rake
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/support/generator_spec_helper.rb
  react_on_rails/spec/react_on_rails/support/shared_examples/scaffold_ci_examples.rb
Due: autofix, rubocop

docs: link webpack-bundle-analyzer for table consistency
  docs/oss/migrating/rsc-troubleshooting.md
Due: prettier

docs: address PR #3157 review feedback on migration guides
  docs/oss/migrating/migrating-from-react-rails.md
  docs/oss/migrating/migrating-from-vite-rails.md
Due: prettier
