Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

docs: tighten renderer tuning guidance
  docs/oss/configuration/configuration-pro.md
  llms-full.txt
Due: prettier

Support raw response type specs
  docs/oss/building-features/generated-rails-response-types.md
  llms-full.txt
  react_on_rails/lib/react_on_rails/typescript_response_types.rb
  react_on_rails/spec/react_on_rails/type_script_response_types_review_fix_spec.rb
  react_on_rails/spec/react_on_rails/typescript_response_types_spec.rb
Due: autofix, rubocop, prettier

Warn when generated layout needs manual CSP tag
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Address agent workflow review gaps
  .agents/bin/agent-workflow-seam-doctor-test.rb
  .agents/bin/lint
  AGENTS.md
Due: autofix, rubocop, prettier

Address generator review follow-ups
  react_on_rails/lib/generators/react_on_rails/react_with_redux_generator.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Clarify agent workflow script contract
  .agents/bin/README.md
  .agents/bin/agent-workflow-seam-doctor
  .agents/bin/agent-workflow-seam-doctor-test.rb
  .agents/bin/test
Due: autofix, rubocop, prettier

Harden response type output generation
  react_on_rails/lib/react_on_rails/typescript_response_types.rb
  react_on_rails/spec/react_on_rails/type_script_response_types_review_fix_spec.rb
  react_on_rails/spec/react_on_rails/typescript_response_types_generate_spec.rb
Due: autofix, rubocop

Parenthesize composite raw array types
  react_on_rails/lib/react_on_rails/typescript_response_types.rb
  react_on_rails/spec/react_on_rails/type_script_response_types_review_fix_spec.rb
Due: autofix, rubocop

Warn when HelloWorld uses non-Tailwind layout
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Harden response type registry edge cases
  react_on_rails/lib/react_on_rails/typescript_response_types.rb
  react_on_rails/spec/react_on_rails/type_script_response_types_review_fix_spec.rb
Due: autofix, rubocop

Preserve extra RUBYOPT in precompile hook
  react_on_rails/lib/generators/react_on_rails/templates/base/base/bin/shakapacker-precompile-hook
  react_on_rails/spec/react_on_rails/shakapacker_precompile_hook_shared_spec.rb
  react_on_rails/spec/support/shakapacker_precompile_hook_shared.rb
Due: autofix, rubocop

Fix streamed RSC Server-Timing review blockers
  docs/pro/streaming-ssr.md
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/addRendererServerTiming.test.ts
  packages/react-on-rails-pro-node-renderer/tests/handleRenderRequest.test.ts
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/node_rendering_pool.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/node_rendering_pool_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_spec.rb
Due: autofix, rubocop, eslint, prettier

Support buffered RSC rendering for static pages
  CHANGELOG.md
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/building-features/caching.md
  docs/pro/fragment-caching.md
  docs/pro/streaming-ssr.md
  docs/pro/strict-csp.md
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop, prettier

Clarify rejected RSC replacement retry test timing
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

Fix inherited Tailwind layout warning
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup/layouts.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Address Tailwind generator edge cases
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/react_with_redux_generator.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup/layouts.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Clarify Tailwind source path examples
  react_on_rails/lib/generators/react_on_rails/templates/base/tailwind/app/javascript/stylesheets/application.css.tt
Due: none

docs: record RSC Rspack client refs decision
  internal/analysis/rsc-rspack-client-reference-inclusion-decision-record-2026-06-27.md
Due: prettier

Align Tailwind stylesheet spec text
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Fix RSC Tailwind layout reuse
  react_on_rails/lib/generators/react_on_rails/rsc_setup/layouts.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

docs: address RSC Rspack review notes
  internal/analysis/rsc-rspack-client-reference-inclusion-decision-record-2026-06-27.md
Due: prettier

Docs: record RSC Rspack client refs investigation (#4269)
  internal/analysis/rsc-rspack-client-reference-inclusion-decision-record-2026-06-27.md
Due: prettier

docs: rename RSC Rspack record as investigation
  internal/analysis/rsc-rspack-client-reference-inclusion-investigation-record-2026-06-27.md
Due: prettier

Fix Tailwind RSC setup blockers
  docs/pro/react-server-components/css-and-styling.md
  llms-full-pro.txt
  react_on_rails/Gemfile.lock
  react_on_rails/lib/generators/react_on_rails/rsc_generator.rb
  react_on_rails/react_on_rails.gemspec
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Align RSC Tailwind specs with install path
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Treat internal encoding as non-external Ruby option
  react_on_rails/lib/generators/react_on_rails/templates/base/base/bin/shakapacker-precompile-hook
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/shakapacker_precompile_hook_shared_spec.rb
  react_on_rails/spec/support/shakapacker_precompile_hook_shared.rb
Due: autofix, rubocop

Fix cached buffered RSC rendering review issues
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop

Clarify RSC layout context render function docs
  docs/pro/react-server-components/per-request-data.md
Due: prettier

Clarify renderer warmup docs
  docs/oss/configuration/configuration-pro.md
  docs/pro/updating.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Tighten streaming compression specs
  react_on_rails_pro/spec/react_on_rails_pro/streaming_compression_spec.rb
Due: autofix, rubocop

Address Server-Timing review feedback
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
Due: autofix, rubocop, eslint, prettier

Update Server-Timing docs snapshot
  llms-full-pro.txt
Due: none

Polish RSC layout context docs after review
  docs/pro/react-server-components/per-request-data.md
Due: prettier

Harden response type review edge cases
  docs/oss/building-features/generated-rails-response-types.md
  llms-full.txt
  react_on_rails/lib/react_on_rails/typescript_response_types.rb
  react_on_rails/spec/react_on_rails/type_script_response_types_review_fix_spec.rb
  react_on_rails/spec/react_on_rails/typescript_response_types_generate_spec.rb
  react_on_rails/spec/react_on_rails/typescript_response_types_spec.rb
Due: autofix, rubocop, prettier

Address Tailwind generator review feedback
  react_on_rails/Gemfile.lock
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup/layouts.rb
  react_on_rails/react_on_rails.gemspec
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop

Tighten cached buffered rendering specs after review
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop

Update compression docs snapshot
  llms-full-pro.txt
  llms-full.txt
Due: none

Ignore empty RUBYOPT fragments in precompile hook
  react_on_rails/lib/generators/react_on_rails/templates/base/base/bin/shakapacker-precompile-hook
  react_on_rails/spec/react_on_rails/shakapacker_precompile_hook_shared_spec.rb
  react_on_rails/spec/support/shakapacker_precompile_hook_shared.rb
Due: autofix, rubocop

Clarify RSC layout URL props for client payload refetch
  docs/pro/react-server-components/per-request-data.md
Due: prettier

Correct renderer pool sizing docs
  docs/oss/configuration/configuration-pro.md
  docs/pro/updating.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier
