Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

fix(generators): honor duplicate shakapacker merge precedence
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

Docs: clarify rails new JavaScript skip flag (#3666)
  docs/oss/getting-started/tutorial.md
Due: prettier

Add Redux auto-load DOM guards
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ReduxApp.client.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ReduxSharedStoreApp.client.jsx
Due: eslint, prettier

fix(generators): preserve quoted boolean hook commands
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

fix(types): preserve object component registrations
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/src/ComponentRegistry.ts
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/capabilities/core.ts
  packages/react-on-rails/src/componentRegistrationMetric.ts
  packages/react-on-rails/src/createReactOutput.ts
  packages/react-on-rails/src/serverRenderUtils.ts
  packages/react-on-rails/src/types/index.ts
  packages/react-on-rails/tests/ComponentRegistry.test.js
  packages/react-on-rails/tests/debugLogging.test.js
Due: eslint, prettier

Address RSC generator review follow-ups
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop

fix(benchmark): harden target monitoring
  benchmarks/bench-node-renderer.rb
  benchmarks/bench.rb
  benchmarks/lib/benchmark_helpers.rb
  benchmarks/lib/benchmark_target_monitor.rb
  benchmarks/spec/benchmark_target_monitor_spec.rb
Due: autofix, rubocop

Harden renderer teardown polish
  packages/react-on-rails-pro/src/ClientSideRenderer.ts
  packages/react-on-rails-pro/src/wrapServerComponentRenderer/client.tsx
  packages/react-on-rails-pro/tests/ClientSideRenderer.test.ts
  packages/react-on-rails-pro/tests/wrapServerComponentRenderer.client.manifest.test.js
  packages/react-on-rails-pro/tests/wrapServerComponentRenderer.client.test.jsx
  packages/react-on-rails/package.json
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/src/createReactOutput.ts
  packages/react-on-rails/src/rendererTeardown.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

Polish RSC generator install follow-ups
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Harden ShakaPerf artifact setup
  analysis/rsc-fouc-shakaperf-artifacts/setup/README.md
  analysis/rsc-fouc-shakaperf-artifacts/setup/ab-tests/rsc-fouc.abtest.ts
  analysis/rsc-fouc-shakaperf-artifacts/setup/config/abtests.config.ts
  analysis/rsc-fouc-shakaperf-artifacts/setup/config/natural-first-visible-commit.abtests.config.ts
  analysis/rsc-fouc-shakaperf-artifacts/setup/generated-shakaperf-skills/setup-docker-servers-for-ab-tests.SKILL.md
  analysis/rsc-fouc-shakaperf-artifacts/setup/generated-shakaperf-skills/setup-docker-servers-for-ab-tests/SKILL.md
  analysis/rsc-fouc-shakaperf-artifacts/setup/generated-shakaperf-skills/setup-docker-servers-for-ab-tests/references/compose-and-procfile.md
  analysis/rsc-fouc-shakaperf-artifacts/setup/generated-shakaperf-skills/setup-docker-servers-for-ab-tests/references/troubleshooting.md
  analysis/rsc-fouc-shakaperf-artifacts/setup/generated-shakaperf-skills/setup-docker-servers-for-ab-tests/references/writing-the-dockerfile.md
  analysis/rsc-fouc-shakaperf-artifacts/setup/twin-servers/Dockerfile
  analysis/rsc-fouc-shakaperf-artifacts/setup/twin-servers/PROJECT_PROFILE.md
  analysis/rsc-fouc-shakaperf-artifacts/setup/twin-servers/Procfile
Due: eslint, prettier

Add OSS manual renderer DOM guard
  react_on_rails/spec/dummy/client/app/startup/ManualRenderApp.jsx
Due: eslint, prettier

fix(dummy): stabilize TypeScript pack generation
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/spec/dummy/client/app/startup/domRenderers.ts
  react_on_rails/spec/dummy/client/app/types/webpack.d.ts
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
  react_on_rails/spec/dummy/tsconfig.json
Due: autofix, rubocop, eslint, prettier

fix(generators): address shakapacker hook review nits
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

Address renderer guard review follow-ups
  react_on_rails/spec/dummy/client/app/startup/ManualRenderApp.jsx
  react_on_rails/spec/dummy/client/app/startup/ReduxApp.client.jsx
  react_on_rails_pro/spec/dummy/client/app/loadable/loadable-client.imports-loadable.jsx
Due: eslint, prettier

Suppress regression issues when only /posts_page: Pro regresses (#3668)
  benchmarks/lib/github.rb
  benchmarks/lib/regression_report.rb
  benchmarks/report_regressions.rb
  benchmarks/spec/report_regressions_spec.rb
  benchmarks/spec/track_benchmarks_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Address async props docs review nits
  docs/oss/building-features/react-19-native-metadata.md
  docs/oss/core-concepts/render-functions.md
Due: prettier

Address RSC dependency review nits
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop

Guard dummy DOM lookups before rendering
  react_on_rails/spec/dummy/client/app-react16/startup/ManualRenderApp.jsx
  react_on_rails/spec/dummy/client/app/startup/ReduxSharedStoreApp.client.jsx
Due: eslint, prettier

fix(client): allow React object component registrations
  packages/react-on-rails/src/createReactOutput.ts
  packages/react-on-rails/src/types/index.ts
  packages/react-on-rails/tests/createReactOutput.test.ts
Due: eslint, prettier

Improve create-app smoke diagnostics (#3599)
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Clarify async metadata server component boundary
  docs/oss/building-features/react-19-native-metadata.md
Due: prettier

Fix renderer missing-node review comments
  react_on_rails/spec/dummy/client/app-react16/startup/ReduxApp.client.jsx
  react_on_rails/spec/dummy/client/app-react16/startup/ReduxSharedStoreApp.client.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ReduxApp.client.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ReduxSharedStoreApp.client.jsx
Due: eslint, prettier

Complete profile metadata example
  docs/oss/building-features/react-19-native-metadata.md
Due: prettier

Clarify async render function intent
  docs/oss/core-concepts/render-functions.md
Due: prettier

Require PR numbers in squash merge titles
  AGENTS.md
Due: prettier

Clarify async metadata Pro setup and stream errors
  docs/oss/building-features/react-19-native-metadata.md
Due: prettier

Address final renderer teardown review notes
  docs/oss/api-reference/view-helpers-api.md
  react_on_rails_pro/spec/dummy/client/app/loadable/loadable-client.imports-loadable.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/LazyApolloGraphQLApp.client.tsx
Due: eslint, prettier

Require PR numbers in squash merge titles (#3684)
  AGENTS.md
Due: prettier

Docs: use async props pattern in metadata and render-function examples (#3672)
  docs/oss/building-features/react-19-native-metadata.md
  docs/oss/core-concepts/render-functions.md
Due: prettier

Address async metadata review sweep
  docs/oss/building-features/react-19-native-metadata.md
  docs/oss/core-concepts/render-functions.md
Due: prettier

Add +ci command workflow
  .github/read-me.md
  .github/workflows/ci-commands.yml
  .github/workflows/detect-invalid-ci-commands.yml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
Due: prettier

Clarify manual renderer guard operation
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ManualRenderApp.jsx
Due: eslint, prettier

Address CI command review feedback
  .github/read-me.md
  .github/workflows/ci-commands.yml
  CONTRIBUTING.md
Due: prettier

Adopt renderer-function teardown in dummy apps + docs (#3578) (#3585)
  docs/oss/api-reference/javascript-api.md
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/core-concepts/render-functions.md
  packages/react-on-rails/src/types/index.ts
  react_on_rails/spec/dummy/client/app-react16/startup/ManualRenderApp.jsx
  react_on_rails/spec/dummy/client/app-react16/startup/ReduxApp.client.jsx
  react_on_rails/spec/dummy/client/app-react16/startup/ReduxSharedStoreApp.client.jsx
  react_on_rails_pro/spec/dummy/client/app/loadable/loadable-client.imports-loadable.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ApolloGraphQLApp.client.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/LazyApolloGraphQLApp.client.tsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ManualRenderApp.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ReduxApp.client.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ReduxSharedStoreApp.client.jsx
Due: eslint, prettier

Address remaining CI command review feedback
  .github/workflows/ci-commands.yml
Due: prettier

Clarify full CI label failure message
  .github/workflows/ci-commands.yml
Due: prettier

Document CI command guardrails
  .github/read-me.md
  .github/workflows/ci-commands.yml
  CONTRIBUTING.md
Due: prettier

Tighten CI command status handling
  .github/read-me.md
  .github/workflows/ci-commands.yml
  CONTRIBUTING.md
Due: prettier

Clarify CI command prefilter behavior
  .github/read-me.md
  .github/workflows/ci-commands.yml
Due: prettier
