Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Update Pro attribution comment for new license status model
  react_on_rails_pro/lib/react_on_rails_pro/utils.rb
Due: autofix, rubocop

Address CodeRabbit review: fix docs and guard File.read
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
Due: autofix, rubocop, eslint, prettier

Address remaining review concerns
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop, eslint, prettier

Add license violation notice and ShakaCode URL to startup warnings
  packages/react-on-rails-pro-node-renderer/src/master.ts
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
Due: autofix, rubocop, eslint, prettier

Remove unused license exports and use proper logger
  knip.ts
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseValidator.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/lib/react_on_rails_pro/utils.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop, eslint, prettier

Add license-optional attribution model with plan field validation
  CHANGELOG.md
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseValidator.test.ts
  react_on_rails_pro/CHANGELOG.md
  react_on_rails_pro/CI_SETUP.md
  react_on_rails_pro/LICENSE_SETUP.md
  react_on_rails_pro/README.md
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop, eslint, prettier

Remove license-optional entry from core changelog
  CHANGELOG.md
Due: prettier

Remove production deployment guidance from CI_SETUP.md
  react_on_rails_pro/CI_SETUP.md
Due: prettier

Remove CI_SETUP.md — CI needs no license configuration
  react_on_rails_pro/CHANGELOG.md
  react_on_rails_pro/CI_SETUP.md
  react_on_rails_pro/LICENSE_SETUP.md
Due: prettier

Remove 'Can multiple developers share one license?' FAQ
  react_on_rails_pro/LICENSE_SETUP.md
  react_on_rails_pro/README.md
Due: prettier

Improve license validation: thread safety, error handling, env-aware logging
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseValidator.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix CI failures: RuboCop line length and broken doc links
  CHANGELOG.md
  docs/building-features/how-to-conditionally-server-render-based-on-device-type.md
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
Due: autofix, rubocop, prettier

Fix configuration documentation URL (double configuration path)
  CHANGELOG.md
  docs/building-features/how-to-conditionally-server-render-based-on-device-type.md
Due: prettier

Fix engine_spec.rb tests to allow LicenseValidator warnings
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
Due: autofix, rubocop

Improve license expiration validation robustness
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseValidator.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop, eslint, prettier

Address PR review feedback: thread safety, logging simplification
  packages/react-on-rails-pro-node-renderer/src/master.ts
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseValidator.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop, eslint, prettier

Refactor: LicenseValidator only determines status, Engine handles all logging
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/sig/react_on_rails_pro/license_validator.rbs
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop

Fix Engine.log_license_status call from initializer
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
Due: autofix, rubocop

fix: use >= for JWT exp boundary per RFC 7519
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
Due: autofix, rubocop, eslint, prettier

Fix async props race conditions (#2297)
  packages/react-on-rails-pro-node-renderer/src/shared/constants.ts
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleGracefulShutdown.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/projects/spec-dummy/asyncComponentsTreeForTestingRenderingRequest.js
  packages/react-on-rails-pro-node-renderer/tests/fixtures/secondary-bundle-incremental.js
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails-pro/src/ReactOnRailsRSC.ts
  packages/react-on-rails-pro/src/createReactOnRailsPro.ts
  packages/react-on-rails-pro/tests/AsyncPropManager.test.ts
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/lib/react_on_rails_pro/httpx_stream_bidi_patch.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/node_rendering_pool.rb
  react_on_rails_pro/spec/dummy/Procfile.dev
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/client/node-renderer.js
  react_on_rails_pro/spec/dummy/spec/requests/incremental_rendering_integration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_js_code_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/node_rendering_pool_spec.rb
Due: autofix, rubocop, eslint, prettier

Add flight protocol syntax doc (#2329)
  react_on_rails_pro/docs/react-server-components/flight-protocol-syntax.md
Due: prettier

Fix CI failures: tests, lint, and markdown link
  packages/react-on-rails-pro-node-renderer/tests/licenseValidator.test.ts
  react_on_rails_pro/CHANGELOG.md
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix E2E test for Issue #2210 hydration mismatch (#2328)
  react_on_rails/spec/dummy/app/views/pages/manual_render_test.html.erb
Due: none

Simplify license logging: use warn for all license issues
  packages/react-on-rails-pro-node-renderer/src/master.ts
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
Due: autofix, rubocop, eslint, prettier

Restore environment-specific license logging
  packages/react-on-rails-pro-node-renderer/src/master.ts
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix Prettier formatting in license logging
  packages/react-on-rails-pro-node-renderer/src/master.ts
Due: eslint, prettier

Trim whitespace from license env variable in TypeScript
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
Due: eslint, prettier

Address code review feedback for license validation
  packages/react-on-rails-pro-node-renderer/src/master.ts
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  react_on_rails_pro/LICENSE_SETUP.md
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/sig/react_on_rails_pro/license_validator.rbs
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop, eslint, prettier

Remove license requirement for React on Rails Pro - use HTML attribution comment (#2324)
  CHANGELOG.md
  docs/building-features/how-to-conditionally-server-render-based-on-device-type.md
  knip.ts
  packages/react-on-rails-pro-node-renderer/src/master.ts
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseValidator.test.ts
  react_on_rails/lib/react_on_rails/utils.rb
  react_on_rails_pro/CHANGELOG.md
  react_on_rails_pro/CI_SETUP.md
  react_on_rails_pro/LICENSE_SETUP.md
  react_on_rails_pro/README.md
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/lib/react_on_rails_pro/utils.rb
  react_on_rails_pro/sig/react_on_rails_pro/license_validator.rbs
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Add organization name to license JWT validation
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseValidator.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/sig/react_on_rails_pro/license_validator.rbs
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix engine_spec.rb tests by adding org field to payload
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
Due: autofix, rubocop

Support all valid license plan types in TypeScript and Ruby
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop, eslint, prettier

Add organization name to React on Rails Pro license (#2335)
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseValidator.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/sig/react_on_rails_pro/license_validator.rbs
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop, eslint, prettier

Support multiple license plan types (#2332)
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop

Refactor: Extract with_decoded_license helper and add comment
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
Due: autofix, rubocop

Add documentation for plan validation edge cases
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop

Add CHANGELOG_PRO entry for multiple license plan types (#2334)
  react_on_rails_pro/CHANGELOG.md
Due: prettier

Fix engine spec tests to match new license message format
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
Due: autofix, rubocop

Add getLicensePlan() function to TypeScript for API parity
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseValidator.test.ts
Due: eslint, prettier

Add Rspack migration guide and CSS Modules troubleshooting
  docs/README.md
  docs/deployment/troubleshooting.md
  docs/migrating/migrating-from-webpack-to-rspack.md
Due: prettier
