Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Preserve canonical final changelog entries
  script/release-forward-port
  script/release-forward-port-test.bash
Due: none

Route release changelog stamps through reconciliation
  internal/contributor-info/release-train-runbook.md
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop, prettier

Harden release forward-port fallback paths
  script/release-forward-port
  script/release-forward-port-test.bash
Due: none

Match provenance patches across context drift
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

Honor explicit release backport provenance
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

Reconcile final release changelog sections
  script/release-forward-port
  script/release-forward-port-test.bash
Due: none

Recognize narrated backport provenance
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

Trust narrated conflict-resolved forward-ports
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

Harden one-change release forward-port closeout
  AGENTS.md
  internal/contributor-info/release-train-runbook.md
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-finish
  script/release-finish-test.bash
  script/release-forward-port
  script/release-forward-port-test.bash
Due: autofix, rubocop, prettier

Fail closed on release closeout provenance
  internal/contributor-info/release-train-runbook.md
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-finish
  script/release-finish-test.bash
  script/release-forward-port
Due: autofix, rubocop, prettier

Harden release closeout review findings
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-finish
  script/release-finish-test.bash
  script/release-forward-port
Due: autofix, rubocop

Fail closed on remaining provenance edge cases
  internal/contributor-info/release-train-runbook.md
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-finish
  script/release-finish-test.bash
  script/release-forward-port
Due: autofix, rubocop, prettier

Fail closed across release close-out races
  internal/contributor-info/release-train-automation-design.md
  internal/contributor-info/release-train-runbook.md
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-finish
  script/release-finish-test.bash
  script/release-forward-port
Due: autofix, rubocop, prettier

Make release close-out races recoverable
  internal/contributor-info/release-train-automation-design.md
  internal/contributor-info/release-train-runbook.md
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-finish
  script/release-finish-test.bash
  script/release-forward-port
  script/release-forward-port-test.bash
Due: autofix, rubocop, prettier

Fail closed on final release close-out races
  internal/contributor-info/release-train-automation-design.md
  internal/contributor-info/release-train-runbook.md
  script/release-finish
  script/release-finish-test.bash
  script/release-forward-port
  script/release-forward-port-test.bash
Due: prettier

Guard recovery cleanup against source recreation
  internal/contributor-info/release-train-automation-design.md
  internal/contributor-info/release-train-runbook.md
  script/release-finish
  script/release-finish-test.bash
Due: prettier

Require source-bound PR provenance
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

Harden forward-port closeout review gaps
  internal/contributor-info/release-train-runbook.md
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-finish
  script/release-finish-test.bash
  script/release-forward-port
Due: autofix, rubocop, prettier

Fail closed on incomplete forward-port provenance
  internal/contributor-info/release-train-runbook.md
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop, prettier

Require evidence before release closeout skips
  internal/contributor-info/release-train-runbook.md
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop, prettier

Release: enforce one-change forward-port closeout (#4783)
  AGENTS.md
  internal/contributor-info/release-train-automation-design.md
  internal/contributor-info/release-train-runbook.md
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-finish
  script/release-finish-test.bash
  script/release-forward-port
  script/release-forward-port-test.bash
Due: autofix, rubocop, prettier

Release: accept gh include mixed framing
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Release: preserve empty included headers
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Forward-port gh include mixed framing from #4684 (#4784)
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Configure agent workflow repo policy
  .agents/agent-workflow.yml
Due: prettier

Configure agent workflow repo policy (#4785)
  .agents/agent-workflow.yml
Due: prettier

Cover the rspack CSS SSR generator fixes and de-duplicate the loader path
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/serverWebpackConfig.js.tt
  react_on_rails/spec/react_on_rails/generators/base_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
  react_on_rails/spec/react_on_rails/support/generator_spec_helper.rb
Due: autofix, rubocop

Add CHANGELOG entry for the generated loader-path helper
  CHANGELOG.md
Due: prettier

Reuse a customized getLoaderPath instead of redeclaring it
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
  react_on_rails/spec/react_on_rails/support/generator_spec_helper.rb
Due: autofix, rubocop

Drop the refactor-only CHANGELOG entry
  CHANGELOG.md
Due: prettier

Cover the rspack CSS SSR generator fixes and de-duplicate the loader path (#4788)
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/serverWebpackConfig.js.tt
  react_on_rails/spec/react_on_rails/generators/base_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
  react_on_rails/spec/react_on_rails/support/generator_spec_helper.rb
Due: autofix, rubocop

Add golden-output gate for the serverWebpackConfig generator template
  .gitignore
  react_on_rails/spec/react_on_rails/fixtures/generated/README.md
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_base/config/rspack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_pro/config/rspack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_rsc/config/rspack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_base/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_base_shakapacker8/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_pro/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_rsc/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/generators/generator_golden_output_spec.rb
  react_on_rails/spec/react_on_rails/support/generator_spec_helper.rb
Due: autofix, rubocop, eslint, prettier

Prove rule-scope nesting by transform, and catch orphan golden variants
  react_on_rails/spec/react_on_rails/generators/generator_golden_output_spec.rb
Due: autofix, rubocop

Add golden-output gate for the serverWebpackConfig generator template (#4790)
  .gitignore
  react_on_rails/spec/react_on_rails/fixtures/generated/README.md
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_base/config/rspack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_pro/config/rspack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_rsc/config/rspack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_base/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_base_shakapacker8/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_pro/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_rsc/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/generators/generator_golden_output_spec.rb
  react_on_rails/spec/react_on_rails/support/generator_spec_helper.rb
Due: autofix, rubocop, eslint, prettier

Fix OSS npm package license metadata
  packages/react-on-rails/LICENSE.md
  packages/react-on-rails/package.json
  packages/react-on-rails/scripts/check-package-license.mjs
Due: prettier

Fix OSS npm package license metadata (#4792)
  packages/react-on-rails/LICENSE.md
  packages/react-on-rails/package.json
  packages/react-on-rails/scripts/check-package-license.mjs
Due: prettier

Update changelog for 17.0.1.rc.0
  CHANGELOG.md
Due: prettier

Update changelog for 17.0.1.rc.0 (#4793)
  CHANGELOG.md
Due: prettier

Align licensing docs with OSS npm metadata
  docs/DIRECTORY_LICENSING.md
Due: prettier
