Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Tighten PR security preflight diff scanning
  .agents/skills/pr-batch/bin/pr-security-preflight
  .agents/skills/pr-batch/bin/pr-security-preflight-test.rb
Due: autofix, rubocop

Harden PR security preflight follow-ups
  .agents/skills/pr-batch/SKILL.md
  .agents/skills/pr-batch/bin/pr-security-preflight
  .agents/trusted-github-actors.yml
  .agents/workflows/pr-processing.md
Due: prettier

Clarify preflight diff locations
  .agents/skills/pr-batch/bin/pr-security-preflight
  .agents/skills/pr-batch/bin/pr-security-preflight-test.rb
Due: autofix, rubocop

Harden participant coverage preflight
  .agents/skills/pr-batch/bin/pr-security-preflight
  .agents/skills/pr-batch/bin/pr-security-preflight-test.rb
Due: autofix, rubocop

test: align async prop streaming error wording
  packages/react-on-rails-pro-node-renderer/tests/incrementalHtmlStreaming.test.ts
Due: eslint, prettier

Align batch goal security preflight
  .agents/workflows/pr-processing.md
Due: prettier

Clarify preflight hidden participant output
  .agents/skills/pr-batch/bin/pr-security-preflight
  .agents/skills/pr-batch/bin/pr-security-preflight-test.rb
Due: autofix, rubocop

Improve RSC diagnostic stack readability
  packages/react-on-rails-pro/src/rscDiagnostics.ts
  packages/react-on-rails-pro/tests/rscDiagnostics.test.ts
Due: eslint, prettier

Fail closed on missing timeline coverage
  .agents/skills/pr-batch/bin/pr-security-preflight
  .agents/skills/pr-batch/bin/pr-security-preflight-test.rb
Due: autofix, rubocop

Exercise generator CI required gate
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
Due: autofix, rubocop

Harden PR security preflight follow-ups (#4151)
  .agents/skills/pr-batch/SKILL.md
  .agents/skills/pr-batch/bin/pr-security-preflight
  .agents/skills/pr-batch/bin/pr-security-preflight-test.rb
  .agents/trusted-github-actors.yml
  .agents/workflows/pr-processing.md
Due: autofix, rubocop, prettier

agent-workflows: prefer seam-checked installed skills
  .agents/bin/agent-workflow-seam-doctor
  .agents/bin/agent-workflow-seam-doctor-test.rb
  .agents/bin/agent-workflows-sync
  .agents/skills/address-review/SKILL.md
  .agents/skills/update-changelog/SKILL.md
  .agents/workflows/address-review.md
  .agents/workflows/pr-processing.md
  AGENTS.md
  docs/superpowers/specs/2026-06-18-portable-agent-workflows-subtree-design.md
  internal/contributor-info/agent-workflow-adoption.md
  internal/contributor-info/portable-agent-workflows-seam-design.md
Due: autofix, rubocop, prettier

Bound the RSCProvider RSC payload cache with an LRU (#3564) (#4097)
  .bundle-size-skip-branch
  CHANGELOG.md
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCProviderCache.ts
  packages/react-on-rails-pro/src/RSCRoute.tsx
  packages/react-on-rails-pro/src/RSCRouteSuccessfulVersion.ts
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
  packages/react-on-rails-pro/tests/testUtils.ts
Due: eslint, prettier

Docs: point Pro license to purchase site
  REACT-ON-RAILS-PRO-LICENSE.md
Due: prettier

agent-workflows: verify installed skill seams
  .agents/bin/agent-workflow-seam-doctor
  .agents/bin/agent-workflow-seam-doctor-test.rb
  .agents/skills/address-review/SKILL.md
  .agents/skills/plan-pr-batch/SKILL.md
  .agents/skills/post-merge-audit/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/skills/update-changelog/SKILL.md
  .agents/workflows/address-review.md
  .agents/workflows/adversarial-pr-review.md
  .agents/workflows/pr-processing.md
  AGENTS.md
  internal/contributor-info/agent-workflow-adoption.md
  internal/contributor-info/portable-agent-workflows-seam-design.md
Due: autofix, rubocop, prettier

docs: paired ShakaPerf A/B methodology for RSC perf regressions (#4137) (#4142)
  docs/oss/building-features/performance-tracks-and-profiling.md
  llms-full.txt
Due: prettier

test(pro): stabilize mounted RSC cache regression
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

agent-workflows: resolve remaining seam nits
  .agents/skills/update-changelog/SKILL.md
  AGENTS.md
Due: prettier

test(pro): document RSC diagnostic matcher invariants
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/rscDiagnostics.test.ts
Due: eslint, prettier

agent-workflows: clear changelog formatting nit
  .agents/skills/update-changelog/SKILL.md
Due: prettier

Harden generated default locale quoting
  react_on_rails/lib/react_on_rails/locales/base.rb
  react_on_rails/spec/react_on_rails/locales_to_js_spec.rb
Due: autofix, rubocop

Docs: point Pro license to purchase site (#4160)
  REACT-ON-RAILS-PRO-LICENSE.md
Due: prettier

Clarify RSC profiling sample guidance
  docs/oss/building-features/performance-tracks-and-profiling.md
  llms-full.txt
Due: prettier

agent-workflows: address current-head seam review
  .agents/bin/agent-workflow-seam-doctor
  .agents/bin/agent-workflow-seam-doctor-test.rb
  .agents/skills/run-ci/SKILL.md
  .agents/skills/update-changelog/SKILL.md
  .agents/skills/verify/SKILL.md
  AGENTS.md
Due: autofix, rubocop, prettier

agent-workflows: tighten seam edge cases
  .agents/bin/agent-workflow-seam-doctor
  .agents/bin/agent-workflow-seam-doctor-test.rb
  .agents/skills/update-changelog/SKILL.md
Due: autofix, rubocop, prettier

docs: refresh stale external links for link check
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/oss/building-features/testing-configuration.md
  llms-full.txt
Due: prettier

Clarify Wilcoxon sample floor wording
  docs/oss/building-features/performance-tracks-and-profiling.md
  llms-full.txt
Due: prettier

agent-workflows: require changelog seam paths
  .agents/skills/update-changelog/SKILL.md
Due: prettier

Document flagship demo coordination
  AGENTS.md
  AGENTS_USER_GUIDE.md
Due: prettier

Clarify flagship demo update guidance
  AGENTS.md
  AGENTS_USER_GUIDE.md
Due: prettier

Document coordinated batch QA lane
  .agents/workflows/pr-processing.md
Due: prettier

Clarify batch QA evidence expectations
  .agents/workflows/pr-processing.md
Due: prettier

Separate mixed batch QA guidance
  .agents/workflows/pr-processing.md
Due: prettier

Clarify QA lane readiness evidence semantics
  .agents/skills/plan-pr-batch/SKILL.md
  .agents/skills/post-merge-audit/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
Due: prettier

Docs: wire QA evidence through batch planning
  .agents/skills/plan-pr-batch/SKILL.md
  .agents/skills/post-merge-audit/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
Due: prettier

Docs: sync batch QA lane audit guidance
  .agents/skills/post-merge-audit/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
Due: prettier

Docs: clarify batch QA evidence fields
  .agents/workflows/pr-processing.md
Due: prettier

Docs: confirm QA scope in batch audits
  .agents/skills/post-merge-audit/SKILL.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
Due: prettier
