Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

docs(changelog): add entry for deferred-render RSC bundle diagnostic (#4100)
  CHANGELOG.md
Due: prettier

test(pro): add consoleReplayScript to StreamResultChunk type
  packages/react-on-rails-pro/tests/streamBackpressure.e2e.test.tsx
Due: eslint, prettier

Address review nits: preserve eval-devtool note in instructions; blank line before else
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/serverWebpackConfig.js.tt
Due: none

Disable noisy automatic benchmark regression issue filing (#4071)
  .github/workflows/benchmark.yml
  AGENTS.md
Due: prettier

fix(rsc): keep distinct same-component diagnostics, address review nits
  packages/react-on-rails-pro-node-renderer/tests/htmlStreaming.test.js
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/RSCRequestTracker.test.ts
  packages/react-on-rails-pro/tests/streamServerRenderedReactComponent.test.jsx
  packages/react-on-rails/src/types/index.ts
Due: eslint, prettier

Add High-Risk Mode to adversarial-pr-review (#4050)
  .agents/skills/adversarial-pr-review/SKILL.md
  .agents/workflows/adversarial-pr-review.md
Due: prettier

fix(pro): run bounded-cache tests in CI + preserve just-unpinned key (#3564)
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

Docs: address second-pass RSC deep-dive review nits
  docs-internal/rsc-architecture-deep-dive/00-START-HERE.md
  docs-internal/rsc-architecture-deep-dive/03-rsc-npm-package-react19-webpack-vs-rspack.md
  docs-internal/rsc-architecture-deep-dive/04-nextjs-and-turbopack-deep-dive.md
Due: prettier

Docs: correct RSC deep-dive version table, Rspack plugin path, and rspack config index (#4006)
  docs-internal/rsc-architecture-deep-dive/03-rsc-npm-package-react19-webpack-vs-rspack.md
Due: prettier

Docs: correct RSC injectRSCPayload buffer count and server plugin filter list
  docs-internal/rsc-architecture-deep-dive/01-ror-pro-rsc-request-flow.md
  docs-internal/rsc-architecture-deep-dive/02-shakapacker-dev-and-prod-builds.md
Due: prettier

Docs: fix RSC deep-dive review nits (paths, table, footnote)
  docs-internal/rsc-architecture-deep-dive/01-ror-pro-rsc-request-flow.md
  docs-internal/rsc-architecture-deep-dive/02-shakapacker-dev-and-prod-builds.md
  docs-internal/rsc-architecture-deep-dive/03-rsc-npm-package-react19-webpack-vs-rspack.md
  docs-internal/rsc-architecture-deep-dive/05-compare-and-contrast.md
Due: prettier

Add internal RSC architecture deep-dive docs (RoR Pro vs Next.js)
  docs-internal/rsc-architecture-deep-dive/00-START-HERE.md
  docs-internal/rsc-architecture-deep-dive/01-ror-pro-rsc-request-flow.md
  docs-internal/rsc-architecture-deep-dive/02-shakapacker-dev-and-prod-builds.md
  docs-internal/rsc-architecture-deep-dive/03-rsc-npm-package-react19-webpack-vs-rspack.md
  docs-internal/rsc-architecture-deep-dive/04-nextjs-and-turbopack-deep-dive.md
  docs-internal/rsc-architecture-deep-dive/05-compare-and-contrast.md
  docs-internal/rsc-architecture-deep-dive/images/rsc-end-to-end-flow.png
Due: prettier

docs(rsc-deep-dive): fix factual accuracy from review (render API, buffer count, rspack RSC status, version pins)
  docs-internal/rsc-architecture-deep-dive/00-START-HERE.md
  docs-internal/rsc-architecture-deep-dive/01-ror-pro-rsc-request-flow.md
  docs-internal/rsc-architecture-deep-dive/03-rsc-npm-package-react19-webpack-vs-rspack.md
  docs-internal/rsc-architecture-deep-dive/05-compare-and-contrast.md
Due: prettier

ci(pro): add timeout and failure build-log artifact to execjs rspack leg (#4091)
  .github/workflows/pro-integration-tests.yml
Due: prettier

Release-train branching + phase-tiered merge gating (beta/RC/final) (#4018)
  .agents/skills/adversarial-pr-review/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  AGENTS.md
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/release-train-runbook.md
Due: prettier

Disable noisy automatic benchmark regression issue filing (#4071) (#4116)
  .github/workflows/benchmark.yml
  AGENTS.md
Due: prettier

docs: add "Consuming an Unreleased Build" getting-started page (#4114)
  docs/oss/getting-started/consuming-an-unreleased-build.md
  docs/oss/getting-started/examples-and-references.md
  docs/sidebars.ts
Due: eslint, prettier

docs: regenerate llms-full.txt for new unreleased-build page
  llms-full.txt
Due: none

Docs: prettier-format RSC deep-dive files (fix markdown-format-check)
  docs-internal/rsc-architecture-deep-dive/00-START-HERE.md
  docs-internal/rsc-architecture-deep-dive/03-rsc-npm-package-react19-webpack-vs-rspack.md
  docs-internal/rsc-architecture-deep-dive/05-compare-and-contrast.md
Due: prettier

ci(pro): upload Rspack build log on any job failure, not just build step (#4091)
  .github/workflows/pro-integration-tests.yml
Due: prettier

docs: add core react-on-rails npm package to version-pairing list
  docs/oss/getting-started/consuming-an-unreleased-build.md
  llms-full.txt
Due: prettier

Docs: prettier 3.6.2 format fix for compare-and-contrast (markdown-format-check)
  docs-internal/rsc-architecture-deep-dive/05-compare-and-contrast.md
Due: prettier

Add internal RSC architecture deep-dive docs (RoR Pro vs Next.js) (#4006)
  docs-internal/rsc-architecture-deep-dive/00-START-HERE.md
  docs-internal/rsc-architecture-deep-dive/01-ror-pro-rsc-request-flow.md
  docs-internal/rsc-architecture-deep-dive/02-shakapacker-dev-and-prod-builds.md
  docs-internal/rsc-architecture-deep-dive/03-rsc-npm-package-react19-webpack-vs-rspack.md
  docs-internal/rsc-architecture-deep-dive/04-nextjs-and-turbopack-deep-dive.md
  docs-internal/rsc-architecture-deep-dive/05-compare-and-contrast.md
  docs-internal/rsc-architecture-deep-dive/images/rsc-end-to-end-flow.png
Due: prettier

docs: add react-on-rails-pro npm package to version-pairing list
  docs/oss/getting-started/consuming-an-unreleased-build.md
  llms-full.txt
Due: prettier

Add batch cancellation / drain protocol to stop in-flight PR batches
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  AGENTS.md
  internal/contributor-info/agent-coordination-backend.md
Due: prettier

fix(ci): build bundle-size base from PR merge commit's first parent (#4110)
  .github/workflows/bundle-size.yml
Due: prettier

Wrap generated demo file paths in onboarding page (Part 1 of #4062) (#4107)
  react_on_rails/lib/generators/react_on_rails/templates/base/base/app/views/hello_world/index.html.erb.tt
Due: none

Address deferred AI-review feedback on PR-helper scripts (#4069) (#4105)
  .agents/skills/address-review/bin/fetch-pr-review-data
  .agents/skills/address-review/bin/fetch-pr-review-data-test.rb
  .agents/skills/plan-pr-batch/bin/pr-file-touch-map
  .agents/skills/plan-pr-batch/bin/pr-file-touch-map-test.rb
  .agents/skills/pr-batch/SKILL.md
  .agents/skills/pr-batch/bin/pr-ci-readiness
  .agents/skills/pr-batch/bin/pr-ci-readiness-test.rb
  .agents/skills/update-changelog/bin/changelog-merged-prs
  .agents/skills/update-changelog/bin/changelog-merged-prs-test.rb
Due: autofix, rubocop, prettier

docs: fix spurious /repo segment in pnpm git-subdirectory specifier
  CONTRIBUTING.md
  docs/oss/getting-started/consuming-an-unreleased-build.md
  llms-full.txt
Due: prettier

Fix hydration error reporting for thrown values
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/src/errorUtils.ts
  packages/react-on-rails/src/serverRenderUtils.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

Fix ci-local detector JSON parsing
  bin/ci-local
Due: none

Harden ci-local JSON block extractor against CRLF line endings
  bin/ci-local
Due: none

Document ci-local JSON extractor delimiter contract
  bin/ci-local
Due: none

docs: add "Consuming an Unreleased Build" guide and fix pnpm git-subdir syntax (#4117)
  CONTRIBUTING.md
  docs/oss/getting-started/consuming-an-unreleased-build.md
  docs/oss/getting-started/examples-and-references.md
  docs/sidebars.ts
  llms-full.txt
Due: eslint, prettier

Docs(generator): note Pro production devtool for source-mapped SSR stacks (#3893) (#4113)
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/serverWebpackConfig.js.tt
Due: none

Fix pr-merge-ledger UTF-8 crash under non-UTF-8 locale
  react_on_rails/spec/react_on_rails/pr_merge_ledger_script_spec.rb
  script/pr-merge-ledger
Due: autofix, rubocop

Local benchmark runner: raise the server-boot timeout for slower machines (#4073)
  benchmarks/run-local-benchmark.rb
Due: autofix, rubocop

Validate BENCHMARK_SERVER_BOOT_TIMEOUT is a positive integer (#4073)
  benchmarks/run-local-benchmark.rb
Due: autofix, rubocop

Local benchmark runner: raise server-boot timeout for slower machines (#4073) (#4125)
  benchmarks/run-local-benchmark.rb
Due: autofix, rubocop

Address claude-review doc nits: concrete sync step, trim YAML comment, agent_note wording
  PROMPTS.md
  prompts.yml
Due: prettier
