Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Fix async props race conditions (#2297)
  packages/react-on-rails-pro-node-renderer/src/shared/constants.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleGracefulShutdown.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/projects/spec-dummy/asyncComponentsTreeForTestingRenderingRequest.js
  packages/react-on-rails-pro-node-renderer/tests/fixtures/secondary-bundle-incremental.js
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails-pro/src/capabilities/proMethods.ts
  packages/react-on-rails-pro/src/capabilities/proRSC.ts
  packages/react-on-rails-pro/tests/AsyncPropManager.test.ts
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/capabilities/core.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/lib/react_on_rails_pro/httpx_stream_bidi_patch.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/node_rendering_pool.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/renderer/node-renderer.js
  react_on_rails_pro/spec/dummy/spec/requests/incremental_rendering_integration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_js_code_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/node_rendering_pool_spec.rb
Due: autofix, rubocop, eslint, prettier

Add script to publish built JS packages to dist repo (#2767)
  scripts/publish-to-builds-repo.sh
Due: none

Fix test failures after rebase onto main's refactored upload-assets endpoint
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

Replace NDJSON envelope with length-prefixed streaming protocol (#2615)
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/concurrentHtmlStreaming.test.ts
  packages/react-on-rails-pro-node-renderer/tests/handleRenderRequest.test.ts
  packages/react-on-rails-pro-node-renderer/tests/htmlStreaming.test.js
  packages/react-on-rails-pro-node-renderer/tests/httpRequestUtils.ts
  packages/react-on-rails-pro-node-renderer/tests/parseLengthPrefixedStream.ts
  packages/react-on-rails-pro-node-renderer/tests/streamErrorHang.test.ts
  packages/react-on-rails-pro/src/getReactServerComponent.client.ts
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/src/parseLengthPrefixedStream.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  packages/react-on-rails-pro/src/transformRSCNodeStream.ts
  packages/react-on-rails-pro/src/transformRSCStreamAndReplayConsoleLogs.ts
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
  packages/react-on-rails-pro/tests/streamServerRenderedReactComponent.test.jsx
  packages/react-on-rails-pro/tests/transformRSCStreamAndReplayConsoleLogs.test.ts
  packages/react-on-rails-pro/tests/utils/removeRSCChunkStack.ts
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/base/full.rsc.ts
  packages/react-on-rails/src/base/full.ts
  packages/react-on-rails/src/serverRenderReactComponent.ts
  packages/react-on-rails/src/serverRenderUtils.ts
  packages/react-on-rails/src/types/index.ts
  packages/react-on-rails/tests/serverRenderReactComponent.test.ts
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails/lib/react_on_rails/length_prefixed_parser.rb
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/dummy/spec/helpers/react_on_rails_helper_spec.rb
  react_on_rails/spec/dummy/spec/requests/server_render_check_spec.rb
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/app/views/react_on_rails_pro/rsc_payload.text.erb
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
  react_on_rails_pro/spec/dummy/spec/requests/rsc_payload_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_integration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_request_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix typecheck failures after rebase onto main's capability architecture
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro/src/getReactServerComponent.client.ts
  packages/react-on-rails/src/capabilities/ssr.ts
Due: eslint, prettier

Fix RSC streaming: use React's flush() signal instead of setTimeout(0) (#3196)
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/tests/htmlStreaming.test.js
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  react_on_rails_pro/spec/dummy/spec/requests/incremental_rendering_integration_spec.rb
Due: autofix, rubocop, eslint, prettier

Unify incremental rendering to use length-prefixed protocol (#3195)
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop

Remove unused eslint-disable directive after FastifyRequest import removal
  packages/react-on-rails-pro-node-renderer/src/worker.ts
Due: eslint, prettier

Remove proMethods stubs that overrode proRSC's real implementation
  packages/react-on-rails-pro/src/capabilities/proMethods.ts
Due: eslint, prettier

Fix CI: prettier, CodeQL alerts on rebased branch
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/htmlStreaming.test.js
Due: eslint, prettier

Add test suite for async props, LPP, and incremental rendering error scenarios (#3300) (#3308)
  packages/react-on-rails-pro-node-renderer/tests/handleIncrementalRenderStream.test.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
  packages/react-on-rails-pro/src/parseLengthPrefixedStream.ts
  react_on_rails/lib/react_on_rails/length_prefixed_parser.rb
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/dummy/spec/requests/incremental_rendering_integration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_request_spec.rb
Due: autofix, rubocop, eslint, prettier

Wire prepareRenderResult into capability architecture
  packages/react-on-rails/src/capabilities/core.ts
  packages/react-on-rails/src/capabilities/ssr.rsc.ts
  packages/react-on-rails/src/capabilities/ssr.ts
Due: eslint, prettier

Clean up renderer cache review polish
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
  react_on_rails_pro/spec/dummy/spec/prepare_node_renderer_bundles_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_cache_path_spec.rb
Due: autofix, rubocop

Clarify RuboCop lint contract
  .rubocop.yml
  AGENTS.md
  Gemfile
Due: prettier

fix pro gem swap to remove stale base gem when pro entry exists
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Make documented RuboCop commands location-safe
  .rubocop.yml
  AGENTS.md
Due: prettier

Polish RuboCop lint guidance
  .rubocop.yml
  AGENTS.md
Due: prettier

Restore Metrics/ModuleLength limit to 180
  .rubocop.yml
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro.rb
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/lib/react_on_rails_pro/renderer_cache_path.rb
  react_on_rails_pro/lib/react_on_rails_pro/utils.rb
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
  react_on_rails_pro/spec/dummy/spec/prepare_node_renderer_bundles_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_cache_path_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/utils_spec.rb
Due: autofix, rubocop, prettier

fix: stale references and lost Gemfile pins after Pro migration (#3104)
  .lychee.toml
  CHANGELOG.md
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/pro_migration.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop, prettier

chore: remove temporal/debug artifacts not meant for main
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
  react_on_rails_pro/app/views/react_on_rails_pro/rsc_payload.text.erb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/rsc_payload.text.erb
  react_on_rails_pro/spec/dummy/renderer/node-renderer.js
Due: autofix, rubocop, eslint, prettier

docs(changelog): correct and complete entries for async props PR
  CHANGELOG.md
Due: prettier

Fix shallow CI diff detection
  script/check-docs-sidebar
  script/ci-changes-detector
  script/lib/git-diff-base
Due: none

Harden shallow diff base fetches
  script/lib/git-diff-base
Due: none

Surface diff-base fetch failures
  script/lib/git-diff-base
Due: none

Add changelog for shallow CI diffs
  CHANGELOG.md
Due: prettier

Harden shallow diff-base review fixes
  script/check-docs-sidebar
  script/ci-changes-detector
  script/lib/git-diff-base
Due: none

Handle raw SHA diff bases in shallow clones
  script/check-docs-sidebar
  script/lib/git-diff-base
Due: none

Support push SHA diff bases in shallow clones
  script/ci-changes-detector
  script/lib/git-diff-base
Due: none

Tighten diff-base fetch policy handling
  script/lib/git-diff-base
Due: none

Document shallow diff debug paths
  script/lib/git-diff-base
Due: none

Clarify shallow diff helper comments
  script/lib/git-diff-base
Due: none

Clarify diff-base fetch fallback failures
  script/lib/git-diff-base
Due: none

Clarify shallow diff retry state
  script/lib/git-diff-base
Due: none

Clarify shallow diff review details
  script/ci-changes-detector
  script/lib/git-diff-base
Due: none

Clarify shallow diff recovery diagnostics
  script/ci-changes-detector
  script/lib/git-diff-base
Due: none

Clarify shallow diff fetch policies
  script/check-docs-sidebar
  script/ci-changes-detector
  script/lib/git-diff-base
Due: none

Validate diff-base fetch depth
  script/lib/git-diff-base
Due: none
