Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Docs: Clarify .client/.server suffixes vs use client RSC directive (#2406)
  .claude/docs/project-architecture.md
  AGENTS.md
  docs/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  docs/getting-started/project-structure.md
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails_pro/docs/react-server-components/glossary.md
Due: autofix, rubocop, prettier

Fix review issues: error message text, import paths, SWC description
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Add React on Rails-specific troubleshooting to RSC migration docs
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Simplify backpressure error catalog entry
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Simplify fixed-bug sections to symptoms + version
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Remove GOAWAY connection reset section
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Fix: react-on-rails is a direct dependency, not a peer dependency
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Rename validate_no_duplicate_packages! section to user-facing title
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Add gem/npm package version mismatch troubleshooting section
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Remove RSC WebpackLoader with SWC section
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Add React on Rails-specific troubleshooting to RSC migration docs (#2550)
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Fix prettier formatting in auto-bundling doc
  docs/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
Due: prettier

fix: use ${PORT:-3000} in Procfile.dev template to avoid worktree port conflicts
  react_on_rails/lib/generators/react_on_rails/templates/base/base/Procfile.dev
Due: none

fix: use ${PORT:-N} in Procfile variant templates
  react_on_rails/lib/generators/react_on_rails/templates/base/base/Procfile.dev-prod-assets
  react_on_rails/lib/generators/react_on_rails/templates/base/base/Procfile.dev-static-assets
Due: none

test: fill coverage gaps in PortSelector and procfile_port
  react_on_rails/spec/react_on_rails/dev/port_selector_spec.rb
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

docs: document worktree port configuration with .env pattern
  docs/building-features/process-managers.md
Due: prettier

feat: add PortSelector for automatic free port detection
  react_on_rails/lib/react_on_rails/dev/port_selector.rb
  react_on_rails/spec/react_on_rails/dev/port_selector_spec.rb
Due: autofix, rubocop

test: assert env-var ports and .env.example in base generator output
  react_on_rails/spec/react_on_rails/support/shared_examples/base_generator_examples.rb
Due: autofix, rubocop

feat: add .env.example template for per-worktree port configuration
  react_on_rails/lib/generators/react_on_rails/templates/base/base/.env.example
Due: none

feat: copy .env.example during generator install
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
Due: autofix, rubocop

feat: wire PortSelector into ServerManager before process manager starts
  react_on_rails/lib/react_on_rails/dev.rb
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

docs: update worktree section — auto port detection is now zero-config
  docs/building-features/process-managers.md
Due: prettier

docs(process-managers): add language tag to fenced code block (MD040)
  docs/building-features/process-managers.md
Due: prettier

docs(process-managers): fix stale process names in Procfile.dev snippet
  docs/building-features/process-managers.md
Due: prettier

test(generator): assert Procfile.dev-prod-assets uses env-var-driven port
  react_on_rails/spec/react_on_rails/support/shared_examples/base_generator_examples.rb
Due: autofix, rubocop

docs(process-managers): warn direct foreman users about PORT injection
  docs/building-features/process-managers.md
Due: prettier

refactor(port_selector): remove unused WEBPACK_OFFSET and deduplicate method call
  react_on_rails/lib/react_on_rails/dev/port_selector.rb
Due: autofix, rubocop

fix(server_manager): configure ports before printing the access URL banner
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

docs(generator): clarify PORT default differs between Procfile variants
  react_on_rails/lib/generators/react_on_rails/templates/base/base/.env.example
Due: none

fix(server_manager): rescue NoPortAvailable in configure_ports for clean exit
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

fix(port_selector): probe the unset side in single-ENV branches
  react_on_rails/lib/react_on_rails/dev/port_selector.rb
  react_on_rails/spec/react_on_rails/dev/port_selector_spec.rb
Due: autofix, rubocop

docs(port_selector): document TOCTOU limitation in port_available?
  react_on_rails/lib/react_on_rails/dev/port_selector.rb
Due: autofix, rubocop

test(server_manager): restore ENV vars instead of deleting in port config context
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

fix: probe Rails and webpack ports independently in find_free_pair
  react_on_rails/lib/react_on_rails/dev/port_selector.rb
  react_on_rails/spec/react_on_rails/dev/port_selector_spec.rb
Due: autofix, rubocop

fix(server_manager): pass auto-detected port to print_server_info in static mode
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

test(server_manager): clear ENV before each example to prevent order-dependent failures
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

fix(generator): add .env to .gitignore so port config is not accidentally committed
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
Due: autofix, rubocop

fix(server_manager): use procfile_port in run_production_like banner
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

refactor(port_selector): simplify select_ports with ||= pattern
  react_on_rails/lib/react_on_rails/dev/port_selector.rb
Due: autofix, rubocop
