Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

docs: distinguish Buffer/TextEncoder root causes and add Buffer polyfill example
  docs/oss/core-concepts/client-vs-server-rendering.md
  docs/oss/core-concepts/execjs-limitations.md
Due: prettier

docs: address review feedback on renderFunction, Navigate SSR, matrix footnote, and legacy framing
  docs/oss/api-reference/javascript-api.md
  docs/oss/building-features/react-router.md
  docs/oss/core-concepts/render-functions.md
  docs/pro/react-server-components/create-without-ssr.md
Due: prettier

Update async gem constraint and add Codex config
  .Codex/napkin.md
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: prettier

docs: address second round of review feedback on RSC pitfalls
  docs/oss/building-features/node-renderer/basics.md
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
Due: prettier

fix: cap webpack <5.106.0 to prevent ExecJS SSR breakage
  package.json
  pnpm-lock.yaml
  react_on_rails/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: prettier

fix: align webpack lower bound to >=5.76.0 across all workspaces
  package.json
  pnpm-lock.yaml
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: prettier

fix: prevent capability downgrades on ReactOnRails reinit
  packages/react-on-rails/src/createReactOnRails.ts
  packages/react-on-rails/tests/createReactOnRails.test.js
Due: eslint, prettier

fix: address third round of PR review feedback
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/.github/workflows/ci.yml.tt
Due: autofix, rubocop

Add comprehensive --rsc-pro generator tests (#3098)
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

refactor: deduplicate reactOnRailsPageLoaded across proLifecycle and proClientStartup
  packages/react-on-rails-pro/src/capabilities/proLifecycle.ts
  packages/react-on-rails-pro/src/proClientStartup.ts
Due: eslint, prettier

Consolidate CSP nonce sanitization into shared module (#2828)
  .lychee.toml
  PROJECTS.md
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/src/transformRSCStreamAndReplayConsoleLogs.ts
  packages/react-on-rails-pro/src/utils.ts
  packages/react-on-rails/package.json
  packages/react-on-rails/src/RenderUtils.ts
  packages/react-on-rails/src/sanitizeNonce.ts
  packages/react-on-rails/tests/sanitizeNonce.test.ts
Due: eslint, prettier

Add File.exist? stubs to remaining doctor test contexts
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

docs: fix polyfill link audience and unsafe webpack config example
  docs/oss/core-concepts/client-vs-server-rendering.md
  docs/oss/core-concepts/execjs-limitations.md
Due: prettier

fix: remove dead engine initializer and add rails_context type guard
  react_on_rails/lib/react_on_rails/engine.rb
  react_on_rails/lib/react_on_rails/render_request.rb
  react_on_rails/spec/react_on_rails/render_request_spec.rb
Due: autofix, rubocop

docs: fix Promise streaming support and ❌ footnote accuracy in matrix
  docs/oss/core-concepts/render-functions.md
Due: prettier

fix: graceful HMR handling and validation test coverage for createReactOnRails
  packages/react-on-rails-pro/src/capabilities/proStreaming.ts
  packages/react-on-rails/src/ReactOnRails.client.ts
  packages/react-on-rails/src/createReactOnRails.ts
  packages/react-on-rails/tests/createReactOnRails.test.js
Due: eslint, prettier

docs: fix useFormStatus import source and MessageChannel recommendation order
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
Due: prettier

Add Rspack + RSC compatibility tests and documentation
  docs/pro/react-server-components/rspack-compatibility.md
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop, prettier

feat: add CI guard requiring sidebar updates when adding docs (#3089)
  .github/workflows/check-docs-sidebar.yml
  AGENTS.md
  bin/ci-local
  docs/.sidebar-exclusions
  script/check-docs-sidebar
Due: prettier

docs: address review feedback on polyfill docs
  docs/oss/core-concepts/client-vs-server-rendering.md
Due: prettier

Doctor: accept TS/TSX server bundle suffixes (#3111)
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, prettier

Address PR review feedback on RSC generator specs
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

docs: fix error key behavior, matrix footnote accuracy, and immediate_hydration note
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/core-concepts/render-functions.md
Due: prettier

fix: avoid mutating caller's options object in setOptions
  packages/react-on-rails/src/capabilities/core.ts
Due: eslint, prettier

fix: harden rails_context_json and add RBS type signatures
  react_on_rails/Steepfile
  react_on_rails/lib/react_on_rails/render_request.rb
  react_on_rails/sig/react_on_rails.rbs
  react_on_rails/sig/react_on_rails/js_code_builder.rbs
  react_on_rails/sig/react_on_rails/render_request.rbs
  react_on_rails/sig/react_on_rails/rendering_strategy.rbs
  react_on_rails/sig/react_on_rails/rendering_strategy/exec_js_strategy.rbs
  react_on_rails/spec/react_on_rails/render_request_spec.rb
Due: autofix, rubocop

fix: clarify webpack override comment — update upper bound, don't remove
  package.json
Due: prettier

Address review feedback: config overrides, duplicate IDs, and cleanup
  .Codex/napkin.md
  .gitignore
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/non_existing_rsc_payload.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/stream_shell_error_demo.html.erb
Due: autofix, rubocop, prettier

Enhance address-review with parallel fixes, self-review gate, and Greptile verification
  .agents/workflows/address-review.md
  .claude/commands/address-review.md
Due: prettier

Add missing sidebar entry for Rspack compatibility doc
  docs/sidebars.ts
Due: eslint, prettier

docs: fix CI readiness probe for h2c and correct bundle path guidance
  docs/oss/building-features/node-renderer/basics.md
Due: prettier

docs: add target:node warning for mini_racer and fix Node Renderer link
  docs/oss/core-concepts/client-vs-server-rendering.md
Due: prettier

fix: improve browser launcher hints for WSL and non-WSL Linux
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
Due: autofix, rubocop

fix: use cheap-module-source-map devtool for SSR bundles to fix webpack 5.106.0 regression
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/serverWebpackConfig.js.tt
  react_on_rails/spec/dummy/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/support/generator_spec_helper.rb
  react_on_rails_pro/spec/dummy/config/webpack/serverWebpackConfig.js
  react_on_rails_pro/spec/execjs-compatible-dummy/config/webpack/serverWebpackConfig.js
Due: autofix, rubocop, eslint, prettier

fix: address deferred review items from PR #2849
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

fix: address review feedback on browser auto-open
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

fix: avoid webpack 5.106.0 default export runtime crash
  packages/react-on-rails/tests/scriptSanitizedVal.test.js
Due: eslint, prettier

fix: address review feedback — init saved var, scope devtool to dev
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/serverWebpackConfig.js.tt
  react_on_rails/spec/dummy/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
  react_on_rails/spec/react_on_rails/support/generator_spec_helper.rb
  react_on_rails_pro/spec/dummy/config/webpack/serverWebpackConfig.js
  react_on_rails_pro/spec/execjs-compatible-dummy/config/webpack/serverWebpackConfig.js
Due: autofix, rubocop, eslint, prettier

Add Section 4.1: complimentary OSS license policy for Pro
  REACT-ON-RAILS-PRO-LICENSE.md
Due: prettier

docs: fix render function/helper API documentation (#3088)
  docs/oss/api-reference/javascript-api.md
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/building-features/react-router.md
  docs/oss/core-concepts/render-functions.md
  docs/oss/getting-started/using-react-on-rails.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/inside-client-components.md
Due: prettier
