Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Test default provider cache reuse for deferred routes
  packages/react-on-rails-pro/tests/deferredRouteSsr.test.tsx
Due: eslint, prettier

Clarify deferred RSCRoute Suspense guidance
  docs/pro/react-server-components/inside-client-components.md
Due: prettier

Clarify non-streaming RSCRoute support boundary
  docs/pro/react-server-components/inside-client-components.md
  internal/planning/3101-rsc-route-ssr-false.md
Due: prettier

fix: make cross-channel prerelease warning actually fire
  react_on_rails/rakelib/update_changelog.rake
  react_on_rails/spec/react_on_rails/update_changelog_rake_helpers_spec.rb
Due: autofix, rubocop

Fix TanStack Router hydration stores
  CHANGELOG.md
  packages/react-on-rails-pro/src/tanstack-router/clientHydrate.ts
  packages/react-on-rails-pro/tests/tanstackRouter.test.ts
Due: eslint, prettier

Fail loudly on TanStack server suspension
  packages/react-on-rails-pro/src/tanstack-router/serverRender.ts
  packages/react-on-rails-pro/tests/tanstackRouter.test.ts
Due: eslint, prettier

Address TanStack Router hydration review feedback
  packages/react-on-rails-pro/src/tanstack-router/clientHydrate.ts
  packages/react-on-rails-pro/tests/tanstackRouter.test.ts
Due: eslint, prettier

Address TanStack Router hydration review follow-ups
  packages/react-on-rails-pro/src/tanstack-router/clientHydrate.ts
  packages/react-on-rails-pro/src/tanstack-router/serverRender.ts
  packages/react-on-rails-pro/tests/tanstackRouter.test.ts
Due: eslint, prettier

Surface TanStack hydration fallback warnings
  packages/react-on-rails-pro/src/tanstack-router/clientHydrate.ts
  packages/react-on-rails-pro/src/tanstack-router/serverRender.ts
  packages/react-on-rails-pro/tests/tanstackRouter.test.ts
Due: eslint, prettier

Address TanStack hydration review feedback
  packages/react-on-rails-pro/src/tanstack-router/clientHydrate.ts
  packages/react-on-rails-pro/tests/tanstackRouter.test.ts
Due: eslint, prettier

Address TanStack hydration review nits
  CHANGELOG.md
  packages/react-on-rails-pro/src/tanstack-router/clientHydrate.ts
  packages/react-on-rails-pro/src/tanstack-router/serverRender.ts
  packages/react-on-rails-pro/tests/tanstackRouter.test.ts
Due: eslint, prettier

Expose stores on public TanStackRouter type
  packages/react-on-rails-pro/src/tanstack-router/clientHydrate.ts
  packages/react-on-rails-pro/src/tanstack-router/types.ts
  packages/react-on-rails-pro/tests/tanstackRouter.test.ts
Due: eslint, prettier

Fix CI: dedupe React in jest and drop server Suspense wrap
  packages/react-on-rails-pro/jest.config.js
  packages/react-on-rails-pro/src/tanstack-router/serverRender.ts
  packages/react-on-rails-pro/tests/tanstackRouter.test.ts
Due: eslint, prettier

Fix shellcheck disable code in bin/check-links
  bin/check-links
Due: none

chore: add pnpm 10 build allowlist and update Docker example
  docs/oss/deployment/docker-deployment.md
  package.json
Due: prettier

Address remaining TanStack hydration review nits
  packages/react-on-rails-pro/jest.config.js
  packages/react-on-rails-pro/src/tanstack-router/clientHydrate.ts
  packages/react-on-rails-pro/src/tanstack-router/types.ts
  packages/react-on-rails-pro/tests/tanstackRouter.test.ts
Due: eslint, prettier

fix: make cross-channel prerelease warning actually fire (#3417)
  react_on_rails/rakelib/update_changelog.rake
  react_on_rails/spec/react_on_rails/update_changelog_rake_helpers_spec.rb
Due: autofix, rubocop

Guard fresh inject path against existing rscClientReferences
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

ci: pin lycheeVersion to v0.23.0 in markdown-link workflow
  .github/workflows/check-markdown-links.yml
Due: prettier

Make more install operations immutable in CI
  .github/workflows/examples.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/playwright.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
  CHANGELOG.md
  react_on_rails/Gemfile.lock
Due: prettier

Document RSC migration verification change and clarify invariants
  docs/oss/migrating/rsc-preparing-app.md
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
Due: autofix, rubocop, prettier

feat: implement per-scheduler persistent HTTP client storage
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
Due: autofix, rubocop

Clarify deferred RSCRoute provider docs
  docs/pro/react-server-components/inside-client-components.md
Due: prettier

Remove redundant stream prerender option
  react_on_rails_pro/spec/dummy/app/views/pages/unwrapped_rsc_route_stream_render.html.erb
Due: none

fix: address critical review feedback for per-scheduler client storage
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/sig/react_on_rails_pro/renderer_http_client.rbs
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
Due: autofix, rubocop

fix: resolve Lint/EmptyBlock rubocop offenses in tests
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
Due: autofix, rubocop

fix: update configuration tests to match new pool_size semantics
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
Due: autofix, rubocop

Fix default provider hydration metadata
  packages/react-on-rails-pro/src/ClientSideRenderer.ts
  packages/react-on-rails-pro/src/registerDefaultRSCProvider.client.tsx
  packages/react-on-rails-pro/tests/ClientSideRenderer.test.ts
  packages/react-on-rails-pro/tests/registerDefaultRSCProvider.client.manifest.test.js
  react_on_rails/lib/react_on_rails/pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix Pro helper render options spec double
  react_on_rails/spec/dummy/spec/helpers/react_on_rails_helper_spec.rb
Due: autofix, rubocop

Use Bundler env for CI install path
  .github/workflows/benchmark.yml
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/playwright.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

Fix turbolinks issue on CI
  CONTRIBUTING.md
  rakelib/task_helpers.rb
  react_on_rails/rakelib/run_rspec.rake
  react_on_rails/rakelib/task_helpers.rb
Due: autofix, rubocop, prettier

Update a lockfile
  .gitignore
  react_on_rails_pro/.gitignore
Due: none

Fix CI
  .github/workflows/pro-integration-tests.yml
Due: prettier

Add Lockfile Platforms note
  .github/workflows/lint-js-and-ruby.yml
  CONTRIBUTING.md
  script/check-gemfile-lock-platforms
Due: prettier

Refresh gem caches
  .github/workflows/benchmark.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

Fix incorrect references to root Gemfile.lock
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  CONTRIBUTING.md
Due: prettier

Additional caching
  .github/workflows/playwright.yml
Due: prettier

Freeze CI lockfile installs outside minimum jobs (#3404)
  .github/workflows/benchmark.yml
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/playwright.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  rakelib/task_helpers.rb
  react_on_rails/Gemfile.lock
  react_on_rails/rakelib/run_rspec.rake
  react_on_rails/rakelib/task_helpers.rb
  react_on_rails_pro/.gitignore
  script/check-gemfile-lock-platforms
Due: autofix, rubocop, prettier

Fix Playwright dummy bundle path
  .github/workflows/playwright.yml
  CHANGELOG.md
Due: prettier

Fix Playwright dummy app bundle path (#3430)
  .github/workflows/playwright.yml
  CHANGELOG.md
Due: prettier
