Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Run RSpec for minimum version examples with bundler isolation
  react_on_rails/rakelib/run_rspec.rake
Due: autofix, rubocop

Fix ConnectionPool.new to use keyword arguments for Ruby 3.4
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
Due: autofix, rubocop

Fix TypeScript compatibility with @types/react-dom@19
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/src/reactApis.cts
  packages/react-on-rails/src/types/index.ts
Due: eslint, prettier

Update pnpm lockfile after rebase
  pnpm-lock.yaml
Due: prettier

Fix compatibility with connection_pool >= 3.0
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
Due: autofix, rubocop

Fix minimum version examples by adding npm overrides for React 18
  react_on_rails/rakelib/shakapacker_examples.rake
Due: autofix, rubocop

Add React 17 and 18 compatibility testing to generator examples
  .github/workflows/examples.yml
  packages/react-on-rails/src/reactApis.cts
  react_on_rails/rakelib/example_type.rb
  react_on_rails/rakelib/examples_config.yml
  react_on_rails/rakelib/run_rspec.rake
  react_on_rails/rakelib/shakapacker_examples.rake
Due: autofix, rubocop, prettier

Regenerate Shakapacker binstubs after version downgrade
  react_on_rails/rakelib/shakapacker_examples.rake
Due: autofix, rubocop

Consolidate beta.11 into beta.13 and organize changelog categories
  CHANGELOG.md
Due: prettier

Fix CI change detection for generator files
  script/ci-changes-detector
Due: none

Add bin/setup for unified development environment setup
  CONTRIBUTING.md
  bin/setup
Due: prettier

Improve ci-changes-detector comments
  script/ci-changes-detector
Due: none

Add missing PR #2137 to Pro changelog
  react_on_rails_pro/CHANGELOG.md
Due: prettier

Fix workflow step name to document minimum supported versions
  .github/workflows/examples.yml
Due: prettier

Fix Shakapacker version mismatch by running npm install before binstubs
  react_on_rails/rakelib/shakapacker_examples.rake
Due: autofix, rubocop

Add runtime validation for legacy React APIs
  packages/react-on-rails/src/reactApis.cts
Due: none

Update Pro changelog with v16.2.0.beta.13 version header and diff links
  react_on_rails_pro/CHANGELOG.md
Due: prettier

Trigger gem tests when generator files change
  script/ci-changes-detector
Due: none

Update CHANGELOG for v16.2.0.beta.13 (#2174)
  CHANGELOG.md
  react_on_rails_pro/CHANGELOG.md
Due: prettier

Apply Prettier formatting to CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier

Address review comments: enhance bin/setup robustness
  CONTRIBUTING.md
  bin/setup
Due: prettier

Rename RUBY_CHANGED to RUBY_CORE_CHANGED for clarity
  script/ci-changes-detector
Due: none

Fix YAML syntax error in examples workflow step name
  .github/workflows/examples.yml
Due: prettier

Document edge cases for /run-skipped-ci workflow (#2129)
  CONTRIBUTING.md
Due: prettier

Fix CI change detection for generator files (#2189)
  script/ci-changes-detector
Due: none

Add ReScript build step before assets:precompile
  .github/workflows/precompile-check.yml
Due: prettier

Add CI workflow to check assets:precompile output for failures
  .github/workflows/precompile-check.yml
Due: prettier

Add generate_packs step before assets:precompile
  .github/workflows/precompile-check.yml
Due: prettier

Improve precompile validation with empty output detection and gem errors
  .github/workflows/precompile-check.yml
  script/validate-precompile-output
Due: prettier

Address PR review feedback for precompile check workflow
  .github/workflows/precompile-check.yml
Due: prettier

Add additional precompile output checks from issue #2081
  .github/workflows/precompile-check.yml
Due: prettier

Refactor precompile validation into reusable script
  .github/workflows/precompile-check.yml
  script/validate-precompile-output
Due: prettier

Improve precompile validation error messages
  script/validate-precompile-output
Due: none

Add pnpm-lock.yaml for dummy app
  react_on_rails/spec/dummy/pnpm-lock.yaml
Due: prettier

Fix yalc add to use --link flag for pnpm lockfile compatibility
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/precompile-check.yml
Due: prettier

Fix pnpm frozen-lockfile for minimum dependency config
  .github/workflows/integration-tests.yml
Due: prettier

Add assets:clobber step before precompile in CI
  .github/workflows/precompile-check.yml
Due: prettier

Improve bin/setup robustness and documentation
  bin/setup
Due: none

Add bin/setup for unified development environment setup (#2191)
  CONTRIBUTING.md
  bin/setup
Due: prettier

Address review feedback: remove pnpm-lock.yaml and improve patterns
  .github/workflows/precompile-check.yml
  react_on_rails/spec/dummy/pnpm-lock.yaml
  script/validate-precompile-output
Due: prettier
