Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Teach root lint about isolated eval dependencies
  eslint.config.ts
Due: eslint, prettier

feat: offer Pro during existing-app setup
  CHANGELOG.md
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop, prettier

docs: link installer prompt PR in changelog
  CHANGELOG.md
Due: prettier

Close agent eval redaction gaps
  internal/agent-evals/pro-app-buildability/.prettierignore
  internal/agent-evals/pro-app-buildability/README.md
  internal/agent-evals/pro-app-buildability/bin/run-eval
  internal/agent-evals/pro-app-buildability/bin/sanitize-events.pl
  internal/agent-evals/pro-app-buildability/bin/sensitive-values.mjs
  internal/agent-evals/pro-app-buildability/schemas/run.schema.json
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: prettier

Record hardened isolated eval evidence
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final7-isolated-probe/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final8-isolated-probe/SHA256SUMS
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final8-isolated-probe/agent-report.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final8-isolated-probe/artifact-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final8-isolated-probe/command-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final8-isolated-probe/invocation.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final8-isolated-probe/prompt.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final8-isolated-probe/rubric-results.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final8-isolated-probe/rubric.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final8-isolated-probe/run.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final8-isolated-probe/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final8-isolated-probe/sandbox-network-probe.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final8-isolated-probe/scenario.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final8-isolated-probe/workspace-status.txt
Due: prettier

Bound agent-controlled eval evidence reads
  internal/agent-evals/pro-app-buildability/README.md
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: prettier

Refresh isolated eval after evidence bounds
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final8-isolated-probe/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/SHA256SUMS
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/agent-report.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/artifact-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/command-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/invocation.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/prompt.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/rubric-results.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/rubric.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/run.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/sandbox-network-probe.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/scenario.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/workspace-status.txt
Due: prettier

fix: make installer prompt automation-safe
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop, prettier

fix: preserve OSS choice in recovery command
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Harden agent eval evidence boundaries
  internal/agent-evals/pro-app-buildability/README.md
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/bin/derive-network-probe.mjs
  internal/agent-evals/pro-app-buildability/bin/evidence-limits.mjs
  internal/agent-evals/pro-app-buildability/bin/probe-allows-scaffold
  internal/agent-evals/pro-app-buildability/bin/run-eval
  internal/agent-evals/pro-app-buildability/bin/validate-json.mjs
  internal/agent-evals/pro-app-buildability/bin/validate-network-probe.mjs
  internal/agent-evals/pro-app-buildability/schemas/artifact-evidence.schema.json
  internal/agent-evals/pro-app-buildability/schemas/command-evidence.schema.json
  internal/agent-evals/pro-app-buildability/schemas/invocation.schema.json
  internal/agent-evals/pro-app-buildability/schemas/network-probe.schema.json
  internal/agent-evals/pro-app-buildability/schemas/run.schema.json
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: prettier

Record network-off agent eval evidence
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final10-network-off/SHA256SUMS
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final10-network-off/agent-report.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final10-network-off/artifact-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final10-network-off/command-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final10-network-off/invocation.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final10-network-off/prompt.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final10-network-off/rubric-results.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final10-network-off/rubric.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final10-network-off/run.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final10-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final10-network-off/sandbox-network-probe.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final10-network-off/scenario.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final10-network-off/workspace-status.txt
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/SHA256SUMS
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/artifact-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/command-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final9-isolated-probe/sandbox-network-probe.json
Due: prettier

Redact structured credential values
  internal/agent-evals/pro-app-buildability/bin/sanitize-events.pl
  internal/agent-evals/pro-app-buildability/bin/sensitive-values.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Refresh network-off eval evidence
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final10-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final11-network-off/SHA256SUMS
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final11-network-off/agent-report.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final11-network-off/artifact-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final11-network-off/command-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final11-network-off/invocation.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final11-network-off/prompt.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final11-network-off/rubric-results.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final11-network-off/rubric.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final11-network-off/run.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final11-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final11-network-off/sandbox-network-probe.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final11-network-off/scenario.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final11-network-off/workspace-status.txt
Due: prettier

Bound raw eval evidence processing
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/bin/sanitize-events.pl
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Refresh bounded eval evidence
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final11-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final12-network-off/SHA256SUMS
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final12-network-off/agent-report.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final12-network-off/artifact-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final12-network-off/command-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final12-network-off/invocation.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final12-network-off/prompt.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final12-network-off/rubric-results.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final12-network-off/rubric.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final12-network-off/run.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final12-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final12-network-off/sandbox-network-probe.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final12-network-off/scenario.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final12-network-off/workspace-status.txt
Due: prettier

Redact multiline structured secrets
  internal/agent-evals/pro-app-buildability/bin/sanitize-events.pl
  internal/agent-evals/pro-app-buildability/bin/sensitive-values.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Refresh structured-redaction eval evidence
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final12-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final13-network-off/SHA256SUMS
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final13-network-off/agent-report.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final13-network-off/artifact-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final13-network-off/command-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final13-network-off/invocation.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final13-network-off/prompt.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final13-network-off/rubric-results.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final13-network-off/rubric.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final13-network-off/run.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final13-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final13-network-off/sandbox-network-probe.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final13-network-off/scenario.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final13-network-off/workspace-status.txt
Due: prettier

Redact Rails key credentials
  internal/agent-evals/pro-app-buildability/bin/sanitize-events.pl
  internal/agent-evals/pro-app-buildability/bin/sensitive-values.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Refresh Rails-key eval evidence
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final13-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final14-network-off/SHA256SUMS
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final14-network-off/agent-report.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final14-network-off/artifact-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final14-network-off/command-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final14-network-off/invocation.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final14-network-off/prompt.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final14-network-off/rubric-results.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final14-network-off/rubric.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final14-network-off/run.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final14-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final14-network-off/sandbox-network-probe.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final14-network-off/scenario.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final14-network-off/workspace-status.txt
Due: prettier

Installer: offer Pro during existing-app setup (#4615)
  CHANGELOG.md
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop, prettier

Record truthful agent timeout budgets
  internal/agent-evals/pro-app-buildability/README.md
  internal/agent-evals/pro-app-buildability/bin/run-eval
  internal/agent-evals/pro-app-buildability/bin/validate-run
  internal/agent-evals/pro-app-buildability/schemas/invocation.schema.json
  internal/agent-evals/pro-app-buildability/schemas/run.schema.json
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: prettier

Refresh timeout-budget eval evidence
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final14-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final15-network-off/SHA256SUMS
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final15-network-off/agent-report.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final15-network-off/artifact-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final15-network-off/command-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final15-network-off/invocation.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final15-network-off/prompt.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final15-network-off/rubric-results.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final15-network-off/rubric.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final15-network-off/run.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final15-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final15-network-off/sandbox-network-probe.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final15-network-off/scenario.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final15-network-off/workspace-status.txt
Due: prettier

Fail closed on sensitive scan errors
  internal/agent-evals/pro-app-buildability/bin/scan-sensitive-artifacts
  internal/agent-evals/pro-app-buildability/bin/validate-run
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Refresh fail-closed scan evidence
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final15-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final17-network-off/SHA256SUMS
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final17-network-off/agent-report.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final17-network-off/artifact-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final17-network-off/command-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final17-network-off/invocation.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final17-network-off/prompt.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final17-network-off/rubric-results.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final17-network-off/rubric.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final17-network-off/run.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final17-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final17-network-off/sandbox-network-probe.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final17-network-off/scenario.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final17-network-off/workspace-status.txt
Due: prettier

Close scanner and path provenance gaps
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/bin/sanitize-events.pl
  internal/agent-evals/pro-app-buildability/bin/scan-sensitive-artifacts
  internal/agent-evals/pro-app-buildability/bin/validate-run
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Refresh path-safe eval evidence
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final17-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final18-network-off/SHA256SUMS
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final18-network-off/agent-report.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final18-network-off/artifact-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final18-network-off/command-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final18-network-off/invocation.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final18-network-off/prompt.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final18-network-off/rubric-results.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final18-network-off/rubric.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final18-network-off/run.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final18-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final18-network-off/sandbox-network-probe.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final18-network-off/scenario.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final18-network-off/workspace-status.txt
Due: prettier

Preserve web URLs during path redaction
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/bin/local-paths.mjs
  internal/agent-evals/pro-app-buildability/bin/sanitize-events.pl
  internal/agent-evals/pro-app-buildability/bin/scan-local-paths.mjs
  internal/agent-evals/pro-app-buildability/bin/validate-run
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Refresh URL-safe eval evidence
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final18-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final19-network-off/SHA256SUMS
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final19-network-off/agent-report.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final19-network-off/artifact-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final19-network-off/command-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final19-network-off/invocation.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final19-network-off/prompt.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final19-network-off/rubric-results.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final19-network-off/rubric.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final19-network-off/run.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final19-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final19-network-off/sandbox-network-probe.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final19-network-off/scenario.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final19-network-off/workspace-status.txt
Due: prettier

Redact credentials embedded in web URLs
  internal/agent-evals/pro-app-buildability/bin/sanitize-events.pl
  internal/agent-evals/pro-app-buildability/bin/sensitive-values.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Refresh URL-credential eval evidence
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final19-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final20-network-off/SHA256SUMS
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final20-network-off/agent-report.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final20-network-off/artifact-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final20-network-off/command-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final20-network-off/invocation.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final20-network-off/prompt.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final20-network-off/rubric-results.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final20-network-off/rubric.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final20-network-off/run.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final20-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final20-network-off/sandbox-network-probe.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final20-network-off/scenario.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final20-network-off/workspace-status.txt
Due: prettier

Redact malformed encoded URL credentials
  internal/agent-evals/pro-app-buildability/bin/sensitive-values.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Refresh encoded-URL eval evidence
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final20-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final21-network-off/SHA256SUMS
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final21-network-off/agent-report.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final21-network-off/artifact-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final21-network-off/command-evidence.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final21-network-off/invocation.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final21-network-off/prompt.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final21-network-off/rubric-results.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final21-network-off/rubric.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final21-network-off/run.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final21-network-off/runner-diagnostics.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final21-network-off/sandbox-network-probe.json
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final21-network-off/scenario.md
  internal/agent-evals/pro-app-buildability/runs/2026-07-12-codex-gpt-5.4-final21-network-off/workspace-status.txt
Due: prettier

Guard RSC payload rendering with application authorization
  docs/oss/configuration/configuration-pro.md
  docs/oss/deployment/security-model-and-hardening.md
  docs/pro/react-server-components/how-react-server-components-work.md
  react_on_rails_pro/lib/react_on_rails_pro/concerns/rsc_payload_renderer.rb
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/spec/dummy/spec/requests/rsc_payload_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
Due: autofix, rubocop, prettier

Document RSC payload authorization guardrail
  CHANGELOG.md
Due: prettier

Validate RSC authorizer signatures at assignment
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
Due: autofix, rubocop

Harden Ruby diagnostic and request boundaries
  react_on_rails/lib/react_on_rails/dev/service_checker.rb
  react_on_rails/lib/react_on_rails/prerender_error.rb
  react_on_rails/spec/react_on_rails/dev/service_checker_spec.rb
  react_on_rails/spec/react_on_rails/prender_error_spec.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop

Clarify multipart authentication ordering
  CHANGELOG.md
Due: prettier

Document Ruby secret hygiene fixes
  CHANGELOG.md
Due: prettier

Document Node renderer hardening
  CHANGELOG.md
Due: prettier
