Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Fix Shakapacker gem/npm version mismatch for minimum version testing
  react_on_rails/rakelib/shakapacker_examples.rake
Due: autofix, rubocop

Fix bundler isolation for generated example apps
  react_on_rails/rakelib/shakapacker_examples.rake
Due: autofix, rubocop

Only use BUNDLE_GEMFILE isolation for minimum version examples
  react_on_rails/rakelib/shakapacker_examples.rake
Due: autofix, rubocop

Update pnpm lockfile for React 19.0.0
  pnpm-lock.yaml
Due: prettier

Fix bundler isolation for generate_packs in example apps
  react_on_rails/rakelib/shakapacker_examples.rake
Due: autofix, rubocop

Run RSpec for minimum version examples with bundler isolation
  react_on_rails/rakelib/run_rspec.rake
Due: autofix, rubocop

Remove deprecated chromedriver-helper from dev_tests generator
  react_on_rails/lib/generators/react_on_rails/dev_tests_generator.rb
  react_on_rails/spec/react_on_rails/generators/dev_tests_generator_spec.rb
Due: autofix, rubocop

SECURITY: Add CVE-2025-55182 vulnerability analysis for RSC
  SECURITY_ISSUE_DRAFT.md
  analysis/cve-2025-55182-rsc-vulnerability.md
Due: prettier

Add root Rakefile to enable rake tasks from monorepo root
  Rakefile
Due: none

Fix release.rake path references for pnpm monorepo structure
  react_on_rails/rakelib/release.rake
Due: autofix, rubocop

Improve root Rakefile documentation
  Rakefile
Due: none

Move release task to monorepo root level
  Rakefile
  rakelib/release.rake
  rakelib/task_helpers.rb
Due: autofix, rubocop

Add missing require 'yaml' for Ruby 3.4 compatibility
  react_on_rails/rakelib/run_rspec.rake
Due: autofix, rubocop

Fix Ruby 3.4 compatibility: replace strip_heredoc with squiggly heredoc
  react_on_rails/rakelib/run_rspec.rake
  react_on_rails_pro/rakelib/run_rspec.rake
Due: autofix, rubocop

Fix missing require for ReactOnRails::Utils in example_type.rb
  react_on_rails/rakelib/example_type.rb
Due: autofix, rubocop

Bump version to 16.2.0.test.0
  package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/package.json
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Fix release script failing when version already set
  rakelib/release.rake
Due: autofix, rubocop

Bump version to 16.2.0.test.1
  package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/package.json
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Add --no-git-checks for pre-release versions in release script
  rakelib/release.rake
Due: autofix, rubocop

Bump version to 16.2.0.test.2
  package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/package.json
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Fix node-renderer publish path in release script
  rakelib/release.rake
Due: autofix, rubocop

Bump version to 16.2.0.test.3
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Bump version to 16.2.0.test.4
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Add skip_branch_check parameter to release script
  rakelib/release.rake
Due: autofix, rubocop

Bump version to 16.2.0.test.5
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
Due: autofix, rubocop, prettier

Bump version to 16.2.0.test.5
  package.json
  react_on_rails/Gemfile.lock
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: prettier

Bump version to 16.2.0.test.6
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
Due: autofix, rubocop, prettier

Fix duplicate release task execution
  Rakefile
Due: none

Bump version to 16.2.0.test.6
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Revert test version bumps back to 16.2.0.beta.12
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
Due: autofix, rubocop, prettier

Address review feedback: revert unrelated changes
  rakelib/release.rake
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: autofix, rubocop

Fix CI: restore workspace:* dependency in react-on-rails-pro
  packages/react-on-rails-pro/package.json
Due: prettier

Fix CI: update Gemfile.lock files to match version 16.2.0.beta.12
  react_on_rails/Gemfile.lock
  react_on_rails/spec/dummy/Gemfile.lock
Due: none

Fix Pro Gemfile.lock version mismatch
  react_on_rails_pro/Gemfile.lock
Due: none

Fix release script after pnpm monorepo restructure (#2173)
  Rakefile
  rakelib/release.rake
  rakelib/task_helpers.rb
  react_on_rails/rakelib/example_type.rb
  react_on_rails/rakelib/run_rspec.rake
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/package.json
  react_on_rails_pro/rakelib/run_rspec.rake
Due: autofix, rubocop, prettier

Bump version to 16.2.0.beta.13
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Update CHANGELOG for v16.2.0.beta.13
  CHANGELOG.md
Due: prettier

Update CHANGELOG diff link for v16.2.0.beta.13
  CHANGELOG.md
Due: prettier
