Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Redact punctuated wrapper credentials
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Handle malformed renderer wrapper boundaries
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Respect Ruby exec ownership boundaries
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Preserve safe renderer target boundaries
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Model Ruby instance exec ownership correctly
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Distinguish Ruby instance exec mutation forms
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Redact whitespace-spanning renderer credentials
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Preserve safe renderer URL diagnostics
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Close Ruby eval ownership bypasses
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Select renderer targets in message order
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Fail closed on unresolved Ruby exec owners
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Preserve repeated renderer target boundaries
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Prevent generated apps from downgrading Shakapacker
  .ci-dependency-versions
  .claude/docs/replicating-ci-failures.md
  CHANGELOG.md
  README.md
  SWITCHING_CI_CONFIGS.md
  bin/ci-rerun-failures
  pnpm-lock.yaml
  react_on_rails/Gemfile.development_dependencies
  react_on_rails/Gemfile.lock
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails/spec/dummy/package.json
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: autofix, rubocop, prettier

Link the generated proxy fix PR
  CHANGELOG.md
Due: prettier

Pin Shakapacker doctor recovery guidance
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop

Pin documented Shakapacker install paths
  CONTRIBUTING.md
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/migrating/migrating-from-vite-rails.md
  packages/react-on-rails/docs/agent/install-and-upgrade.md
  react_on_rails/docs/agent/install-and-upgrade.md
  react_on_rails/spec/react_on_rails/package_agent_content_spec.rb
Due: autofix, rubocop, prettier

Fix generated app dev-server proxy setup (#4948)
  .ci-dependency-versions
  .claude/docs/replicating-ci-failures.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SWITCHING_CI_CONFIGS.md
  bin/ci-rerun-failures
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/migrating/migrating-from-vite-rails.md
  packages/react-on-rails/docs/agent/install-and-upgrade.md
  pnpm-lock.yaml
  react_on_rails/Gemfile.development_dependencies
  react_on_rails/Gemfile.lock
  react_on_rails/docs/agent/install-and-upgrade.md
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails/spec/dummy/package.json
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/package_agent_content_spec.rb
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: autofix, rubocop, prettier

Correct find_port_pids app-root claim in the #4937 breaking-change note
  CHANGELOG.md
Due: prettier

Qualify the find_port_pids listener set with its pid exclusions
  CHANGELOG.md
Due: prettier

Correct find_port_pids app-root claim in the #4937 breaking-change note (#4949)
  CHANGELOG.md
Due: prettier

Fix generator testing version lookup
  CONTRIBUTING.md
Due: prettier

Close const_get ownership bypasses
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Backport #4948: Fix generated app dev-server proxy setup (#4950)
  .ci-dependency-versions
  .claude/docs/replicating-ci-failures.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SWITCHING_CI_CONFIGS.md
  bin/ci-rerun-failures
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/migrating/migrating-from-vite-rails.md
  packages/react-on-rails/docs/agent/install-and-upgrade.md
  pnpm-lock.yaml
  react_on_rails/Gemfile.development_dependencies
  react_on_rails/Gemfile.lock
  react_on_rails/docs/agent/install-and-upgrade.md
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails/spec/dummy/package.json
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/package_agent_content_spec.rb
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: autofix, rubocop, prettier

Avoid unresolved receiver marker collisions
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Stamp CHANGELOG for 17.1.0.rc.1
  CHANGELOG.md
Due: prettier

Stamp CHANGELOG for 17.1.0.rc.1 (#4951)
  CHANGELOG.md
Due: prettier

Simplify eval evidence parsing
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
Due: none

Fix locale-dependent contributor tooling
  bin/check-links
  react_on_rails/spec/react_on_rails/check_links_script_spec.rb
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

Make link input sorting fail closed
  bin/check-links
  react_on_rails/spec/react_on_rails/check_links_script_spec.rb
Due: autofix, rubocop

Bump version to 17.1.0.rc.1
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Qualify 17.1 with current Shakapacker and Rspack
  .ci-dependency-versions
  .claude/docs/replicating-ci-failures.md
  CHANGELOG.md
  README.md
  SWITCHING_CI_CONFIGS.md
  bin/ci-rerun-failures
  pnpm-lock.yaml
  react_on_rails/Gemfile.development_dependencies
  react_on_rails/Gemfile.lock
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails/spec/dummy/package.json
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: autofix, rubocop, prettier

Keep fixture qualification out of user changelog
  CHANGELOG.md
Due: prettier

Preserve newline-bearing link inputs
  bin/check-links
  react_on_rails/spec/react_on_rails/check_links_script_spec.rb
Due: autofix, rubocop

Preserve ExecJS release lock platforms
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop

Make locale regression portable across systems
  react_on_rails/spec/react_on_rails/check_links_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

Qualify 17.1 with Shakapacker 10.3.2 and Rspack 2.2.1 (#4952)
  .ci-dependency-versions
  .claude/docs/replicating-ci-failures.md
  CHANGELOG.md
  README.md
  SWITCHING_CI_CONFIGS.md
  bin/ci-rerun-failures
  pnpm-lock.yaml
  react_on_rails/Gemfile.development_dependencies
  react_on_rails/Gemfile.lock
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails/spec/dummy/package.json
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: autofix, rubocop, prettier

Preserve ExecJS release lock platforms during version bumps (#4954)
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Fix locale-dependent contributor tooling (#4953)
  bin/check-links
  react_on_rails/spec/react_on_rails/check_links_script_spec.rb
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

Fix OpenTelemetry follow-up lifecycle defects
  CHANGELOG.md
  docs/pro/node-renderer.md
  packages/react-on-rails-pro-node-renderer/src/integrations/internal/opentelemetryConfig.ts
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-composition.test.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/open_telemetry.rb
  react_on_rails_pro/spec/react_on_rails_pro/open_telemetry_spec.rb
Due: autofix, rubocop, eslint, prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
