Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

fix(pro): clean failed RSC refetch bookkeeping
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCProviderCache.ts
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

fix(pro): harden combined RSC diagnostics
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/rscDiagnostics.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/rscDiagnostics.test.ts
Due: eslint, prettier

fix(pro): preserve merged RSC diagnostic separators
  packages/react-on-rails-pro/src/rscDiagnostics.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/rscDiagnostics.test.ts
Due: eslint, prettier

fix(pro): enforce RSC LRU eviction invariants
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCProviderCache.ts
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

fix(pro): tighten RSC diagnostic review followups
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/rscDiagnostics.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/RSCRequestTracker.test.ts
Due: eslint, prettier

docs(pro): clarify RSC cache eviction invariants
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCProviderCache.ts
Due: eslint, prettier

fix(pro): document RSC diagnostic invariants
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/rscDiagnostics.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/rscDiagnostics.test.ts
Due: eslint, prettier

Add bidirectional streaming for async props (pull mode) (#4046)
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  react_on_rails/lib/react_on_rails/length_prefixed_parser.rb
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/node_rendering_pool.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/lazy_props_for_testing.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/lazy_props_redis_for_testing.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/mixed_props_for_testing.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/mixed_props_redis_for_testing.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/rejection_props_for_testing.html.erb
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/LazyPropRejectionComponent.tsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/LazyPropsComponent.tsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/MixedPropsComponent.tsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/PropErrorBoundary.client.tsx
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/e2e-tests/fixture.ts
  react_on_rails_pro/spec/dummy/e2e-tests/lazyProps.spec.ts
Due: autofix, rubocop, eslint, prettier

fix(pro): keep capped pull requests catchable
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails-pro/tests/AsyncPropManager.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
Due: autofix, rubocop, eslint, prettier

fix(pro): harden async props control inputs
  react_on_rails/lib/react_on_rails/length_prefixed_parser.rb
  react_on_rails/spec/lib/react_on_rails/length_prefixed_parser_spec.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/spec/controllers/pages_controller_spec.rb
Due: autofix, rubocop

fix(pro): tighten async props control chunk helpers
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/streamingUtils.ts
  react_on_rails/spec/lib/react_on_rails/length_prefixed_parser_spec.rb
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
Due: autofix, rubocop, eslint, prettier

fix(pro): harden async props pull protocol
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/streamingUtils.ts
  packages/react-on-rails-pro-node-renderer/tests/asyncPropsProtocol.test.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails-pro/tests/AsyncPropManager.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix review findings: endStream resolved flag, enqueue race guard, dead code
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
Due: autofix, rubocop, eslint, prettier

Fix ESLint/Prettier errors: type assertion, param-reassign, formatting
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/LazyPropsComponent.tsx
Due: eslint, prettier

Add comprehensive tests for pull-mode async props and prop rejection
  packages/react-on-rails-pro/tests/AsyncPropManager.test.ts
  react_on_rails/spec/lib/react_on_rails/length_prefixed_parser_spec.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/rejection_props_redis_for_testing.html.erb
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/e2e-tests/fixture.ts
  react_on_rails_pro/spec/dummy/e2e-tests/lazyProps.spec.ts
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
Due: autofix, rubocop, eslint, prettier

Prevent unhandledRejection when rejectProp precedes getProp
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
Due: eslint, prettier

fix(pro): address async props pull-mode review guards
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/asyncPropsProtocol.test.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails-pro/tests/AsyncPropManager.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/spec/controllers/pages_controller_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
Due: autofix, rubocop, eslint, prettier

fix(pro): address async props review follow-ups
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/asyncPropsProtocol.test.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
Due: autofix, rubocop, eslint, prettier

fix(pro): harden async props pull request cleanup
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/spec/controllers/pages_controller_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_request_spec.rb
Due: autofix, rubocop

fix(pro): tighten async props streaming review gaps
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/asyncPropsProtocol.test.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails-pro/tests/AsyncPropManager.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/node_rendering_pool.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/node_rendering_pool_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_request_spec.rb
Due: autofix, rubocop, eslint, prettier

fix(pro): align async props streaming review fixes
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/e2e-tests/lazyProps.spec.ts
  react_on_rails_pro/spec/dummy/spec/controllers/pages_controller_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix node_rendering_pool_spec for new push_props parameter
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/node_rendering_pool_spec.rb
Due: autofix, rubocop

Fix @pushed_props poisoned on failed write in AsyncPropsEmitter
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
Due: autofix, rubocop

Fix pull-mode timing: emit propRequests for pre-render getProp calls
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
Due: eslint, prettier

fix(pro): tighten async props pull-mode cleanup
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
Due: autofix, rubocop, eslint, prettier

fix(pro): tighten async props review guards
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  react_on_rails/lib/react_on_rails/length_prefixed_parser.rb
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/node_rendering_pool.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_request_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix RSpec/MultipleDescribes: nest PullRequestQueue specs inside emitter describe
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
Due: autofix, rubocop

Fix push-only async props returning [response, emitter] tuple
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
Due: autofix, rubocop

Guard propRequest writes after stream close and close Redis connection
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
Due: autofix, rubocop, eslint, prettier

docs: note async props pull streaming
  CHANGELOG.md
Due: prettier

test(pro): cover RSC cache sync replacement failures
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCProviderCache.ts
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

fix(pro): harden RSC diagnostic extraction
  packages/react-on-rails-pro/src/rscDiagnostics.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/rscDiagnostics.test.ts
Due: eslint, prettier

fix(pro): reject malformed lazy async props
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails-pro/tests/AsyncPropManager.test.ts
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/spec/controllers/pages_controller_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
Due: autofix, rubocop, eslint, prettier

docs: clarify rsc-css linting guidance
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/react-server-components/css-and-styling.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Fix pretend generator spec isolation
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

docs(pro): document RSC diagnostic restore invariants
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/rscDiagnostics.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
Due: eslint, prettier

refactor(pro): clarify RSC cache pin-preserving delete
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCProviderCache.ts
Due: eslint, prettier

docs: address rsc-css final review nits
  docs/oss/building-features/performance-tracks-and-profiling.md
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/react-server-components/css-and-styling.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Fix main generator pretend spec isolation (#4147)
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

docs(pro): clarify RSC cache version cleanup invariants
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
  packages/react-on-rails-pro/tests/testUtils.ts
Due: eslint, prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
