Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Prevent Rails view annotations from corrupting RSC payload JSON
  react_on_rails_pro/app/views/react_on_rails_pro/rsc_payload.text.erb
  react_on_rails_pro/lib/react_on_rails_pro/concerns/rsc_payload_renderer.rb
  react_on_rails_pro/spec/dummy/spec/requests/rsc_payload_spec.rb
Due: autofix, rubocop

Record the RSC payload annotation regression fix in changelog
  CHANGELOG.md
Due: prettier

Preserve tracing context and harden reporter cleanup in tests
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

Add --rsc support to create-react-on-rails-app
  docs/getting-started/create-react-on-rails-app.md
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
  packages/create-react-on-rails-app/src/types.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
Due: eslint, prettier

Harden --rsc gem install flow in create-app CLI
  CHANGELOG.md
  docs/getting-started/create-react-on-rails-app.md
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
Due: eslint, prettier

Fix --rsc failure handling without fragile preflight
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/utils.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  packages/create-react-on-rails-app/tests/utils.test.ts
Due: eslint, prettier

Use Bundler-based --rsc gem preflight probing
  docs/getting-started/create-react-on-rails-app.md
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
  packages/create-react-on-rails-app/src/utils.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  packages/create-react-on-rails-app/tests/utils.test.ts
Due: eslint, prettier

Harden gem install failure flow for --rsc setup
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
Due: eslint, prettier

Tighten RSC messaging and reduce redundant createApp tests
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
Due: eslint, prettier

Harden --rsc preflight and cover createApp flows
  docs/getting-started/create-react-on-rails-app.md
Due: prettier

Clarify custom source fallback after --rsc install failure
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
Due: eslint, prettier

Improve --rsc preflight UX and add CLI coverage
  docs/getting-started/create-react-on-rails-app.md
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
  packages/create-react-on-rails-app/src/utils.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
Due: eslint, prettier

Refine preflight timeout and gem install step logging
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/utils.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
Due: eslint, prettier

Address review feedback on RSC payload annotation fix
  CHANGELOG.md
  react_on_rails_pro/lib/react_on_rails_pro/concerns/rsc_payload_renderer.rb
  react_on_rails_pro/spec/dummy/spec/requests/rsc_payload_spec.rb
Due: autofix, rubocop, prettier

Add local-gem smoke test flow for create-app CLI
  docs/contributor-info/create-react-on-rails-app-smoke-testing.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
Due: eslint, prettier

Address PR review: restore 8.0.0-beta entries under 8.0.0 section
  CHANGELOG.md
Due: prettier

Fix local-gem path wiring in rsc install step
  packages/create-react-on-rails-app/src/create-app.ts
Due: eslint, prettier

Update mise docs: prefer shell-level shims over conductor-exec wrapper
  .claude/docs/conductor-compatibility.md
Due: prettier

Replace private dotfiles link with inline examples
  .claude/docs/conductor-compatibility.md
Due: prettier

Consolidate changelog to keep only rc6 prerelease (#2533)
  CHANGELOG.md
Due: prettier

Address PR review comments on mise docs
  .claude/docs/conductor-compatibility.md
Due: prettier

Harden create-app cleanup logging and pro gem args
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
Due: eslint, prettier

Address PR feedback: simplify reporting and tighten assertions
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

Polish create-app RSC path handling and smoke toolchain
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  packages/create-react-on-rails-app/src/create-app.ts
Due: eslint, prettier

docs: use https links (#2518)
  PROJECTS.md
  README.md
Due: prettier

Clarify that mise activate bash --shims is POSIX-compatible for .profile
  .claude/docs/conductor-compatibility.md
Due: prettier

fix: use --skip in tests to preserve pre-existing configs
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

fix: replace marker file with Thor-idiomatic force option (#2289)
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

fix: declare shakapacker_just_installed on InstallGenerator
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
Due: autofix, rubocop

fix: forward force/skip flags to invoked sub-generators
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
Due: autofix, rubocop

Address review feedback: guard finalize, fix test isolation, fix regression test
  CHANGELOG.md
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop, prettier

Forward force/skip to :pro and :rsc invocations; remove dead stubs
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Move SHAKAPACKER_YML_PATH before private; clarify flag precedence comment
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
Due: autofix, rubocop

Document nil→nil edge case, clarify hidden option, remove dead test setup
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Deduplicate shakapacker_just_installed? logic and yml path constant
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
Due: autofix, rubocop

Address second review: detection path, partial-install edge case, UX regression, redundant guard
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

refactor(install_generator): normalize shakapacker_just_installed? return to boolean and document edge case
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
Due: autofix, rubocop

test(install_generator): add nil→nil edge case coverage for finalize_shakapacker_setup
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

docs(install_generator): clarify --shakapacker-just-installed overwrites even when pre-configured
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
Due: autofix, rubocop

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
