Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Update changelog for PR #2492
  CHANGELOG.md
Due: prettier

Update changelog: add rc.5 section
  CHANGELOG.md
Due: prettier

Roll rc.4 entries into rc.5 changelog section
  CHANGELOG.md
Due: prettier

Address PR review: fix test to exercise actual race condition, improve comments
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
Due: eslint, prettier

Exclude broken external URLs from markdown link checker
  .lychee.toml
Due: none

Fix resetVM() to also clear vmCreationPromises map
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
Due: eslint, prettier

Allow Dependabot to trigger claude-code-review workflow
  .github/workflows/claude-code-review.yml
Due: prettier

Address review feedback: fix safePipe listener ordering and clarify comments
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/src/safePipe.ts
Due: eslint, prettier

Fix silent error absorption in RSC payload injection and streaming pipes
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/src/safePipe.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  packages/react-on-rails-pro/src/transformRSCNodeStream.ts
Due: eslint, prettier

Fix double error emission when htmlStream errors after startRSC
  packages/react-on-rails-pro/src/injectRSCPayload.ts
Due: eslint, prettier

Fix pre-first-chunk errors not propagating before response commit
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
Due: autofix, rubocop

Add error scenarios hub and test pages for streaming/RSC error paths
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/error_scenarios_hub.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/non_existing_react_component.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/non_existing_rsc_payload.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/non_existing_stream_react_component.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/rsc_component_error.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/ssr_async_error.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/ssr_async_prop_error.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/ssr_shell_error.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/ssr_sync_error.html.erb
  react_on_rails_pro/spec/dummy/app/views/shared/_menu.erb
  react_on_rails_pro/spec/dummy/client/app/components/ServerComponentRouter.tsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/DeterministicRSCErrorComponent.tsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/StreamErrorDemo.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/StreamShellErrorDemo.jsx
  react_on_rails_pro/spec/dummy/config/routes.rb
Due: autofix, rubocop, eslint, prettier

Simplify injectRSCPayload stream lifecycle management
  packages/react-on-rails-pro/src/injectRSCPayload.ts
Due: eslint, prettier

Address review feedback: fix error masking and minor improvements
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/src/safePipe.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
Due: autofix, rubocop, eslint, prettier

Fix streaming renders hanging forever when errors occur during SSR (#2402)
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/stream-test-bundle.js
  packages/react-on-rails-pro-node-renderer/tests/handleStreamError.test.ts
  packages/react-on-rails-pro-node-renderer/tests/streamErrorHang.test.ts
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
Due: autofix, rubocop, eslint, prettier

Fix "write after end" when throwJsErrors is true
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
Due: eslint, prettier

Add StreamErrorDemo component for comparing fix vs master
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/stream_error_demo.html.erb
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/StreamErrorDemo.jsx
  react_on_rails_pro/spec/dummy/config/routes.rb
Due: autofix, rubocop, eslint, prettier

Fix lint errors in injectRSCPayload.ts and react_on_rails_pro_helper.rb
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
Due: autofix, rubocop, eslint, prettier

Use 'close' event instead of 'error' + destroyed check for stream termination
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/tests/handleStreamError.test.ts
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
Due: eslint, prettier

Add StreamShellErrorDemo - sync crash before any Suspense boundary
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/stream_shell_error_demo.html.erb
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/StreamShellErrorDemo.jsx
  react_on_rails_pro/spec/dummy/config/routes.rb
Due: autofix, rubocop, eslint, prettier

Fix CI lint failures and address review feedback
  packages/react-on-rails-pro-node-renderer/tests/handleStreamError.test.ts
  packages/react-on-rails-pro-node-renderer/tests/streamErrorHang.test.ts
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/StreamErrorDemo.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/StreamShellErrorDemo.jsx
Due: autofix, rubocop, eslint, prettier

Add changelog entry for streaming SSR hang fix
  CHANGELOG.md
Due: prettier

Fix rubocop Lint/UselessAssignment for rescue variable
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
Due: autofix, rubocop

Clean up test descriptions to focus on expected behavior
  packages/react-on-rails-pro-node-renderer/tests/handleStreamError.test.ts
  packages/react-on-rails-pro-node-renderer/tests/streamErrorHang.test.ts
Due: eslint, prettier

Fix race condition in injectRSCPayload 'close' handler
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
Due: eslint, prettier

Verify data after non-fatal error is received on result stream
  packages/react-on-rails-pro-node-renderer/tests/handleStreamError.test.ts
Due: eslint, prettier

Fix RSCRequestTracker close handler: add destroyed guard and fix comment
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
Due: eslint, prettier

Use .once('close') in startRSC for one-shot close listener
  packages/react-on-rails-pro/src/injectRSCPayload.ts
Due: eslint, prettier

Fix RSCRequestTracker close handler comment to match destroyed guard
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
Due: eslint, prettier

Add npm READMEs, Pro quick-start guide, and llms.txt for LLM discoverability
  docs/getting-started/pro-quick-start.md
  llms.txt
  packages/react-on-rails-pro-node-renderer/README.md
  packages/react-on-rails-pro/README.md
  packages/react-on-rails/README.md
  react_on_rails_pro/README.md
Due: prettier

Remove outdated "private repo" references from Pro docs
  docs/contributor-info/releasing.md
  react_on_rails_pro/docs/code-splitting-loadable-components.md
  react_on_rails_pro/docs/ruby-api.md
  react_on_rails_pro/docs/updating.md
Due: prettier

Address review feedback: fix broken link, missing imports, env vars, and npm publish
  docs/getting-started/pro-quick-start.md
  packages/react-on-rails-pro-node-renderer/README.md
  packages/react-on-rails-pro/README.md
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
Due: prettier

Fix prettier formatting and broken link in code-splitting doc
  docs/getting-started/pro-quick-start.md
  packages/react-on-rails-pro-node-renderer/README.md
  packages/react-on-rails-pro/README.md
  packages/react-on-rails/README.md
  react_on_rails_pro/docs/code-splitting-loadable-components.md
Due: prettier
