Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Add PR 5100 link to the client-reference registration changelog entry
  CHANGELOG.md
Due: prettier

Register pro package client components in RSC client-reference discovery (#5079)
  CHANGELOG.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/inside-client-components.md
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_rsc/config/rspack/clientWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_rsc/config/rspack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_rsc/config/webpack/clientWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_rsc/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
  react_on_rails_pro/spec/dummy/config/webpack/rscManifestClientReferences.js
  react_on_rails_pro/spec/dummy/tests/rsc-manifest-client-references.test.js
Due: autofix, rubocop, eslint, prettier

Slim the #5079 generator specs to behavior assertions; widen resolver coverage
  .prettierignore
  react_on_rails/spec/react_on_rails/fixtures/previous_generated_rsc_configs/README.md
  react_on_rails/spec/react_on_rails/fixtures/previous_generated_rsc_configs/initial_graph_era_5c71c6a9c.js
  react_on_rails/spec/react_on_rails/fixtures/previous_generated_rsc_configs/manifest_era_b58d1fe8b.js
  react_on_rails/spec/react_on_rails/fixtures/previous_generated_rsc_configs/registration_entry_era_912d2a2b4.js
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop, eslint, prettier

Docs: scope the automatic registration claim to freshly generated configs (#5079)
  docs/pro/react-server-components/create-without-ssr.md
Due: prettier

Register pro package client components in RSC client-reference discovery + document the wrapper requirement (#5079) (#5100)
  .prettierignore
  CHANGELOG.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/inside-client-components.md
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_rsc/config/rspack/clientWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_rsc/config/rspack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_rsc/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/previous_generated_rsc_configs/README.md
  react_on_rails/spec/react_on_rails/fixtures/previous_generated_rsc_configs/manifest_era_b58d1fe8b.js
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
  react_on_rails_pro/spec/dummy/config/webpack/rscManifestClientReferences.js
  react_on_rails_pro/spec/dummy/tests/rsc-manifest-client-references.test.js
Due: autofix, rubocop, eslint, prettier

Prepare 17.2 RC notes without recommending unpublished RSC releases
  CHANGELOG.md
  SECURITY.md
  packages/react-on-rails-pro-node-renderer/src/shared/checkRscPeerCompatibility.ts
  packages/react-on-rails-pro-node-renderer/tests/checkRscPeerCompatibility.test.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix override-priority test to actually test override precedence
  react_on_rails_pro/spec/dummy/spec/requests/rsc_payload_spec.rb
Due: autofix, rubocop

Fix RSCRoute.refetch() on async-props pages (#5075)
  docs/oss/building-features/mutations.md
  docs/pro/react-server-components/inside-client-components.md
  docs/pro/streaming-ssr.md
  docs/pro/updating.md
  react_on_rails_pro/app/views/react_on_rails_pro/rsc_payload.text.erb
  react_on_rails_pro/lib/react_on_rails_pro/concerns/rsc_payload_renderer.rb
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/spec/dummy/spec/requests/rsc_payload_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_js_code_spec.rb
Due: autofix, rubocop, prettier

Add behavior tests for async props block resolution (#5075)
  react_on_rails_pro/spec/dummy/spec/requests/rsc_payload_spec.rb
Due: autofix, rubocop

Address review findings: RBS signatures, wider rescue, props Hash guard
  react_on_rails_pro/lib/react_on_rails_pro/concerns/rsc_payload_renderer.rb
  react_on_rails_pro/sig/react_on_rails_pro/configuration.rbs
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
Due: autofix, rubocop

Fix doc links and add non-object props test (autoreview)
  docs/oss/building-features/mutations.md
  docs/pro/react-server-components/inside-client-components.md
  docs/pro/streaming-ssr.md
  react_on_rails_pro/spec/dummy/spec/requests/rsc_payload_spec.rb
Due: autofix, rubocop, prettier

Remove fail-loud stub that breaks RSC serialization
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_js_code_spec.rb
Due: autofix, rubocop

[Pro] Re-stamp CSP nonces on cached component cache hits (fixes #5021) (#5025)
  CHANGELOG.md
  docs/pro/fragment-caching.md
  docs/pro/strict-csp.md
  llms-full-pro.txt
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro/cache.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
  react_on_rails_pro/spec/dummy/spec/requests/cached_component_csp_nonce_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/cache_spec.rb
Due: autofix, rubocop, prettier

Fix RSCRoute.refetch() on async-props pages (#5075) (#5091)
  docs/oss/building-features/mutations.md
  docs/pro/react-server-components/inside-client-components.md
  docs/pro/streaming-ssr.md
  docs/pro/updating.md
  react_on_rails_pro/app/views/react_on_rails_pro/rsc_payload.text.erb
  react_on_rails_pro/lib/react_on_rails_pro/concerns/rsc_payload_renderer.rb
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/sig/react_on_rails_pro/configuration.rbs
  react_on_rails_pro/spec/dummy/spec/requests/rsc_payload_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
Due: autofix, rubocop, prettier

Prepare 17.2.0.rc.0 and correct unpublished RSC upgrade advice (#5131)
  CHANGELOG.md
  SECURITY.md
  packages/react-on-rails-pro-node-renderer/src/shared/checkRscPeerCompatibility.ts
  packages/react-on-rails-pro-node-renderer/tests/checkRscPeerCompatibility.test.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, eslint, prettier

Consolidate dependency updates to verify security and fixture compatibility together
  packages/react-on-rails-pro-node-renderer/package.json
  pnpm-lock.yaml
  react_on_rails_pro/scripts/load/package.json
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: prettier

Preserve SQLite platform compatibility after the fixture upgrade
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop

Bump version to 17.2.0.rc.0
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Run local Pro unit checks under the same scope as hosted CI
  bin/ci-local
Due: none

ci-local: scope Pro RSpec to spec/react_on_rails_pro to match hosted CI
  bin/ci-local
Due: none

ci-local: include spec/async contract canary in the scoped Pro RSpec step
  bin/ci-local
Due: none

Keep load-harness unit coverage isolated from Pro RSpec helpers
  bin/ci-local
  react_on_rails/spec/react_on_rails/ci_local_pro_rspec_spec.rb
Due: autofix, rubocop

Keep async and load harness coverage when isolating Pro suites
  bin/ci-local
Due: none

ci-local: scope Pro RSpec to unit, async, and harness suites (#5032)
  bin/ci-local
  react_on_rails/spec/react_on_rails/ci_local_pro_rspec_spec.rb
Due: autofix, rubocop

Initialize RSC cache identity before payload-only rendering
  CHANGELOG.md
  packages/react-on-rails-pro/tests/fixtures/payloadBuildId.mjs
  packages/react-on-rails-pro/tests/fixtures/payload_build_id.rb
  packages/react-on-rails-pro/tests/payloadBuildId.rsc.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_js_code_spec.rb
Due: autofix, rubocop, eslint, prettier

Keep cross-runtime worker proof in the Rails integration suite
  packages/react-on-rails-pro/tests/fixtures/payload_build_id.rb
  packages/react-on-rails-pro/tests/payloadBuildId.rsc.test.ts
  react_on_rails_pro/spec/dummy/spec/payload_build_id_spec.rb
Due: autofix, rubocop, eslint, prettier

Keep public-key help executable and verify the Ruby output path
  react_on_rails_pro/rakelib/public_key_management.rake
  react_on_rails_pro/spec/react_on_rails_pro/public_key_management_spec.rb
Due: autofix, rubocop

Fix Pro public-key maintenance against the licensing app
  packages/react-on-rails-pro-node-renderer/src/shared/licensePublicKey.ts
  react_on_rails_pro/lib/react_on_rails_pro/license_public_key.rb
  react_on_rails_pro/rakelib/public_key_management.rake
  react_on_rails_pro/spec/react_on_rails_pro/public_key_management_spec.rb
Due: autofix, rubocop, eslint, prettier

Prevent fetched key material from becoming generated source code
  react_on_rails_pro/rakelib/public_key_management.rake
  react_on_rails_pro/spec/react_on_rails_pro/public_key_management_spec.rb
Due: autofix, rubocop

Keep production refetch controls usable after streamed boundary failures
  CHANGELOG.md
  docs/pro/react-server-components/inside-client-components.md
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCRefetchRenderBoundary.tsx
  packages/react-on-rails-pro/src/RSCRoute.tsx
  packages/react-on-rails-pro/src/RSCStreamCompletion.ts
  packages/react-on-rails-pro/src/getReactServerComponent.client.ts
  packages/react-on-rails-pro/tests/fixtures/flightRefetchRecovery/browser.tsx
  packages/react-on-rails-pro/tests/fixtures/flightRefetchRecovery/run.mjs
  packages/react-on-rails-pro/tests/fixtures/flightRefetchRecovery/server.mjs
  packages/react-on-rails-pro/tests/getReactServerComponent.client.test.ts
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
Due: eslint, prettier

Preserve initial-load recovery and report each failed refetch once
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCRefetchRenderBoundary.tsx
  packages/react-on-rails-pro/src/RSCRoute.tsx
  packages/react-on-rails-pro/tests/fixtures/flightRefetchRecovery/run.mjs
  packages/react-on-rails-pro/tests/fixtures/flightRefetchRecovery/server.mjs
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
Due: eslint, prettier

Exercise the complete Rails-generated request on fresh payload workers
  packages/react-on-rails-pro/tests/fixtures/payloadBuildId.mjs
  react_on_rails_pro/spec/dummy/spec/payload_build_id_spec.rb
Due: autofix, rubocop

Retire refetch recovery after a committed error-free payload
  docs/pro/react-server-components/inside-client-components.md
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCRefetchRenderBoundary.tsx
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
Due: eslint, prettier

Compare the complete unfixed Flight runtime in the production control
  packages/react-on-rails-pro/tests/fixtures/flightRefetchRecovery/run.mjs
Due: none

Prevent encrypted endpoint keys from requesting terminal input
  react_on_rails_pro/rakelib/public_key_management.rake
  react_on_rails_pro/spec/react_on_rails_pro/public_key_management_spec.rb
Due: autofix, rubocop

Credit the fresh-worker fix in the mainline changelog
  CHANGELOG.md
Due: prettier

Credit streamed refetch recovery in the mainline changelog
  CHANGELOG.md
Due: prettier

Preserve normal client error handling until Flight reports a failure
  docs/pro/react-server-components/inside-client-components.md
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCRefetchRenderBoundary.tsx
  packages/react-on-rails-pro/src/RSCStreamCompletion.ts
  packages/react-on-rails-pro/src/getReactServerComponent.client.ts
  packages/react-on-rails-pro/tests/fixtures/flightRefetchRecovery/browser.tsx
  packages/react-on-rails-pro/tests/fixtures/flightRefetchRecovery/run.mjs
  packages/react-on-rails-pro/tests/fixtures/flightRefetchRecovery/server.mjs
  packages/react-on-rails-pro/tests/getReactServerComponent.client.test.ts
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
Due: eslint, prettier

Do not promote incomplete streamed refetches
  CHANGELOG.md
  docs/pro/react-server-components/inside-client-components.md
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCRefetchRenderBoundary.tsx
  packages/react-on-rails-pro/src/RSCStreamCompletion.ts
  packages/react-on-rails-pro/src/getReactServerComponent.client.ts
  packages/react-on-rails-pro/src/parseLengthPrefixedStream.ts
  packages/react-on-rails-pro/tests/fixtures/flightRefetchRecovery/run.mjs
  packages/react-on-rails-pro/tests/fixtures/flightRefetchRecovery/server.mjs
  packages/react-on-rails-pro/tests/getReactServerComponent.client.test.ts
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
  packages/react-on-rails-pro/tests/parseLengthPrefixedStream.test.ts
Due: eslint, prettier

Document a Shaka launcher so stable fleet upgrades have one owner per repo
  internal/contributor-info/release-verification-runbook.md
Due: prettier
