Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Fix lint errors in injectRSCPayload.ts and react_on_rails_pro_helper.rb
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
Due: autofix, rubocop, eslint, prettier

Add StreamErrorDemo component for comparing fix vs master
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/stream_error_demo.html.erb
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/StreamErrorDemo.jsx
  react_on_rails_pro/spec/dummy/config/routes.rb
Due: autofix, rubocop, eslint, prettier

Fix streaming renders hanging forever when errors occur during SSR (#2402)
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/stream-test-bundle.js
  packages/react-on-rails-pro-node-renderer/tests/handleStreamError.test.ts
  packages/react-on-rails-pro-node-renderer/tests/streamErrorHang.test.ts
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
Due: autofix, rubocop, eslint, prettier

Use 'close' event instead of 'error' + destroyed check for stream termination
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/tests/handleStreamError.test.ts
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
Due: eslint, prettier

Add changelog entry for streaming SSR hang fix
  CHANGELOG.md
Due: prettier

Fix race condition in injectRSCPayload 'close' handler
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
Due: eslint, prettier

Clean up test descriptions to focus on expected behavior
  packages/react-on-rails-pro-node-renderer/tests/handleStreamError.test.ts
  packages/react-on-rails-pro-node-renderer/tests/streamErrorHang.test.ts
Due: eslint, prettier

Verify data after non-fatal error is received on result stream
  packages/react-on-rails-pro-node-renderer/tests/handleStreamError.test.ts
Due: eslint, prettier

Fix CI lint failures and address review feedback
  packages/react-on-rails-pro-node-renderer/tests/handleStreamError.test.ts
  packages/react-on-rails-pro-node-renderer/tests/streamErrorHang.test.ts
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/StreamErrorDemo.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/StreamShellErrorDemo.jsx
Due: autofix, rubocop, eslint, prettier

Fix rubocop Lint/UselessAssignment for rescue variable
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
Due: autofix, rubocop

Fix persistent markdown-link-check failures from dead historical links
  CHANGELOG.md
  docs/misc/credits.md
Due: prettier

Clarify changelog labels for commit-linked historical entries
  CHANGELOG.md
Due: prettier

Fix dead historical links to stabilize markdown link checks
  CHANGELOG.md
  docs/misc/credits.md
Due: prettier

test: make engine legacy-license log assertions robust
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
Due: autofix, rubocop

docs: add migration guidance for license env-var-only setup
  react_on_rails_pro/LICENSE_SETUP.md
  react_on_rails_pro/docs/updating.md
Due: prettier

docs: remove empty unreleased pro changelog section
  CHANGELOG.md
Due: prettier

fix: trim pro license env token and tighten missing-license specs
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop

fix: warn when legacy pro license key file is detected
  CHANGELOG.md
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
Due: autofix, rubocop, prettier

chore: add removal TODO for legacy license-file migration warning
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
Due: autofix, rubocop

chore: remove pro license key file fallback
  CHANGELOG.md
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseValidator.test.ts
  react_on_rails_pro/CLAUDE.md
  react_on_rails_pro/LICENSE_SETUP.md
  react_on_rails_pro/docs/installation.md
  react_on_rails_pro/docs/updating.md
  react_on_rails_pro/lib/react_on_rails_pro/license_task_formatter.rb
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop, eslint, prettier

test: cover legacy-file + env-var migration happy path
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
Due: autofix, rubocop

fix: cache undefined org/plan results in node license validator
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseValidator.test.ts
Due: eslint, prettier

docs: add unreleased pro breaking-change changelog entry
  CHANGELOG.md
Due: prettier

Fix node renderer upload race condition with per-request directories (#2449)
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/uploadRaceCondition.test.ts
Due: eslint, prettier

Address review: log cleanup errors, add defensive assertion, fix stale comment
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/uploadRaceCondition.test.ts
Due: eslint, prettier

Add changelog entry for node renderer upload race condition fix (#2449)
  CHANGELOG.md
Due: prettier

Move per-request upload directory cleanup from onResponse hook to deleteUploadedAssets
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
Due: eslint, prettier

test: clean up dead Rails.root mock and assert file path removed from output
  react_on_rails_pro/spec/react_on_rails_pro/license_task_formatter_spec.rb
Due: autofix, rubocop

refactor: use .presence idiom in load_license_string
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
Due: autofix, rubocop

Rely on onResponse hook for upload cleanup; add master orphan timer (#2449)
  packages/react-on-rails-pro-node-renderer/src/master.ts
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleRenderRequest.ts
Due: eslint, prettier

Move ScoutApm instrumentation into an initializer
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/engine.rb
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/engine_spec.rb
Due: autofix, rubocop, prettier

Lazily assign uploadDir in onFile; skip cleanup for non-upload requests
  packages/react-on-rails-pro-node-renderer/src/worker.ts
Due: eslint, prettier

Guard against empty filename in onFile after path.basename
  packages/react-on-rails-pro-node-renderer/src/worker.ts
Due: eslint, prettier

Fix node renderer upload race condition with per-request directories (#2456)
  CHANGELOG.md
  packages/react-on-rails-pro-node-renderer/src/master.ts
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/uploadRaceCondition.test.ts
Due: eslint, prettier

Fix async props race conditions (#2297)
  packages/react-on-rails-pro-node-renderer/src/shared/constants.ts
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleGracefulShutdown.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/projects/spec-dummy/asyncComponentsTreeForTestingRenderingRequest.js
  packages/react-on-rails-pro-node-renderer/tests/fixtures/secondary-bundle-incremental.js
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails-pro/src/ReactOnRailsRSC.ts
  packages/react-on-rails-pro/src/createReactOnRailsPro.ts
  packages/react-on-rails-pro/tests/AsyncPropManager.test.ts
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/lib/react_on_rails_pro/httpx_stream_bidi_patch.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/node_rendering_pool.rb
  react_on_rails_pro/spec/dummy/Procfile.dev
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/client/node-renderer.js
  react_on_rails_pro/spec/dummy/spec/requests/incremental_rendering_integration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_js_code_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/node_rendering_pool_spec.rb
Due: autofix, rubocop, eslint, prettier

Add RSC migration guide series for React app restructuring (#2459)
  docs/migrating/migrating-to-rsc.md
  docs/migrating/rsc-component-patterns.md
  docs/migrating/rsc-context-and-state.md
  docs/migrating/rsc-data-fetching.md
  docs/migrating/rsc-third-party-libs.md
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Add animated SVG diagram for top-down migration strategy
  docs/migrating/images/top-down-migration.svg
  docs/migrating/rsc-component-patterns.md
Due: prettier

Redesign migration SVG: consistent ProductPage across all phases
  docs/migrating/images/top-down-migration.svg
Due: none

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
