Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Document Bundler 4 for CI config switching
  SWITCHING_CI_CONFIGS.md
Due: prettier

[codex] Add Ruby 4 CI support (#3529)
  .claude/docs/replicating-ci-failures.md
  .github/read-me.md
  .github/workflows/detect-invalid-ci-commands.yml
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/playwright.yml
  .github/workflows/precompile-check.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SWITCHING_CI_CONFIGS.md
  bin/ci-rerun-failures
  bin/ci-switch-config
  internal/contributor-info/ci-optimization.md
  react_on_rails/Gemfile.lock
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop, prettier

docs(agents): drop "Ask First" gate on modifying the Pro package (#3531)
  AGENTS.md
Due: prettier

Run generated pack hook before bundle builds
  internal/contributor-info/create-react-on-rails-app-smoke-testing.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/generator_messages/ci_section.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/.github/workflows/ci.yml.tt
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/support/shared_examples/scaffold_ci_examples.rb
Due: autofix, rubocop, prettier

Pass CSP nonce to streamed RSC rendering (#3507)
  CHANGELOG.md
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/streamServerRenderedReactComponent.test.jsx
Due: eslint, prettier

Add Rspack dummy app coverage scaffolding
  knip.ts
  pnpm-lock.yaml
  react_on_rails/spec/dummy/bin/shakapacker
  react_on_rails/spec/dummy/config/rspack/rspack.config.js
  react_on_rails/spec/dummy/config/shakapacker.yml
  react_on_rails/spec/dummy/config/webpack/commonWebpackConfig.js
  react_on_rails/spec/dummy/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/bin/shakapacker
  react_on_rails_pro/spec/execjs-compatible-dummy/config/rspack/rspack.config.js
  react_on_rails_pro/spec/execjs-compatible-dummy/config/shakapacker.yml
  react_on_rails_pro/spec/execjs-compatible-dummy/config/webpack/commonWebpackConfig.js
  react_on_rails_pro/spec/execjs-compatible-dummy/config/webpack/serverWebpackConfig.js
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: eslint, prettier

Warn on dynamic RSC webpack plugin options (#3505)
  CHANGELOG.md
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop, prettier

Harden Rspack dummy server config
  react_on_rails/spec/dummy/config/rspack/rspack.config.js
  react_on_rails/spec/dummy/config/webpack/serverWebpackConfig.js
  react_on_rails_pro/spec/execjs-compatible-dummy/config/rspack/rspack.config.js
  react_on_rails_pro/spec/execjs-compatible-dummy/config/webpack/serverWebpackConfig.js
Due: eslint, prettier

Fix dummy shakapacker bin lint
  react_on_rails/spec/dummy/bin/shakapacker
Due: none

Auto-mount rolling deploy bundle routes safely
  CHANGELOG.md
  docs/pro/rolling-deploy-adapters.md
  react_on_rails_pro/app/controllers/react_on_rails_pro/rolling_deploy/bundles_controller.rb
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/spec/dummy/spec/rolling_deploy_auto_routes_spec.rb
Due: autofix, rubocop, prettier

Address rolling deploy auto-route review feedback
  docs/pro/rolling-deploy-adapters.md
  react_on_rails_pro/app/controllers/react_on_rails_pro/rolling_deploy/bundles_controller.rb
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/spec/dummy/spec/rolling_deploy_auto_routes_spec.rb
Due: autofix, rubocop, prettier

Document rolling deploy route test coupling
  react_on_rails_pro/spec/dummy/spec/rolling_deploy_auto_routes_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy/bundles_controller_spec.rb
Due: autofix, rubocop

Address rolling deploy auto-mount review nits
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy/bundles_controller_spec.rb
Due: autofix, rubocop

Derive rolling deploy route hash constraint
  react_on_rails_pro/app/controllers/react_on_rails_pro/rolling_deploy/bundles_controller.rb
Due: autofix, rubocop

Add rolling deploy route hash pattern coverage
  react_on_rails_pro/app/controllers/react_on_rails_pro/rolling_deploy/bundles_controller.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy/bundles_controller_spec.rb
Due: autofix, rubocop

Respect Shakapacker hook inheritance in test builds
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/generator_messages/ci_section.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Refresh open work investigation notes
  analysis/abanoub-ihabe-open-work-investigation-2026-06-01.md
Due: prettier

Refresh AbanoubGhadban and ihabadham open work investigation
  analysis/abanoub-ihabe-open-work-investigation-2026-06-01.md
Due: prettier

Preserve Shakapacker YAML alias handling
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

Pin Shakapacker alias parser spec branch
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

Refresh async props migration docs
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/migrating/rsc-component-patterns.md
  docs/oss/migrating/rsc-context-and-state.md
  docs/oss/migrating/rsc-data-fetching.md
  docs/oss/migrating/rsc-preparing-app.md
  docs/oss/migrating/rsc-third-party-libs.md
  docs/oss/migrating/rsc-troubleshooting.md
Due: prettier

Address async props docs review
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/migrating/rsc-data-fetching.md
Due: prettier

Clarify async props docs examples
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/migrating/rsc-data-fetching.md
Due: prettier

Correct async props setup error note
  docs/oss/migrating/rsc-data-fetching.md
Due: prettier

Run generated pack hook before create-app bundle builds (#3535)
  internal/contributor-info/create-react-on-rails-app-smoke-testing.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/generator_messages/ci_section.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/.github/workflows/ci.yml.tt
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/support/shared_examples/scaffold_ci_examples.rb
Due: autofix, rubocop, prettier

Address Rspack diagnostics review
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

Unify benchmark suites behind matrix config
  .github/actions/setup-benchmark-runner/action.yml
  .github/workflows/benchmark.yml
  benchmarks/count_benchmark_shards.rb
  benchmarks/generate_matrix.rb
Due: autofix, rubocop, prettier

Inline setup-benchmark-runner
  .github/actions/setup-benchmark-runner/action.yml
  .github/workflows/benchmark.yml
Due: prettier

Avoid sharding small manual benchmark route sets
  .github/workflows/benchmark.yml
  benchmarks/generate_matrix.rb
Due: autofix, rubocop, prettier

Remove unused benchmark shard slug from matrix
  benchmarks/generate_matrix.rb
Due: autofix, rubocop

Add tests
  .github/workflows/benchmark.yml
  .github/workflows/lint-js-and-ruby.yml
  benchmarks/generate_matrix.rb
  benchmarks/spec/benchmark_matrix_spec.rb
  benchmarks/spec/benchmark_routes_spec.rb
  benchmarks/spec/spec_helper.rb
  script/ci-changes-detector
  script/ci-changes-detector-test.bash
Due: autofix, rubocop, prettier

Drop dead matrix job outputs and harden workflow step inputs
  .github/workflows/benchmark.yml
Due: prettier

Generate the skipped benchmark matrix row from a real suite
  benchmarks/generate_matrix.rb
  benchmarks/spec/benchmark_matrix_spec.rb
Due: autofix, rubocop

Keep doctor HMR defaults consistent
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Treat hmr only as HMR in diagnostics
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

Scope CSS extraction dependency to webpack
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Make Vegeta download depend on arch
  .github/workflows/benchmark.yml
Due: prettier

Unify benchmark CI suites behind a matrix workflow (#3528)
  .github/actions/setup-benchmark-runner/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/lint-js-and-ruby.yml
  benchmarks/count_benchmark_shards.rb
  benchmarks/generate_matrix.rb
  benchmarks/spec/benchmark_matrix_spec.rb
  benchmarks/spec/benchmark_routes_spec.rb
  benchmarks/spec/spec_helper.rb
  script/ci-changes-detector
  script/ci-changes-detector-test.bash
Due: autofix, rubocop, prettier
