Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Keep multipart parsing synchronized with the HTTP request lifecycle
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/http1Transport.test.ts
Due: eslint, prettier

Verify upload limits over a real HTTP/1.1 connection
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/multipartBodyLimit.test.ts
Due: eslint, prettier

Fix multipart file loss after large HTTP/1.1 uploads (#5147)
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/http1Transport.test.ts
  packages/react-on-rails-pro-node-renderer/tests/multipartBodyLimit.test.ts
Due: eslint, prettier

Attribute the streamed hydration fix in the changelog
  CHANGELOG.md
Due: prettier

Cover streamed useId hydration through Rails and real browsers
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/streamed_use_id.html.erb
  react_on_rails_pro/spec/dummy/client/app/components/StreamedUseId.jsx
  react_on_rails_pro/spec/dummy/client/app/packs/client-bundle.js
  react_on_rails_pro/spec/dummy/client/app/packs/server-bundle.js
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/e2e-tests/streamed_use_id.spec.ts
Due: autofix, rubocop, eslint, prettier

Preserve streamed useId prefixes during plain component hydration
  CHANGELOG.md
  packages/react-on-rails-pro/src/ClientSideRenderer.ts
  packages/react-on-rails-pro/tests/ClientSideRenderer.test.ts
Due: eslint, prettier

Mark the streaming fixture as a client boundary for RSC builds
  react_on_rails_pro/spec/dummy/client/app/components/StreamedUseId.jsx
Due: eslint, prettier

Keep the hydration fix in the next release candidate changelog
  CHANGELOG.md
Due: prettier

Forward-port multipart file-preservation fix to main (#5149)
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/http1Transport.test.ts
  packages/react-on-rails-pro-node-renderer/tests/multipartBodyLimit.test.ts
Due: eslint, prettier

Fix Pro streamed useId hydration without an RSC provider (#5148)
  CHANGELOG.md
  packages/react-on-rails-pro/src/ClientSideRenderer.ts
  packages/react-on-rails-pro/tests/ClientSideRenderer.test.ts
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/streamed_use_id.html.erb
  react_on_rails_pro/spec/dummy/client/app/components/StreamedUseId.jsx
  react_on_rails_pro/spec/dummy/client/app/packs/client-bundle.js
  react_on_rails_pro/spec/dummy/client/app/packs/server-bundle.js
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/e2e-tests/streamed_use_id.spec.ts
Due: autofix, rubocop, eslint, prettier

Forward-port streamed useId hydration fix from 17.2.0 (#5150)
  CHANGELOG.md
  packages/react-on-rails-pro/src/ClientSideRenderer.ts
  packages/react-on-rails-pro/tests/ClientSideRenderer.test.ts
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/streamed_use_id.html.erb
  react_on_rails_pro/spec/dummy/client/app/components/StreamedUseId.jsx
  react_on_rails_pro/spec/dummy/client/app/packs/client-bundle.js
  react_on_rails_pro/spec/dummy/client/app/packs/server-bundle.js
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/e2e-tests/streamed_use_id.spec.ts
Due: autofix, rubocop, eslint, prettier

Add missing changelog entry for multipart file-preservation fix
  CHANGELOG.md
Due: prettier

Keep hydrated Redux stores inside each renderer request
  docs/oss/api-reference/redux-store-api.md
  docs/oss/migrating/rsc-context-and-state.md
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/concurrentStoreIsolation.test.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/StoreProvider.client.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/concurrentStoreApp.ts
  packages/react-on-rails-pro/src/StoreRegistry.ts
  packages/react-on-rails/src/StoreRegistry.ts
  pnpm-lock.yaml
Due: eslint, prettier

Keep request registries independent of page lifecycle shims
  CHANGELOG.md
  packages/react-on-rails-pro/src/CallbackRegistry.ts
  packages/react-on-rails-pro/src/StoreRegistry.ts
  packages/react-on-rails-pro/tests/StoreRegistry.server.test.ts
Due: eslint, prettier

Link the concurrency fix to its reviewed pull request
  CHANGELOG.md
Due: prettier

Avoid retaining server store waiters in page callbacks
  CHANGELOG.md
  docs/oss/migrating/rsc-context-and-state.md
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/concurrentStoreApp.ts
  packages/react-on-rails-pro/src/CallbackRegistry.ts
  packages/react-on-rails-pro/tests/StoreRegistry.server.test.ts
  packages/react-on-rails/tests/StoreRegistry.server.test.ts
Due: eslint, prettier

Track dynamically bundled Redux regression dependencies in Knip
  knip.ts
Due: eslint, prettier

Retain render store context during stream pulls and teardown
  CHANGELOG.md
  docs/oss/migrating/rsc-context-and-state.md
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/concurrentStoreIsolation.test.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/concurrentStoreApp.ts
Due: eslint, prettier

Stop publishing dangling sourceMappingURL pointers in lib/ (react-on-rails, react-on-rails-pro) (#5079) (#5099)
  CHANGELOG.md
  packages/react-on-rails-pro/tsconfig.json
  packages/react-on-rails/tsconfig.json
Due: prettier

Refresh @fastify/busboy lock resolution to 3.2.2 on release/17.2.0
  pnpm-lock.yaml
Due: prettier

Prove store isolation across concurrent RSC bundle handoffs
  knip.ts
  packages/react-on-rails-pro-node-renderer/tests/concurrentStoreIsolation.test.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/concurrentStoreRSCApp.ts
Due: eslint, prettier

docs: Offer private vulnerability reporting in the issue chooser
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier

Fix BUILD_ID not initialized on RSC payload endpoint path (#5076)
  packages/react-on-rails-pro/src/cache/buildIdProvider.ts
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_js_code_spec.rb
Due: autofix, rubocop, eslint, prettier

Add missing changelog entry for multipart file-preservation fix (#5151)
  CHANGELOG.md
Due: prettier

Derive BUILD_ID from VM context as structural fallback (#5076)
  CHANGELOG.md
  docs/pro/react-server-components/unstable-cache.md
  llms-full-pro.txt
  llms-full.txt
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
  packages/react-on-rails-pro/src/cache/buildIdProvider.ts
  packages/react-on-rails-pro/src/capabilities/proRSC.ts
  packages/react-on-rails-pro/tests/buildIdProvider.test.ts
  pnpm-lock.yaml
Due: eslint, prettier

Fix useId hydration test on React 18.0.0
  packages/react-on-rails-pro/tests/ClientSideRenderer.test.ts
Due: eslint, prettier

Fix useId hydration test on the React 18.0.0 CI lane (#5155)
  packages/react-on-rails-pro/tests/ClientSideRenderer.test.ts
Due: eslint, prettier

Backport: stop publishing dangling sourceMappingURL pointers in lib/ (#5153)
  CHANGELOG.md
  packages/react-on-rails-pro/tsconfig.json
  packages/react-on-rails/tsconfig.json
Due: prettier

Register pro package client components in RSC client-reference discovery + document the wrapper requirement (#5079) (#5100)
  .prettierignore
  CHANGELOG.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/inside-client-components.md
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_rsc/config/rspack/clientWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_rsc/config/rspack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_rsc/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/previous_generated_rsc_configs/README.md
  react_on_rails/spec/react_on_rails/fixtures/previous_generated_rsc_configs/manifest_era_b58d1fe8b.js
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
  react_on_rails_pro/spec/dummy/config/webpack/rscManifestClientReferences.js
  react_on_rails_pro/spec/dummy/tests/rsc-manifest-client-references.test.js
Due: autofix, rubocop, eslint, prettier

Refresh @fastify/busboy lock resolution to 3.2.2 (#5152)
  pnpm-lock.yaml
Due: prettier

Backport: register Pro package client components in RSC client-reference discovery (#5156)
  .prettierignore
  CHANGELOG.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/inside-client-components.md
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_rsc/config/rspack/clientWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/rspack_rsc/config/rspack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/generated/webpack_rsc/config/webpack/serverWebpackConfig.js
  react_on_rails/spec/react_on_rails/fixtures/previous_generated_rsc_configs/README.md
  react_on_rails/spec/react_on_rails/fixtures/previous_generated_rsc_configs/manifest_era_b58d1fe8b.js
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
  react_on_rails_pro/spec/dummy/config/webpack/rscManifestClientReferences.js
  react_on_rails_pro/spec/dummy/tests/rsc-manifest-client-references.test.js
Due: autofix, rubocop, eslint, prettier

Update changelog for 17.2.0.rc.1
  CHANGELOG.md
Due: prettier

Update changelog for 17.2.0.rc.1 (#5158)
  CHANGELOG.md
Due: prettier

Bump version to 17.2.0.rc.1
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

PPR: marker-in-content regression test and version-skew error message (#4890) (#4894)
  packages/react-on-rails-pro/tests/pprServerRenderedReactComponent.test.jsx
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop, eslint, prettier

PPR v1: re-land the prerender/resume pipeline with the #4659 review defects fixed (#4889)
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/src/capabilities/proStreaming.ts
  packages/react-on-rails-pro/src/pprApiRegistry.ts
  packages/react-on-rails-pro/src/pprServerRenderedReactComponent.ts
  packages/react-on-rails-pro/src/pprSupport.ts
  packages/react-on-rails-pro/src/streamRenderErrorSupport.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  packages/react-on-rails-pro/tests/pprServerRenderedReactComponent.test.jsx
  packages/react-on-rails/src/types/index.ts
  react_on_rails/lib/react_on_rails/pro_helper.rb
  react_on_rails/lib/react_on_rails/react_component/render_options.rb
  react_on_rails/spec/dummy/spec/helpers/react_on_rails_helper_spec.rb
  react_on_rails/spec/react_on_rails/react_component/render_options_spec.rb
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro.rb
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/lib/react_on_rails_pro/ppr.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/sig/react_on_rails_pro/configuration.rbs
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/ppr_page_for_testing.html.erb
  react_on_rails_pro/spec/dummy/client/app/packs/server-bundle.js
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/PprPageForTesting.jsx
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
  react_on_rails_pro/spec/dummy/spec/react_on_rails_pro/ppr_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_js_code_spec.rb
Due: autofix, rubocop, eslint, prettier

PPR: versioned envelope, cache validation, and graceful degradation (#4891) (#4895)
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro/ppr.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
  react_on_rails_pro/spec/dummy/spec/react_on_rails_pro/ppr_spec.rb
  script/convert
Due: autofix, rubocop

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
