Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Add pro benchmarks
  .github/workflows/benchmark.yml
  react_on_rails_pro/spec/dummy/Procfile.prod
  react_on_rails_pro/spec/dummy/bin/prod
  react_on_rails_pro/spec/dummy/bin/prod-assets
  react_on_rails_pro/spec/dummy/config/environments/production.rb
Due: autofix, rubocop, prettier

Replace DURATION_SEC with DURATION
  .github/workflows/benchmark.yml
  spec/performance/bench.rb
Due: autofix, rubocop, prettier

Update Claude instructions
  CLAUDE.md
Due: prettier

Move showing benchmark params to bench.sh for simplicity
  .github/workflows/benchmark.yml
  spec/performance/bench.sh
Due: prettier

Fix starting/stopping servers
  .github/workflows/benchmark.yml
Due: prettier

Allow configuring RAILS_MAX/MIN_THREADS in the workflow
  .github/workflows/benchmark.yml
Due: prettier

Fix Fortio failure on server_side_log_throw_raise
  spec/performance/bench.rb
Due: autofix, rubocop

Fix app version handling in the benchmark workflow
  .github/workflows/benchmark.yml
Due: prettier

Handle empty inputs correctly
  .github/workflows/benchmark.yml
  spec/performance/bench.rb
Due: autofix, rubocop, prettier

Update prod-assets to include generate_packs
  .github/workflows/benchmark.yml
  react_on_rails_pro/spec/dummy/bin/prod-assets
Due: prettier

Move stopping the servers after validating/uploading benchmark results
  .github/workflows/benchmark.yml
Due: prettier

Make installs frozen
  .github/workflows/benchmark.yml
  react_on_rails/spec/dummy/Gemfile.lock
Due: prettier

Update Core dummy path
  .github/workflows/benchmark.yml
  spec/performance/bench.rb
Due: autofix, rubocop, prettier

Temp config to speed up
  .github/workflows/benchmark.yml
Due: prettier

Fix killing the server
  .github/workflows/benchmark.yml
Due: prettier

generate_packs is now needed in core as well
  react_on_rails/spec/dummy/bin/prod-assets
Due: none

Optimize tools installation
  .github/workflows/benchmark.yml
Due: prettier

Add logging to server check
  spec/performance/bench.rb
Due: autofix, rubocop

Run benchmark workflow only on PRs with full-ci or benchmark labels
  .github/workflows/benchmark.yml
Due: prettier

Skip testing routes
  spec/performance/bench.rb
Due: autofix, rubocop

Move benchmark scripts to a non-gitignored directory
  .github/workflows/benchmark.yml
  benchmarks/bench.rb
Due: autofix, rubocop, prettier

Allow redirects in server_responding
  spec/performance/bench.rb
Due: autofix, rubocop

Fix Vegeta tests
  spec/performance/bench.rb
Due: autofix, rubocop

Don't follow redirects
  spec/performance/bench.rb
Due: autofix, rubocop

Switch benchmark.yml to pnpm and new directory structure
  .github/workflows/benchmark.yml
  react_on_rails/spec/dummy/bin/prod
  react_on_rails/spec/dummy/bin/prod-assets
  react_on_rails_pro/spec/dummy/bin/prod
Due: prettier

Improve route handling
  spec/performance/bench.rb
Due: autofix, rubocop

Add doc
  docs/planning/library-benchmarking.md
Due: prettier

Try full Pro benchmark
  .github/workflows/benchmark.yml
Due: prettier

Closer config for Core and Pro dummy apps
  react_on_rails/spec/dummy/config/puma.rb
  react_on_rails/spec/dummy/config/shakapacker.yml
  react_on_rails_pro/spec/dummy/config/database.yml
  react_on_rails_pro/spec/dummy/config/environments/production.rb
  react_on_rails_pro/spec/dummy/config/puma.rb
  react_on_rails_pro/spec/dummy/config/shakapacker.yml
Due: autofix, rubocop, prettier

Fix Yalc and pnpm handling in benchmark.yml
  .github/workflows/benchmark.yml
Due: prettier

Separate k6 test file
  benchmarks/bench.rb
  benchmarks/k6.ts
  package.json
  pnpm-lock.yaml
Due: autofix, rubocop, eslint, prettier

Fix assets:precompile in Pro dummy
  react_on_rails_pro/spec/dummy/lib/tasks/assets.rake
Due: autofix, rubocop

Add Node renderer benchmarks
  .github/workflows/benchmark.yml
  benchmarks/bench-node-renderer.rb
  benchmarks/bench.rb
  benchmarks/lib/benchmark_helpers.rb
Due: autofix, rubocop, prettier

Default Rails benchmarks to only use k6
  .github/workflows/benchmark.yml
  benchmarks/bench.rb
Due: autofix, rubocop, prettier

Fix Prettier formatting in update-changelog.md
  .claude/commands/update-changelog.md
Due: prettier

Fix conductor.json run script path
  conductor.json
Due: prettier

Remove 206 from lychee accept list
  .lychee.toml
Due: none

Improve lychee config based on review feedback
  .github/workflows/check-markdown-links.yml
  .lychee.toml
Due: prettier

Expand link checker to full monorepo and fix broken links
  .github/workflows/check-markdown-links.yml
  .lychee.toml
  react_on_rails_pro/CHANGELOG.md
  react_on_rails_pro/CONTRIBUTING.md
  react_on_rails_pro/docs/release-notes/4.0.md
  react_on_rails_pro/docs/release-notes/v4-react-server-components.md
Due: prettier

Clarify release script changelog options (#2220)
  .claude/commands/update-changelog.md
  CHANGELOG.md
  conductor.json
  docs/contributor-info/releasing.md
  rakelib/release.rake
  react_on_rails/rakelib/update_changelog.rake
Due: autofix, rubocop, prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
