Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

chore: Remove debug console.log statements
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
Due: eslint, prettier

tmp
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro/src/ReactOnRailsRSC.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/dummy/Procfile.dev
  react_on_rails_pro/spec/dummy/STREAM_BIDI_BUG_ANALYSIS.md
  react_on_rails_pro/spec/dummy/app/views/pages/test_incremental_rendering.html.erb
  react_on_rails_pro/spec/dummy/client/node-renderer.js
  react_on_rails_pro/spec/dummy/stream_bidi_async_race_demo.rb
  react_on_rails_pro/spec/dummy/stream_bidi_buffered_send_demo.rb
  react_on_rails_pro/spec/dummy/stream_bidi_delayed_response_demo.rb
  react_on_rails_pro/spec/dummy/stream_bidi_exact_reproduction.rb
  react_on_rails_pro/spec/dummy/stream_bidi_late_response_demo.rb
  react_on_rails_pro/spec/dummy/stream_bidi_race_condition_demo.rb
  react_on_rails_pro/spec/dummy/test_actual_node_renderer.rb
  react_on_rails_pro/spec/dummy/test_real_incremental_debug.rb
  react_on_rails_pro/spec/dummy/test_stream_bidi_debug.rb
  react_on_rails_pro/spec/dummy/test_stream_bidi_reuse.rb
Due: autofix, rubocop, eslint, prettier

fix: Update AsyncPropsEmitter initialization to use rsc_bundle_hash
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
Due: autofix, rubocop

Revert "fix: Force RSC bundle when async_props_block is present"
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/node_rendering_pool.rb
Due: autofix, rubocop

Revert "tmp"
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro/src/ReactOnRailsRSC.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/dummy/Procfile.dev
  react_on_rails_pro/spec/dummy/STREAM_BIDI_BUG_ANALYSIS.md
  react_on_rails_pro/spec/dummy/app/views/pages/test_incremental_rendering.html.erb
  react_on_rails_pro/spec/dummy/client/node-renderer.js
  react_on_rails_pro/spec/dummy/stream_bidi_async_race_demo.rb
  react_on_rails_pro/spec/dummy/stream_bidi_buffered_send_demo.rb
  react_on_rails_pro/spec/dummy/stream_bidi_delayed_response_demo.rb
  react_on_rails_pro/spec/dummy/stream_bidi_exact_reproduction.rb
  react_on_rails_pro/spec/dummy/stream_bidi_late_response_demo.rb
  react_on_rails_pro/spec/dummy/stream_bidi_race_condition_demo.rb
  react_on_rails_pro/spec/dummy/test_actual_node_renderer.rb
  react_on_rails_pro/spec/dummy/test_real_incremental_debug.rb
  react_on_rails_pro/spec/dummy/test_stream_bidi_debug.rb
  react_on_rails_pro/spec/dummy/test_stream_bidi_reuse.rb
Due: autofix, rubocop, eslint, prettier

fix: Update worker restart intervals for better performance
  react_on_rails_pro/spec/dummy/client/node-renderer.js
Due: eslint, prettier

claude investigations
  packages/react-on-rails-pro-node-renderer/INVESTIGATION_SUMMARY.md
  packages/react-on-rails-pro-node-renderer/fastify_http2_bug_repro.mjs
  packages/react-on-rails-pro-node-renderer/fastify_http2_bug_repro_aggressive.mjs
  packages/react-on-rails-pro-node-renderer/fastify_http2_exact_repro.mjs
  packages/react-on-rails-pro-node-renderer/fastify_http2_frame_timing.mjs
  packages/react-on-rails-pro-node-renderer/fastify_incremental_render_repro.mjs
  packages/react-on-rails-pro-node-renderer/fastify_simple_bug.mjs
  packages/react-on-rails-pro-node-renderer/fastify_void_response_bug.mjs
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/test_http2_bidi_request.mjs
  packages/react-on-rails-pro-node-renderer/test_httpx_late_headers.rb
  react_on_rails_pro/spec/dummy/app/views/pages/test_incremental_rendering.html.erb
Due: autofix, rubocop, eslint, prettier

Revert "claude investigations"
  packages/react-on-rails-pro-node-renderer/INVESTIGATION_SUMMARY.md
  packages/react-on-rails-pro-node-renderer/fastify_http2_bug_repro.mjs
  packages/react-on-rails-pro-node-renderer/fastify_http2_bug_repro_aggressive.mjs
  packages/react-on-rails-pro-node-renderer/fastify_http2_exact_repro.mjs
  packages/react-on-rails-pro-node-renderer/fastify_http2_frame_timing.mjs
  packages/react-on-rails-pro-node-renderer/fastify_incremental_render_repro.mjs
  packages/react-on-rails-pro-node-renderer/fastify_simple_bug.mjs
  packages/react-on-rails-pro-node-renderer/fastify_void_response_bug.mjs
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/test_http2_bidi_request.mjs
  packages/react-on-rails-pro-node-renderer/test_httpx_late_headers.rb
  react_on_rails_pro/spec/dummy/app/views/pages/test_incremental_rendering.html.erb
Due: autofix, rubocop, eslint, prettier

fix: Await response completion in handleIncrementalRenderStream
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
Due: eslint, prettier

fix: Update message iteration in redis_receiver for clarity
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
Due: autofix, rubocop

fix: Update stream handling methods for first bundle in incremental rendering
  packages/react-on-rails-pro-node-renderer/tests/fixtures/secondary-bundle-incremental.js
  react_on_rails_pro/spec/dummy/spec/requests/incremental_rendering_integration_spec.rb
Due: autofix, rubocop, eslint, prettier

fix: Improve error logging and update async props manager initialization
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/spec/dummy/app/views/pages/test_incremental_rendering.html.erb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_js_code_spec.rb
Due: autofix, rubocop

fix: Refactor async props manager initialization in tests for clarity
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_js_code_spec.rb
Due: autofix, rubocop

test: Add race condition tests for getOrCreateAsyncPropsManager
  packages/react-on-rails-pro/tests/AsyncPropManager.test.ts
Due: eslint, prettier

fix: Remove unused is_rsc_payload parameter from render_code_with_incremental_updates
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/node_rendering_pool.rb
  react_on_rails_pro/spec/dummy/spec/requests/incremental_rendering_integration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/node_rendering_pool_spec.rb
Due: autofix, rubocop

tmp
  packages/react-on-rails-pro-node-renderer/src/shared/constants.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/test-disconnect-chunks-ruby-client.rb
  packages/react-on-rails-pro-node-renderer/test-disconnect-chunks.mjs
  react_on_rails_pro/app/views/react_on_rails_pro/rsc_payload.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/test_incremental_rendering.html.erb
  react_on_rails_pro/spec/dummy/client/node-renderer.js
  react_on_rails_pro/spec/dummy/config/initializers/react_on_rails_pro.rb
Due: autofix, rubocop, eslint, prettier

Revert "chore: Add debug/test scripts for stream_bidi + retries investigation"
  packages/react-on-rails-pro-node-renderer/test-async-disconnect-server.mjs
  packages/react-on-rails-pro-node-renderer/test-bidi-streaming-client.rb
  packages/react-on-rails-pro-node-renderer/test-bidi-streaming-server.mjs
  packages/react-on-rails-pro-node-renderer/test-body-first-chunk-disconnect.rb
  packages/react-on-rails-pro-node-renderer/test-body-first-chunk.rb
  packages/react-on-rails-pro-node-renderer/test-client-stops-reading.rb
  packages/react-on-rails-pro-node-renderer/test-connection-reuse.rb
Due: autofix, rubocop

chore: Add debug/test scripts for stream_bidi + retries investigation
  packages/react-on-rails-pro-node-renderer/test-async-disconnect-server.mjs
  packages/react-on-rails-pro-node-renderer/test-bidi-streaming-client.rb
  packages/react-on-rails-pro-node-renderer/test-bidi-streaming-server.mjs
  packages/react-on-rails-pro-node-renderer/test-body-first-chunk-disconnect.rb
  packages/react-on-rails-pro-node-renderer/test-body-first-chunk.rb
  packages/react-on-rails-pro-node-renderer/test-client-stops-reading.rb
  packages/react-on-rails-pro-node-renderer/test-connection-reuse.rb
Due: autofix, rubocop

chore: Remove obsolete test-disconnect-chunks scripts
  packages/react-on-rails-pro-node-renderer/test-disconnect-chunks-ruby-client.rb
  packages/react-on-rails-pro-node-renderer/test-disconnect-chunks.mjs
Due: autofix, rubocop

chore: Remove debug logging from worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
Due: eslint, prettier

fix: Clear body callbacks on retry in stream_bidi patch
  react_on_rails_pro/lib/react_on_rails_pro/httpx_stream_bidi_patch.rb
Due: autofix, rubocop

tmp
  react_on_rails_pro/lib/react_on_rails_pro/httpx_stream_bidi_patch.rb
  react_on_rails_pro/spec/dummy/Procfile.dev
Due: autofix, rubocop

style: Fix RuboCop offense in httpx_stream_bidi_patch.rb
  react_on_rails_pro/lib/react_on_rails_pro/httpx_stream_bidi_patch.rb
Due: autofix, rubocop

fix: Improve graceful shutdown and connection cleanup
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleGracefulShutdown.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
Due: eslint, prettier

tiny changes
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  react_on_rails_pro/app/views/react_on_rails_pro/rsc_payload.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/test_incremental_rendering.html.erb
  react_on_rails_pro/spec/dummy/config/initializers/react_on_rails_pro.rb
Due: autofix, rubocop, eslint, prettier

uncomment httpx fix
  react_on_rails_pro/lib/react_on_rails_pro/httpx_stream_bidi_patch.rb
Due: autofix, rubocop

fix failing tests
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/projects/spec-dummy/asyncComponentsTreeForTestingRenderingRequest.js
Due: eslint, prettier

Add documentation for custom Fastify configuration
  react_on_rails_pro/docs/node-renderer/js-configuration.md
Due: prettier

Fix Pro CHANGELOG.md structure for 16.2.x releases
  react_on_rails_pro/CHANGELOG.md
Due: prettier

Fix documentation accuracy and examples for custom Fastify configuration
  react_on_rails_pro/docs/node-renderer/js-configuration.md
Due: prettier

Use X placeholders for version format example
  react_on_rails_pro/CHANGELOG.md
Due: prettier

Remove non-user-facing 16.2.1 section from Pro changelog
  react_on_rails_pro/CHANGELOG.md
Due: prettier

Fix Pro CHANGELOG.md structure for 16.2.x releases (#2330)
  react_on_rails_pro/CHANGELOG.md
Due: prettier

Refactor license validation to non-blocking status-based approach
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
Due: autofix, rubocop

Update Utils to use new license status API
  react_on_rails/lib/react_on_rails/utils.rb
  react_on_rails_pro/lib/react_on_rails_pro/utils.rb
Due: autofix, rubocop

Add licenseValidator.ts to knip entry points
  knip.ts
Due: eslint, prettier

Update Node renderer license validator tests for new API
  packages/react-on-rails-pro-node-renderer/tests/licenseValidator.test.ts
Due: eslint, prettier

Update tests for new license status API
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/utils_spec.rb
Due: autofix, rubocop

Refactor Node renderer license validator to non-blocking approach
  packages/react-on-rails-pro-node-renderer/src/master.ts
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
Due: eslint, prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
