Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Derive RSC stable target from pin
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop

docs: address shakaperf review nits
  analysis/rsc-fouc-shakaperf-artifacts/setup/twin-servers/Procfile
Due: none

fix(types): address dummy app review cleanup
  react_on_rails/spec/dummy/client/app/components/HelloWorldRedux.tsx
  react_on_rails/spec/dummy/client/app/components/RailsContext.tsx
  react_on_rails/spec/dummy/client/app/startup/ContextFunctionReturnInvalidJSX.tsx
  react_on_rails/spec/dummy/client/app/startup/HelloTurboStream.tsx
  react_on_rails/spec/dummy/client/app/startup/HelloWorld.tsx
  react_on_rails/spec/dummy/client/app/startup/HelloWorldHooksContext.tsx
  react_on_rails/spec/dummy/client/app/startup/HelloWorldRehydratable.tsx
  react_on_rails/spec/dummy/client/app/startup/ReactHelmetApp.server.tsx
  react_on_rails/spec/dummy/client/app/startup/ReactHelmetAppBroken.server.tsx
  react_on_rails/spec/dummy/client/app/startup/ReduxApp.client.tsx
  react_on_rails/spec/dummy/client/app/startup/ReduxSharedStoreApp.client.tsx
  react_on_rails/spec/dummy/client/app/startup/domRenderers.ts
  react_on_rails/spec/dummy/client/app/types/railsContext.ts
Due: eslint, prettier

fix(generators): reuse shakapacker yml section indexes
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
Due: autofix, rubocop

Suppress regression issues when only /posts_page: Pro regresses
  benchmarks/lib/github.rb
  benchmarks/lib/regression_report.rb
  benchmarks/report_regressions.rb
  benchmarks/spec/report_regressions_spec.rb
  benchmarks/spec/track_benchmarks_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

fix(generators): clarify shakapacker hook safeguards
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
Due: autofix, rubocop

Clarify Rails JavaScript flag tutorial note
  docs/oss/getting-started/tutorial.md
Due: prettier

fix(generators): preserve raw precompile hooks on yaml fallback
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

Suppress generated imports for mjs cjs entrypoints
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
Due: autofix, rubocop

fix(generators): document shakapacker yaml fallback guards
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
Due: autofix, rubocop

Link tracking issue #3669 from posts_page suppression comment
  benchmarks/report_regressions.rb
Due: autofix, rubocop

Clarify renderer teardown review comments
  packages/react-on-rails-pro/src/wrapServerComponentRenderer/client.tsx
  packages/react-on-rails/src/rendererTeardown.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

docs(benchmarks): address ShakaPerf review fallbacks
  analysis/rsc-fouc-shakaperf-artifacts/setup/config/abtests.config.ts
  analysis/rsc-fouc-shakaperf-artifacts/setup/twin-servers/Procfile
Due: eslint, prettier

Clarify RSC teardown guard ordering
  packages/react-on-rails-pro/src/wrapServerComponentRenderer/client.tsx
Due: eslint, prettier

Clarify thenable test timing
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

fix(generators): read shakapacker merge aliases from lists
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

Address benchmark monitor review feedback
  benchmarks/lib/benchmark_target_monitor.rb
  benchmarks/spec/benchmark_target_monitor_spec.rb
Due: autofix, rubocop

Address teardown review threads
  docs/oss/api-reference/view-helpers-api.md
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ManualRenderApp.jsx
Due: eslint, prettier

Address ShakaPerf artifact review threads
  analysis/rsc-fouc-shakaperf-artifacts/setup/config/abtests.config.ts
  analysis/rsc-fouc-shakaperf-artifacts/setup/config/natural-first-visible-commit.abtests.config.ts
  analysis/rsc-fouc-shakaperf-artifacts/setup/generated-shakaperf-skills/setup-docker-servers-for-ab-tests.SKILL.md
  analysis/rsc-fouc-shakaperf-artifacts/setup/generated-shakaperf-skills/setup-docker-servers-for-ab-tests/SKILL.md
Due: eslint, prettier

Address dummy TypeScript review threads
  packages/react-on-rails-pro/src/ComponentRegistry.ts
  packages/react-on-rails/src/ComponentRegistry.ts
  packages/react-on-rails/src/componentRegistrationMetric.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/spec/dummy/client/app/components/HelloWorldRedux.tsx
  react_on_rails/spec/dummy/client/app/reducers/HelloWorldReducer.ts
  react_on_rails/spec/dummy/client/app/reducers/nullReducer.ts
  react_on_rails/spec/dummy/client/app/startup/domRenderers.ts
  react_on_rails/spec/dummy/client/app/store/reduxTypes.ts
  react_on_rails/spec/dummy/client/app/types/assets.d.ts
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
Due: autofix, rubocop, eslint, prettier

fix(generators): treat quoted empty hooks as inactive
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

docs(benchmarks): pin Procfile renderer URL
  analysis/rsc-fouc-shakaperf-artifacts/setup/README.md
  analysis/rsc-fouc-shakaperf-artifacts/setup/twin-servers/Dockerfile
  analysis/rsc-fouc-shakaperf-artifacts/setup/twin-servers/PROJECT_PROFILE.md
  analysis/rsc-fouc-shakaperf-artifacts/setup/twin-servers/Procfile
Due: prettier

Docs: use async props pattern in metadata and render-function examples
  docs/oss/building-features/react-19-native-metadata.md
  docs/oss/core-concepts/render-functions.md
Due: prettier

Address RSC generator review comments
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop

Address dummy TypeScript generator review follow-ups
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/spec/dummy/client/app/startup/ContextFunctionReturnInvalidJSX.tsx
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
Due: autofix, rubocop, eslint, prettier

Docs: fix async render function prop examples
  docs/oss/core-concepts/render-functions.md
Due: prettier

fix(generators): address shakapacker hook review threads
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

Docs: clarify async metadata shell context
  docs/oss/building-features/react-19-native-metadata.md
Due: prettier

Report actual suppressed benchmarks
  benchmarks/report_regressions.rb
  benchmarks/spec/report_regressions_spec.rb
Due: autofix, rubocop

docs(benchmarks): clarify artifact env defaults
  analysis/rsc-fouc-shakaperf-artifacts/setup/README.md
  analysis/rsc-fouc-shakaperf-artifacts/setup/config/abtests.config.ts
  analysis/rsc-fouc-shakaperf-artifacts/setup/twin-servers/Procfile
Due: eslint, prettier

fix(generators): warn when skipping hook placeholders
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

docs(benchmarks): note artifact env tradeoffs
  analysis/rsc-fouc-shakaperf-artifacts/setup/config/abtests.config.ts
  analysis/rsc-fouc-shakaperf-artifacts/setup/twin-servers/Procfile
Due: eslint, prettier

Address PR 3663 review follow-ups
  packages/react-on-rails-pro/src/wrapServerComponentRenderer/client.tsx
  packages/react-on-rails-pro/tests/wrapServerComponentRenderer.client.test.jsx
Due: eslint, prettier

Address generator review nits
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
Due: autofix, rubocop

Clarify renderer guard follow-up comment
  packages/react-on-rails-pro/src/wrapServerComponentRenderer/client.tsx
Due: eslint, prettier

fix(generators): honor raw shakapacker hook precedence
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

chore(generators): name parsed shakapacker hook state
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
Due: autofix, rubocop

Clarify renderer race setup comment
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

fix(generators): ignore nested raw shakapacker hooks
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

Harden benchmark target monitor follow-up
  benchmarks/lib/benchmark_helpers.rb
  benchmarks/lib/benchmark_target_monitor.rb
  benchmarks/spec/benchmark_target_monitor_spec.rb
Due: autofix, rubocop

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
