Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Reject background interactive releases
  script/release
  script/release-test.bash
Due: none

Fail closed on spawn-time terminal changes
  script/release
  script/release-test.bash
Due: none

Harden release job control boundaries
  script/release
  script/release-test.bash
Due: none

Require safe release terminal ownership
  script/release
  script/release-test.bash
Due: none

Give the pgid writer the floor its reader already had
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/sig/react_on_rails/dev/server_manager.rbs
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

Keep stopped headless releases supervised
  script/release
  script/release-test.bash
Due: none

Stop the read path following symlinks, and bound Overmind control
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

Restore terminal before release supervisor output
  script/release
  script/release-test.bash
Due: none

Scope `bin/dev kill` to the current app directory and verify shutdown (#4937)
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/sig/react_on_rails/dev/server_manager.rbs
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop, prettier

Protect managed claim cleanup diagnostics
  script/release
  script/release-test.bash
Due: none

Make exception cleanup test own child resources
  script/release-test.bash
Due: none

Fix release wrapper terminal job control (#4940)
  script/release
  script/release-test.bash
Due: none

Prevent typo-scheme renderer credential leaks
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Fail closed on reflected integration-test mutations
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Fail closed on ambiguous renderer authorities
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Close remaining configured authority gaps
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Handle opaque malformed renderer schemes
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Preserve empty-userinfo diagnostics
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Keep unresolved renderer URLs fail closed
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Fail closed on configured pre-scheme userinfo
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Preserve nested credential scan context
  docs/pro/react-server-components/tutorial.md
  internal/agent-evals/pro-app-buildability/README.md
  internal/agent-evals/pro-app-buildability/bin/assert-brokered-credential-absent
  internal/agent-evals/pro-app-buildability/bin/assert-credential-absent
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: prettier

Redact schemeless renderer environment credentials
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Record eval credential format in evidence
  internal/agent-evals/pro-app-buildability/bin/run-eval
  internal/agent-evals/pro-app-buildability/bin/validate-run-pair
  internal/agent-evals/pro-app-buildability/schemas/invocation.schema.json
  internal/agent-evals/pro-app-buildability/schemas/run.schema.json
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: prettier

Record eval agent configuration safely
  internal/agent-evals/pro-app-buildability/bin/run-eval
  internal/agent-evals/pro-app-buildability/bin/validate-run-pair
  internal/agent-evals/pro-app-buildability/schemas/invocation.schema.json
  internal/agent-evals/pro-app-buildability/schemas/run.schema.json
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: prettier

Fail closed on nested configured credentials
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Reject mutated page evidence
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Redact schemeless diagnostic authorities
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Sanitize caught renderer connection errors
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Gate named Ruby page evidence safely
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Fail closed for ambiguous renderer authorities
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Preserve valid named page test evidence
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Reject mutated setup evidence
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Redact credentials absorbed into apparent schemes
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Sanitize scraped renderer targets strictly
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Reject inherited setup DSL mutations
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Fail closed across renderer credential forms
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Sanitize timeout wrapper targets
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Cover setup DSL owner mutations
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Align renderer wrapper target sanitization
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

Resolve setup mutations to lexical owners
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none
