Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Address Rspack helper review regressions
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Keep Rspack server client references in graph
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Require RSC manifest helper calls before skipping
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Preserve RSC client reference scan compatibility
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Handle unreadable RSC client reference directories
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Harden RSC manifest helper migration
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Warn on missing RSC client references in production
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Avoid executing RSC client references in server entry
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Preserve request-style RSC client references
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Tighten RSC manifest helper edge cases
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Require RSC manifest helper imports before skipping
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Keep RSC client references out of server bundle
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Harden RSC manifest review edge cases
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Verify RSC helper client references
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Clean up RSC helper review issues
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Address RSC manifest review edge cases
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Preserve RSC reference entry filenames
  docs/pro/react-server-components/rspack-compatibility.md
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop, prettier

Preserve client RSC reference filename hashing
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Handle partial RSC helper migrations
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Handle directory string RSC references
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Restore scoped RSC references for helper configs
  docs/pro/react-server-components/rspack-compatibility.md
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop, prettier

Document Rspack helper edge cases
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Tighten RSC helper migration cleanup
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Allow commented server bundler anchors
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Tighten Rspack manifest helper review edges
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Clarify RSC helper migration invariants
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Harden RSC helper glob diagnostics
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Tighten Rspack helper review surface
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Clarify Rspack helper option validation
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Tighten RSC helper parsing diagnostics
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Clarify Rspack manifest helper review contracts
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Document unmatched brace glob fallback
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Add unit tests for rscManifestPlugin helper logic
  react_on_rails/spec/dummy/tests/rscManifestPlugin.test.js
Due: eslint, prettier

Detect 'use client' directives with a trailing comment
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/dummy/tests/rscManifestPlugin.test.js
Due: eslint, prettier

fix(docs): make PostList an async Server Component for meaningful Suspense
  docs/pro/streaming-ssr.md
Due: prettier

docs: harden demo fleet release gate and age-gate override approval
  internal/contributor-info/demo-fleet-design.md
Due: prettier

docs: tidy demo fleet age-gate plumbing per re-review
  internal/contributor-info/demo-fleet-design.md
Due: prettier

fix(docs): use the real async props API in streaming-ssr example
  docs/pro/streaming-ssr.md
Due: prettier

docs(rsc): reframe two missed in-scope prose items (#3468)
  docs/pro/react-server-components/glossary.md
  docs/pro/react-server-components/purpose-and-benefits.md
Due: prettier

Address optional RSC manifest review items
  docs/pro/react-server-components/rspack-compatibility.md
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/rscManifestPlugin.js.tt
  react_on_rails/spec/dummy/tests/rscManifestPlugin.test.js
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop, eslint, prettier
