Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

docs: reframe SPA shells as a single-call migration pattern
  docs/oss/migrating/migrating-from-react-rails.md
  docs/oss/migrating/migrating-from-vite-rails.md
Due: prettier

docs: clarify SPA-shape option and relocate import.meta.glob detail
  docs/oss/migrating/migrating-from-react-rails.md
  docs/oss/migrating/migrating-from-vite-rails.md
Due: prettier

Revert "fix: cap webpack <5.106.0 to prevent ExecJS SSR breakage (#3095)"
  package.json
  pnpm-lock.yaml
  react_on_rails/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: prettier

chore: remove now-obsolete webpack 5.106.0 pin from example generation
  react_on_rails/rakelib/shakapacker_examples.rake
Due: autofix, rubocop

test: enable RSpec --profile to surface slowest package tests
  react_on_rails/spec/react_on_rails/spec_helper.rb
Due: autofix, rubocop

docs: clarify DoorDash as SSR baseline in success stories
  docs/pro/react-server-components/success-stories.md
Due: prettier

ci: tighten Bencher alert detection to word-bounded "Alert[s]"
  .github/workflows/benchmark.yml
Due: prettier

docs: clarify example migration guidance
  docs/oss/migrating/example-migrations.md
Due: prettier

docs: refine helper-collision explanation to focus on precedence
  docs/oss/migrating/migrating-from-react-rails.md
Due: prettier

docs: sync rsc-troubleshooting globals list with supportModules default
  docs/oss/migrating/rsc-troubleshooting.md
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
Due: eslint, prettier

docs: keep example migration guidance precise
  docs/oss/migrating/example-migrations.md
Due: prettier

docs: align example migration links
  docs/oss/migrating/example-migrations.md
Due: prettier

docs: correct immediate_hydration removal version to 16.6.0
  docs/oss/configuration/configuration-deprecated.md
Due: prettier

Move Node Renderer entry point to renderer/ directory (#3165)
  CHANGELOG.md
  benchmarks/bench-node-renderer.rb
  docs/oss/api-reference/generator-details.md
  docs/oss/building-features/code-splitting.md
  docs/oss/building-features/node-renderer/basics.md
  docs/oss/building-features/node-renderer/container-deployment.md
  docs/oss/building-features/node-renderer/debugging.md
  docs/oss/building-features/node-renderer/heroku.md
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/oss/deployment/docker-deployment.md
  docs/oss/migrating/rsc-preparing-app.md
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/installation.md
  docs/pro/js-memory-leaks.md
  docs/pro/profiling-server-side-rendering-code.md
  packages/react-on-rails-pro-node-renderer/README.md
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/demo_page_config.rb
  react_on_rails/lib/generators/react_on_rails/pro/USAGE
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/pro/base/config/initializers/react_on_rails_pro.rb.tt
  react_on_rails/lib/generators/react_on_rails/templates/pro/base/renderer/node-renderer.js
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
  react_on_rails/spec/react_on_rails/support/shared_examples/pro_generator_examples.rb
  react_on_rails_pro/.controlplane/rails.yml
  react_on_rails_pro/spec/dummy/Procfile.dev
  react_on_rails_pro/spec/dummy/Procfile.prod
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/renderer/node-renderer.js
Due: autofix, rubocop, eslint, prettier

Fix code quality issues in oldest library files
  react_on_rails/lib/react_on_rails/json_output.rb
  react_on_rails/lib/react_on_rails/json_parse_error.rb
  react_on_rails/lib/react_on_rails/prerender_error.rb
  react_on_rails/lib/react_on_rails/server_rendering_pool.rb
  react_on_rails/lib/react_on_rails/version_syntax_converter.rb
Due: autofix, rubocop

chore: remove obsolete webpack <5.106.0 pin (#3175)
  package.json
  pnpm-lock.yaml
  react_on_rails/rakelib/shakapacker_examples.rake
  react_on_rails/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: autofix, rubocop, prettier

Bump Rspack dependencies to v2 (^2.0.0-0) (#3084)
  CHANGELOG.md
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/bin/switch-bundler
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop, prettier

docs: use absolute URL for node-renderer example link
  docs/oss/building-features/node-renderer/js-configuration.md
Due: prettier

docs: restore absolute URL for node-renderer testing example (#3179)
  docs/oss/building-features/node-renderer/js-configuration.md
Due: prettier

docs: remove stale immediate_hydration references (#3139) (#3159)
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/building-features/turbolinks.md
  docs/oss/configuration/configuration-deprecated.md
  docs/oss/upgrading/release-notes/16.2.0.md
  docs/pro/streaming-ssr.md
  docs/pro/troubleshooting.md
Due: prettier

fix(node-renderer): expose performance in VM context when supportModules (#3158)
  CHANGELOG.md
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/oss/migrating/rsc-troubleshooting.md
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
Due: eslint, prettier

Document examples catalog and naming plan
  docs/README.md
  docs/oss/building-features/rails-webpacker-react-integration-options.md
  docs/oss/core-concepts/react-server-rendering.md
  docs/oss/core-concepts/webpack-configuration.md
  docs/oss/getting-started/examples-and-references.md
  docs/oss/getting-started/tutorial.md
  docs/oss/introduction.md
  internal/planning/examples-catalog-and-repo-naming-plan.md
Due: prettier

docs: split SPA-shells bullet and add require.context example
  docs/oss/migrating/migrating-from-react-rails.md
  docs/oss/migrating/migrating-from-vite-rails.md
Due: prettier

docs: fix DoorDash URL typo and tighten success-stories page
  docs/pro/react-server-components/success-stories.md
Due: prettier

ci: pin Bencher CLI, broaden alert match, preserve exit code
  .github/workflows/benchmark.yml
Due: prettier

fix: allow dummy specs to run without readline and drop redundant workspace file
  react_on_rails/Gemfile.development_dependencies
  react_on_rails/spec/dummy/pnpm-workspace.yaml
  react_on_rails/spec/dummy/spec/spec_helper.rb
Due: autofix, rubocop, prettier

docs: address review on example migrations
  docs/oss/migrating/example-migrations.md
Due: prettier

docs: address remaining doc-polish review feedback on coexistence section
  docs/oss/migrating/migrating-from-react-rails.md
Due: prettier

Fail early on unsupported client hooks in RSC packs
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
Due: autofix, rubocop

docs: tighten example migration references
  docs/oss/migrating/example-migrations.md
Due: prettier

test: enable RSpec --profile to surface slowest package tests (#3176)
  react_on_rails/spec/react_on_rails/spec_helper.rb
Due: autofix, rubocop

ci: warn (don't fail) on Bencher main regression (#3168)
  .github/workflows/benchmark.yml
Due: prettier

docs: remove duplicate Inertia paragraph in example migrations
  docs/oss/migrating/example-migrations.md
Due: prettier

docs: rephrase Webpacker support note and expand require.context example
  docs/oss/migrating/migrating-from-react-rails.md
  docs/oss/migrating/migrating-from-vite-rails.md
Due: prettier

chore: remove --rsc-pro install generator flag
  CHANGELOG.md
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop, prettier

chore(ci): exclude guavapass.com from lychee link check
  .lychee.toml
Due: none

chore: address review feedback on --rsc-pro flag removal
  CHANGELOG.md
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
Due: autofix, rubocop, prettier

chore: address review optional cleanups
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
