Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Docs: make agent-coord fallback contract auditable
  internal/contributor-info/agent-coordination-backend.md
Due: prettier

Scope address review optional handling
  .agents/skills/address-review/SKILL.md
  .agents/workflows/address-review.md
Due: prettier

Align Control Plane demo cost docs
  docs/oss/deployment/docker-deployment.md
  docs/oss/getting-started/examples-and-references.md
Due: prettier

Tighten attention contract review closeout
  .agents/skills/address-review/SKILL.md
  .agents/workflows/address-review.md
  AGENTS.md
Due: prettier

Add FOUC regression coverage for generated CSS
  react_on_rails/spec/dummy/app/views/layouts/application.html.erb
  react_on_rails/spec/dummy/e2e/playwright/e2e/react_on_rails/fouc.spec.js
Due: eslint, prettier

Sequence address-review deferred replies
  .agents/skills/address-review/SKILL.md
  .agents/workflows/address-review.md
Due: prettier

Docs: correct vm.Script caching analysis caveats
  analysis/vm-script-caching-investigation-2026-06-07.md
  analysis/vm-script-caching-repro-2026-06-13.mjs
Due: prettier

Align failed nit handling
  .agents/skills/address-review/SKILL.md
  .agents/workflows/address-review.md
Due: prettier

Address RSC prerelease compatibility review
  packages/react-on-rails-pro-node-renderer/src/shared/checkRscPeerCompatibility.ts
  packages/react-on-rails-pro-node-renderer/tests/checkRscPeerCompatibility.test.ts
Due: eslint, prettier

Docs: align agent-coord preflight indentation
  internal/contributor-info/agent-coordination-backend.md
Due: prettier

Bump react-hooks lint to v6 and document RSC compiler boundary (#3963)
  docs/oss/building-features/react-compiler.md
  eslint.config.ts
  llms-full.txt
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

Harden FOUC test timing
  react_on_rails/spec/dummy/e2e/playwright/e2e/react_on_rails/fouc.spec.js
Due: eslint, prettier

Migrate conductor.json to .conductor/settings.toml
  .conductor/settings.toml
  conductor.json
Due: prettier

Migrate conductor.json to .conductor/settings.toml (#4007)
  .conductor/settings.toml
  conductor.json
Due: prettier

Structure address review action routing
  .agents/skills/address-review/SKILL.md
  .agents/workflows/address-review.md
Due: prettier

Docs: clarify vm Script benchmark caveats
  analysis/vm-script-caching-repro-2026-06-13.mjs
Due: none

Point coordination docs at agent-coord bootstrap
  .agents/skills/plan-pr-batch/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Tighten attention contract optional routing
  .agents/skills/address-review/SKILL.md
  .agents/workflows/address-review.md
  .agents/workflows/pr-processing.md
  AGENTS.md
Due: prettier

Handle post-debounce optional outcomes
  .agents/skills/address-review/SKILL.md
  .agents/workflows/address-review.md
  .agents/workflows/pr-processing.md
Due: prettier

Clarify f+o optional handling
  .agents/skills/address-review/SKILL.md
  .agents/workflows/address-review.md
Due: prettier

Tighten attention contract followups
  .agents/skills/address-review/SKILL.md
  .agents/workflows/address-review.md
  AGENTS.md
Due: prettier

Docs: backfill async RSC manifest changelog entry (#3993)
  CHANGELOG.md
Due: prettier

Docs: clarify agent coordination preflight evidence
  internal/contributor-info/agent-coordination-backend.md
Due: prettier

Address Activity review follow-ups
  docs/oss/building-features/react-19-activity.md
  react_on_rails/spec/dummy/client/app/startup/ActivityTabSwitcher.tsx
  react_on_rails/spec/dummy/spec/requests/activity_component_spec.rb
  script/check-single-react-resolution.mjs
  script/convert
Due: autofix, rubocop, eslint, prettier

Docs: anchor agent coordination smoke check
  internal/contributor-info/agent-coordination-backend.md
Due: prettier

Refine Control Plane demo cost docs
  docs/oss/deployment/docker-deployment.md
  docs/oss/getting-started/examples-and-references.md
Due: prettier

Docs: clarify vm Script benchmark bias
  analysis/vm-script-caching-repro-2026-06-13.mjs
Due: none

Isolate Activity demo from minimum React conversion
  script/convert
Due: none

Clarify coordination TTL lookup in failure drill
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Clarify address-review pre-reply gate
  .agents/skills/address-review/SKILL.md
  .agents/workflows/address-review.md
Due: prettier

Clarify address-review optional checkpointing
  .agents/skills/address-review/SKILL.md
  .agents/workflows/address-review.md
  AGENTS.md
Due: prettier

Clarify attention contract review followups
  .agents/skills/address-review/SKILL.md
  .agents/workflows/address-review.md
  AGENTS.md
Due: prettier

Clarify address-review optional closeouts
  .agents/skills/address-review/SKILL.md
  .agents/workflows/address-review.md
Due: prettier

Point coordination docs at agent-coord bootstrap (#4008)
  .agents/skills/plan-pr-batch/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Clarify Control Plane cost posture docs
  docs/oss/deployment/docker-deployment.md
  docs/oss/getting-started/examples-and-references.md
Due: prettier

Add issue triage prompt skill (#3983)
  .agents/skills/plan-issue-triage/SKILL.md
  .agents/skills/plan-issue-triage/agents/openai.yaml
  AGENTS.md
  internal/contributor-info/agent-pr-batch-skills.md
  internal/contributor-info/issue-evaluation.md
Due: prettier

Make per-PR benchmarks opt-in and trim per-route warm-up (#4012)
  .github/workflows/benchmark.yml
  AGENTS.md
  benchmarks/bench.rb
  benchmarks/generate_matrix.rb
  benchmarks/spec/benchmark_matrix_spec.rb
Due: autofix, rubocop, prettier

Add post-merge-audit-scope resolver for the audit scope gate
  .agents/skills/post-merge-audit/SKILL.md
  .agents/skills/post-merge-audit/bin/post-merge-audit-scope
  .agents/skills/post-merge-audit/bin/post-merge-audit-scope-test.bash
Due: prettier

Treat docs-internal/ tree as documentation in CI change detection
  script/ci-changes-detector
  script/ci-changes-detector-test.bash
Due: none
