Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Make RSCRoute refetch failures recoverable in production (#3786)
  CHANGELOG.md
  docs/pro/react-server-components/inside-client-components.md
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCRoute.tsx
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
Due: eslint, prettier

CI: add Pro RSC rspack runtime gate (#3817)
  .github/workflows/pro-integration-tests.yml
  pnpm-lock.yaml
  react_on_rails_pro/spec/dummy/bin/shakapacker
  react_on_rails_pro/spec/dummy/config/rspack/rspack.config.js
  react_on_rails_pro/spec/dummy/config/webpack/clientWebpackConfig.js
  react_on_rails_pro/spec/dummy/config/webpack/rscWebpackConfig.js
  react_on_rails_pro/spec/dummy/config/webpack/serverWebpackConfig.js
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/tests/package-scripts.test.js
  react_on_rails_pro/spec/dummy/tests/rsc-rspack-config.test.js
Due: eslint, prettier

Clarify pr-batch closeout confidence handoff
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
Due: prettier

Clarify UNKNOWN reporting in adversarial review
  .agents/workflows/adversarial-pr-review.md
Due: prettier

Clarify bounded check polling guidance
  .agents/workflows/adversarial-pr-review.md
Due: prettier

Harden transport probe review fixes
  package.json
  pnpm-lock.yaml
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
  react_on_rails_pro/spec/load/transport_probe_spec.rb
Due: autofix, rubocop, prettier

Preserve latest runtime backup when rerunning minimum
  .github/workflows/benchmark.yml
  .tool-versions
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ci_switch_config_spec.rb
Due: autofix, rubocop, prettier

Polish benchmark helper review nits
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/pr_report_poster_spec.rb
Due: autofix, rubocop

Document Pro minimum Ruby pin
  .github/workflows/pro-integration-tests.yml
Due: prettier

Fix transport probe skip-uds parsing
  knip.ts
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/spec/load/transport_probe_spec.rb
Due: autofix, rubocop, eslint, prettier

Align adversarial review CI polling guidance (#3794)
  .agents/workflows/adversarial-pr-review.md
Due: prettier

Docs: align pr-batch closeout confidence handoff (#3835)
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
Due: prettier

Polish benchmark helper review nits
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/bencher_runner_spec.rb
Due: autofix, rubocop

Address transport probe follow-up review
  knip.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  react_on_rails_pro/package.json
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
Due: autofix, rubocop, eslint, prettier

Tighten transport probe Ruby guards
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/spec/load/transport_probe_spec.rb
Due: autofix, rubocop

Centralize RuboCop ownership in root bundle
  .github/workflows/benchmark.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/pro-test-package-and-gem.yml
  .gitignore
  AGENTS.md
  Gemfile
  Gemfile.lock
  Gemfile.shared_dev_dependencies
  bin/ci-local
  internal/contributor-info/linters.md
  rakelib/release.rake
  react_on_rails/Gemfile.lock
  react_on_rails/rakelib/lint.rake
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/package-scripts.yml
  react_on_rails_pro/rakelib/lint.rake
  react_on_rails_pro/rakelib/task_helpers.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Tighten benchmark report helper cleanup
  benchmarks/lib/bencher_runner.rb
  benchmarks/spec/bencher_runner_spec.rb
Due: autofix, rubocop

Handle transport probe shutdown review
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
Due: autofix, rubocop

Apply runtime helper to Pro gate
  .github/workflows/pro-integration-tests.yml
Due: prettier

Validate transport probe readiness JSON
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/spec/load/transport_probe_spec.rb
Due: autofix, rubocop

Clean benchmark report partial writes
  benchmarks/lib/bencher_runner.rb
  benchmarks/spec/bencher_runner_spec.rb
Due: autofix, rubocop

Tighten transport probe review fixes
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
  react_on_rails_pro/spec/load/transport_probe_spec.rb
Due: autofix, rubocop

Harden CI switch runtime helpers
  .github/workflows/shakaperf-release-gates.yml
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ci_switch_config_spec.rb
Due: autofix, rubocop, prettier

Exercise Bencher thresholds through runner
  benchmarks/spec/bencher_runner_spec.rb
Due: autofix, rubocop

Point dummy RuboCop binstubs at root bundle
  react_on_rails/spec/dummy/bin/rubocop
  react_on_rails_pro/spec/dummy/bin/rubocop
Due: none

Harden benchmark report cleanup
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/bencher_runner_spec.rb
  benchmarks/spec/pr_report_poster_spec.rb
Due: autofix, rubocop

Tighten runtime version helpers
  .github/actions/read-tool-versions/action.yml
  .github/workflows/benchmark-suite.yml
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ci_switch_config_spec.rb
Due: autofix, rubocop, prettier

Clarify transport probe edge cases
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
  react_on_rails_pro/spec/load/transport_probe_spec.rb
Due: autofix, rubocop

Tighten benchmark review followups
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/bencher_runner_spec.rb
  benchmarks/spec/pr_report_poster_spec.rb
Due: autofix, rubocop

Harden transport probe review edges
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
  react_on_rails_pro/spec/load/transport_probe_spec.rb
Due: autofix, rubocop

Address RuboCop ownership review notes
  react_on_rails/rakelib/lint.rake
  react_on_rails_pro/rakelib/lint.rake
  react_on_rails_pro/rakelib/task_helpers.rb
Due: autofix, rubocop

Exercise benchmark stale cleanup publicly
  benchmarks/lib/bencher_runner.rb
  benchmarks/spec/pr_report_poster_spec.rb
Due: autofix, rubocop

Tighten transport probe stream cleanup
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
Due: autofix, rubocop

Clarify runtime version review edges
  .github/workflows/benchmark-suite.yml
  .github/workflows/examples.yml
  .github/workflows/integration-tests.yml
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ci_switch_config_spec.rb
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop, prettier

Restore benchmark empty report no-op
  benchmarks/lib/bencher_runner.rb
  benchmarks/spec/bencher_runner_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Assert CI runtime version ordering
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop

Tighten transport probe error paths
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
  react_on_rails_pro/spec/load/transport_probe_spec.rb
Due: autofix, rubocop

Document root lockfile sync
  AGENTS.md
Due: prettier

Tighten benchmark review coverage
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/pr_report_poster.rb
  benchmarks/spec/pr_report_poster_spec.rb
Due: autofix, rubocop

Harden benchmark report cleanup
  benchmarks/lib/bencher_runner.rb
  benchmarks/spec/bencher_runner_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
