Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

docs: answer review questions — React-native vs invented inventory, fragility budget
  docs/superpowers/specs/2026-07-21-scroll-priority-streaming-design.md
Due: prettier

docs: address bot review findings — byte-cursor truncation recovery, resume priority semantics, boundary-aligned capture, CSP/SRI correction
  docs/superpowers/specs/2026-07-21-scroll-priority-streaming-design.md
Due: prettier

docs: align summary with byte-cursor recovery nuance
  docs/superpowers/specs/2026-07-21-scroll-priority-streaming-design.md
Due: prettier

Agents: pin and verify shared workflow drift (#4749)
  .agents/.rubocop.yml
  .agents/agent-workflow-drift.yml
  .agents/bin/README.md
  .agents/bin/agent-workflow-drift-manifest-test.rb
  .agents/bin/agent-workflow-seam-doctor
  .agents/bin/agent-workflow-seam-doctor-test.rb
  .agents/bin/agent_workflow_drift_manifest_test_test.rb
  .agents/docs/adoption.md
  .agents/docs/coordination-backend.md
  .agents/docs/installation-and-upgrades.md
  .agents/docs/pr-batch-skills.md
  .agents/docs/seam-design.md
  .agents/docs/security-posture.md
  .agents/skills/address-review/bin/fetch-pr-review-data-test.rb
  .agents/skills/plan-pr-batch/scripts/check_goal_prompt_size.rb
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
  .agents/skills/post-merge-audit/bin/pr-check-completion-timing
  .agents/skills/post-merge-audit/bin/pr-check-completion-timing-test.rb
  .agents/skills/pr-batch/bin/dispatcher-capability-preflight
  .agents/skills/pr-batch/bin/dispatcher-capability-preflight-test.rb
  .agents/skills/pr-batch/bin/pr-ci-readiness
  .agents/skills/pr-batch/bin/pr-ci-readiness-test.rb
  .agents/skills/pr-batch/bin/pr-security-preflight
  .agents/skills/pr-batch/bin/pr-security-preflight-test.rb
  .agents/skills/pr-batch/lib/git_probe_env.rb
  .agents/skills/pr-batch/trusted-github-actors.yml
  .agents/workflows/address-review.md
  .agents/workflows/adversarial-pr-review.md
  .agents/workflows/continuous-evaluation-loop.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
  .agents/workflows/tdd.md
  .github/workflows/ci-required.yml
  .github/workflows/hosted-ci-safety.test.cjs
  .prettierignore
  AGENTS.md
  internal/contributor-info/agent-workflow-adoption.md
Due: autofix, rubocop, prettier

Switch CI benchmarks to relative continuous benchmarking (#3492)
  .github/actions/benchmark-suite-phase/action.yml
  .github/workflows/benchmark-suite.yml
  .github/workflows/benchmark.yml
  benchmarks/LOCAL_BENCHMARK.md
  benchmarks/lib/bencher_report.rb
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/track_benchmarks/bencher_run.rb
  benchmarks/lib/track_benchmarks/branch_args.rb
  benchmarks/lib/track_benchmarks/cli.rb
  benchmarks/lib/track_benchmarks/config.rb
  benchmarks/lib/track_benchmarks/confirmation.rb
  benchmarks/spec/bencher_runner_spec.rb
  benchmarks/spec/track_benchmarks/branch_args_spec.rb
  benchmarks/spec/track_benchmarks/cli_spec.rb
  benchmarks/spec/track_benchmarks_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop, prettier

Stabilize relative benchmarking: fix worker-stickiness noise, sample medians, confirm flags
  .github/actions/benchmark-suite-phase/action.yml
  benchmarks/LOCAL_BENCHMARK.md
  benchmarks/bench-node-renderer.rb
  benchmarks/bench.rb
  benchmarks/k6.ts
  benchmarks/lib/bencher_report.rb
  benchmarks/lib/benchmark_table.rb
  benchmarks/lib/bmf_helpers.rb
  benchmarks/lib/track_benchmarks/bencher_run.rb
  benchmarks/lib/track_benchmarks/cli.rb
  benchmarks/lib/track_benchmarks/config.rb
  benchmarks/lib/track_benchmarks/summary.rb
  benchmarks/spec/bench_spec.rb
  benchmarks/spec/bencher_report_spec.rb
  benchmarks/spec/benchmark_table_spec.rb
  benchmarks/spec/bmf_collector_spec.rb
  benchmarks/spec/track_benchmarks/cli_spec.rb
  benchmarks/spec/track_benchmarks/summary_spec.rb
  benchmarks/spec/track_benchmarks_spec.rb
Due: autofix, rubocop, eslint, prettier

Use raw bodies to avoid render request escaping
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/ReactOnRailsProNodeRenderer.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
  pnpm-lock.yaml
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop, eslint, prettier

Keep renderer benchmarks on the active wire protocol
  benchmarks/bench-node-renderer.rb
  benchmarks/spec/bench_node_renderer_spec.rb
Due: autofix, rubocop

Keep precheck diagnostics truthful; lock string response Content-Type at the type level
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

Forward gemVersion/railsEnv to raw render prechecks
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

Address review: auth-first prechecks, uniform header sanitization, formbody compat
  CHANGELOG.md
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/ReactOnRailsProNodeRenderer.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
  pnpm-lock.yaml
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop, eslint, prettier

Adapt artifact retry specs to the raw render wire format
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop

Resolve dispatch merge-base against full history; clarify a confirmation spec comment
  .github/workflows/benchmark.yml
  benchmarks/spec/bencher_report_spec.rb
Due: autofix, rubocop, prettier

Use raw bodies to avoid render request escaping (#4579)
  CHANGELOG.md
  benchmarks/bench-node-renderer.rb
  benchmarks/spec/bench_node_renderer_spec.rb
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop, eslint, prettier

Switch CI benchmarks to relative continuous benchmarking (#4580)
  .github/actions/benchmark-suite-phase/action.yml
  .github/workflows/benchmark-suite.yml
  .github/workflows/benchmark.yml
  benchmarks/LOCAL_BENCHMARK.md
  benchmarks/bench-node-renderer.rb
  benchmarks/bench.rb
  benchmarks/k6.ts
  benchmarks/lib/bencher_report.rb
  benchmarks/lib/bencher_runner.rb
  benchmarks/lib/benchmark_table.rb
  benchmarks/lib/bmf_helpers.rb
  benchmarks/lib/track_benchmarks/bencher_run.rb
  benchmarks/lib/track_benchmarks/branch_args.rb
  benchmarks/lib/track_benchmarks/cli.rb
  benchmarks/lib/track_benchmarks/config.rb
  benchmarks/lib/track_benchmarks/confirmation.rb
  benchmarks/lib/track_benchmarks/summary.rb
  benchmarks/spec/bench_spec.rb
  benchmarks/spec/bencher_report_spec.rb
  benchmarks/spec/bencher_runner_spec.rb
  benchmarks/spec/benchmark_table_spec.rb
  benchmarks/spec/bmf_collector_spec.rb
  benchmarks/spec/track_benchmarks/branch_args_spec.rb
  benchmarks/spec/track_benchmarks/cli_spec.rb
  benchmarks/spec/track_benchmarks/summary_spec.rb
  benchmarks/spec/track_benchmarks_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop, eslint, prettier

Fix stale RailsContext after Turbo navigation (#4765)
  CHANGELOG.md
  packages/react-on-rails-pro/tests/ClientSideRenderer.test.ts
  packages/react-on-rails/src/context.ts
  packages/react-on-rails/tests/context.test.ts
Due: eslint, prettier

Correct final 17.0.0 compatibility notes
  CHANGELOG.md
Due: prettier

Docs: make non-RSC streaming path explicit
  docs/oss/building-features/streaming-server-rendering.md
  docs/pro/streaming-ssr.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Docs: tighten streaming compatibility wording
  docs/oss/building-features/streaming-server-rendering.md
  docs/pro/streaming-ssr.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Record the final React on Rails 17.0.0 changelog (#4742)
  CHANGELOG.md
Due: prettier

Docs: v17 server_render_method removal + fix rc-testing generator gate command (#4539)
  docs/oss/upgrading/upgrading-react-on-rails.md
  internal/contributor-info/rc-testing-plan.md
  llms-full.txt
Due: prettier

Docs: clarify streaming compatibility limits
  docs/oss/building-features/streaming-server-rendering.md
  docs/pro/streaming-ssr.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Docs: align v17 release guidance after review
  .github/ISSUE_TEMPLATE/rc-release-tracking.yml
  docs/oss/upgrading/upgrading-react-on-rails.md
  llms-full.txt
Due: prettier

Docs: make v17 migration steps actionable
  CONTRIBUTING.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  llms-full.txt
Due: prettier

Docs: scope streaming runtime prerequisites
  docs/pro/streaming-ssr.md
  llms-full-pro.txt
Due: prettier

Docs: use Pro streaming registration package
  docs/pro/streaming-ssr.md
  llms-full-pro.txt
Due: prettier

Docs: forward-port v17 upgrade and generator gate guidance (#4781)
  .github/ISSUE_TEMPLATE/rc-release-tracking.yml
  CONTRIBUTING.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  internal/contributor-info/rc-testing-plan.md
  llms-full.txt
Due: prettier

Docs: clarify React 18 streaming without RSC (#4780)
  docs/oss/building-features/streaming-server-rendering.md
  docs/pro/streaming-ssr.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Multi-URL rolling-deploy adapter + promotion boot-seed docs (#4544)
  CONTEXT-MAP.md
  docs/oss/building-features/node-renderer/container-deployment.md
  docs/pro/rolling-deploy-adapters.md
  docs/pro/rolling-deploy-custom-adapters.md
  llms-full-pro.txt
  llms-full.txt
  react_on_rails_pro/CONTEXT.md
  react_on_rails_pro/docs/adr/0001-boot-seed-rolling-deploy-bundles.md
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy_adapters/http.rb
  react_on_rails_pro/sig/react_on_rails_pro/configuration.rbs
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy_adapters/http_spec.rb
Due: autofix, rubocop, prettier

Docs: clarify boot seed execution contract
  docs/pro/rolling-deploy-adapters.md
  docs/pro/rolling-deploy-custom-adapters.md
  llms-full-pro.txt
  react_on_rails_pro/CONTEXT.md
  react_on_rails_pro/docs/adr/0001-boot-seed-rolling-deploy-bundles.md
Due: prettier

Docs: remove private promotion details
  docs/pro/rolling-deploy-custom-adapters.md
  llms-full-pro.txt
  react_on_rails_pro/CONTEXT.md
  react_on_rails_pro/docs/adr/0001-boot-seed-rolling-deploy-bundles.md
Due: prettier

Forward-port multi-URL rolling-deploy seeding to main (#4782)
  CONTEXT-MAP.md
  docs/oss/building-features/node-renderer/container-deployment.md
  docs/pro/rolling-deploy-adapters.md
  docs/pro/rolling-deploy-custom-adapters.md
  llms-full-pro.txt
  llms-full.txt
  react_on_rails_pro/CONTEXT.md
  react_on_rails_pro/docs/adr/0001-boot-seed-rolling-deploy-bundles.md
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy_adapters/http.rb
  react_on_rails_pro/sig/react_on_rails_pro/configuration.rbs
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy_adapters/http_spec.rb
Due: autofix, rubocop, prettier

Fail closed on shallow release-forward-port history
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

Separate code equivalence from changelog wording
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

Recognize PR references in combined forward-ports
  internal/contributor-info/release-train-runbook.md
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop, prettier

Detect release patches inside combined forward-ports
  internal/contributor-info/release-train-runbook.md
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop, prettier

Find upstream PRs named by release backports
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop

Prioritize targeted forward-port evidence
  script/release-forward-port
Due: none

Keep final release changelog authoritative
  script/release-forward-port
  script/release-forward-port-test.bash
Due: none

Skip superseded prerelease dependency pins
  internal/contributor-info/release-train-runbook.md
  react_on_rails/spec/react_on_rails/release_forward_port_script_spec.rb
  script/release-forward-port
Due: autofix, rubocop, prettier
