Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

[Pro] Redact RSC error diagnostics at browser boundaries (#4856)
  CHANGELOG.md
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop, eslint, prettier

Benchmarks: discover v2 Node Renderer bundles (#4858)
  benchmarks/bench-node-renderer.rb
  benchmarks/spec/bench_node_renderer_spec.rb
Due: autofix, rubocop

PPR: define settle criterion for all three prerender abort points (#4855)
  internal/analysis/ppr-rsc-payload-by-example.md
  internal/analysis/ppr-settle-by-example.md
  internal/analysis/ppr-settle-criterion-findings.md
  internal/planning/ppr-implementation-plan.md
Due: prettier

[Pro] Add RSC SSR synchrony regression tests (#4859)
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/tests/fixtures/rscSsrSynchrony/generateFlightPayloads.mjs
  packages/react-on-rails-pro/tests/rscSsrSynchrony.e2e.test.tsx
Due: eslint, prettier

[Pro] Drop two redundant RSC synchrony tests after behavior review
  packages/react-on-rails-pro/tests/rscSsrSynchrony.e2e.test.tsx
Due: eslint, prettier

[Pro] Address PR #4860 review: deterministic negative control + generator hardening
  packages/react-on-rails-pro/tests/fixtures/rscSsrSynchrony/generateFlightPayloads.mjs
  packages/react-on-rails-pro/tests/rscSsrSynchrony.e2e.test.tsx
Due: eslint, prettier

[Pro] Case 2: exercise the real blocked-chunk path with a production-shaped manifest
  packages/react-on-rails-pro/tests/rscSsrSynchrony.e2e.test.tsx
Due: eslint, prettier

[Pro] Address round-2 review: cold chunk-load inside tripwires + generator quiesce polling + test-helper dedup
  packages/react-on-rails-pro/tests/fixtures/rscSsrSynchrony/generateFlightPayloads.mjs
  packages/react-on-rails-pro/tests/rscSsrSynchrony.e2e.test.tsx
  packages/react-on-rails-pro/tests/streamBackpressure.e2e.test.tsx
  packages/react-on-rails-pro/tests/testUtils.ts
Due: eslint, prettier

[Pro] Address round-3 review: self-contained warm-cache test + bounded fixture child
  packages/react-on-rails-pro/tests/rscSsrSynchrony.e2e.test.tsx
Due: eslint, prettier

Fix malformed renderer URL credential redaction (#4845)
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
Due: autofix, rubocop

[Pro] Address round-4 review: onError in pending split, order-proof case 2, shared tripwire helper, budget assertion
  packages/react-on-rails-pro/tests/fixtures/rscSsrSynchrony/generateFlightPayloads.mjs
  packages/react-on-rails-pro/tests/rscSsrSynchrony.e2e.test.tsx
Due: eslint, prettier

[Pro] Address round-5 review: fail on truncated render envelopes
  packages/react-on-rails-pro/tests/rscSsrSynchrony.e2e.test.tsx
Due: eslint, prettier

Pin prewarmed renderer generation across rollout gaps
  CHANGELOG.md
  benchmarks/bench-node-renderer-rollout.mjs
  docs/oss/api-reference/doctor.md
  docs/oss/building-features/node-renderer/container-deployment.md
  docs/oss/building-features/node-renderer/health-checks.md
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/pro/rolling-deploy-adapters.md
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/src/shared/workerMessages.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/currentGenerationManifest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/startCurrentGeneration.ts
  packages/react-on-rails-pro-node-renderer/src/worker/startupErrorHandler.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/configBuilder.test.ts
  packages/react-on-rails-pro-node-renderer/tests/currentGenerationManifest.test.ts
  packages/react-on-rails-pro-node-renderer/tests/healthEndpoints.test.ts
  packages/react-on-rails-pro-node-renderer/tests/startCurrentGeneration.test.ts
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
  packages/react-on-rails-pro-node-renderer/tests/workerStartupFailure.test.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/doctor_schema.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
Due: autofix, rubocop, eslint, prettier

[Pro] Document turn-budget dependency on beforeAll warm-up
  packages/react-on-rails-pro/tests/rscSsrSynchrony.e2e.test.tsx
Due: eslint, prettier

Unify prewarmed symlink bundle identity
  CHANGELOG.md
  benchmarks/bench-node-renderer-rollout.mjs
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/pro/rolling-deploy-adapters.md
  packages/react-on-rails-pro-node-renderer/src/worker/currentGenerationManifest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/startCurrentGeneration.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/currentGenerationManifest.test.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, eslint, prettier

Support secure manifest reads without O_NOFOLLOW
  packages/react-on-rails-pro-node-renderer/src/worker/currentGenerationManifest.ts
  packages/react-on-rails-pro-node-renderer/tests/currentGenerationManifest.test.ts
Due: eslint, prettier

Raise jwt floor to >= 2.8 and correct documented version floors
  CHANGELOG.md
  docs/oss/introduction.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  docs/pro/updating.md
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/react_on_rails_pro.gemspec
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: prettier

Bind declared artifacts to exact cache identities
  packages/react-on-rails-pro-node-renderer/src/worker/currentGenerationManifest.ts
  packages/react-on-rails-pro-node-renderer/tests/currentGenerationManifest.test.ts
Due: eslint, prettier

Enforce manifest byte limit while reading
  packages/react-on-rails-pro-node-renderer/src/worker/currentGenerationManifest.ts
  packages/react-on-rails-pro-node-renderer/tests/currentGenerationManifest.test.ts
Due: eslint, prettier

Reject redirected artifact snapshot roots
  packages/react-on-rails-pro-node-renderer/src/worker/currentGenerationManifest.ts
  packages/react-on-rails-pro-node-renderer/tests/currentGenerationManifest.test.ts
Due: eslint, prettier

Fail closed on template declaration lookalikes
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Enforce VM pool cap during concurrent builds
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/vmSourceMapSupport.test.ts
Due: eslint, prettier

Verify React 19.2 <Activity> inside streamed RSC trees (Pro) + docs (#3883 Phase 2a)
  docs/oss/building-features/react-19-activity.md
  docs/pro/react-server-components/activity-inside-rsc.md
  docs/sidebars.ts
  llms-full-pro.txt
  llms-full.txt
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/activity_rsc_tabs.html.erb
  react_on_rails_pro/spec/dummy/app/views/shared/_menu.erb
  react_on_rails_pro/spec/dummy/client/app/components/ActivityRSC/ActivityTabsClient.jsx
  react_on_rails_pro/spec/dummy/client/app/components/ActivityRSC/ProfileServerContent.jsx
  react_on_rails_pro/spec/dummy/client/app/components/ActivityRSC/SlowDraftsServerContent.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/RSCActivityTabsPage.jsx
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/config/webpack/alias.js
  react_on_rails_pro/spec/dummy/e2e-tests/activity_rsc.spec.ts
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/spec/requests/activity_rsc_spec.rb
Due: autofix, rubocop, eslint, prettier

Address PR #4865 review feedback
  docs/pro/react-server-components/activity-inside-rsc.md
  llms-full-pro.txt
  react_on_rails_pro/spec/dummy/client/app/components/ActivityRSC/SlowDraftsServerContent.jsx
  react_on_rails_pro/spec/dummy/e2e-tests/activity_rsc.spec.ts
Due: eslint, prettier

Keep VM context lookup visible to Knip
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
Due: eslint, prettier

Bound Doctor renderer call analysis
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Add regression coverage for store preservation on on-demand renders (#4862)
  CHANGELOG.md
  packages/react-on-rails/tests/ClientRenderer.test.ts
  react_on_rails/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails/spec/dummy/app/views/pages/async_component_shared_store.html.erb
  react_on_rails/spec/dummy/app/views/pages/async_component_shared_store_island.html.erb
  react_on_rails/spec/dummy/app/views/shared/_header.erb
  react_on_rails/spec/dummy/config/routes.rb
  react_on_rails/spec/dummy/e2e/playwright/e2e/react_on_rails/async_component_store_preservation.spec.js
Due: autofix, rubocop, eslint, prettier

[Pro] Clear hydrated-store registry on page unload (fixes #4861)
  packages/react-on-rails-pro/src/ClientSideRenderer.ts
  packages/react-on-rails-pro/src/StoreRegistry.ts
  packages/react-on-rails-pro/tests/ClientSideRenderer.test.ts
  packages/react-on-rails-pro/tests/StoreRegistry.test.ts
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/stale_store_probe.html.erb
  react_on_rails_pro/spec/dummy/client/app/packs/client-bundle.js
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/e2e-tests/stale_store_after_navigation.spec.ts
Due: autofix, rubocop, eslint, prettier

Add changelog entry for #4861 fix (PR #4871)
  CHANGELOG.md
Due: prettier

Clarify innerHTML-safety comment in async shared-store test page
  react_on_rails/spec/dummy/app/views/pages/async_component_shared_store.html.erb
Due: none

Strengthen #4862 regression tests per multi-agent behavior review
  packages/react-on-rails/tests/ClientRenderer.test.ts
  react_on_rails/spec/dummy/e2e/playwright/e2e/react_on_rails/async_component_store_preservation.spec.js
Due: eslint, prettier

Declare direct merge submission
  .agents/agent-workflow.yml
Due: prettier

Behavior-test audit: trim redundancy, pin the unload re-arm contract
  packages/react-on-rails-pro/tests/CallbackRegistry.test.ts
  packages/react-on-rails-pro/tests/StoreRegistry.test.ts
  react_on_rails_pro/spec/dummy/e2e-tests/stale_store_after_navigation.spec.ts
Due: eslint, prettier

Use public reactOnRailsPageLoaded for the repeat page-load probe
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

Preserve merge queue submission
  .agents/agent-workflow.yml
Due: prettier

Preserve merge queue submission policy (#4872)
  .agents/agent-workflow.yml
Due: prettier

Preserve rollout diagnostic authority
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, eslint, prettier

Enforce mutable VM caps before diagnostics
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
Due: eslint, prettier

Derive current readiness from pooled contexts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
Due: eslint, prettier
