Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

docs: add paired ShakaPerf A/B methodology for RSC perf regressions (#4137)
  docs/oss/building-features/performance-tracks-and-profiling.md
Due: prettier

Clarify PR-batch merge authority and ready gates (#4140)
  .agents/skills/plan-pr-batch/SKILL.md
  .agents/skills/plan-pr-batch/scripts/check_goal_prompt_size.rb
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  react_on_rails/spec/react_on_rails/pr_merge_ledger_script_spec.rb
  script/pr-merge-ledger
  script/pr-merge-ledger.schema.json
Due: autofix, rubocop, prettier

chore: regenerate llms-full.txt for the RSC paired-A/B docs section (#4137)
  llms-full.txt
Due: none

Make RSC protocol diagram readable
  analysis/nextjs-turbopack-rsc-vs-react-on-rails-pro.md
Due: prettier

[codex] Document current RSC architecture and version policy (#4103)
  analysis/nextjs-turbopack-rsc-vs-react-on-rails-pro.md
Due: prettier

Add batch cancellation / drain protocol to stop in-flight PR batches (#4119)
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  AGENTS.md
  internal/contributor-info/agent-coordination-backend.md
Due: prettier

Fix hydration error reporting for thrown values (#4120)
  CHANGELOG.md
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/src/errorUtils.ts
  packages/react-on-rails/src/serverRenderUtils.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

Add High-Risk Mode to adversarial-pr-review (#4050) (#4115)
  .agents/skills/adversarial-pr-review/SKILL.md
  .agents/workflows/adversarial-pr-review.md
Due: prettier

ci(pro): add Rspack build leg for execjs-compatible-dummy (#4091) (#4106)
  .github/workflows/pro-integration-tests.yml
Due: prettier

Fix ci-local detector JSON parsing (#4061)
  bin/ci-local
Due: none

test(pro): keep duplicate warnings scoped to bailouts
  packages/react-on-rails-pro/tests/streamServerRenderedReactComponent.test.jsx
Due: eslint, prettier

fix(pro): match production RSC generic errors by prefix
  packages/react-on-rails-pro/src/rscDiagnostics.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/RSCRequestTracker.test.ts
  packages/react-on-rails-pro/tests/rscDiagnostics.test.ts
Due: eslint, prettier

fix(pro): make RSC cache success latches per promise
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCProviderCache.ts
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

docs: address ShakaPerf A/B review feedback
  docs/oss/building-features/performance-tracks-and-profiling.md
  llms-full.txt
Due: prettier

Revive Pro streaming validation coverage (#4035)
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/tests/SuspenseHydration.test.tsx
  packages/react-on-rails-pro/tests/streamBackpressure.e2e.test.tsx
  packages/react-on-rails-pro/tests/streamServerRenderedReactComponent.test.jsx
  script/convert
Due: eslint, prettier

docs: address ShakaPerf docs follow-up review
  docs/oss/building-features/performance-tracks-and-profiling.md
  llms-full.txt
Due: prettier

docs: clarify ShakaPerf sample size guidance
  docs/oss/building-features/performance-tracks-and-profiling.md
  llms-full.txt
Due: prettier

docs: soften ShakaPerf significance wording
  docs/oss/building-features/performance-tracks-and-profiling.md
  llms-full.txt
Due: prettier

docs: clarify ShakaPerf case study framing
  docs/oss/building-features/performance-tracks-and-profiling.md
  llms-full.txt
Due: prettier

docs: document rsc-css render-blocking links and end-of-head cascade trap (#4138)
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/react-server-components/css-and-styling.md
Due: prettier

docs: address rsc-css follow-up review
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/react-server-components/css-and-styling.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

docs: clarify rsc-css stable peer guidance
  docs/oss/migrating/rsc-troubleshooting.md
  llms-full.txt
Due: prettier

chore: regenerate llms-full for the rsc-css cascade-trap docs (#4138)
  llms-full-pro.txt
  llms-full.txt
Due: none

docs: address rsc-css cascade review feedback
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/react-server-components/css-and-styling.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Fix PR 4097 bundle size gate
  .bundle-size-skip-branch
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCProviderCache.ts
  packages/react-on-rails-pro/src/RSCRoute.tsx
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

Fix RSC-safe locale default messages import
  react_on_rails/lib/react_on_rails/locales/base.rb
  react_on_rails/lib/react_on_rails/locales/to_js.rb
  react_on_rails/spec/react_on_rails/locales_to_js_spec.rb
Due: autofix, rubocop

docs: refine rsc-css troubleshooting guidance
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/react-server-components/css-and-styling.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Remove redundant locale JS default override
  react_on_rails/lib/react_on_rails/locales/to_js.rb
Due: autofix, rubocop

docs: tighten rsc-css review follow-ups
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/react-server-components/css-and-styling.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Let ToJs inherit locale translation template
  react_on_rails/lib/react_on_rails/locales/to_js.rb
Due: autofix, rubocop

fix(pro): address RSC diagnostic review nits
  packages/react-on-rails-pro/src/rscDiagnostics.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/rscDiagnostics.test.ts
Due: eslint, prettier

fix(pro): tighten RSC cache review edge cases
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCRoute.tsx
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

docs(pro): clarify RSC cache pin deletion
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCProviderCache.ts
Due: eslint, prettier

test(pro): drop unused RSC tracker variable
  packages/react-on-rails-pro/tests/RSCRequestTracker.test.ts
Due: eslint, prettier

fix(pro): preserve RSC replacement latches
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCProviderCache.ts
  packages/react-on-rails-pro/src/RSCRoute.tsx
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
Due: eslint, prettier

fix(pro): harden RSC diagnostic restore path
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/rscDiagnostics.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/RSCRequestTracker.test.ts
Due: eslint, prettier

docs(pro): clarify RSC diagnostic guards
  packages/react-on-rails-pro/src/rscDiagnostics.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
Due: eslint, prettier

fix(pro): match merged RSC diagnostics exactly
  packages/react-on-rails-pro/src/rscDiagnostics.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/tests/rscDiagnostics.test.ts
  packages/react-on-rails-pro/tests/streamServerRenderedReactComponent.test.jsx
Due: eslint, prettier

fix(pro): clear stale RSC replacement latches
  packages/react-on-rails-pro/src/RSCProvider.tsx
Due: eslint, prettier

fix(pro): clarify RSC replacement latch timing
  packages/react-on-rails-pro/src/RSCProvider.tsx
Due: eslint, prettier
