Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Add npm READMEs, Pro quick-start guide, and llms.txt for LLM discoverability
  docs/getting-started/pro-quick-start.md
  llms.txt
  packages/react-on-rails-pro-node-renderer/README.md
  packages/react-on-rails-pro/README.md
  packages/react-on-rails/README.md
  react_on_rails_pro/README.md
Due: prettier

Fix TypeScript build error in node renderer onFile callback
  packages/react-on-rails-pro-node-renderer/src/worker.ts
Due: eslint, prettier

Fix TS2769 build error in node renderer onFile callback (#2469)
  packages/react-on-rails-pro-node-renderer/src/worker.ts
Due: eslint, prettier

Use Promise.allSettled to prevent upload dir cleanup race
  packages/react-on-rails-pro-node-renderer/src/worker.ts
Due: eslint, prettier

Update tests for shared per-bundle lock
  packages/react-on-rails-pro-node-renderer/tests/uploadRaceCondition.test.ts
Due: eslint, prettier

Use shared per-bundle locks for /upload-assets endpoint
  packages/react-on-rails-pro-node-renderer/src/worker.ts
Due: eslint, prettier

Clarify defensive allSettled comment in handleNewBundlesProvided
  packages/react-on-rails-pro-node-renderer/src/worker/handleRenderRequest.ts
Due: eslint, prettier

Use Promise.allSettled in handleNewBundlesProvided
  packages/react-on-rails-pro-node-renderer/src/worker/handleRenderRequest.ts
Due: eslint, prettier

Add changelog entry for shared per-bundle lock fix
  CHANGELOG.md
Due: prettier

Replace unsafe type cast with type-narrowing filter
  packages/react-on-rails-pro-node-renderer/src/worker/handleRenderRequest.ts
Due: eslint, prettier

Add clarifying comment and fix Prettier formatting
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/uploadRaceCondition.test.ts
Due: eslint, prettier

Trigger CI with full-ci label
  script/ci-changes-detector
Due: none

Fix cross-endpoint test to use same filename for both requests
  packages/react-on-rails-pro-node-renderer/tests/uploadRaceCondition.test.ts
Due: eslint, prettier

Use shared per-bundle locks for asset transfer and render (#2464)
  CHANGELOG.md
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/uploadRaceCondition.test.ts
  script/ci-changes-detector
Due: eslint, prettier

Add PropsTransformer to reduce RSC props embedded in HTML (#2446)
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  packages/react-on-rails-pro/tests/RSCRequestTracker.test.ts
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails/lib/react_on_rails/react_component/render_options.rb
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix ci-changes-detector not triggering pro lint or tests for node renderer changes
  script/ci-changes-detector
Due: none

Fix RSC WebpackLoader not added when using SWC transpiler
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/config/webpack/rscWebpackConfig.js.tt
Due: none

Add PRO_NODE_RENDERER_CHANGED to RUN_PRO_DUMMY_TESTS condition
  script/ci-changes-detector
Due: none

Guard against null/undefined from custom use functions
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/config/webpack/rscWebpackConfig.js.tt
Due: none

Name wrapper function and document why it's not an arrow function
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/config/webpack/rscWebpackConfig.js.tt
Due: none

Fix bin/setup failing on pnpm workspace member directories
  bin/setup
Due: none

Fix RSC generator layout wiring for fresh Rails apps
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/app/controllers/hello_server_controller.rb
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Add CHANGELOG entry for RSC generator layout fix
  CHANGELOG.md
Due: prettier

Fix RSC helper example in install message
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
Due: autofix, rubocop

Fix doctor Pro/SWC checks and stabilize RSC starter
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/app/javascript/src/HelloServer/components/HelloServer.jsx
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/app/javascript/src/HelloServer/components/HelloServer.tsx
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/app/views/hello_server/index.html.erb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop, eslint, prettier

chore: add tracking plan for issue #2472
  analysis/issue-2472-tracking.md
Due: prettier

Document the "uncached promise" bad practice with use() hook
  docs/migrating/rsc-component-patterns.md
  docs/migrating/rsc-context-and-state.md
  docs/migrating/rsc-data-fetching.md
  docs/migrating/rsc-troubleshooting.md
Due: prettier

test: assert HelloServer controller layout in all RSC combination contexts
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

refactor: remove redundant helper_name variable in build_render_example
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
Due: autofix, rubocop

test: assert hello_world.html.erb copied in all RSC combination contexts
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

fix: remove no-op prerender: true from RSC generator template
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/app/views/hello_server/index.html.erb
Due: none

chore: extract build_render_label and deduplicate RSC controller specs
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/support/shared_examples/rsc_generator_examples.rb
Due: autofix, rubocop

chore: rename hello_world layout to react_on_rails_default in generator templates
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/app/controllers/hello_world_controller.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/app/views/layouts/react_on_rails_default.html.erb
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/app/controllers/hello_server_controller.rb
Due: autofix, rubocop

chore: update generator specs for react_on_rails_default layout rename
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/support/shared_examples/rsc_generator_examples.rb
Due: autofix, rubocop

chore: rename hello_world layout in Pro execjs-compatible-dummy fixture
  react_on_rails_pro/spec/execjs-compatible-dummy/app/controllers/hello_world_controller.rb
  react_on_rails_pro/spec/execjs-compatible-dummy/app/views/layouts/react_on_rails_default.html.erb
Due: autofix, rubocop
