Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Simplify Bundler calls and add regression tests
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Fix Gemfile detection to ignore inherited BUNDLE_GEMFILE
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Use raise instead of abort for composable rake task failure
  react_on_rails_pro/lib/tasks/license.rake
Due: autofix, rubocop

Remove unused multiline JSON output from GitHub Actions example
  react_on_rails_pro/LICENSE_SETUP.md
Due: prettier

Remove deprecated code-splitting.md and fix stale links
  SUMMARY.md
  react_on_rails/spec/dummy/app/views/pages/client_side_manual_render.html.erb
  react_on_rails_pro/docs/code-splitting.md
  react_on_rails_pro/spec/dummy/app/views/pages/client_side_manual_render.html.erb
Due: prettier

Remove deprecated code-splitting docs page (#2386)
  SUMMARY.md
  react_on_rails/spec/dummy/app/views/pages/client_side_manual_render.html.erb
  react_on_rails_pro/docs/code-splitting.md
  react_on_rails_pro/spec/dummy/app/views/pages/client_side_manual_render.html.erb
Due: prettier

Add CHANGELOG entry for verify_license rake task
  CHANGELOG.md
Due: prettier

Add create-react-on-rails-app CLI tool (Phase 1) (#2375)
  README.md
  analysis/create-react-on-rails-app-proposal.md
  docs/getting-started/create-react-on-rails-app.md
  eslint.config.ts
  package.json
  packages/create-react-on-rails-app/bin/create-react-on-rails-app.js
  packages/create-react-on-rails-app/jest.config.js
  packages/create-react-on-rails-app/package.json
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
  packages/create-react-on-rails-app/src/types.ts
  packages/create-react-on-rails-app/src/utils.ts
  packages/create-react-on-rails-app/src/validators.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  packages/create-react-on-rails-app/tests/utils.test.ts
  packages/create-react-on-rails-app/tests/validators.test.ts
  packages/create-react-on-rails-app/tsconfig.json
  pnpm-lock.yaml
  rakelib/release.rake
Due: autofix, rubocop, eslint, prettier

Use around hook for exception-safe ENV restoration in tests
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Address review feedback on AGENTS.md formatting and changelog guidance
  AGENTS.md
Due: prettier

Reduce benchmark CI load and add master regression alerting
  .github/workflows/benchmark.yml
Due: prettier

Address benchmark workflow review feedback
  .github/workflows/benchmark.yml
Due: prettier

Address remaining benchmark workflow review feedback
  .github/workflows/benchmark.yml
Due: prettier

Add .docs-config.yml manifests with CI validation
  .github/workflows/validate-docs-config.yml
  docs/.docs-config.yml
  react_on_rails_pro/docs/.docs-config.yml
  scripts/validate-docs-config.cjs
Due: prettier

Fix knip CI failure and address PR review feedback
  knip.ts
  scripts/validate-docs-config.cjs
Due: eslint, prettier

Fix inaccurate nps commands and stale changelog reference in docs (#2378)
  .claude/docs/testing-build-scripts.md
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
Due: prettier

Update pnpm-lock.yaml for shakapacker 9.5.0 bump
  pnpm-lock.yaml
Due: prettier

Address review feedback: fix brittle test assertion, add CHANGELOG
  CHANGELOG.md
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop, prettier

fix: move open-pull-requests-limit to multi-ecosystem group level
  .github/dependabot.yml
Due: prettier

Fix precompile hook detection to match generator template
  react_on_rails/lib/react_on_rails/packer_utils.rb
Due: autofix, rubocop

Add word boundaries to regex and test coverage for hook detection
  react_on_rails/lib/react_on_rails/packer_utils.rb
  react_on_rails/spec/react_on_rails/packer_utils_spec.rb
Due: autofix, rubocop

Fix RBS return type for shakapacker_precompile_hook_value
  react_on_rails/sig/react_on_rails/packer_utils.rbs
Due: none

Move Pro entries (PRs 2324, 2334, 2326) to 16.3.0 section in CHANGELOG
  CHANGELOG.md
Due: prettier

Add CHANGELOG entry for precompile hook detection fix (#2282)
  CHANGELOG.md
Due: prettier

Add explicit require "bundler" for Bundler.with_unbundled_env calls
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
Due: autofix, rubocop

fix: update pnpm-lock.yaml for shakapacker 9.5.0 in execjs-compatible-dummy
  pnpm-lock.yaml
Due: prettier

fix: update shakapacker to 9.5.0 in execjs-compatible-dummy (#2377)
  .github/dependabot.yml
  pnpm-lock.yaml
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: prettier

Add verify_license rake task with JSON output for CI (#2385)
  CHANGELOG.md
  react_on_rails_pro/LICENSE_SETUP.md
  react_on_rails_pro/lib/react_on_rails_pro/license_task_formatter.rb
  react_on_rails_pro/lib/tasks/license.rake
  react_on_rails_pro/spec/react_on_rails_pro/license_task_formatter_spec.rb
Due: autofix, rubocop, prettier

Fix generator inheriting BUNDLE_GEMFILE from parent process (#2288)
  CHANGELOG.md
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/rakelib/shakapacker_examples.rake
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop, prettier

Address PR review feedback: fix extension handling and improve robustness
  .github/workflows/validate-docs-config.yml
  scripts/validate-docs-config.cjs
Due: prettier

Fix ESLint errors in validate-docs-config.cjs
  scripts/validate-docs-config.cjs
Due: none

Add self-guard to precompile hook for HMR reliability
  CHANGELOG.md
  docs/building-features/i18n.md
  docs/building-features/process-managers.md
  react_on_rails/lib/generators/react_on_rails/templates/base/base/bin/shakapacker-precompile-hook
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/lib/react_on_rails/packer_utils.rb
  react_on_rails/sig/react_on_rails/packer_utils.rbs
  react_on_rails/spec/dummy/bin/shakapacker-precompile-hook
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
  react_on_rails/spec/react_on_rails/packer_utils_spec.rb
Due: autofix, rubocop, prettier

Fix Claude Code Review workflow permissions
  .github/workflows/claude-code-review.yml
Due: prettier

Reduce benchmark CI load and alert on master regressions (#2376)
  .github/workflows/benchmark.yml
Due: prettier

Update benchmark docs
  CONTRIBUTING.md
Due: prettier

Update benchmark docs (#2390)
  CONTRIBUTING.md
Due: prettier

Add PR attribution to changelog entries
  CHANGELOG.md
Due: prettier

Fix CI failures: RBS pathname validation and precompile hook package manager detection
  react_on_rails/rakelib/rbs.rake
  react_on_rails/spec/support/shakapacker_precompile_hook_shared.rb
Due: autofix, rubocop

Fix forEach implicit return values in validate-docs-config.cjs
  scripts/validate-docs-config.cjs
Due: none

Remove internal-only dummy app entry from CHANGELOG
  CHANGELOG.md
Due: prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
