Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Docs: clarify demo fleet token helper note
  internal/contributor-info/release-verification-runbook.md
Due: prettier

Docs: make demo fleet release branch fetch optional
  internal/contributor-info/release-verification-runbook.md
Due: prettier

Docs: distinguish demo fleet release ref
  internal/contributor-info/release-verification-runbook.md
Due: prettier

Remove undocumented Pro cache class API (#4541)
  CHANGELOG.md
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro/cache.rb
  react_on_rails_pro/sig/react_on_rails_pro/cache.rbs
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/cache_spec.rb
Due: autofix, rubocop, prettier

Docs: add demo fleet release prompt (#4542)
  internal/contributor-info/release-verification-runbook.md
Due: prettier

Forward-port Pro cache API removal to main (#4543)
  CHANGELOG.md
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro/cache.rb
  react_on_rails_pro/sig/react_on_rails_pro/cache.rbs
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/cache_spec.rb
Due: autofix, rubocop, prettier

Forward-port remaining 17.0.0 RC7 fixes to main (#4538)
  internal/contributor-info/demo-fleet.yml
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCProviderCache.ts
  packages/react-on-rails-pro/tests/boundedCacheProvider.client.test.tsx
  packages/react-on-rails-pro/tests/deferredRouteSsr.test.tsx
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/rsc_rspack_support.rb
  react_on_rails/lib/react_on_rails/version_checker.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/react_on_rails/version_checker_spec.rb
Due: autofix, rubocop, eslint, prettier

Handle colon-form closing keywords
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Handle list-heading closeout code blocks
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Handle same-line nested list closeout keywords
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Gate code-formatted closing keywords
  .agents/workflows/pr-processing.md
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop, prettier

Recognize type-7 HTML closeout blocks
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Cap PR body closing keyword scan
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Handle ordered-list closeout interruption
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Handle HTML block closeout edge cases
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Handle nested list blockquote markers
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Treat link references as closeout boundaries
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Cover PR body elision in ledger output
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Treat HTML blocks as closeout boundaries
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Handle closeout scanner review edge cases
  script/pr_merge_ledger/closing_keyword_scanner.rb
  script/pr_merge_ledger/closing_keyword_scanner/fence_blocks.rb
  script/pr_merge_ledger/closing_keyword_scanner/list_blocks.rb
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Handle nested list closing keyword code
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Refactor closeout scanner into focused modules
  script/pr-merge-ledger
  script/pr_merge_ledger/closing_keyword_scanner.rb
  script/pr_merge_ledger/closing_keyword_scanner/block_boundaries.rb
  script/pr_merge_ledger/closing_keyword_scanner/blockquote_state.rb
  script/pr_merge_ledger/closing_keyword_scanner/code_blocks.rb
  script/pr_merge_ledger/closing_keyword_scanner/fence_blocks.rb
  script/pr_merge_ledger/closing_keyword_scanner/html_blocks.rb
  script/pr_merge_ledger/closing_keyword_scanner/inline_code.rb
  script/pr_merge_ledger/closing_keyword_scanner/inline_code_multiline.rb
  script/pr_merge_ledger/closing_keyword_scanner/line_state.rb
  script/pr_merge_ledger/closing_keyword_scanner/list_blocks.rb
Due: autofix, rubocop

Block truncated PR body closing scans
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Recurse through same-line nested list markers
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Handle closing keyword markdown edge cases
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Respect ordered list paragraph continuation
  script/pr_merge_ledger/closing_keyword_scanner/list_blocks.rb
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Handle table and list edge cases in closeout gate
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Handle same-line nested list blockquotes
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Process: preserve list boundary code eligibility
  script/pr_merge_ledger/closing_keyword_scanner/list_blocks.rb
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Block closeout keywords inside HTML blocks
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Process: harden closeout scanner review cases
  script/pr_merge_ledger/closing_keyword_scanner.rb
  script/pr_merge_ledger/closing_keyword_scanner/fence_blocks.rb
  script/pr_merge_ledger/closing_keyword_scanner/html_blocks.rb
  script/pr_merge_ledger/closing_keyword_scanner/inline_code_multiline.rb
  script/pr_merge_ledger/closing_keyword_scanner/list_blocks.rb
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Avoid table delimiter regex backtracking
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Harden closeout scanner edge cases
  script/pr-merge-ledger
  script/pr_merge_ledger/closing_keyword_scanner.rb
  script/pr_merge_ledger/closing_keyword_scanner/block_boundaries.rb
  script/pr_merge_ledger/closing_keyword_scanner/fence_blocks.rb
  script/pr_merge_ledger/closing_keyword_scanner/line_state.rb
  script/pr_merge_ledger/closing_keyword_scanner/list_paragraphs.rb
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Keep non-interrupting ordered markers out of list state
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Handle empty ordered marker closeout edge
  .agents/workflows/pr-processing.md
  script/pr_merge_ledger/closing_keyword_scanner.rb
  script/pr_merge_ledger/closing_keyword_scanner/block_boundaries.rb
  script/pr_merge_ledger/closing_keyword_scanner/list_blocks.rb
  script/pr_merge_ledger/closing_keyword_scanner/list_paragraphs.rb
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop, prettier

Handle same-line nested list fences
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Match GFM table delimiter rules
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Skip closing keyword gate off main
  script/pr-merge-ledger
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Align HTML block scanner constants
  script/pr_merge_ledger/closing_keyword_scanner/constants.rb
  script/pr_merge_ledger_test.rb
Due: autofix, rubocop

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
