Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Clarify rejected RSC retry test timing
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
Due: eslint, prettier

fix(types): address review threads on RenderFunction split
  packages/react-on-rails/src/types/index.ts
  packages/react-on-rails/tests/serverRenderReactComponent.test.ts
Due: eslint, prettier

Address review on RenderFunction split (#3592)
  packages/react-on-rails/src/createReactOutput.ts
  packages/react-on-rails/src/types/index.ts
  packages/react-on-rails/tests/serverRenderReactComponent.test.ts
Due: eslint, prettier

Split RenderFunction: drop legacy renderer arm (#3592)
  CHANGELOG.md
  packages/react-on-rails-pro/src/tanstack-router/index.ts
  packages/react-on-rails/src/createReactOutput.ts
  packages/react-on-rails/src/types/index.ts
  packages/react-on-rails/tests/serverRenderReactComponent.test.ts
Due: eslint, prettier

Add OSS hydrate_on scheduling
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/building-features/hydration-scheduling.md
  docs/sidebars.ts
  llms-full.txt
  llms.txt
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
  react_on_rails/lib/react_on_rails/pro_helper.rb
  react_on_rails/lib/react_on_rails/react_component/render_options.rb
  react_on_rails/spec/dummy/app/views/pages/hydration_scheduling.html.erb
  react_on_rails/spec/dummy/client/app/packs/client-bundle.ts
  react_on_rails/spec/dummy/client/app/packs/server-bundle.ts
  react_on_rails/spec/dummy/client/app/startup/HydrationSchedulingProbe.tsx
  react_on_rails/spec/dummy/config/routes.rb
  react_on_rails/spec/dummy/e2e/playwright/e2e/react_on_rails/hydration_scheduling.spec.js
  react_on_rails/spec/dummy/spec/helpers/react_on_rails_helper_spec.rb
  react_on_rails/spec/react_on_rails/react_component/render_options_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix hydrate_on scheduling review feedback
  docs/oss/building-features/hydration-scheduling.md
  llms-full.txt
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
  react_on_rails/spec/dummy/app/views/pages/hydration_scheduling.html.erb
  react_on_rails/spec/dummy/e2e/playwright/e2e/react_on_rails/hydration_scheduling.spec.js
Due: eslint, prettier

Docs: fix stale evaluate-issue gate cross-reference (#3910)
  .agents/workflows/pr-processing.md
Due: prettier

Address deferred AI-review feedback on PR-helper scripts (#4069)
  .agents/skills/address-review/bin/fetch-pr-review-data
  .agents/skills/address-review/bin/fetch-pr-review-data-test.rb
  .agents/skills/plan-pr-batch/bin/pr-file-touch-map
  .agents/skills/plan-pr-batch/bin/pr-file-touch-map-test.rb
  .agents/skills/pr-batch/SKILL.md
  .agents/skills/pr-batch/bin/pr-ci-readiness
  .agents/skills/pr-batch/bin/pr-ci-readiness-test.rb
  .agents/skills/update-changelog/bin/changelog-merged-prs
  .agents/skills/update-changelog/bin/changelog-merged-prs-test.rb
Due: autofix, rubocop, prettier

Rebase on main, address review feedback, regenerate llms-full.txt
  llms-full.txt
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
  react_on_rails/spec/dummy/spec/helpers/react_on_rails_helper_spec.rb
  react_on_rails/spec/react_on_rails/react_component/render_options_spec.rb
Due: autofix, rubocop, eslint, prettier

ci(pro): add Rspack build leg for execjs-compatible-dummy (#4091)
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

Local benchmark runner: pin Pro renderer endpoint; isolate testbed spec (#4073)
  benchmarks/run-local-benchmark.rb
  benchmarks/spec/bencher_runner_spec.rb
Due: autofix, rubocop

Local benchmark runner: clear the Bencher token in the server env too (#4073)
  benchmarks/run-local-benchmark.rb
Due: autofix, rubocop

Local benchmark runner: harden for the persistent-host workflow (#4073)
  benchmarks/LOCAL_BENCHMARK.md
  benchmarks/run-local-benchmark.rb
Due: autofix, rubocop, prettier

Local benchmark runner: keep the Bencher token out of child commands (#4073)
  benchmarks/run-local-benchmark.rb
Due: autofix, rubocop

Local benchmark runner: pin to the minimum supported Ruby (#4073)
  benchmarks/LOCAL_BENCHMARK.md
  benchmarks/run-local-benchmark.rb
Due: autofix, rubocop, prettier

Local benchmark runner: read results from REPO_ROOT/bench_results (#4073)
  benchmarks/run-local-benchmark.rb
Due: autofix, rubocop

Local benchmark runner: pin port, reseed Pro DB, require fresh payload (#4073)
  benchmarks/run-local-benchmark.rb
Due: autofix, rubocop

Make benchmark-suite.yml OS-portable for a self-hosted macOS runner (#4073)
  .github/workflows/benchmark-suite.yml
  benchmarks/SELF_HOSTED_RUNNER.md
Due: prettier

Local dedicated-hardware benchmark runner; drop self-hosted runner plan (#4073)
  .github/workflows/benchmark-suite.yml
  benchmarks/LOCAL_BENCHMARK.md
  benchmarks/SELF_HOSTED_RUNNER.md
  benchmarks/run-local-benchmark.rb
  benchmarks/spec/track_benchmarks_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop, prettier

Local benchmark runner: RC baseline, process-group cleanup, nightly branch (#4073)
  benchmarks/LOCAL_BENCHMARK.md
  benchmarks/run-local-benchmark.rb
Due: autofix, rubocop, prettier

Address review feedback on the self-hosted benchmark suite PR (#4073)
  .github/workflows/benchmark-suite.yml
  benchmarks/SELF_HOSTED_RUNNER.md
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop, prettier

Local benchmark runner: report under the git ref + fail fast on upload prereqs (#4073)
  benchmarks/LOCAL_BENCHMARK.md
  benchmarks/run-local-benchmark.rb
Due: autofix, rubocop, prettier

Parameterize benchmark suite for a self-hosted gated runner (#4073)
  .github/workflows/benchmark-suite.yml
  benchmarks/SELF_HOSTED_RUNNER.md
  benchmarks/lib/bencher_runner.rb
  benchmarks/spec/bencher_runner_spec.rb
  benchmarks/spec/track_benchmarks_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop, prettier

Local benchmark runner: target-liveness + filtered-alert parity with CI (#4073)
  benchmarks/run-local-benchmark.rb
Due: autofix, rubocop

Wrap generated demo file paths in onboarding page (Part 1 of #4062)
  react_on_rails/lib/generators/react_on_rails/templates/base/base/app/views/hello_world/index.html.erb.tt
Due: none

Address CodeRabbit/Claude/greptile review nits on PR-helper scripts (#4069)
  .agents/skills/plan-pr-batch/bin/pr-file-touch-map-test.rb
  .agents/skills/pr-batch/bin/pr-ci-readiness
Due: autofix, rubocop

ci(pro): gate execjs rspack leg on run_pro_dummy_tests; move to integration workflow (#4091)
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

Local benchmark runner: address substantive review feedback (#4073)
  benchmarks/lib/bencher_runner.rb
  benchmarks/run-local-benchmark.rb
Due: autofix, rubocop

docs(types): clarify RenderFunction vs ServerRenderFunction JSDoc attachment
  packages/react-on-rails/src/types/index.ts
Due: eslint, prettier

Local benchmark runner: defensive guards for process check and exec failures (#4073)
  benchmarks/run-local-benchmark.rb
Due: autofix, rubocop

Fix reattach-stuck visible roots and double-log on deferred render errors
  docs/oss/building-features/hydration-scheduling.md
  llms-full.txt
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

docs(pr-batch): use generic Confidence note for non-delegated handoff
  .agents/skills/pr-batch/SKILL.md
Due: prettier

Add CHANGELOG entry for hydrate_on scheduling
  CHANGELOG.md
Due: prettier

docs(pr-processing): fix gap-class count (two -> three)
  .agents/workflows/pr-processing.md
Due: prettier

docs(address-review): sync convergence rule into workflow Step 8
  .agents/workflows/address-review.md
Due: prettier

Document current RSC architecture and version policy
  analysis/nextjs-turbopack-rsc-vs-react-on-rails-pro.md
Due: prettier

Docs: replace ephemeral agent paths with shareable source links
  analysis/nextjs-turbopack-rsc-vs-react-on-rails-pro.md
Due: prettier

Docs: fix stale evaluate-issue gate cross-reference (#3910) (#4104)
  .agents/workflows/pr-processing.md
Due: prettier

fix(tooling): prefix unused regex-callback arg to satisfy no-unused-vars
  script/generate-llms-full.mjs
Due: none

test(tooling): cover non-SVG and empty-alt paths in llms-full diagram filter
  script/generate-llms-full-test.bash
Due: none

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
