Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Address dummy TypeScript review blockers
  docs/oss/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/spec/dummy/app/views/pages/server_side_hello_world_shared_store_controller.html.erb
  react_on_rails/spec/dummy/app/views/pages/xhr_refresh.html.erb
  react_on_rails/spec/dummy/client/app/startup/ReduxApp.client.tsx
  react_on_rails/spec/dummy/client/app/startup/ReduxSharedStoreApp.client.tsx
  react_on_rails/spec/dummy/client/app/store/reduxTypes.ts
  react_on_rails/spec/dummy/client/app/types/generated-packs.d.ts
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
Due: autofix, rubocop, eslint, prettier

Clarify inactive precompile hook YAML values
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

fix(client): address renderer teardown review edges
  .bundle-size-skip-branch
  CHANGELOG.md
  packages/react-on-rails-pro/src/ClientSideRenderer.ts
  packages/react-on-rails-pro/src/wrapServerComponentRenderer/client.tsx
  packages/react-on-rails-pro/tests/ClientSideRenderer.legacy.test.ts
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/src/createReactOutput.ts
  packages/react-on-rails/src/types/index.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

fix(benchmarks): seed Pro dummy DB so /posts_page stops 500ing (#3602) (#3615)
  .github/workflows/benchmark.yml
  react_on_rails_pro/spec/dummy/db/seeds.rb
  react_on_rails_pro/spec/dummy/spec/db/seeds_spec.rb
  react_on_rails_pro/spec/dummy/spec/requests/posts_page_spec.rb
Due: autofix, rubocop, prettier

fix(pro): admit react-on-rails-rsc RC prereleases in peer range (#3609)
  CHANGELOG.md
  packages/react-on-rails-pro/package.json
Due: prettier

fix(pro): set react-on-rails-rsc peer to * to admit all RC prereleases
  CHANGELOG.md
  packages/react-on-rails-pro/package.json
Due: prettier

docs: correct changelog PR link for #3609 fix to #3616
  CHANGELOG.md
Due: prettier

Cover unquoted precompile hook install path
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Scope precompile hook placeholder detection
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

chore: address shakaperf artifact review nits
  analysis/rsc-fouc-shakaperf-artifacts/setup/ab-tests/rsc-fouc.abtest.ts
  analysis/rsc-fouc-shakaperf-artifacts/setup/generated-shakaperf-skills/setup-docker-servers-for-ab-tests.SKILL.md
  analysis/rsc-fouc-shakaperf-artifacts/setup/twin-servers/Dockerfile
Due: eslint, prettier

docs: use relative dummy server bundle link
  docs/oss/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
Due: prettier

chore: clarify shakaperf diagnostic comments
  analysis/rsc-fouc-shakaperf-artifacts/setup/ab-tests/natural-first-visible-assertion.abtest.ts
  analysis/rsc-fouc-shakaperf-artifacts/setup/config/natural-first-visible-commit.abtests.config.ts
Due: eslint, prettier

fix: harden rspack RSC migration fallbacks
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

fix: harden RSC manifest discovery migration
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
  react_on_rails/spec/react_on_rails/shakapacker_precompile_hook_shared_spec.rb
  react_on_rails/spec/support/shakapacker_precompile_hook_shared.rb
  react_on_rails_pro/spec/dummy/config/webpack/rscManifestClientReferences.js
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/tests/package-scripts.test.js
  react_on_rails_pro/spec/dummy/tests/rsc-manifest-client-references.test.js
Due: autofix, rubocop, eslint, prettier

ci(benchmarks): richer summary table
  benchmarks/bench-node-renderer.rb
  benchmarks/bench.rb
  benchmarks/lib/bencher_perf_url.rb
  benchmarks/lib/bencher_report.rb
  benchmarks/lib/benchmark_table.rb
  benchmarks/lib/bmf_helpers.rb
  benchmarks/spec/bencher_perf_url_spec.rb
  benchmarks/spec/bencher_report_spec.rb
  benchmarks/spec/benchmark_table_spec.rb
  benchmarks/spec/bmf_collector_spec.rb
  benchmarks/spec/fixtures/bencher_report_sample.json
  benchmarks/spec/report_table_integration_spec.rb
  benchmarks/spec/track_benchmarks_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop, prettier

fix(pro): admit react-on-rails-rsc RC prereleases in peer range
  CHANGELOG.md
  packages/react-on-rails-pro/package.json
Due: prettier

feat(generator): scaffold native RSCRspackPlugin for rspack RSC
  CHANGELOG.md
  docs/pro/react-server-components/rspack-compatibility.md
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/clientWebpackConfig.js.tt
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/serverWebpackConfig.js.tt
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/config/webpack/rscWebpackConfig.js.tt
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop, prettier

fix(client): clean up renderer-function mounts on unmount
  .bundle-size-skip-branch
  CHANGELOG.md
  packages/react-on-rails-pro/src/ClientSideRenderer.ts
  packages/react-on-rails-pro/src/wrapServerComponentRenderer/client.tsx
  packages/react-on-rails-pro/src/wrapServerComponentRenderer/server.tsx
  packages/react-on-rails-pro/tests/ClientSideRenderer.legacy.test.ts
  packages/react-on-rails-pro/tests/ClientSideRenderer.test.ts
  packages/react-on-rails-pro/tests/wrapServerComponentRenderer.client.test.jsx
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/src/createReactOutput.ts
  packages/react-on-rails/src/isRenderFunction.ts
  packages/react-on-rails/src/types/index.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
  packages/react-on-rails/tests/ReactOnRails.test.jsx
Due: eslint, prettier

feat(client): adopt renderer-function teardown in dummy apps + docs (#3578)
  docs/oss/api-reference/javascript-api.md
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/core-concepts/render-functions.md
  packages/react-on-rails/src/types/index.ts
  react_on_rails/spec/dummy/client/app-react16/startup/ManualRenderApp.jsx
  react_on_rails/spec/dummy/client/app-react16/startup/ReduxApp.client.jsx
  react_on_rails/spec/dummy/client/app-react16/startup/ReduxSharedStoreApp.client.jsx
  react_on_rails/spec/dummy/client/app/startup/ManualRenderApp.jsx
  react_on_rails/spec/dummy/client/app/startup/ReduxApp.client.jsx
  react_on_rails/spec/dummy/client/app/startup/ReduxSharedStoreApp.client.jsx
  react_on_rails_pro/spec/dummy/client/app/loadable/loadable-client.imports-loadable.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ApolloGraphQLApp.client.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/LazyApolloGraphQLApp.client.tsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ManualRenderApp.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ReduxApp.client.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ReduxSharedStoreApp.client.jsx
Due: eslint, prettier

fix(client): re-render dummy renderers in place on HMR; align docs with props.prerender (#3578)
  docs/oss/api-reference/view-helpers-api.md
  react_on_rails/spec/dummy/client/app/startup/ReduxApp.client.jsx
  react_on_rails/spec/dummy/client/app/startup/ReduxSharedStoreApp.client.jsx
Due: eslint, prettier

docs(client): refine renderer-function teardown examples from PR review
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/core-concepts/render-functions.md
Due: prettier

Address renderer teardown review nits
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/core-concepts/render-functions.md
  react_on_rails/spec/dummy/client/app/startup/ReduxApp.client.jsx
  react_on_rails/spec/dummy/client/app/startup/ReduxSharedStoreApp.client.jsx
Due: eslint, prettier

fix: use explicit renderer teardown wrappers
  docs/oss/api-reference/javascript-api.md
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/core-concepts/render-functions.md
  packages/react-on-rails/src/types/index.ts
  react_on_rails/spec/dummy/client/app-react16/startup/ManualRenderApp.jsx
  react_on_rails/spec/dummy/client/app-react16/startup/ReduxApp.client.jsx
  react_on_rails/spec/dummy/client/app-react16/startup/ReduxSharedStoreApp.client.jsx
  react_on_rails/spec/dummy/client/app/startup/ManualRenderApp.jsx
  react_on_rails/spec/dummy/client/app/startup/ReduxApp.client.jsx
  react_on_rails/spec/dummy/client/app/startup/ReduxSharedStoreApp.client.jsx
  react_on_rails_pro/spec/dummy/client/app/loadable/loadable-client.imports-loadable.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ApolloGraphQLApp.client.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/LazyApolloGraphQLApp.client.tsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ManualRenderApp.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ReduxApp.client.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ReduxSharedStoreApp.client.jsx
Due: eslint, prettier

docs(client): clarify renderer-function teardown hydration guidance (#3578)
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/core-concepts/render-functions.md
Due: prettier

fix(generators): preserve inherited precompile hooks
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Fix dummy TypeScript review issues
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/building-features/images.md
  docs/oss/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/capabilities/core.ts
  packages/react-on-rails/src/isRenderFunction.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/spec/dummy/client/app/startup/CssModulesImagesFontsExample.tsx
  react_on_rails/spec/dummy/client/app/startup/HelloWorld.tsx
  react_on_rails/spec/dummy/package.json
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
Due: autofix, rubocop, eslint, prettier

docs: clarify Rails tutorial legacy flags
  docs/oss/getting-started/tutorial.md
  docs/oss/upgrading/upgrading-react-on-rails.md
Due: prettier

Decouple shakapacker config helpers from system checker
  react_on_rails/lib/react_on_rails/shakapacker_config_helpers.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

test: harden renderer teardown polish
  packages/react-on-rails-pro/src/wrapServerComponentRenderer/client.tsx
  packages/react-on-rails-pro/tests/ClientSideRenderer.test.ts
  packages/react-on-rails-pro/tests/wrapServerComponentRenderer.client.test.jsx
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

Restore renderer race console spy safely
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

fix(generators): scope generated hook detection by environment
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

fix: address dummy TypeScript review nits
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/capabilities/core.ts
  react_on_rails/lib/react_on_rails/packs_generator.rb
Due: autofix, rubocop, eslint, prettier

fix: address renderer teardown review nits
  docs/oss/core-concepts/render-functions.md
  react_on_rails/spec/dummy/client/app/startup/ReduxApp.client.jsx
  react_on_rails/spec/dummy/client/app/startup/ReduxSharedStoreApp.client.jsx
Due: eslint, prettier

fix(generators): respect local precompile hook overrides
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

Docs: follow up v15 anchor and Rails 5.2 flag
  docs/oss/getting-started/tutorial.md
  docs/oss/upgrading/upgrading-react-on-rails.md
Due: prettier

docs: clarify rails new javascript flag
  docs/oss/getting-started/tutorial.md
Due: prettier

refactor: share renderer teardown guard
  packages/react-on-rails-pro/src/ClientSideRenderer.ts
  packages/react-on-rails-pro/src/wrapServerComponentRenderer/client.tsx
  packages/react-on-rails/package.json
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/src/createReactOutput.ts
  packages/react-on-rails/src/rendererTeardown.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

fix: preserve generated server bundle output path
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
Due: autofix, rubocop

test: clarify renderer teardown review feedback
  packages/react-on-rails-pro/tests/wrapServerComponentRenderer.client.test.jsx
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier
