Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Reject compound Rspack v1 ranges
  react_on_rails/lib/react_on_rails/version_checker.rb
  react_on_rails/spec/react_on_rails/version_checker_spec.rb
Due: autofix, rubocop

Treat release-finish remotes as fetch operands
  script/release-finish
  script/release-finish-test.bash
Due: none

Wait for bounded process groups before replaying output
  .agents/skills/pr-batch/bin/agent-coord-bounded
  .agents/skills/pr-batch/bin/agent-coord-bounded-test.rb
Due: autofix, rubocop

Add cached static RSC helper and diagnostics
  docs/oss/api-reference/ruby-api-pro.md
  docs/pro/streaming-ssr.md
  docs/pro/strict-csp.md
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop, prettier

Prefer open benchmark ports over wrapper exit state
  benchmarks/lib/local_benchmark_runner/process_wait.rb
  benchmarks/spec/local_benchmark_runner/process_wait_spec.rb
Due: autofix, rubocop

Recognize aliased Rspack shorthand ranges
  react_on_rails/lib/react_on_rails/rsc_rspack_support.rb
  react_on_rails/spec/react_on_rails/version_checker_spec.rb
Due: autofix, rubocop

Add changelog for static RSC helper
  CHANGELOG.md
Due: prettier

Trim unused cache test helpers
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/pro_rendering_spec.rb
Due: autofix, rubocop

Make Pro cache hit callback explicit
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro/cache.rb
  react_on_rails_pro/spec/react_on_rails_pro/cache_spec.rb
Due: autofix, rubocop

Fix static RSC warm-cache diagnostics
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop

Handle response-start send rejections
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/tests/handleIncrementalRenderStream.test.ts
Due: eslint, prettier

Document streaming dependency load error fix
  CHANGELOG.md
Due: prettier

Fix RSC sidecar keyboard intent example
  docs/oss/migrating/rsc-static-shell-sidecar.md
Due: prettier

Fetch remote state during release-finish dry runs (#4382)
  script/release-finish
  script/release-finish-test.bash
Due: none

Preserve agent-coord-bounded output on bounded exits (#4381)
  .agents/skills/pr-batch/bin/agent-coord-bounded
  .agents/skills/pr-batch/bin/agent-coord-bounded-test.rb
Due: autofix, rubocop

Fail fast when local benchmark server exits (#4380)
  benchmarks/lib/local_benchmark_runner/process_wait.rb
  benchmarks/run-local-benchmark.rb
  benchmarks/spec/local_benchmark_runner/process_wait_spec.rb
Due: autofix, rubocop

Recognize exact shorthand Rspack ranges
  react_on_rails/lib/react_on_rails/rsc_rspack_support.rb
  react_on_rails/lib/react_on_rails/version_checker.rb
  react_on_rails/spec/react_on_rails/version_checker_spec.rb
Due: autofix, rubocop

Document response-start rejection handling
  CHANGELOG.md
Due: prettier

Keep Pro cache hit helpers aligned
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/sig/react_on_rails_pro/cache.rbs
Due: autofix, rubocop

Warn on undetermined RSC Rspack boot validation (#4355)
  react_on_rails/lib/react_on_rails/rsc_rspack_support.rb
  react_on_rails/lib/react_on_rails/version_checker.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/react_on_rails/version_checker_spec.rb
Due: autofix, rubocop

Document runtime RC blocker fixes (#4373)
  CHANGELOG.md
Due: prettier

Remove stale ShakaPerf docs link
  docs/oss/building-features/performance-tracks-and-profiling.md
Due: prettier

Destroy pull stream on catch-up failure
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/asyncPropsProtocol.test.ts
Due: eslint, prettier

Harden tag index restore on retry failures
  react_on_rails_pro/lib/react_on_rails_pro/cache/tag_index.rb
  react_on_rails_pro/spec/react_on_rails_pro/cache/tag_index_spec.rb
Due: autofix, rubocop

Simplify stream observability restore setup
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
Due: autofix, rubocop

Strip static RSC diagnostic scripts safely
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop

Address RSC public page docs review
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/migrating/rsc-flight-payload.md
  docs/oss/migrating/rsc-performance-validation.md
  docs/oss/migrating/rsc-static-shell-sidecar.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Guard preload links for older Shakapacker (#4377)
  CHANGELOG.md
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/building-features/performance-tracks-and-profiling.md
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails/spec/dummy/spec/helpers/react_on_rails_helper_spec.rb
Due: autofix, rubocop, prettier

Avoid local cleanup state in RSC cache spec
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop

Refresh llms reference after base merge
  llms-full.txt
Due: none

Skip RSC manifest diagnostics on cache hits
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop

Avoid mutating render option inputs
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails/spec/dummy/spec/helpers/react_on_rails_helper_spec.rb
Due: autofix, rubocop

Add changelog entry for PR 4282
  CHANGELOG.md
Due: prettier

Skip generated stylesheet metadata for OSS renders
  react_on_rails/lib/react_on_rails/pro_helper.rb
  react_on_rails/spec/dummy/spec/helpers/react_on_rails_helper_spec.rb
Due: autofix, rubocop

Optimize response type emitter snapshots
  react_on_rails/lib/react_on_rails/typescript_response_types.rb
  react_on_rails/spec/react_on_rails/typescript_response_types_emitter_spec.rb
Due: autofix, rubocop

Avoid full locale default obsolete scan
  react_on_rails/lib/react_on_rails/locales/to_js.rb
  react_on_rails/spec/react_on_rails/locales_to_js_spec.rb
Due: autofix, rubocop

Preserve incremental setup errors during cleanup
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/asyncPropsProtocol.test.ts
Due: eslint, prettier

Declare Nokogiri for static RSC parsing
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/react_on_rails_pro.gemspec
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: autofix, rubocop

Fix Pro renderer transport memory and reuse
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop

Close Pro transport review gaps
  CHANGELOG.md
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
Due: autofix, rubocop, prettier
