Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Revert "run bundle size action using node20 image"
  .github/workflows/bundle-size.yml
Due: prettier

disable running time limits on CI
  scripts/bundle-size.mjs
Due: none

don't run bundles on browser
  .size-limit.json
  scripts/bundle-size.mjs
Due: prettier

make bundle-size.mjs script puts time limits for loading time
  scripts/bundle-size.mjs
Due: none

update docs
  .github/workflows/bundle-size.yml
  CHANGELOG.md
  scripts/bundle-size.mjs
Due: prettier

fix typo
  .github/workflows/bundle-size.yml
  scripts/bundle-size.mjs
Due: prettier

Add loading time check on CI (#2163)
  .github/workflows/bundle-size.yml
  .size-limit.json
  CHANGELOG.md
  packages/react-on-rails-pro/temp.js
  scripts/bundle-size.mjs
Due: eslint, prettier

Add running time check on ci (#2165)
  .github/workflows/bundle-size.yml
  .size-limit.json
  CHANGELOG.md
  CONTRIBUTING.md
  bin/compare-bundle-sizes
  package.json
  scripts/bundle-size.mjs
Due: prettier

add server actions implementation plan
  docs/planning/server-functions-implementation/01-initial-plan.md
Due: prettier

linting
  docs/planning/server-functions-implementation/01-initial-plan.md
Due: prettier

add server actions implementation plan (#2166)
  docs/planning/server-functions-implementation/01-initial-plan.md
Due: prettier

Fix buildConsoleReplay test parameter order regression
  packages/react-on-rails/tests/buildConsoleReplay.test.js
Due: eslint, prettier

Fix buildConsoleReplay test parameter order regression (#2168)
  packages/react-on-rails/tests/buildConsoleReplay.test.js
Due: eslint, prettier

Fix JS tests workflow in CI
  .github/workflows/package-js-tests.yml
Due: prettier

Fix Jest tests
  jest.config.base.js
Due: eslint, prettier

Reorder workflow parameters more logically
  .github/workflows/benchmark.yml
Due: prettier

Fix max rate K6 scenario
  spec/performance/bench.sh
Due: none

Fix knip error
  knip.ts
Due: eslint, prettier

Add server warm-up to benchmark
  spec/performance/bench.sh
Due: none

Closer to recommended Fortio options
  spec/performance/bench.sh
Due: none

Make request timeout a parameter
  .github/workflows/benchmark.yml
  spec/performance/bench.sh
Due: prettier

Add MAX_CONNECTIONS
  .github/workflows/benchmark.yml
  spec/performance/bench.sh
Due: prettier

Enable clustered mode in production
  .github/workflows/benchmark.yml
  react_on_rails/spec/dummy/config/puma.rb
Due: autofix, rubocop, prettier

Update defaults for now
  .github/workflows/benchmark.yml
Due: prettier

Initial benchmark workflow
  .github/workflows/benchmark.yml
Due: prettier

Update Claude instructions
  CLAUDE.md
Due: prettier

Convert the benchmark script to Ruby
  .github/workflows/benchmark.yml
  knip.ts
  spec/performance/bench.rb
  spec/performance/bench.sh
Due: autofix, rubocop, eslint, prettier

Allow configuring RAILS_MAX/MIN_THREADS in the workflow
  .github/workflows/benchmark.yml
Due: prettier

Replace DURATION_SEC with DURATION
  .github/workflows/benchmark.yml
  spec/performance/bench.rb
Due: autofix, rubocop, prettier

FIXME temp commit
  .github/workflows/benchmark.yml
Due: prettier

Update prod-assets to include generate_packs
  .github/workflows/benchmark.yml
  react_on_rails_pro/spec/dummy/bin/prod-assets
Due: prettier

Disable js_compressor and css_compressor
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/dummy/config/environments/production.rb
Due: autofix, rubocop

Handle empty inputs correctly
  .github/workflows/benchmark.yml
  spec/performance/bench.rb
Due: autofix, rubocop, prettier

Fix k6 timeout
  spec/performance/bench.rb
Due: autofix, rubocop

Remove duplication in adding summaries
  spec/performance/bench.rb
Due: autofix, rubocop

Fix Fortio failure on server_side_log_throw_raise
  spec/performance/bench.rb
Due: autofix, rubocop

Group all code for a tool into a single block
  spec/performance/bench.rb
Due: autofix, rubocop

Add pro benchmarks
  .github/workflows/benchmark.yml
  react_on_rails_pro/spec/dummy/Procfile.prod
  react_on_rails_pro/spec/dummy/bin/prod
  react_on_rails_pro/spec/dummy/bin/prod-assets
  react_on_rails_pro/spec/dummy/config/environments/production.rb
Due: autofix, rubocop, prettier

Benchmark all routes
  spec/performance/bench.rb
Due: autofix, rubocop

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
