Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Clarify precompile build command docs
  docs/oss/building-features/extensible-precompile-pattern.md
Due: prettier

docs: add React 19 planning owners
  internal/planning/react-19-partial-prerendering-plan.md
Due: prettier

Clarify RSC renderer test docs
  docs/oss/building-features/testing-configuration.md
Due: prettier

Clarify Gumroad benchmark caveats
  docs/oss/core-concepts/performance-benchmarks.md
Due: prettier

Clarify verify command scope guidance
  .claude/commands/verify.md
Due: prettier

docs: tighten React 19 SSR verification notes
  internal/planning/react-19-partial-prerendering-plan.md
Due: prettier

Clarify benchmark gate restoration criteria
  .lychee.toml
  internal/planning/library-benchmarking.md
Due: prettier

Address package root review feedback
  docs/oss/migrating/migrating-from-vite-rails.md
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop, prettier

Broaden Bencher dashboard link exclusion
  .lychee.toml
Due: none

docs: clarify React 19 risk defaults
  internal/planning/react-19-partial-prerendering-plan.md
Due: prettier

Clarify benchmark cache miss plan
  internal/planning/performance-test-expansion-plan.md
Due: prettier

Clarify benchmark warning mode tracking
  internal/planning/library-benchmarking.md
Due: prettier

docs: polish React 19 verification commands
  internal/planning/react-19-partial-prerendering-plan.md
Due: prettier

Address follow-up package root review feedback
  docs/oss/migrating/migrating-from-vite-rails.md
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop, prettier

Clarify benchmark run qualification
  internal/planning/library-benchmarking.md
Due: prettier

Clarify RSC gone cache comment
  docs/oss/migrating/rsc-http-response-patterns.md
Due: prettier

docs: tighten React 19 audit scope
  internal/planning/react-19-partial-prerendering-plan.md
Due: prettier

Keep pnpm fallback spec tied to constant
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Polish Gumroad benchmark caveats
  docs/oss/core-concepts/performance-benchmarks.md
Due: prettier

Clarify precompile executable bit setup
  docs/oss/building-features/extensible-precompile-pattern.md
Due: prettier

docs: align React 19 range checks
  internal/planning/react-19-partial-prerendering-plan.md
Due: prettier

Avoid duplicate package root doctor warnings
  docs/oss/migrating/migrating-from-vite-rails.md
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, prettier

Clarify verify command formatting checks
  .claude/commands/verify.md
Due: prettier

docs: broaden React 19 grep audit
  internal/planning/react-19-partial-prerendering-plan.md
Due: prettier

Clarify performance benchmark metadata plan
  internal/planning/performance-test-expansion-plan.md
Due: prettier

docs: refine React 19 verification decisions
  internal/planning/react-19-partial-prerendering-plan.md
Due: prettier

Clarify RSC node renderer test docs
  docs/oss/building-features/testing-configuration.md
Due: prettier

Clarify RSC HTTP response review guidance
  docs/oss/migrating/rsc-http-response-patterns.md
Due: prettier

Clarify legacy Webpacker shim docs
  docs/oss/building-features/rails-webpacker-react-integration-options.md
Due: prettier

docs: split React 19 plan checklist
  internal/planning/react-19-partial-prerendering-plan.md
Due: prettier

Address final RSC HTTP docs review notes
  docs/oss/migrating/rsc-http-response-patterns.md
Due: prettier

Tighten pnpm CI fallback detection
  CHANGELOG.md
  react_on_rails/lib/generators/react_on_rails/generator_messages/package_manager_detection.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
Due: autofix, rubocop, prettier

docs: correct React 19 verification commands
  internal/planning/react-19-partial-prerendering-plan.md
Due: prettier

Tighten benchmark dashboard link exclusion
  .lychee.toml
Due: none

Clarify verification command choices
  .claude/commands/verify.md
  AGENTS.md
Due: prettier

Warn on missing package roots in doctor checks
  docs/oss/migrating/migrating-from-vite-rails.md
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop, prettier

Clarify pnpm fallback workflow pin
  .lychee.toml
  react_on_rails/lib/generators/react_on_rails/templates/base/base/.github/workflows/ci.yml.tt
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Clarify precompile build command alternatives
  docs/oss/building-features/extensible-precompile-pattern.md
Due: prettier

docs: clarify RSC HTTP response examples
  docs/oss/migrating/rsc-http-response-patterns.md
Due: prettier
