Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Remove standalone repo artifacts from react_on_rails_pro (#2360)
  react_on_rails_pro/.scss-lint.yml
  react_on_rails_pro/CONTRIBUTING.md
  react_on_rails_pro/Dockerfile
  react_on_rails_pro/rakelib/lint.rake
  react_on_rails_pro/rakelib/yard.rake
  react_on_rails_pro/readme-gen-docs.md
  react_on_rails_pro/script/bootstrap
  react_on_rails_pro/script/setup
  react_on_rails_pro/script/test
  react_on_rails_pro/spec/dummy/bin/scss-lint
Due: autofix, rubocop, prettier

docs: deduplicate AGENTS and CLAUDE guidance (#2372)
  AGENTS.md
  CLAUDE.md
Due: prettier

Fix conductor-setup.sh: Use pnpm and bundle in all directories (#2235)
  conductor-setup.sh
Due: none

docs: remove merger decisions log from coordination docs
  CLAUDE.md
  internal/coordination/MERGER_COMMAND_CENTER.md
  internal/coordination/merger-decisions.md
Due: prettier

Exclude Benchmark Workflow from docs-only safety guard
  .github/actions/ensure-master-docs-safety/action.yml
Due: prettier

Relax benchmark regression threshold from 30% to 50%
  .github/workflows/benchmark.yml
Due: prettier

Exclude Benchmark from docs-only safety guard (#2368)
  .github/actions/ensure-master-docs-safety/action.yml
  .github/workflows/benchmark.yml
Due: prettier

docs(pro): enhance license messaging consistency in updating guide
  react_on_rails_pro/docs/updating.md
Due: prettier

docs(pro): align installation.md license messaging with updating.md
  react_on_rails_pro/docs/installation.md
Due: prettier

Switch benchmark thresholds to Student's t-test (#2373)
  .github/workflows/benchmark.yml
Due: prettier

docs(pro): polish deprecation notice, license wording, and list formatting
  react_on_rails_pro/docs/code-splitting.md
  react_on_rails_pro/docs/installation.md
  react_on_rails_pro/docs/updating.md
Due: prettier

Only warn on duplicate registration when component/store differs
  packages/react-on-rails/src/ComponentRegistry.ts
  packages/react-on-rails/src/StoreRegistry.ts
  packages/react-on-rails/tests/ComponentRegistry.test.js
  packages/react-on-rails/tests/StoreRegistry.test.js
Due: eslint, prettier

Address PR review: improve error handling and docs clarity
  docs/building-features/extensible-precompile-pattern.md
  react_on_rails/lib/generators/react_on_rails/templates/base/base/bin/dev
Due: prettier

Add extensible bin/dev precompile pattern documentation
  docs/building-features/extensible-precompile-pattern.md
  docs/building-features/i18n.md
  docs/building-features/process-managers.md
  react_on_rails/lib/generators/react_on_rails/templates/base/base/bin/dev
Due: prettier

Address PR review: YARD docs, error handling, FAQ, and CHANGELOG
  CHANGELOG.md
  docs/building-features/extensible-precompile-pattern.md
  react_on_rails/lib/generators/react_on_rails/templates/base/base/bin/dev
  react_on_rails/lib/react_on_rails/locales/base.rb
Due: autofix, rubocop, prettier

Apply same duplicate registration fix to Pro package
  packages/react-on-rails-pro/src/CallbackRegistry.ts
  packages/react-on-rails-pro/src/ComponentRegistry.ts
  packages/react-on-rails-pro/src/StoreRegistry.ts
Due: eslint, prettier

Add execution timing section and fix YAML comment clarity
  docs/building-features/extensible-precompile-pattern.md
Due: prettier

Improve CHANGELOG wording and add option guidance to i18n docs
  CHANGELOG.md
  docs/building-features/i18n.md
Due: prettier

docs(pro): add language specifier to fenced code block in updating.md
  react_on_rails_pro/docs/updating.md
Due: prettier

docs: add wrapper-file pattern for transpiled languages (#2343)
  docs/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
Due: prettier

docs(pro): deprecate legacy code-splitting page and clarify license setup (#2371)
  react_on_rails_pro/docs/code-splitting.md
  react_on_rails_pro/docs/installation.md
  react_on_rails_pro/docs/updating.md
Due: prettier

fix: match wrapper comment path to directory tree example
  docs/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
Due: prettier

docs: enhance transpiled language section with symptoms and notes
  docs/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
Due: prettier

docs: add troubleshooting cross-ref and expand NOTE tradeoffs
  docs/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
Due: prettier

docs: add wrapper-file pattern for transpiled languages (#2374)
  docs/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
Due: prettier

Add extensible bin/dev precompile pattern (#2347) (#2349)
  CHANGELOG.md
  docs/building-features/extensible-precompile-pattern.md
  docs/building-features/i18n.md
  docs/building-features/process-managers.md
  react_on_rails/lib/generators/react_on_rails/templates/base/base/bin/dev
  react_on_rails/lib/react_on_rails/locales/base.rb
Due: autofix, rubocop, prettier

Add database setup check to bin/dev (#2099)
  react_on_rails/lib/react_on_rails/dev/database_checker.rb
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/spec/react_on_rails/dev/database_checker_spec.rb
Due: autofix, rubocop

Address code review feedback for DatabaseChecker
  react_on_rails/Steepfile
  react_on_rails/lib/react_on_rails/dev/database_checker.rb
  react_on_rails/sig/react_on_rails/dev/database_checker.rbs
Due: autofix, rubocop

Add opt-out mechanisms for database check in bin/dev
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/configuration.rb
  react_on_rails/lib/react_on_rails/dev/database_checker.rb
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/sig/react_on_rails/dev/database_checker.rbs
Due: autofix, rubocop, prettier

Fix RBS type: make error key optional in check_result
  react_on_rails/sig/react_on_rails/dev/database_checker.rbs
Due: none

Stub DatabaseChecker in server_manager_spec to fix test failures
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

Simplify DatabaseChecker: remove adapter-specific error handling
  react_on_rails/lib/react_on_rails/dev/database_checker.rb
  react_on_rails/sig/react_on_rails/dev/database_checker.rbs
  react_on_rails/spec/react_on_rails/dev/database_checker_spec.rb
Due: autofix, rubocop

Skip database check when ActiveRecord is not loaded
  react_on_rails/lib/react_on_rails/dev/database_checker.rb
  react_on_rails/spec/react_on_rails/dev/database_checker_spec.rb
Due: autofix, rubocop

Handle :not_rails_app status explicitly in DatabaseChecker#check_database
  react_on_rails/lib/react_on_rails/dev/database_checker.rb
  react_on_rails/sig/react_on_rails/dev/database_checker.rbs
  react_on_rails/spec/react_on_rails/dev/database_checker_spec.rb
Due: autofix, rubocop

Fix DatabaseChecker: handle empty output, add skip tests, fix style
  react_on_rails/lib/react_on_rails/dev/database_checker.rb
  react_on_rails/spec/react_on_rails/dev/database_checker_spec.rb
Due: autofix, rubocop

Fix CHANGELOG PR number and remove unused require
  react_on_rails/lib/react_on_rails/dev/database_checker.rb
Due: autofix, rubocop

Fix FOUC in Pro spec/dummy app with critical CSS partial
  react_on_rails_pro/spec/dummy/app/views/layouts/_critical_styles.html.erb
  react_on_rails_pro/spec/dummy/app/views/layouts/application.html.erb
Due: none

Docs: Add missing spacing utilities to FOUC prevention example
  docs/deployment/troubleshooting.md
Due: prettier

Docs: Add missing border-slate-700 to FOUC prevention example
  docs/deployment/troubleshooting.md
Due: prettier

Add documentation for Tailwind/utility-first CSS FOUC prevention
  docs/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  docs/deployment/troubleshooting.md
Due: prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
