Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Document multi-batch operations model
  AGENTS.md
  internal/contributor-info/agent-pr-batch-skills.md
  internal/contributor-info/agent-workflow-adoption.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Document batch dependency coordination
  .agents/skills/plan-pr-batch/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
Due: prettier

Document agent-coord PATH setup
  internal/contributor-info/agent-coordination-backend.md
Due: prettier

Clarify coordination fallback semantics
  .agents/skills/plan-pr-batch/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  internal/contributor-info/agent-coordination-backend.md
Due: prettier

Close llms validation review gaps
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  script/generate-llms-full-test.bash
  script/generate-llms-full.mjs
Due: autofix, rubocop

Reduce coordination doc drift
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/agent-workflow-adoption.md
Due: prettier

Clarify coordination operator guidance
  .agents/skills/plan-pr-batch/SKILL.md
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/agent-workflow-adoption.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Harden llms harness mutation test
  script/generate-llms-full-test.bash
Due: none

Document coordination override boundaries
  .agents/skills/pr-batch/SKILL.md
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/agent-workflow-adoption.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Harden +ci command workflow: resilient reactions and github-script v9
  .github/workflows/ci-commands.yml
Due: prettier

Clarify coordination operator guidance
  .agents/skills/plan-pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Harden +ci command workflow: resilient reactions and github-script v9 (#3978)
  .github/workflows/ci-commands.yml
Due: prettier

Address coordination review edge cases
  .agents/skills/plan-pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/agent-workflow-adoption.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Close dependency status gap in PR workflow
  .agents/workflows/pr-processing.md
Due: prettier

Carry dependency UNKNOWN guard into batch plans
  .agents/skills/plan-pr-batch/SKILL.md
Due: prettier

Resolve coordination review follow-ups
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Clarify coordination backend durability rules
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Document coordination race and smoke safety
  .agents/workflows/pr-processing.md
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Close final coordination review gaps
  .agents/skills/plan-pr-batch/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  internal/contributor-info/agent-coordination-backend.md
Due: prettier

Propagate dependency status failure gate
  .agents/workflows/pr-processing.md
Due: prettier

Clarify coordination operator docs
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Avoid shared batch id temp paths
  internal/contributor-info/agent-coordination-backend.md
Due: prettier

Clarify batch id restore path
  internal/contributor-info/agent-coordination-backend.md
Due: prettier

Polish coordination backend pointers
  internal/contributor-info/agent-coordination-backend.md
Due: prettier

Document fresh machine batch startup
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Validate llms sidebar coverage and hosted pointers (#3960)
  .github/workflows/check-llms-full.yml
  .lychee.toml
  AGENTS_USER_GUIDE.md
  docs/llms-full-preamble.md
  llms-full.txt
  llms.txt
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  script/generate-llms-full-test.bash
  script/generate-llms-full.mjs
Due: autofix, rubocop, prettier

Docs: add SSR profiling guide
  docs/oss/building-features/node-renderer/debugging.md
  docs/oss/building-features/performance-tracks-and-profiling.md
  docs/pro/profiling-server-side-rendering-code.md
  docs/sidebars.ts
  llms-full.txt
Due: eslint, prettier

Address profiling docs review
  docs/oss/building-features/performance-tracks-and-profiling.md
  docs/pro/profiling-server-side-rendering-code.md
  llms-full.txt
Due: prettier

Refine profiling docs caveats
  docs/oss/building-features/performance-tracks-and-profiling.md
  docs/pro/profiling-server-side-rendering-code.md
  llms-full.txt
Due: prettier

Tighten fresh machine coordination docs
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Validate agent-coord PATH in quick start
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Clarify agent-coord command setup
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Defer coordination defaults to backend docs
  .agents/workflows/pr-processing.md
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Clarify node renderer debug logs
  docs/oss/building-features/node-renderer/debugging.md
  llms-full.txt
Due: prettier

Add cross-agent coordination backend workflow (#3977)
  .agents/skills/plan-pr-batch/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  AGENTS.md
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/agent-pr-batch-skills.md
  internal/contributor-info/agent-workflow-adoption.md
  internal/contributor-info/multi-batch-operations.md
Due: prettier

Docs: add React Performance Tracks profiling guide (#3961)
  docs/oss/building-features/node-renderer/debugging.md
  docs/oss/building-features/performance-tracks-and-profiling.md
  docs/pro/profiling-server-side-rendering-code.md
  docs/sidebars.ts
  llms-full.txt
Due: eslint, prettier

Document React Compiler RSC boundary and hooks lint
  docs/oss/building-features/react-compiler.md
  eslint.config.ts
  llms-full.txt
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

Clarify RSC compiler doc example
  docs/oss/building-features/react-compiler.md
  llms-full.txt
Due: prettier

Document compiler lint override scope
  eslint.config.ts
Due: eslint, prettier

Address compiler doc review notes
  docs/oss/building-features/react-compiler.md
  eslint.config.ts
  llms-full.txt
Due: eslint, prettier
