Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Decouple dummy app dependency-level CI legs
  .github/workflows/dummy-app-bundler-tests.yml
  .github/workflows/integration-tests.yml
Due: prettier

Add explicit RSC registration entry override (#3712)
  CHANGELOG.md
  docs/pro/react-server-components/how-react-server-components-work.md
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/bin/shakapacker-precompile-hook
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/config/webpack/rscWebpackConfig.js.tt
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
  react_on_rails/spec/react_on_rails/shakapacker_precompile_hook_shared_spec.rb
  react_on_rails/spec/support/shakapacker_precompile_hook_shared.rb
  react_on_rails_pro/spec/dummy/config/webpack/rscManifestClientReferences.js
  react_on_rails_pro/spec/dummy/config/webpack/rscWebpackConfig.js
  react_on_rails_pro/spec/dummy/tests/rsc-manifest-client-references.test.js
  react_on_rails_pro/spec/dummy/tests/rsc-webpack-config.test.js
Due: autofix, rubocop, eslint, prettier

Fix Pro ComponentRegistry value typing (#3719)
  packages/react-on-rails-pro/src/ClientSideRenderer.ts
  packages/react-on-rails-pro/src/ComponentRegistry.ts
  packages/react-on-rails-pro/src/capabilities/proMethods.ts
  packages/react-on-rails-pro/tests/ClientSideRenderer.test.ts
  packages/react-on-rails-pro/tests/ComponentRegistry.test.ts
Due: eslint, prettier

Clarify RSC React compatibility policy
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop, prettier

Pin RSC manifest client-reference generation (#3721)
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
  react_on_rails_pro/spec/dummy/config/webpack/rscManifestClientReferences.js
Due: autofix, rubocop, eslint, prettier

Clean up benchmark DB seed check (#3723)
  .github/workflows/benchmark.yml
  react_on_rails_pro/spec/dummy/db/seeds.rb
Due: autofix, rubocop, prettier

Classify renderer errors by origin (#3724)
  react_on_rails/lib/react_on_rails/error.rb
  react_on_rails/lib/react_on_rails/server_rendering_pool/ruby_embedded_java_script.rb
  react_on_rails/spec/react_on_rails/server_rendering_pool/ruby_embedded_java_script_spec.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/node_rendering_pool_spec.rb
Due: autofix, rubocop

Decouple webpack dependency-level integration legs (#3728)
  .github/workflows/dummy-app-bundler-tests.yml
  .github/workflows/integration-tests.yml
Due: prettier

Clarify RSC React compatibility policy (#3732)
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop, prettier

fix(types): narrow server-component render-function inputs (#3720)
  packages/react-on-rails-pro/src/wrapServerComponentRenderer/client.tsx
  packages/react-on-rails-pro/src/wrapServerComponentRenderer/server.tsx
  packages/react-on-rails-pro/tests/wrapServerComponentRenderer.types.test.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ServerComponentRouter.server.tsx
Due: eslint, prettier

fix(ci): treat agent/editor tooling dirs as non-runtime changes
  script/ci-changes-detector
  script/ci-changes-detector-test.bash
Due: none

Fix posts page benchmark overfetching
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/posts_page.html.erb
  react_on_rails_pro/spec/dummy/spec/requests/posts_page_spec.rb
Due: autofix, rubocop

fix(ci): drive benchmarks from source changes, not test run-flags
  .github/workflows/benchmark.yml
  script/ci-changes-detector
  script/ci-changes-detector-test.bash
Due: prettier

Address posts page benchmark review comments
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/posts_page.html.erb
  react_on_rails_pro/spec/dummy/spec/requests/posts_page_spec.rb
Due: autofix, rubocop

Cover posts count clamp parsing
  react_on_rails_pro/spec/dummy/spec/requests/posts_page_spec.rb
Due: autofix, rubocop

Document posts page benchmark assumptions
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/spec/requests/posts_page_spec.rb
Due: autofix, rubocop

Clarify posts page benchmark comments
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/spec/requests/posts_page_spec.rb
Due: autofix, rubocop

Keep generator CI fixtures out of gem root (#3722)
  .gitignore
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Refine posts page benchmark notes
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/spec/requests/posts_page_spec.rb
Due: autofix, rubocop

Avoid nil comment author ids
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
Due: autofix, rubocop

test(ci): cover benchmark detector review cases
  .github/workflows/ci-commands.yml
  script/ci-changes-detector-test.bash
Due: prettier

Fix /posts_page benchmark overfetching
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/posts_page.html.erb
  react_on_rails_pro/spec/dummy/spec/requests/posts_page_spec.rb
Due: autofix, rubocop

docs: align benchmark table design with implementation
  docs/superpowers/specs/2026-06-04-benchmark-table-improvements-design.md
Due: prettier

fix(ci): address benchmark detector review notes
  .github/workflows/benchmark.yml
  script/ci-changes-detector
  script/ci-changes-detector-test.bash
Due: prettier

docs: correct benchmark URL implementation notes
  docs/superpowers/specs/2026-06-04-benchmark-table-improvements-design.md
Due: prettier

test(ci): assert workflow edits skip core benchmarks
  script/ci-changes-detector-test.bash
Due: none

docs: clarify benchmark design examples
  docs/superpowers/specs/2026-06-04-benchmark-table-improvements-design.md
Due: prettier

Polish renderer teardown follow-ups (#3718)
  packages/react-on-rails-pro/src/wrapServerComponentRenderer/client.tsx
  packages/react-on-rails-pro/tests/ClientSideRenderer.test.ts
  packages/react-on-rails-pro/tests/wrapServerComponentRenderer.client.test.jsx
  packages/react-on-rails/src/rendererTeardown.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

fix(ci): stop running benchmarks on docs-only and CI-config-only PRs
  .github/workflows/benchmark.yml
  .github/workflows/ci-commands.yml
  script/ci-changes-detector
  script/ci-changes-detector-test.bash
Due: prettier

docs(benchmarks): add design doc for #3601 summary-table improvements
  docs/superpowers/specs/2026-06-04-benchmark-table-improvements-design.md
Due: prettier

Detect duplicate auto-bundled component names
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/spec/dummy/spec/fixtures/automated_packs_generation/components/ComponentWithDuplicateNames/admin/ror_components/Header.jsx
  react_on_rails/spec/dummy/spec/fixtures/automated_packs_generation/components/ComponentWithDuplicateNames/public/ror_components/Header.tsx
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
Due: autofix, rubocop, eslint, prettier

test: expand ProRendering branch coverage
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/pro_rendering_spec.rb
Due: autofix, rubocop

docs(pro): polish node renderer diagrams
  docs/pro/node-renderer.md
  docs/pro/streaming-ssr.md
Due: prettier

Clarify workflow scope for agent batches
  .agents/workflows/pr-processing.md
Due: prettier

fix(pro): avoid mutating cached render hashes
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/pro_rendering.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/pro_rendering_spec.rb
Due: autofix, rubocop

Polish Pro Node Renderer diagram follow-ups
  docs/pro/node-renderer.md
  docs/pro/streaming-ssr.md
Due: prettier

Anchor workflow/build-config scope rule in AGENTS.md (#3754)
  .agents/workflows/pr-processing.md
  AGENTS.md
  internal/contributor-info/agent-workflow-adoption.md
Due: prettier

Preserve preloaded RSC diagnostics
  CHANGELOG.md
  packages/react-on-rails-pro/src/getReactServerComponent.client.ts
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/tests/getReactServerComponent.client.test.ts
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
Due: eslint, prettier

Update changelog reference for PR 3766
  CHANGELOG.md
Due: prettier

Deduplicate regression issue reporting
  benchmarks/lib/github_cli.rb
  benchmarks/report_regressions.rb
  benchmarks/spec/report_regressions_spec.rb
Due: autofix, rubocop
