Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Fix stylelint configuration with correct rule names
  rakelib/lint.rake
Due: autofix, rubocop

Update Gemfile.lock after removing scss_lint dependency
  Gemfile.lock
Due: none

Add stylelint to CI workflow
  .github/workflows/lint-js-and-ruby.yml
Due: prettier

Update yarn.lock after package.json merge conflict resolution
  yarn.lock
Due: none

reenable auto_load_bundle for generator
  lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
  rakelib/shakapacker_examples.rake
Due: autofix, rubocop

Fix matrix exclude in integration-tests workflow
  .github/workflows/integration-tests.yml
Due: prettier

update job references
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

try using arrays in workflow expression for matrix
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/package-js-tests.yml
Due: prettier

try a json conversion
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/package-js-tests.yml
Due: prettier

try processing the conditional logic in another job
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/package-js-tests.yml
Due: prettier

fix step output
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/package-js-tests.yml
Due: prettier

re-enable build_test_command since generators configure TestHelper
  lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
Due: none

CI fixes
  .github/workflows/gem-tests.yml
  rakelib/shakapacker_examples.rake
Due: autofix, rubocop, prettier

make sure generate_packs runs
  rakelib/shakapacker_examples.rake
Due: autofix, rubocop

add yarn prefix to publish, not link
  .github/workflows/examples.yml
  lib/generators/react_on_rails/dev_tests_generator.rb
Due: autofix, rubocop, prettier

add yarn prefix
  lib/generators/react_on_rails/dev_tests_generator.rb
Due: autofix, rubocop

Standardize gem-tests workflow to use dynamic matrix configuration
  .github/workflows/gem-tests.yml
Due: prettier

Fix Pro package RuboCop violations
  .github/workflows/pro-lint.yml
  .gitignore
  react_on_rails_pro/lib/react_on_rails_pro/license_public_key.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/rakelib/public_key_management.rake
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/config.ru
  react_on_rails_pro/spec/dummy/config/environments/production.rb
  react_on_rails_pro/spec/dummy/spec/rails_helper.rb
  react_on_rails_pro/spec/dummy/spec/requests/renderer_console_logging_spec.rb
  react_on_rails_pro/spec/dummy/spec/system/integration_spec.rb
  react_on_rails_pro/spec/dummy/spec/system/renderer_integration_spec.rb
  react_on_rails_pro/spec/execjs-compatible-dummy/config/environments/production.rb
  react_on_rails_pro/spec/react_on_rails_pro/assets_precompile_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/cache_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/spec_helper.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_decorator_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/support/caching.rb
  react_on_rails_pro/spec/react_on_rails_pro/support/mock_block_helper.rb
Due: autofix, rubocop, prettier

Fix Pro workflow job dependency references
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

Fix matrix exclude keys in build-dummy-app-webpack-test-bundles job (#2036)
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
Due: prettier

Apply PR 2039 changes: modernize generator config and workflow updates
  .github/workflows/examples.yml
  lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
  rakelib/shakapacker_examples.rake
Due: autofix, rubocop, prettier

Add documentation and CHANGELOG for generator modernization changes
  .github/workflows/examples.yml
  CHANGELOG.md
  rakelib/shakapacker_examples.rake
Due: autofix, rubocop, prettier

Apply PR 2039 changes: modernize generator config and workflow (#2040)
  .github/workflows/examples.yml
  CHANGELOG.md
  lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
  rakelib/shakapacker_examples.rake
Due: autofix, rubocop, prettier

Fix CI to always run full test suite on master branch
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/package-js-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

Revert Pro app to async and fix ReScript build in precompile hook
  react_on_rails_pro/spec/dummy/app/views/layouts/application.html.erb
  react_on_rails_pro/spec/dummy/bin/shakapacker-precompile-hook
  react_on_rails_pro/spec/dummy/config/initializers/react_on_rails.rb
Due: autofix, rubocop

Fix Pro dummy app Playwright test timeouts by aligning with defer loading strategy
  react_on_rails_pro/spec/dummy/app/views/layouts/application.html.erb
  react_on_rails_pro/spec/dummy/bin/shakapacker-precompile-hook
  react_on_rails_pro/spec/dummy/config/shakapacker.yml
Due: prettier

Fix RuboCop violations and add comment about defer loading strategy
  react_on_rails_pro/spec/dummy/bin/shakapacker-precompile-hook
  react_on_rails_pro/spec/dummy/config/initializers/react_on_rails.rb
Due: autofix, rubocop

Replace Ruby precompile hooks with shared bash script
  lib/generators/react_on_rails/templates/base/base/bin/shakapacker-precompile-hook
  react_on_rails_pro/spec/dummy/bin/shakapacker-precompile-hook
  spec/dummy/bin/shakapacker-precompile-hook
Due: none

Replace spec/dummy/bin/dev symlink with wrapper script
  spec/dummy/bin/dev
Due: none

additional linting
  react_on_rails_pro/spec/dummy/spec/system/integration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/support/mock_block_helper.rb
Due: autofix, rubocop

Fix CI to always run full test suite on master branch (#2035)
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/package-js-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

Fix Pro package RuboCop violations (#2038)
  .github/workflows/pro-lint.yml
  .gitignore
  react_on_rails_pro/lib/react_on_rails_pro/license_public_key.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/rakelib/public_key_management.rake
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/config.ru
  react_on_rails_pro/spec/dummy/config/environments/production.rb
  react_on_rails_pro/spec/dummy/spec/rails_helper.rb
  react_on_rails_pro/spec/dummy/spec/requests/renderer_console_logging_spec.rb
  react_on_rails_pro/spec/dummy/spec/system/integration_spec.rb
  react_on_rails_pro/spec/dummy/spec/system/renderer_integration_spec.rb
  react_on_rails_pro/spec/execjs-compatible-dummy/config/environments/production.rb
  react_on_rails_pro/spec/react_on_rails_pro/assets_precompile_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/cache_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/spec_helper.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_decorator_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/support/caching.rb
  react_on_rails_pro/spec/react_on_rails_pro/support/mock_block_helper.rb
Due: autofix, rubocop, prettier

Fix Knip configuration after monorepo restructure
  knip.ts
Due: eslint, prettier

Update both OSS and Pro dummy apps bin/dev to use new wrapper pattern
  react_on_rails_pro/spec/dummy/bin/dev
  spec/dummy/bin/dev
Due: none

Fix Knip configuration after monorepo restructure (#2041)
  knip.ts
Due: eslint, prettier

Fix Knip dead code detection configuration
  knip.ts
Due: eslint, prettier

Fix failing RSpec test for non-hydrated streamed page (#1879)
  react_on_rails_pro/spec/dummy/spec/system/integration_spec.rb
Due: autofix, rubocop
