Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Handle mixed-line gem calls and template-state edge cases
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Fix rsc-pro recovery flags and rsc dependency assertion
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Simplify the docs sidebar and Pro landing pages (#2909)
  docs/oss/upgrading/release-notes/index.md
  docs/pro/home-pro.md
  docs/pro/react-on-rails-pro.md
  docs/pro/release-notes/index.md
  docs/sidebars.ts
Due: eslint, prettier

Fix #2821 review follow-ups for RSC-Pro generator
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop

Address review feedback for RSC Pro dependency handling
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop

Fix pro generator swap consistency and template-literal rewrites
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Avoid partial pro upgrades and stale generator rewrites
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Fix regex backtracking and strip all version constraints in gem swap
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Avoid partial standalone Pro upgrades
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Harden RSC pin fallback messaging and Pro flag checks
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Rollback Gemfile swap on bundle failure and atomically rewrite imports
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Fix unresolved review findings on pro generator swap/import handling
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Address review: node_modules exclusion, block comment tracking, narrow rescue
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
Due: autofix, rubocop

Avoid rewriting React on Rails imports inside template literals
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Align h2c probe docs across Kubernetes and Compose
  docs/oss/building-features/node-renderer/container-deployment.md
Due: prettier

Align local hooks with markdown link CI checks
  .lefthook.yml
  .lychee.toml
  bin/lefthook/markdown-link-lint
Due: prettier

Avoid duplicate Pro gem entries when parenthesized Gemfile declarations include comments
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Clarify migration checks and link-hook failure mode
  bin/lefthook/markdown-link-lint
  docs/oss/migrating/migrating-from-react-rails.md
Due: prettier

Stop sending Pro docs users through compatibility stubs
  README.md
  docs/README.md
  docs/oss/api-reference/generator-details.md
  docs/oss/api-reference/redux-store-api.md
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/building-features/bundle-caching.md
  docs/oss/building-features/caching.md
  docs/oss/building-features/code-splitting.md
  docs/oss/building-features/node-renderer/basics.md
  docs/oss/building-features/node-renderer/debugging.md
  docs/oss/building-features/node-renderer/error-reporting-and-tracing.md
  docs/oss/building-features/node-renderer/heroku.md
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/oss/building-features/node-renderer/troubleshooting.md
  docs/oss/building-features/rails-webpacker-react-integration-options.md
  docs/oss/building-features/turbolinks.md
  docs/oss/configuration/README.md
  docs/oss/configuration/configuration-pro.md
  docs/oss/core-concepts/client-vs-server-rendering.md
  docs/oss/core-concepts/how-react-on-rails-works.md
  docs/oss/core-concepts/react-server-rendering.md
  docs/oss/deployment/server-rendering-tips.md
  docs/oss/deployment/troubleshooting.md
  docs/oss/getting-started/comparison-with-alternatives.md
  docs/oss/getting-started/oss-vs-pro.md
  docs/oss/getting-started/quick-start.md
  docs/oss/introduction.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/upgrading/release-notes/16.1.0.md
  docs/oss/upgrading/release-notes/16.2.0.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  docs/pro/fragment-caching.md
  docs/pro/home-pro.md
  docs/pro/js-memory-leaks.md
  docs/pro/node-renderer.md
  docs/pro/react-on-rails-pro.md
  docs/pro/react-server-components/index.md
  docs/pro/streaming-ssr.md
Due: prettier

Broaden migration helper review guidance
  docs/oss/migrating/migrating-from-react-rails.md
Due: prettier

Avoid blocking commits on fragile markdown link checks
  .lefthook.yml
  bin/lefthook/markdown-link-lint
Due: prettier

Fix RSC React dependency warning spec to simulate fallback failure
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop

Fix stale Pro docs links in AGENTS user guide
  AGENTS_USER_GUIDE.md
Due: prettier

Automate Pro generator gem/package swap and import updates (#2822)
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Restore Fastify typing and align probe comment guidance
  docs/oss/building-features/node-renderer/container-deployment.md
  packages/react-on-rails-pro-node-renderer/src/worker.ts
Due: eslint, prettier

Canonicalize the Pro docs landing route (#2915)
  AGENTS_USER_GUIDE.md
  README.md
  docs/README.md
  docs/oss/api-reference/generator-details.md
  docs/oss/api-reference/redux-store-api.md
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/building-features/bundle-caching.md
  docs/oss/building-features/caching.md
  docs/oss/building-features/code-splitting.md
  docs/oss/building-features/node-renderer/basics.md
  docs/oss/building-features/node-renderer/debugging.md
  docs/oss/building-features/node-renderer/error-reporting-and-tracing.md
  docs/oss/building-features/node-renderer/heroku.md
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/oss/building-features/node-renderer/troubleshooting.md
  docs/oss/building-features/rails-webpacker-react-integration-options.md
  docs/oss/building-features/turbolinks.md
  docs/oss/configuration/README.md
  docs/oss/configuration/configuration-pro.md
  docs/oss/core-concepts/client-vs-server-rendering.md
  docs/oss/core-concepts/how-react-on-rails-works.md
  docs/oss/core-concepts/react-server-rendering.md
  docs/oss/deployment/server-rendering-tips.md
  docs/oss/deployment/troubleshooting.md
  docs/oss/getting-started/comparison-with-alternatives.md
  docs/oss/getting-started/oss-vs-pro.md
  docs/oss/getting-started/quick-start.md
  docs/oss/introduction.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/upgrading/release-notes/16.1.0.md
  docs/oss/upgrading/release-notes/16.2.0.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  docs/pro/fragment-caching.md
  docs/pro/home-pro.md
  docs/pro/js-memory-leaks.md
  docs/pro/node-renderer.md
  docs/pro/react-on-rails-pro.md
  docs/pro/react-server-components/index.md
  docs/pro/streaming-ssr.md
Due: prettier

Fix h2c probe compatibility guidance for Node Renderer (#2910)
  docs/oss/building-features/node-renderer/container-deployment.md
  packages/react-on-rails-pro-node-renderer/src/worker.ts
Due: eslint, prettier

Docs: clarify migration/install when generator skips JS deps (#2900)
  .lefthook.yml
  .lychee.toml
  bin/lefthook/markdown-link-lint
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/getting-started/quick-start.md
  docs/oss/migrating/migrating-from-react-rails.md
Due: prettier

Handle multiline gem swaps and template literal restoration safely
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

docs: add llms entry points after IA cleanup
  AGENTS_USER_GUIDE.md
  docs/oss/introduction.md
  docs/pro/react-on-rails-pro.md
  docs/pro/react-server-components/index.md
  llms-full.txt
  llms.txt
Due: prettier

ci: ignore llms docs files
  .github/workflows/benchmark.yml
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/package-js-tests.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

docs: restore SSR safeguards in llms references
  llms-full.txt
  llms.txt
Due: none

ci: skip llms docs file pushes
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/package-js-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

Align AI routing docs with canonical Pro hub and Node renderer guidance
  docs/oss/introduction.md
  llms-full.txt
Due: prettier

docs: remove stale pro home doc link
  AGENTS_USER_GUIDE.md
Due: prettier

Prepare 16.6.0.rc.0 changelog
  CHANGELOG.md
Due: prettier

Prepare 16.6.0.rc.0 changelog (#2919)
  CHANGELOG.md
Due: prettier

Bump version to 16.6.0.rc.0
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Align Pro hub routing rule with canonical docs URL
  AGENTS_USER_GUIDE.md
Due: prettier

Add llms docs entry points (#2916)
  .github/workflows/benchmark.yml
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/package-js-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
  AGENTS_USER_GUIDE.md
  docs/oss/introduction.md
  docs/pro/react-on-rails-pro.md
  docs/pro/react-server-components/index.md
  llms-full.txt
  llms.txt
Due: prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
