Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Add Pro/RSC setup checks to react_on_rails:doctor
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Add documentation nav links to README
  README.md
Due: prettier

Center-align docs nav links for visual distinction from badges
  README.md
Due: prettier

Add vertical spacing around docs nav links
  README.md
Due: prettier

Remove extra spacing around docs nav links
  README.md
Due: prettier

Replace broken API Reference link with Examples
  README.md
Due: prettier

Add Pro initializer and base-package import checks to doctor
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Handle rspack config paths in doctor resolver
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Add documentation site nav links to README (#2662)
  README.md
Due: prettier

Add decision trees for Pro vs OSS guidance to AGENTS_USER_GUIDE
  AGENTS_USER_GUIDE.md
Due: prettier

Update Pro licensing messaging: free for startups and small companies
  AGENTS_USER_GUIDE.md
  CHANGELOG.md
  LICENSE.md
  LICENSES/README.md
  README.md
  docs/README.md
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/building-features/bundle-caching.md
  docs/oss/building-features/caching.md
  docs/oss/building-features/code-splitting.md
  docs/oss/building-features/node-renderer/basics.md
  docs/oss/building-features/node-renderer/debugging.md
  docs/oss/building-features/node-renderer/error-reporting-and-tracing.md
  docs/oss/building-features/node-renderer/heroku.md
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/oss/building-features/node-renderer/troubleshooting.md
  docs/oss/configuration/configuration-pro.md
  docs/oss/getting-started/oss-vs-pro.md
  docs/pro/installation.md
  docs/pro/troubleshooting.md
  docs/pro/updating.md
  docs/pro/upgrading-to-pro.md
  packages/react-on-rails-pro-node-renderer/README.md
  packages/react-on-rails-pro/README.md
  react_on_rails_pro/LICENSE_SETUP.md
  react_on_rails_pro/README.md
Due: prettier

Address PR review comments on decision trees and licensing docs
  AGENTS_USER_GUIDE.md
  docs/oss/getting-started/oss-vs-pro.md
  react_on_rails_pro/LICENSE_SETUP.md
Due: prettier

Prevent conflicting licensing and agent guidance
  AGENTS_USER_GUIDE.md
  LICENSE.md
  LICENSES/README.md
  README.md
  docs/README.md
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/building-features/bundle-caching.md
  docs/oss/building-features/caching.md
  docs/oss/building-features/code-splitting.md
  docs/oss/building-features/node-renderer/basics.md
  docs/oss/building-features/node-renderer/debugging.md
  docs/oss/building-features/node-renderer/error-reporting-and-tracing.md
  docs/oss/building-features/node-renderer/heroku.md
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/oss/building-features/node-renderer/troubleshooting.md
  docs/oss/configuration/configuration-pro.md
  docs/oss/getting-started/oss-vs-pro.md
  docs/pro/installation.md
  docs/pro/troubleshooting.md
  docs/pro/updating.md
  docs/pro/upgrading-to-pro.md
  packages/react-on-rails-pro-node-renderer/README.md
  packages/react-on-rails-pro/README.md
  react_on_rails_pro/LICENSE_SETUP.md
  react_on_rails_pro/README.md
Due: prettier

Use resolved webpack config path in doctor checker
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Improve create/install validation flows and migration docs
  README.md
  docs/oss/getting-started/create-react-on-rails-app.md
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/migrating/migrating-from-react-rails.md
  docs/oss/migrating/migrating-from-vite-rails.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
  packages/create-react-on-rails-app/src/utils.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/git_utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Address remaining PR review feedback on robustness and docs
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  packages/create-react-on-rails-app/src/create-app.ts
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
  react_on_rails/spec/react_on_rails/git_utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Address review feedback on install docs and generator
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
Due: autofix, rubocop, prettier

Address PR review feedback on validation and docs
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/utils.ts
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
  react_on_rails/spec/react_on_rails/git_utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Tighten bundler config detection in system checker
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Fix install and docs review follow-ups
  docs/oss/building-features/how-to-use-different-files-for-client-and-server-rendering.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/utils.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/git_utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Tighten evaluator comparison copy
  docs/oss/getting-started/comparing-react-on-rails-to-alternatives.md
  docs/oss/getting-started/quick-start.md
Due: prettier

Add evaluator decision docs
  docs/README.md
  docs/oss/getting-started/comparing-react-on-rails-to-alternatives.md
  docs/oss/getting-started/quick-start.md
  docs/oss/getting-started/tutorial.md
  docs/oss/introduction.md
Due: prettier

Clarify Shakapacker package manager preflights
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/migrating/migrating-from-react-rails.md
  docs/oss/migrating/migrating-from-vite-rails.md
  docs/oss/upgrading/upgrading-react-on-rails.md
Due: prettier

Tighten migration preflights from validation runs
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/migrating/migrating-from-react-rails.md
  docs/oss/migrating/migrating-from-vite-rails.md
  docs/oss/upgrading/upgrading-react-on-rails.md
Due: prettier

Address review feedback: fix bugs, harden code, update docs
  docs/oss/upgrading/upgrading-react-on-rails.md
Due: prettier

Add db:prepare step to post-install quick start message
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
Due: autofix, rubocop

Address review feedback on validation flows PR (#2654)
  docs/oss/upgrading/upgrading-react-on-rails.md
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
Due: autofix, rubocop, prettier

Fix Pro URLs and update pricing messaging for startups
  AGENTS_USER_GUIDE.md
  README.md
  docs/README.md
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/building-features/bundle-caching.md
  docs/oss/building-features/caching.md
  docs/oss/building-features/code-splitting.md
  docs/oss/building-features/node-renderer/basics.md
  docs/oss/building-features/node-renderer/debugging.md
  docs/oss/building-features/node-renderer/error-reporting-and-tracing.md
  docs/oss/building-features/node-renderer/heroku.md
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/oss/building-features/node-renderer/troubleshooting.md
  docs/oss/configuration/configuration-pro.md
  docs/oss/getting-started/comparison-with-alternatives.md
  docs/oss/getting-started/oss-vs-pro.md
  docs/pro/upgrading-to-pro.md
Due: prettier

Address PR review comments on upgrade steps and troubleshooting
  AGENTS_USER_GUIDE.md
  docs/pro/troubleshooting.md
Due: prettier

Restore committed Gemfile.lock files after bundle install in setup
  conductor-setup.sh
Due: none

Clarify startup pricing as license availability, not license exemption
  AGENTS_USER_GUIDE.md
  CHANGELOG.md
Due: prettier

Avoid misleading generator success signals
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/git_utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Update sqlite3 from ~> 1.4 to ~> 2.0 for Ruby 3.4 compatibility
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: none

Ensure matching bundler version in conductor setup script
  conductor-setup.sh
Due: none

Address PR review comments on upgrade steps and licensing wording
  AGENTS_USER_GUIDE.md
  CHANGELOG.md
Due: prettier

Address review comments on address-review command (#2658)
  .claude/commands/address-review.md
Due: prettier

Align Pro worker-count env var with renderer conventions
  docs/oss/getting-started/pro-quick-start.md
  packages/react-on-rails-pro-node-renderer/README.md
  react_on_rails/lib/generators/react_on_rails/templates/pro/base/client/node-renderer.js
Due: eslint, prettier

Fix use-client docs and worker override precedence
  docs/oss/getting-started/pro-quick-start.md
  docs/oss/migrating/rsc-troubleshooting.md
  react_on_rails/lib/generators/react_on_rails/templates/pro/base/client/node-renderer.js
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop, eslint, prettier
