Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Harden Rspack server config selection
  react_on_rails_pro/spec/dummy/config/rspack/rspack.config.js
  react_on_rails_pro/spec/dummy/config/webpack/rscWebpackConfig.js
  react_on_rails_pro/spec/dummy/config/webpack/serverWebpackConfig.js
Due: eslint, prettier

Name the regressed benchmark+measure pairs in the issue body
  benchmarks/report_regressions.rb
  benchmarks/spec/report_regressions_spec.rb
Due: autofix, rubocop

feat(pro): add RSC peer support-window constant
  packages/react-on-rails-pro-node-renderer/src/shared/rscPeerSupport.ts
Due: eslint, prettier

feat(pro): add pure RSC peer compatibility decision function
  packages/react-on-rails-pro-node-renderer/src/shared/checkRscPeerCompatibility.ts
  packages/react-on-rails-pro-node-renderer/tests/checkRscPeerCompatibility.test.ts
Due: eslint, prettier

test(pro): tighten RSC peer compatibility tests; harden version parsing
  packages/react-on-rails-pro-node-renderer/src/shared/checkRscPeerCompatibility.ts
  packages/react-on-rails-pro-node-renderer/tests/checkRscPeerCompatibility.test.ts
  packages/react-on-rails-pro-node-renderer/tests/runRscPeerCompatibilityCheck.test.ts
Due: eslint, prettier

chore: satisfy eslint in RSC peer compatibility core (no behavior change)
  packages/react-on-rails-pro-node-renderer/src/shared/checkRscPeerCompatibility.ts
  packages/react-on-rails-pro-node-renderer/src/shared/runRscPeerCompatibilityCheck.ts
Due: eslint, prettier

feat(pro): run RSC peer compatibility check on node-renderer boot
  packages/react-on-rails-pro-node-renderer/src/ReactOnRailsProNodeRenderer.ts
Due: eslint, prettier

feat(pro): add RSC peer compatibility runtime adapter
  packages/react-on-rails-pro-node-renderer/src/shared/runRscPeerCompatibilityCheck.ts
  packages/react-on-rails-pro-node-renderer/tests/runRscPeerCompatibilityCheck.test.ts
Due: eslint, prettier

docs: changelog for RSC peer runtime version check
  CHANGELOG.md
Due: prettier

Filter Bencher alerts to tracked measures (drop orphaned p90 false positives) (#3829)
  benchmarks/lib/bencher_report.rb
  benchmarks/spec/bencher_report_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Fix PR processing sync markers
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
Due: prettier

Clarify autofix scope in linter docs
  internal/contributor-info/linters.md
Due: prettier

Fix Pro RSC Rspack runtime readiness
  .github/workflows/pro-integration-tests.yml
  react_on_rails_pro/spec/dummy/bin/shakapacker
  react_on_rails_pro/spec/dummy/config/rspack/rspack.config.js
  react_on_rails_pro/spec/dummy/tests/rsc-rspack-config.test.js
Due: eslint, prettier

Point skill closeout to canonical workflow
  .agents/skills/pr-batch/SKILL.md
Due: prettier

Clarify agent batch policy handoffs (#3824)
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
Due: prettier

Name the regressed benchmark+measure pairs in the issue body (#3830)
  benchmarks/report_regressions.rb
  benchmarks/spec/report_regressions_spec.rb
Due: autofix, rubocop

Make PR batches skip customer-feedback issues (#3826)
  .agents/skills/plan-pr-batch/SKILL.md
  .agents/skills/pr-batch/SKILL.md
Due: prettier

RSC: stop serializing props into embedded payload cache key (#3800)
  packages/react-on-rails-pro/src/getReactServerComponent.client.ts
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/src/utils.ts
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
  packages/react-on-rails-pro/tests/registerServerComponent.client.test.jsx
  packages/react-on-rails-pro/tests/utils.test.js
  react_on_rails_pro/spec/dummy/e2e-tests/rsc_route_ssr_false.spec.ts
Due: eslint, prettier

fix: tighten RSC peer compatibility gate
  packages/react-on-rails-pro-node-renderer/src/ReactOnRailsProNodeRenderer.ts
  packages/react-on-rails-pro-node-renderer/src/shared/checkRscPeerCompatibility.ts
  packages/react-on-rails-pro-node-renderer/src/shared/runRscPeerCompatibilityCheck.ts
  packages/react-on-rails-pro-node-renderer/tests/runRscPeerCompatibilityCheck.test.ts
Due: eslint, prettier

Clarify RSC recovery promise bookkeeping
  packages/react-on-rails-pro/src/RSCProvider.tsx
Due: eslint, prettier

Tighten RSC React alias cleanup
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/config/webpack/rscWebpackConfig.js.tt
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
  react_on_rails_pro/spec/dummy/config/webpack/rscWebpackConfig.js
  react_on_rails_pro/spec/dummy/tests/rsc-webpack-config.test.js
Due: autofix, rubocop, eslint, prettier

Align RSC alias cleanup docs
  docs/oss/migrating/rsc-preparing-app.md
  docs/pro/react-server-components/create-without-ssr.md
Due: prettier

fix: run RSC peer gate for direct renderer entrypoints
  packages/react-on-rails-pro-node-renderer/src/master.ts
  packages/react-on-rails-pro-node-renderer/src/shared/checkRscPeerCompatibility.ts
  packages/react-on-rails-pro-node-renderer/src/shared/rscPeerSupport.ts
  packages/react-on-rails-pro-node-renderer/src/shared/runRscPeerCompatibilityCheck.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/masterStartupFailure.test.ts
  packages/react-on-rails-pro-node-renderer/tests/workerStartupChecks.test.ts
Due: eslint, prettier

Harden RSC payload route-data helper
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/src/createRscPayloadNode.client.ts
  packages/react-on-rails-pro/src/getReactServerComponent.client.ts
  packages/react-on-rails-pro/tests/createRscPayloadNode.client.test.ts
  packages/react-on-rails-pro/tests/getReactServerComponent.client.test.ts
  packages/react-on-rails-pro/tests/refetchStressDummyConventions.test.ts
Due: eslint, prettier

Fix route-data README link
  packages/react-on-rails-pro/README.md
Due: prettier

Fail fast for missing React server aliases
  docs/oss/migrating/rsc-preparing-app.md
  docs/pro/react-server-components/create-without-ssr.md
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/config/webpack/rscWebpackConfig.js.tt
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
  react_on_rails_pro/spec/dummy/config/webpack/rscWebpackConfig.js
  react_on_rails_pro/spec/dummy/tests/rsc-webpack-config.test.js
Due: autofix, rubocop, eslint, prettier

Clarify RSC provider promise bookkeeping
  packages/react-on-rails-pro/src/RSCProvider.tsx
Due: eslint, prettier

Harden RSC route-data helper followups
  CHANGELOG.md
  packages/react-on-rails-pro/src/createRscPayloadNode.client.ts
  packages/react-on-rails-pro/src/createRscPayloadNode.server.ts
  packages/react-on-rails-pro/src/createRscPayloadNode.types.ts
  packages/react-on-rails-pro/tests/createRscPayloadNode.client.test.ts
Due: eslint, prettier

Tighten RSPack RSC alias assertions
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Tighten RSC alias coverage
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails_pro/spec/dummy/tests/rsc-webpack-config.test.js
Due: autofix, rubocop, eslint, prettier

Clarify RSC refetch recovery semantics
  docs/pro/react-server-components/inside-client-components.md
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/src/RSCRoute.tsx
Due: eslint, prettier

Clarify RSC alias cleanup comments
  docs/oss/migrating/rsc-preparing-app.md
  docs/pro/react-server-components/create-without-ssr.md
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/config/webpack/rscWebpackConfig.js.tt
  react_on_rails_pro/spec/dummy/config/webpack/rscWebpackConfig.js
Due: eslint, prettier

Address RSC route-data review followups
  .lychee.toml
  packages/react-on-rails-pro/README.md
  packages/react-on-rails-pro/src/createRscPayloadNode.client.ts
  packages/react-on-rails-pro/tests/createRscPayloadNode.client.test.ts
Due: eslint, prettier

Tighten RSC alias cleanup docs
  docs/oss/migrating/rsc-preparing-app.md
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop, prettier

Cover resolved RSC refetch errors
  packages/react-on-rails-pro/src/RSCRoute.tsx
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
Due: eslint, prettier

Clarify RSPack RSC alias spec name
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Clarify RSC react-dom server alias comment
  react_on_rails_pro/spec/dummy/config/webpack/rscWebpackConfig.js
Due: eslint, prettier
