Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Align proof template sentinel guidance
  docs/oss/migrating/example-migrations.md
Due: prettier

docs: validate build helper mode first
  docs/oss/building-features/extensible-precompile-pattern.md
Due: prettier

Explain Webpacker shim prerequisites
  docs/oss/building-features/rails-webpacker-react-integration-options.md
Due: prettier

Clarify RSC renderer test setup docs
  docs/oss/building-features/testing-configuration.md
Due: prettier

Clarify RSC response doc examples
  docs/oss/migrating/rsc-http-response-patterns.md
Due: prettier

Tighten migration proof validation guidance
  docs/oss/migrating/example-migrations.md
Due: prettier

Align Webpacker migration docs
  docs/oss/building-features/rails-webpacker-react-integration-options.md
  docs/oss/migrating/migrating-from-react-rails.md
Due: prettier

Harden RSC renderer test examples
  docs/oss/building-features/testing-configuration.md
Due: prettier

Keep proof template notes copyable
  docs/oss/migrating/example-migrations.md
Due: prettier

Tighten RSC response doc guidance
  docs/oss/migrating/rsc-http-response-patterns.md
Due: prettier

Broaden Webpacker shim loader guidance
  docs/oss/building-features/rails-webpacker-react-integration-options.md
Due: prettier

Clarify RSC renderer support setup
  docs/oss/building-features/testing-configuration.md
Due: prettier

Improve proof template discoverability
  docs/oss/migrating/example-migrations.md
Due: prettier

Refine RSC response examples
  docs/oss/migrating/rsc-http-response-patterns.md
Due: prettier

[codex] Add Markdown Prettier CI check (#3242)
  .claude/commands/stress-test.md
  .github/workflows/check-markdown-links.yml
Due: prettier

Tighten Webpacker shim scope
  docs/oss/building-features/rails-webpacker-react-integration-options.md
  docs/oss/migrating/migrating-from-react-rails.md
Due: prettier

fix(pro-dummy): make manual node-renderer validation reliable (#3200)
  .claude/docs/manual-dev-environment-testing.md
  .claude/docs/validating-node-renderer-changes.md
  CLAUDE.md
  docs/oss/building-features/node-renderer/debugging.md
  react_on_rails_pro/CLAUDE.md
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/dummy/Procfile.dev
  react_on_rails_pro/spec/dummy/config/webpack/development.js
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/config/webpack/development.js
Due: eslint, prettier

Document shim runtime caveats
  docs/oss/building-features/rails-webpacker-react-integration-options.md
Due: prettier

Type RSC response doc props
  docs/oss/migrating/rsc-http-response-patterns.md
Due: prettier

feat: add pre_seed_renderer_cache rake task for Docker builds
  CHANGELOG.md
  docs/pro/node-renderer.md
  react_on_rails_pro/lib/react_on_rails_pro.rb
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/lib/tasks/assets.rake
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
Due: autofix, rubocop, prettier

fix: address PR review feedback for pre_seed_renderer_cache
  CHANGELOG.md
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/lib/react_on_rails_pro/prepare_node_renderer_bundles.rb
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
Due: autofix, rubocop, prettier

fix: extract shared cache dir resolution and fix spurious deprecation warning
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/lib/react_on_rails_pro/prepare_node_renderer_bundles.rb
  react_on_rails_pro/lib/react_on_rails_pro/utils.rb
Due: autofix, rubocop

fix: add regression test and fix test teardown for pre_seed_renderer_cache
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
Due: autofix, rubocop

fix: add once-per-process guard for deprecation warning and spec comment
  react_on_rails_pro/lib/react_on_rails_pro/utils.rb
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
Due: autofix, rubocop

fix: stub RSC manifests to real files so test reaches bundle-not-found path
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
Due: autofix, rubocop

fix: address remaining review feedback for pre_seed_renderer_cache
  CHANGELOG.md
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/lib/react_on_rails_pro/utils.rb
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
Due: autofix, rubocop, prettier

fix: raise on missing RSC manifests, clarify docs and comments
  docs/pro/node-renderer.md
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
Due: autofix, rubocop, prettier

fix: address final review feedback for renderer cache staging
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/lib/react_on_rails_pro/prepare_node_renderer_bundles.rb
  react_on_rails_pro/lib/react_on_rails_pro/utils.rb
  react_on_rails_pro/spec/dummy/spec/prepare_node_renderer_bundles_spec.rb
Due: autofix, rubocop

Align renderer cache staging with bundle hashes
  CHANGELOG.md
  docs/oss/building-features/bundle-caching.md
  docs/oss/building-features/node-renderer/basics.md
  docs/oss/building-features/node-renderer/heroku.md
  docs/pro/node-renderer.md
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/lib/react_on_rails_pro/prepare_node_renderer_bundles.rb
  react_on_rails_pro/lib/tasks/assets.rake
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
  react_on_rails_pro/spec/dummy/spec/prepare_node_renderer_bundles_spec.rb
Due: autofix, rubocop, prettier

refactor: extract shared renderer-cache helpers, thread-safe deprecation guard
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/lib/react_on_rails_pro/prepare_node_renderer_bundles.rb
  react_on_rails_pro/lib/react_on_rails_pro/renderer_cache_helpers.rb
  react_on_rails_pro/lib/react_on_rails_pro/utils.rb
Due: autofix, rubocop

fix: validate bundle path before hash computation, and harden paths
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/lib/react_on_rails_pro/prepare_node_renderer_bundles.rb
  react_on_rails_pro/lib/react_on_rails_pro/renderer_cache_helpers.rb
  react_on_rails_pro/spec/dummy/spec/prepare_node_renderer_bundles_spec.rb
Due: autofix, rubocop

test: assert renderer cache manifest symlinks
  react_on_rails_pro/spec/dummy/spec/prepare_node_renderer_bundles_spec.rb
Due: autofix, rubocop

refactor: unify renderer cache staging with mode: :copy / :symlink (#3167)
  .lychee.toml
  CHANGELOG.md
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/pro/node-renderer.md
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails_pro/lib/react_on_rails_pro/assets_precompile.rb
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/lib/react_on_rails_pro/prepare_node_renderer_bundles.rb
  react_on_rails_pro/lib/tasks/assets.rake
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
  react_on_rails_pro/spec/dummy/spec/prepare_node_renderer_bundles_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/support/mock_block_helper.rb
Due: autofix, rubocop, prettier

Harden preseed renderer cache assets
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/lib/react_on_rails_pro/prepare_node_renderer_bundles.rb
  react_on_rails_pro/lib/react_on_rails_pro/renderer_cache_helpers.rb
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
  react_on_rails_pro/spec/dummy/spec/prepare_node_renderer_bundles_spec.rb
Due: autofix, rubocop

refactor(pro): polish renderer cache from review round 4
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails_pro/lib/react_on_rails_pro/assets_precompile.rb
  react_on_rails_pro/lib/react_on_rails_pro/pre_seed_renderer_cache.rb
  react_on_rails_pro/lib/react_on_rails_pro/renderer_cache_helpers.rb
  react_on_rails_pro/lib/react_on_rails_pro/utils.rb
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/utils_spec.rb
Due: autofix, rubocop

refactor(pro): tighten renderer cache helpers from review
  react_on_rails_pro/lib/react_on_rails_pro/renderer_cache_helpers.rb
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
Due: autofix, rubocop

refactor(pro): address renderer cache review feedback
  docs/oss/building-features/node-renderer/heroku.md
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails_pro/lib/react_on_rails_pro/renderer_cache_helpers.rb
  react_on_rails_pro/lib/react_on_rails_pro/utils.rb
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
  react_on_rails_pro/spec/dummy/spec/prepare_node_renderer_bundles_spec.rb
Due: autofix, rubocop, prettier

refactor(pro): guard blank bundle hash and drop dead .dup
  react_on_rails_pro/lib/react_on_rails_pro/renderer_cache_helpers.rb
  react_on_rails_pro/spec/dummy/spec/pre_seed_renderer_cache_spec.rb
Due: autofix, rubocop

fix: address PR 3217 review feedback
  CHANGELOG.md
  react_on_rails_pro/lib/react_on_rails_pro/httpx_tcp_nodelay_patch.rb
Due: autofix, rubocop, prettier

test(pro): exercise rapid refetch double click
  react_on_rails_pro/spec/dummy/e2e-tests/refetch-stress.spec.ts
Due: eslint, prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
