Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier

Add Claude Code GitHub Workflow (#3446)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier

Update CHANGELOG.md for 16.7.0.rc.3
  CHANGELOG.md
Due: prettier

Surface rc.3 upgrade notes in changelog
  CHANGELOG.md
Due: prettier

Update CHANGELOG.md for 16.7.0.rc.3 (#3409)
  CHANGELOG.md
Due: prettier

update spec gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: none

Add Apple Silicon platform to OSS lockfiles
  react_on_rails/Gemfile.lock
  react_on_rails/spec/dummy/Gemfile.lock
Due: none

Bump version to 16.7.0.rc.3
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

style(dummy): move useStrictMode const after imports
  react_on_rails/spec/dummy/client/app/packs/client-bundle.js
Due: eslint, prettier

Update react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsPro.js
  react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsPro.js
Due: eslint, prettier

disable strict mode wrappers in production builds
  react_on_rails/spec/dummy/client/app/packs/client-bundle.js
  react_on_rails/spec/dummy/client/app/strictModeSupport.jsx
  react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsPro.js
  react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsProClient.js
  react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsProNode.js
  react_on_rails_pro/spec/dummy/client/app/strictModeSupport.tsx
Due: eslint, prettier

Update react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsProNode.js
  react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsProNode.js
Due: eslint, prettier

Update react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsProClient.js
  react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsProClient.js
Due: eslint, prettier

Avoid production strict mode cache allocations
  react_on_rails/spec/dummy/client/app/strictModeSupport.jsx
  react_on_rails_pro/spec/dummy/client/app/strictModeSupport.tsx
Due: eslint, prettier

fix(dummy): restore shouldEnableStrictMode in Pro node shim
  react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsProNode.js
Due: eslint, prettier

style(dummy): align Pro shim flag name with strictModeSupport helpers
  react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsPro.js
  react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsProClient.js
  react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsProNode.js
Due: eslint, prettier

Fix OSS sqlite3 lockfile for Ruby 3.4
  react_on_rails/Gemfile.development_dependencies
  react_on_rails/Gemfile.lock
  react_on_rails/spec/dummy/Gemfile.lock
Due: none

Restore Claude review workflow behavior
  .github/workflows/claude-code-review.yml
Due: prettier

Restore Claude review workflow behavior (#3450)
  .github/workflows/claude-code-review.yml
Due: prettier

Disable dummy StrictMode in production benchmark builds (#3426)
  react_on_rails/Gemfile.development_dependencies
  react_on_rails/Gemfile.lock
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails/spec/dummy/client/app/packs/client-bundle.js
  react_on_rails/spec/dummy/client/app/strictModeSupport.jsx
  react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsPro.js
  react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsProClient.js
  react_on_rails_pro/spec/dummy/client/app/strictModeReactOnRailsProNode.js
  react_on_rails_pro/spec/dummy/client/app/strictModeSupport.tsx
Due: eslint, prettier

Keep aggregate lint aligned with package scripts
  react_on_rails/rakelib/lint.rake
Due: autofix, rubocop

Document pnpm build dependency follow-up
  docs/oss/deployment/docker-deployment.md
  package.json
Due: prettier

Document pnpm 10 follow-up choices
  docs/oss/deployment/docker-deployment.md
  package.json
Due: prettier

Fix aggregate SCSS lint task (#3453)
  react_on_rails/rakelib/lint.rake
Due: autofix, rubocop

Clarify Shakapacker config diagnostics
  react_on_rails/lib/react_on_rails/engine.rb
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
  react_on_rails/spec/react_on_rails/engine_spec.rb
Due: autofix, rubocop

Classify lefthook config changes correctly
  script/ci-changes-detector
Due: none

Expose node renderer integration hooks
  packages/react-on-rails-pro-node-renderer/src/integrations/api.ts
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/api.test.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-init.test.ts
Due: eslint, prettier

Remove unstable personal site link from style docs
  docs/oss/misc/style.md
Due: prettier

Clarify RSC client references rewrite flow
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Harden integration api test cleanup
  packages/react-on-rails-pro-node-renderer/src/shared/tracing.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/api.test.ts
Due: eslint, prettier

Address RSC rewrite review notes
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

Document pnpm 10 Docker pin and protobufjs allowlist rationale (#3443)
  docs/oss/deployment/docker-deployment.md
  package.json
Due: prettier

Pin Docker pnpm version and fix docs link check (#3440)
  docs/oss/misc/style.md
  package.json
Due: prettier

Clarify resolved Shakapacker config path warnings (#3444)
  react_on_rails/lib/react_on_rails/engine.rb
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
  react_on_rails/spec/react_on_rails/engine_spec.rb
Due: autofix, rubocop

Address Jenkinsfile doctor review feedback
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, prettier

Avoid Jenkinsfile inline comment false positives
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

feat(doctor): scan Jenkinsfile for deprecated renderer-cache task
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, prettier

test(doctor): harden renderer cache migration specs
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

docs(changelog): add PR attribution for Jenkinsfile scan
  CHANGELOG.md
Due: prettier

fix(doctor): scan Jenkinsfile for renderer-cache task
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
