Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Address review: nil-safe workspace guard, streaming classic yarn parse, explicit json require
  react_on_rails/lib/react_on_rails/version_checker.rb
  react_on_rails/lib/react_on_rails/version_checker/lockfile_resolution.rb
  react_on_rails/spec/react_on_rails/fixtures/lockfiles/null_dependency/package.json
  react_on_rails/spec/react_on_rails/version_checker_spec.rb
Due: autofix, rubocop, prettier

Review fix: treat Infinity revalidate as indefinite in the promotion clock-skew guard
  packages/react-on-rails-pro/src/cache/TieredCacheHandler.ts
  packages/react-on-rails-pro/tests/TieredCacheHandler.test.ts
Due: eslint, prettier

Review fixes: guard non-finite promotion timestamps; document clock-sync assumption and persistent-L1 flush
  CHANGELOG.md
  packages/react-on-rails-pro/src/cache/TieredCacheHandler.ts
  packages/react-on-rails-pro/tests/TieredCacheHandler.test.ts
Due: eslint, prettier

Fix authenticityHeaders() mutating its input object
  CHANGELOG.md
  docs/oss/api-reference/javascript-api.md
  packages/react-on-rails/src/Authenticity.ts
  packages/react-on-rails/src/types/index.ts
  packages/react-on-rails/tests/Authenticity.test.js
Due: eslint, prettier

Pro cache: promote aged L2 entries into L1 with remaining lifetime (#5029)
  CHANGELOG.md
  packages/react-on-rails-pro/src/cache/TieredCacheHandler.ts
  packages/react-on-rails-pro/tests/TieredCacheHandler.test.ts
Due: eslint, prettier

Fix authenticityHeaders() mutating its input object (#5065)
  CHANGELOG.md
  docs/oss/api-reference/javascript-api.md
  packages/react-on-rails/src/Authenticity.ts
  packages/react-on-rails/src/types/index.ts
  packages/react-on-rails/tests/Authenticity.test.js
Due: eslint, prettier

Core: escape <!-- in console replay via shared lossless escapeScript (#5034)
  .agents/skills/rsc-guardrails/SKILL.md
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
  packages/react-on-rails/package.json
  packages/react-on-rails/src/buildConsoleReplay.ts
  packages/react-on-rails/src/escapeScript.ts
  packages/react-on-rails/src/scriptSanitizedVal.ts
  packages/react-on-rails/tests/buildConsoleReplay.test.js
  packages/react-on-rails/tests/consoleReplayDomSafety.test.ts
  packages/react-on-rails/tests/escapeScript.test.ts
  packages/react-on-rails/tests/scriptSanitizedVal.test.js
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails_pro/spec/dummy/spec/requests/renderer_console_logging_spec.rb
Due: autofix, rubocop, eslint, prettier

Complete the console-replay expectation to all 14 rendered lines
  react_on_rails_pro/spec/dummy/spec/requests/renderer_console_logging_spec.rb
Due: autofix, rubocop

Address review: fix escape example comment, harden tests (#5035)
  packages/react-on-rails/src/escapeScript.ts
  packages/react-on-rails/tests/consoleReplayDomSafety.test.ts
  react_on_rails/spec/dummy/client/app/components/HelloWorldRedux.tsx
  react_on_rails_pro/spec/dummy/client/app/components/HelloWorldRedux.jsx
  react_on_rails_pro/spec/dummy/client/app/components/HelloWorldRedux/index.jsx
  react_on_rails_pro/spec/dummy/spec/requests/renderer_console_logging_spec.rb
Due: autofix, rubocop, eslint, prettier

Add CHANGELOG entry for the console-replay escaping fix (#5035)
  CHANGELOG.md
Due: prettier

Harden parity guard to exercise Pro's real injection path (#5035)
  .agents/skills/rsc-guardrails/SKILL.md
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
Due: eslint, prettier

pnpm 11 multi-doc: select the LAST project document; pin new precedence links
  react_on_rails/lib/react_on_rails/version_checker/lockfile_resolution.rb
  react_on_rails/spec/react_on_rails/fixtures/lockfiles/ambiguous_npm_pnpm_bun/bun.lock
  react_on_rails/spec/react_on_rails/fixtures/lockfiles/ambiguous_npm_pnpm_bun/package-lock.json
  react_on_rails/spec/react_on_rails/fixtures/lockfiles/ambiguous_npm_pnpm_bun/package.json
  react_on_rails/spec/react_on_rails/fixtures/lockfiles/ambiguous_npm_pnpm_bun/pnpm-lock.yaml
  react_on_rails/spec/react_on_rails/fixtures/lockfiles/ambiguous_pnpm_bun/bun.lock
  react_on_rails/spec/react_on_rails/fixtures/lockfiles/ambiguous_pnpm_bun/package.json
  react_on_rails/spec/react_on_rails/fixtures/lockfiles/ambiguous_pnpm_bun/pnpm-lock.yaml
  react_on_rails/spec/react_on_rails/fixtures/lockfiles/ambiguous_yarn_npm/yarn.lock
  react_on_rails/spec/react_on_rails/fixtures/lockfiles/pnpm_v11_multidoc/pnpm-lock.yaml
  react_on_rails/spec/react_on_rails/version_checker_spec.rb
Due: autofix, rubocop, prettier

Leave a debug trace when lockfile parsing is guarded to nil
  react_on_rails/lib/react_on_rails/version_checker/lockfile_resolution.rb
  react_on_rails/sig/react_on_rails/version_checker/lockfile_resolution.rbs
  react_on_rails/spec/react_on_rails/version_checker_spec.rb
Due: autofix, rubocop

Cover invalid-UTF-8 Berry yarn.lock with a boot-safety regression spec
  react_on_rails/spec/react_on_rails/fixtures/lockfiles/yarn_berry_invalid_encoding/package.json
  react_on_rails/spec/react_on_rails/fixtures/lockfiles/yarn_berry_invalid_encoding/yarn.lock
  react_on_rails/spec/react_on_rails/version_checker_spec.rb
Due: autofix, rubocop, prettier

Qualify RSC 19.3 RC4 for the 17.1 release
  CHANGELOG.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  llms-full-pro.txt
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/shared/rscPeerSupport.ts
  packages/react-on-rails-pro-node-renderer/tests/checkRscPeerCompatibility.test.ts
  packages/react-on-rails-pro/package.json
  pnpm-lock.yaml
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
  react_on_rails_pro/spec/dummy/package.json
Due: autofix, rubocop, eslint, prettier

Attribute the RC4 qualification changelog entry
  CHANGELOG.md
Due: prettier

Fix docs-only CI guard after descendant workflow success (#5053)
  .github/actions/ensure-main-docs-safety/check-previous-main.cjs
  .github/actions/ensure-main-docs-safety/check-previous-main.test.cjs
Due: none

Regenerate llms-full references
  llms-full.txt
Due: none

Qualify react-on-rails-rsc 19.3.0-rc.4 for React on Rails 17.1 (#5066)
  CHANGELOG.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  llms-full-pro.txt
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/shared/rscPeerSupport.ts
  packages/react-on-rails-pro-node-renderer/tests/checkRscPeerCompatibility.test.ts
  packages/react-on-rails-pro/package.json
  pnpm-lock.yaml
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
  react_on_rails_pro/spec/dummy/package.json
Due: autofix, rubocop, eslint, prettier

Update changelog for 17.1.0.rc.4
  CHANGELOG.md
Due: prettier

Prepare changelog for React on Rails 17.1.0.rc.4 (#5067)
  CHANGELOG.md
Due: prettier

Bump version to 17.1.0.rc.4 (#5068)
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Backport npm visibility recovery to 17.1
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Backport npm release visibility checks to 17.1 (#5069)
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Revert "Backport npm release visibility checks to 17.1 (#5069)"
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Revert malformed 17.1 backport landing (#5070)
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Fix npm release visibility checks (#5064)
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Backport npm release visibility checks to 17.1 (#5071)
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Prepare changelog for 17.1.0.rc.5
  CHANGELOG.md
Due: prettier

Explain the RC5 publication-only delta
  CHANGELOG.md
Due: prettier

Prepare changelog for 17.1.0.rc.5 (#5072)
  CHANGELOG.md
Due: prettier

Fix Pro public-key maintenance against the licensing app
  packages/react-on-rails-pro-node-renderer/src/shared/licensePublicKey.ts
  react_on_rails_pro/lib/react_on_rails_pro/license_public_key.rb
  react_on_rails_pro/rakelib/public_key_management.rake
  react_on_rails_pro/spec/react_on_rails_pro/public_key_management_spec.rb
Due: autofix, rubocop, eslint, prettier

Pro dummy: update error-scenarios hub for post-#4631 reporter visibility (#4762)
  react_on_rails_pro/spec/dummy/app/views/pages/error_scenarios_hub.html.erb
Due: none

Bump version to 17.1.0.rc.5
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Bump version to 17.1.0.rc.5 (#5074)
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Prepare changelog for React on Rails 17.1.0
  CHANGELOG.md
Due: prettier

Prepare changelog for React on Rails 17.1.0 (#5080)
  CHANGELOG.md
Due: prettier

Bump version to 17.1.0
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Bump version to 17.1.0 (#5081)
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
