Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Format RSC stream transform tests for Prettier
  packages/react-on-rails-pro/tests/transformRSCStreamAndReplayConsoleLogs.test.ts
Due: eslint, prettier

Extract shared sanitizeNonce utility to avoid duplication
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/src/transformRSCStreamAndReplayConsoleLogs.ts
  packages/react-on-rails-pro/src/utils.ts
Due: eslint, prettier

Fix first-run bin/dev failures by resolving hooks before Rails boots
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/packer_utils.rb
  react_on_rails/spec/react_on_rails/packer_utils_spec.rb
Due: autofix, rubocop, prettier

Fix streaming deadlock, exception masking, and cache poisoning (#2543)
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_spec.rb
Due: autofix, rubocop

Add integration tests for client disconnect and clean up code
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_integration_spec.rb
Due: autofix, rubocop

Address review feedback: fix CI lint, improve error safety
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_integration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_spec.rb
Due: autofix, rubocop

Add redis_thread.kill to redis_receiver timeout for consistency
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
Due: autofix, rubocop

Clarify ensure-block comment and join killed threads
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
Due: autofix, rubocop

Generate --rspack configs under config/rspack (#2417)
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
  react_on_rails/spec/react_on_rails/support/generator_spec_helper.rb
Due: autofix, rubocop

Fix streaming deadlock, exception masking, and cache poisoning (#2543)
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_integration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_spec.rb
Due: autofix, rubocop

Add changelog entry for streaming deadlock fix (#2562)
  CHANGELOG.md
Due: prettier

Shorten changelog entry to focus on what, not how
  CHANGELOG.md
Due: prettier

Add changelog entry for streaming deadlock fix (#2562) (#2564)
  CHANGELOG.md
Due: prettier

Add test for empty async_props_block (issue #2269)
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/test_empty_async_props_block.html.erb
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/spec/requests/incremental_rendering_integration_spec.rb
Due: autofix, rubocop

Fix empty-string plan mismatch between Ruby and Node license validators
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseValidator.test.ts
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix empty-string plan mismatch between Ruby and Node (#2452) (#2566)
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/tests/licenseValidator.test.ts
  react_on_rails_pro/spec/react_on_rails_pro/license_validator_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix resolve_hook_script_path to work without Rails.root
  react_on_rails/lib/react_on_rails/packer_utils.rb
Due: autofix, rubocop

Fix Pathname.new(Rails.root) breaking specs and add project_root tests
  react_on_rails/lib/react_on_rails/packer_utils.rb
  react_on_rails/spec/react_on_rails/packer_utils_spec.rb
Due: autofix, rubocop

Fix ENV stub mismatch: stub ENV.fetch instead of ENV.[]
  react_on_rails/spec/react_on_rails/packer_utils_spec.rb
Due: autofix, rubocop

Use stub_const for ENV stubs instead of method-level stubs
  react_on_rails/spec/react_on_rails/packer_utils_spec.rb
Due: autofix, rubocop

Fix resolve_hook_script_path to work without Rails.root (#2568)
  react_on_rails/lib/react_on_rails/packer_utils.rb
  react_on_rails/spec/react_on_rails/packer_utils_spec.rb
Due: autofix, rubocop

Add TanStack Router SSR integration utility (#2516)
  CHANGELOG.md
  docs/README.md
  docs/api-reference/javascript-api.md
  docs/api-reference/view-helpers-api.md
  docs/building-features/react-router.md
  docs/building-features/tanstack-router.md
  docs/core-concepts/render-functions.md
  docs/getting-started/using-react-on-rails.md
  docs/introduction.md
  knip.ts
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/src/tanstack-router.ts
  packages/react-on-rails-pro/src/tanstack-router/clientHydrate.ts
  packages/react-on-rails-pro/src/tanstack-router/index.ts
  packages/react-on-rails-pro/src/tanstack-router/serverRender.ts
  packages/react-on-rails-pro/src/tanstack-router/types.ts
  packages/react-on-rails-pro/src/tanstack-router/utils.ts
  packages/react-on-rails-pro/tests/tanstackRouter.test.ts
  packages/react-on-rails/src/isServerRenderResult.ts
  packages/react-on-rails/src/serverRenderReactComponent.ts
  packages/react-on-rails/src/serverRenderUtils.ts
  packages/react-on-rails/src/types/index.ts
  packages/react-on-rails/tests/isServerRenderResult.test.ts
  packages/react-on-rails/tests/serverRenderReactComponent.test.ts
  pnpm-lock.yaml
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails/spec/dummy/spec/helpers/react_on_rails_helper_spec.rb
  react_on_rails_pro/spec/dummy/.gitignore
  react_on_rails_pro/spec/dummy/app/controllers/tanstack_router_controller.rb
  react_on_rails_pro/spec/dummy/app/views/shared/_menu.erb
  react_on_rails_pro/spec/dummy/app/views/tanstack_router/index.html.erb
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/TanStackRouterAppAsync.jsx
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/spec/system/integration_spec.rb
Due: autofix, rubocop, eslint, prettier

Stabilize default RSC generator sample as server-only
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/dev_tests/spec/system/hello_server_spec.rb
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/app/javascript/src/HelloServer/components/HelloServer.jsx
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/app/javascript/src/HelloServer/components/HelloServer.tsx
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop, eslint, prettier

Update pry-doc to 1.7.0 to fix Ruby 3.4 compatibility warning
  react_on_rails/Gemfile.lock
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: none

Update pry-doc to 1.7.0 for Ruby 3.4 support (#2573)
  react_on_rails/Gemfile.lock
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: none

Add shakapacker version update command and bump to 9.6.1
  pnpm-lock.yaml
  react_on_rails/Gemfile.development_dependencies
  react_on_rails/Gemfile.lock
  react_on_rails/rakelib/shakapacker_version.rake
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails/spec/dummy/package.json
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: autofix, rubocop, prettier

Document shakapacker:update_version rake task in AGENTS.md
  AGENTS.md
Due: prettier

Add shakapacker version update command; bump to 9.6.1 (#2569)
  AGENTS.md
  pnpm-lock.yaml
  react_on_rails/Gemfile.development_dependencies
  react_on_rails/Gemfile.lock
  react_on_rails/rakelib/shakapacker_version.rake
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails/spec/dummy/package.json
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: autofix, rubocop, prettier

Address PR review feedback
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/packer_utils.rb
Due: autofix, rubocop, prettier

Auto-install react_on_rails_pro gem when --rsc/--pro flags are used
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
Due: autofix, rubocop

Stabilize Pro gem prerequisite specs against env drift
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

docs: Remove deprecated devServer.inline references from HMR docs
  docs/building-features/hmr-and-hot-reloading-with-the-webpack-dev-server.md
Due: prettier

Add --rsc support to create-react-on-rails-app
  docs/getting-started/create-react-on-rails-app.md
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
  packages/create-react-on-rails-app/src/types.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
Due: eslint, prettier

Harden --rsc gem install flow in create-app CLI
  CHANGELOG.md
  docs/getting-started/create-react-on-rails-app.md
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
Due: eslint, prettier

Improve --rsc preflight UX and add CLI coverage
  docs/getting-started/create-react-on-rails-app.md
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
  packages/create-react-on-rails-app/src/utils.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
Due: eslint, prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
