Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Add 16.4.0.rc.2 changelog entry for Pro/RSC generator flags
  CHANGELOG.md
Due: prettier

Fix RSC generator layout wiring for fresh Rails apps
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/app/controllers/hello_server_controller.rb
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Add --rsc support to create-react-on-rails-app
  docs/getting-started/create-react-on-rails-app.md
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
  packages/create-react-on-rails-app/src/types.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
Due: eslint, prettier

Support Sentry SDK v9 and v10 in node renderer integration
  CHANGELOG.md
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/integrations/sentry.ts
  packages/react-on-rails-pro-node-renderer/tests/shared/tracing.test.ts
Due: eslint, prettier

Auto-install react_on_rails_pro gem when --rsc/--pro flags are used
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
Due: autofix, rubocop

Add RSC echo props page to reproduce issue #2435
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/rsc_echo_props.html.erb
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/RscEchoProps.jsx
  react_on_rails_pro/spec/dummy/config/routes.rb
Due: autofix, rubocop, eslint, prettier

Add E2E tests for RSC props with special characters (issue #2435)
  react_on_rails_pro/spec/dummy/e2e-tests/rsc_echo_props.spec.ts
Due: eslint, prettier

Fix RSC rendering corruption when props contain $-patterns (#2435)
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
Due: autofix, rubocop

Use .to_json for all string values interpolated into JS code
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails/lib/react_on_rails/server_rendering_js_code.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
Due: autofix, rubocop

Update CHANGELOG for issue #2435 fix
  CHANGELOG.md
Due: prettier

Fix CI: Prettier formatting and ESLint errors
  CHANGELOG.md
  react_on_rails_pro/spec/dummy/e2e-tests/rsc_echo_props.spec.ts
Due: eslint, prettier

Fix CHANGELOG: correct PR link and markdown lint
  CHANGELOG.md
Due: prettier

Wrap long .replace() line under 120 chars
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
Due: autofix, rubocop

Remove issue references from test page and E2E spec
  react_on_rails_pro/spec/dummy/app/views/pages/rsc_echo_props.html.erb
  react_on_rails_pro/spec/dummy/e2e-tests/rsc_echo_props.spec.ts
Due: eslint, prettier

Fix RSC rendering corruption from $-patterns in props (#2440)
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails/lib/react_on_rails/server_rendering_js_code.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/rsc_echo_props.html.erb
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/RscEchoProps.jsx
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/e2e-tests/rsc_echo_props.spec.ts
Due: autofix, rubocop, eslint, prettier

Remove broken Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: prettier

Fix Claude Code Review workflow: use built-in review instead of broken plugin
  .github/workflows/claude-code-review.yml
Due: prettier

Fix: remove invalid review_triggered_on input
  .github/workflows/claude-code-review.yml
Due: prettier

Fix Claude Code Review workflow: use built-in review (#2441)
  .github/workflows/claude-code-review.yml
Due: prettier

Fix RSC stream tee backpressure deadlock for large payloads
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/tests/RSCRequestTracker.test.ts
  packages/react-on-rails-pro/tests/streamBackpressure.e2e.test.tsx
Due: eslint, prettier

Narrow test:non-rsc exclusion pattern to run previously skipped tests
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/tests/SuspenseHydration.test.tsx
  packages/react-on-rails-pro/tests/registerServerComponent.client.test.jsx
Due: eslint, prettier

Revert "Narrow test:non-rsc exclusion pattern to run previously skipped tests"
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/tests/SuspenseHydration.test.tsx
  packages/react-on-rails-pro/tests/registerServerComponent.client.test.jsx
Due: eslint, prettier
