Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

refactor: remove unnecessary client eviction on connection errors
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
Due: autofix, rubocop

feat: implement per-scheduler persistent HTTP client storage (#3428)
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/sig/react_on_rails_pro/renderer_http_client.rbs
  react_on_rails_pro/spec/react_on_rails_pro/configuration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
Due: autofix, rubocop

docs: add changelog entry for per-scheduler persistent HTTP connections
  CHANGELOG.md
Due: prettier

docs: add changelog entry for PR #3428 (#3431)
  CHANGELOG.md
Due: prettier

Extract setup-bundle action
  .github/actions/setup-bundle/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/benchmark.yml
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/playwright.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
  AGENTS.md
Due: prettier

Extract reusable setup-bundle action (#3429)
  .github/actions/setup-bundle/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/benchmark.yml
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/playwright.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
  AGENTS.md
Due: prettier

test(ci): harden git-diff-base coverage and add deepen progress log
  script/check-docs-sidebar
  script/ci-changes-detector
  script/lib/git-diff-base
  script/lib/git-diff-base-test.bash
Due: none

test(ci): address PR #3331 review comments
  script/lib/git-diff-base-test.bash
Due: none

test(ci): address git-diff-base review feedback
  script/lib/git-diff-base-test.bash
Due: none

test(ci): make git-diff-base fallback tests deterministic
  script/lib/git-diff-base-test.bash
Due: none

test(ci): correct c5 depth in unshallow fallback test comment
  script/lib/git-diff-base-test.bash
Due: none

Address PR #3376 review: declare TanStack deps, link CHANGELOG, resolve React via require.resolve
  CHANGELOG.md
  packages/react-on-rails-pro/jest.config.js
  packages/react-on-rails-pro/package.json
  pnpm-lock.yaml
Due: eslint, prettier

Address Shakapacker guard review feedback
  react_on_rails/.github/workflows/ci.yml
  react_on_rails/lib/react_on_rails/engine.rb
  react_on_rails/spec/react_on_rails/engine_spec.rb
Due: autofix, rubocop, prettier

Clarify Shakapacker guard scope
  CHANGELOG.md
  react_on_rails/.github/workflows/ci.yml
  react_on_rails/spec/react_on_rails/engine_spec.rb
Due: autofix, rubocop, prettier

fix: skip Shakapacker packageManager guard when not bundler (#3145)
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/engine.rb
  react_on_rails/spec/react_on_rails/engine_spec.rb
Due: autofix, rubocop, prettier

Address remaining review feedback on Shakapacker guard
  react_on_rails/lib/react_on_rails/engine.rb
  react_on_rails/spec/react_on_rails/engine_spec.rb
Due: autofix, rubocop

Polish Shakapacker guard: comments, env warnings, fixture extraction
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/lib/react_on_rails/engine.rb
  react_on_rails/spec/react_on_rails/engine_spec.rb
  react_on_rails/spec/react_on_rails/fixtures/vite_only_boot_app.rb
Due: autofix, rubocop

Respect Shakapacker config override
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/engine.rb
  react_on_rails/spec/react_on_rails/engine_spec.rb
Due: autofix, rubocop, prettier

Harden HTTP rolling deploy review fixes
  react_on_rails_pro/app/controllers/react_on_rails_pro/rolling_deploy/bundles_controller.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy_adapters/http.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy/bundles_controller_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy_adapters/http_spec.rb
Due: autofix, rubocop

fix: address HTTP rolling deploy review
  react_on_rails_pro/app/controllers/react_on_rails_pro/rolling_deploy/bundles_controller.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy/tarball.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy_adapters/http.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy_adapters/http_spec.rb
Due: autofix, rubocop

fix(rolling-deploy/http): address PR review must-fix + nits
  react_on_rails_pro/app/controllers/react_on_rails_pro/rolling_deploy/bundles_controller.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy/safe_hash_pattern.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy/tarball.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy_adapters/http.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy_cache_stager.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy/bundles_controller_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy_adapters/http_spec.rb
Due: autofix, rubocop

feat: scaffold built-in HTTP rolling-deploy adapter (#3240)
  react_on_rails_pro/app/controllers/react_on_rails_pro/rolling_deploy/bundles_controller.rb
  react_on_rails_pro/lib/react_on_rails_pro.rb
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy/tarball.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy_adapters/http.rb
Due: autofix, rubocop

fix(rolling-deploy/http): warn when previous_url is plain HTTP
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy_adapters/http.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy_adapters/http_spec.rb
Due: autofix, rubocop

fix(rolling-deploy/controller): inherit from ActionController::API
  react_on_rails_pro/app/controllers/react_on_rails_pro/rolling_deploy/bundles_controller.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy/bundles_controller_spec.rb
Due: autofix, rubocop

fix(rolling-deploy/controller): parameterize draw_routes as: prefix
  react_on_rails_pro/app/controllers/react_on_rails_pro/rolling_deploy/bundles_controller.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy/bundles_controller_spec.rb
Due: autofix, rubocop

fix(rolling-deploy): address review nits from PR #3379
  react_on_rails_pro/app/controllers/react_on_rails_pro/rolling_deploy/bundles_controller.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy/safe_hash_pattern.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy/tarball.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy_adapters/http.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy_adapters/http_spec.rb
Due: autofix, rubocop

fix(rolling-deploy/controller): use protect_from_forgery with: :exception
  react_on_rails_pro/app/controllers/react_on_rails_pro/rolling_deploy/bundles_controller.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy/bundles_controller_spec.rb
Due: autofix, rubocop

fix(rolling-deploy): address PR #3379 review round 4
  CHANGELOG.md
  react_on_rails_pro/app/controllers/react_on_rails_pro/rolling_deploy/bundles_controller.rb
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy/tarball.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy_adapters/http.rb
  react_on_rails_pro/lib/react_on_rails_pro/rolling_deploy_cache_stager.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy/bundles_controller_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/rolling_deploy_adapters/http_spec.rb
Due: autofix, rubocop, prettier

fix: start Pro renderer in static dev modes
  CHANGELOG.md
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
  react_on_rails/spec/react_on_rails/support/shared_examples/pro_generator_examples.rb
  react_on_rails/spec/react_on_rails/support/shared_examples/rsc_generator_examples.rb
Due: autofix, rubocop, prettier

fix: address Node Renderer Procfile review feedback
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/node_renderer_procfile.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

fix: tighten Node Renderer Procfile checks
  CHANGELOG.md
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/node_renderer_procfile.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, prettier

docs(rsc): use RENDERER_PORT idiom in Procfile example
  docs/oss/migrating/rsc-preparing-app.md
Due: prettier

fix(node-renderer): make RENDERER_LOG_LEVEL overridable and accept yarn run
  pnpm-lock.yaml
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/node_renderer_procfile.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop, prettier

fix: tighten Pro generator renderer guards and stale-entry scan
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

fix(doctor): strip inline Procfile comments and derive launcher list from canonical source
  react_on_rails/lib/react_on_rails/doctor.rb
Due: autofix, rubocop

fix(pro): align Procfile generator and doctor on RENDERER_PORT requirement
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/node_renderer_procfile.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Address remaining review feedback: idempotency flag, naming, warning text
  react_on_rails/lib/react_on_rails/engine.rb
  react_on_rails/spec/react_on_rails/engine_spec.rb
Due: autofix, rubocop

Ignore @tanstack/react-router optional-peer-dep warning in knip
  knip.ts
Due: eslint, prettier

Note identity-only check in stores-path dev warning
  packages/react-on-rails-pro/src/tanstack-router/clientHydrate.ts
Due: eslint, prettier

Update bin/check-links
  bin/check-links
Due: none
