Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Harden strict replay edge-case handling
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Fix Node override guide section link
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  llms-full-pro.txt
Due: prettier

Require complete visual replay evidence
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Raise jwt floor to >= 2.8 (Ruby 3.4 base64) and correct documented Node floor (#4864)
  CHANGELOG.md
  docs/oss/getting-started/why-rspack.md
  docs/oss/introduction.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  docs/pro/node-renderer.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  docs/pro/updating.md
  llms-full-pro.txt
  llms-full.txt
  react_on_rails_pro/Gemfile.development_dependencies
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/react_on_rails_pro.gemspec
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: prettier

Require affirmative mismatch evidence
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Close replay wording bypasses
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Bound strict evidence validation
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Scope strict replay evidence grammar
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Harden replay metadata and URL handling
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Handle visual evidence edge cases
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Reject unresolved visual evidence states
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Close strict evidence parser gaps
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Docs: surface React on Rails 17.1 upgrade actions
  docs/oss/upgrading/release-notes/17.1.0.md
  docs/oss/upgrading/release-notes/index.md
  docs/pro/updating.md
  react_on_rails/docs/agent/install-and-upgrade.md
Due: prettier

Reject guardrail writes outside the app root
  react_on_rails/lib/react_on_rails/agent_guardrails.rb
  react_on_rails/spec/react_on_rails/agent_guardrails_spec.rb
Due: autofix, rubocop

Docs: register the 17.1 release notes archive page
  docs/.sidebar-exclusions
Due: none

Document the Rails 7.2 CI baseline
  docs/oss/introduction.md
Due: prettier

Docs: clarify prerelease and renderer rollout guidance
  docs/oss/upgrading/release-notes/17.1.0.md
  docs/pro/updating.md
Due: prettier

Docs: surface React on Rails 17.1 upgrade actions (#5003)
  docs/.sidebar-exclusions
  docs/oss/upgrading/release-notes/17.1.0.md
  docs/oss/upgrading/release-notes/index.md
  docs/pro/updating.md
  react_on_rails/docs/agent/install-and-upgrade.md
Due: prettier

Make release lock recovery actionable
  rakelib/release_atomic_claim.rb
  react_on_rails/spec/react_on_rails/release_atomic_claim/client_spec.rb
  script/release
  script/release-claim
  script/release-test.bash
Due: autofix, rubocop

Docs: record the adopted merge closeout seam (#4973)
  AGENTS.md
Due: prettier

Harden replay evidence edge cases
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Fix atomic RSC agent guardrail upgrades (#4982)
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/agent_guardrails.rb
  react_on_rails/spec/react_on_rails/agent_guardrails_spec.rb
Due: autofix, rubocop, prettier

Bind replay failures to evidence outcomes
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Close remaining evidence replay gaps
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Restore packaged upgrade guide parity
  packages/react-on-rails/docs/agent/install-and-upgrade.md
Due: prettier

Docs: restore packaged upgrade guide parity (#5005)
  packages/react-on-rails/docs/agent/install-and-upgrade.md
Due: prettier

Document retained release lock recovery
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/release-train-runbook.md
  internal/contributor-info/releasing.md
  script/release
  script/release-test.bash
Due: prettier

Make release lock recovery actionable (#5004)
  internal/contributor-info/agent-coordination-backend.md
  internal/contributor-info/release-train-runbook.md
  internal/contributor-info/releasing.md
  rakelib/release_atomic_claim.rb
  react_on_rails/spec/react_on_rails/release_atomic_claim/client_spec.rb
  script/release
  script/release-claim
  script/release-test.bash
Due: autofix, rubocop, prettier

Docs: codify changelog conventions for helper-signature changes and Action-required placement
  .agents/skills/react-on-rails-update-changelog/SKILL.md
  .claude/docs/changelog-guidelines.md
  AGENTS.md
  CONTRIBUTING.md
  internal/contributor-info/releasing.md
Due: prettier

Address review: require both Action-required placements, de-overload "internal"
  .claude/docs/changelog-guidelines.md
  AGENTS.md
Due: prettier

Prevent duplicate extractLoader declarations
  CHANGELOG.md
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
  react_on_rails/spec/react_on_rails/support/generator_spec_helper.rb
Due: autofix, rubocop, prettier

Handle extractLoader declaration edge cases
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/spec/react_on_rails/generators/pro_generator_spec.rb
Due: autofix, rubocop

Address review: note the Miss example is quoted as shipped
  AGENTS.md
Due: prettier

Wait for live benchmark assets before sampling
  benchmarks/rspack-vite-rails-dx/scripts/run.mjs
  benchmarks/rspack-vite-rails-dx/scripts/starter-workspace.mjs
Due: none

Record Rails DX benchmark samples
  benchmarks/rspack-vite-rails-dx/RESULTS.md
  benchmarks/rspack-vite-rails-dx/results/recorded.json
Due: prettier

Address review: map each changelog rule to its own trigger in the skill
  .agents/skills/react-on-rails-update-changelog/SKILL.md
Due: prettier

Keep generated benchmark fixtures out of root tooling
  .github/dependabot.yml
  .prettierignore
Due: prettier

Keep default benchmark output replayable
  benchmarks/rspack-vite-rails-dx/.gitignore
Due: none

Address review: describe Action-required tagging in place, not a separate bullet
  .claude/docs/changelog-guidelines.md
  AGENTS.md
  CONTRIBUTING.md
  internal/contributor-info/releasing.md
Due: prettier
