Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Disable react/destructuring-assignment ESLint rule for React 19
  eslint.config.ts
Due: eslint, prettier

Fix examples workflow yalc publish command
  .github/workflows/examples.yml
Due: prettier

Add comprehensive guidance on avoiding CI failure cycles
  .claude/docs/avoiding-ci-failure-cycles.md
  CLAUDE.md
Due: prettier

Fix RuboCop configuration paths after monorepo restructuring
  react_on_rails/.rubocop.yml
  react_on_rails/spec/dummy/.rubocop.yml
  react_on_rails/spec/react_on_rails/.rubocop.yml
Due: prettier

Apply CodeRabbit formatting suggestions to documentation
  .claude/docs/analysis/CI_FAILURES_2024-11-21.md
  .claude/docs/analysis/INDEX.md
  .claude/docs/pr-splitting-strategy.md
  CLAUDE.md
Due: prettier

Address code review feedback and fix CI failures
  .github/workflows/gem-tests.yml
  .github/workflows/pro-lint.yml
  react_on_rails/Gemfile.development_dependencies
  react_on_rails/react_on_rails.gemspec
  react_on_rails/spec/dummy/package.json
  react_on_rails/spec/react_on_rails/binstubs/dev_spec.rb
  react_on_rails/spec/react_on_rails/rake_tasks_spec.rb
  react_on_rails_pro/package-scripts.yml
Due: autofix, rubocop, prettier

Update Gemfile.lock for shakapacker 9.4.0
  react_on_rails/Gemfile.lock
Due: none

Update dummy app yarn.lock for shakapacker 9.4.0
  react_on_rails/spec/dummy/yarn.lock
Due: none

Add missing devDependencies for CI lint workflow
  package.json
  yarn.lock
Due: prettier

Fix knip: replace concurrently with globals dependency
  package.json
  yarn.lock
Due: prettier

Ignore react_on_rails/vendor in knip to avoid shakapacker deps
  knip.ts
Due: eslint, prettier

Fix Pro ESLint config and add vendor ignore to knip
  react_on_rails_pro/package-scripts.yml
Due: prettier

Fix CI lint failures
  .github/workflows/lint-js-and-ruby.yml
  react_on_rails_pro/eslint.config.mjs
Due: prettier

Revert Pro package-scripts.yml and eslint config to match master
  .github/workflows/pro-lint.yml
  react_on_rails_pro/eslint.config.mjs
  react_on_rails_pro/package-scripts.yml
Due: prettier

docs: Update CI polling guidance to use 30-second intervals
  .claude/docs/avoiding-ci-failure-cycles.md
  .claude/docs/master-health-monitoring.md
Due: prettier

Fix Pro lint workflow: add package.json and use npx for commands
  react_on_rails_pro/eslint.config.mjs
  react_on_rails_pro/package-scripts.yml
  react_on_rails_pro/package.json
  react_on_rails_pro/yarn.lock
Due: prettier

Fix ESLint errors caught by stricter type checking
  eslint.config.ts
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/base/full.ts
  packages/react-on-rails/src/buildConsoleReplay.ts
  packages/react-on-rails/src/context.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails/spec/dummy/client/app/components/HelloWorldRedux.jsx
  react_on_rails/spec/dummy/client/app/startup/HelloWorldES5.jsx
Due: eslint, prettier

Fix Pro package tests: run yarn workspace from repo root
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

Fix code review concerns: gemspec bug, PropTypes, root Gemfile
  Gemfile
  react_on_rails/lib/generators/react_on_rails/templates/base/base/app/javascript/bundles/HelloWorld/components/HelloWorld.jsx
  react_on_rails/lib/generators/react_on_rails/templates/base/base/app/javascript/src/HelloWorld/ror_components/HelloWorld.client.jsx
  react_on_rails/lib/generators/react_on_rails/templates/redux/base/app/javascript/bundles/HelloWorld/components/HelloWorld.jsx
  react_on_rails_pro/react_on_rails_pro.gemspec
Due: eslint, prettier

Fix RSC test infrastructure and add TODO explaining temporary disable
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/tests/utils.test.js
Due: eslint, prettier

Migrate from Yarn Classic to pnpm (#2120)
  .claude/docs/pr-splitting-strategy.md
  .claude/docs/testing-build-scripts.md
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/package-js-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
  .npmrc
  CHANGELOG.md
  CLAUDE.md
  CODING_AGENTS.md
  CONTRIBUTING.md
  TODO.md
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  react_on_rails/rakelib/dummy_apps.rake
  react_on_rails/rakelib/lint.rake
  react_on_rails/rakelib/node_package.rake
  react_on_rails/rakelib/run_rspec.rake
  react_on_rails/spec/dummy/package.json
  react_on_rails/spec/dummy/yarn.lock
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/yarn.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/yarn.lock
  react_on_rails_pro/yarn.lock
  yarn.lock
Due: autofix, rubocop, prettier

Fix pnpm/action-setup version conflict
  .github/workflows/examples.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/package-js-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
  bin/lefthook/eslint-lint
  bin/lefthook/prettier-format
  pnpm-lock.yaml
Due: prettier

Fix CI failures after pnpm migration
  .github/workflows/pro-test-package-and-gem.yml
  bin/lefthook/prettier-format
  knip.ts
  react_on_rails/spec/dummy/package.json
Due: eslint, prettier

Fix knip config, ESLint errors, and lefthook scripts
  bin/lefthook/eslint-lint
  knip.ts
  react_on_rails_pro/spec/dummy/client/app/components/LazyApolloGraphQL.tsx
Due: eslint, prettier

Add CHANGELOG entry for pnpm migration
  CHANGELOG.md
Due: prettier

Fix knip configuration for pnpm migration
  knip.ts
Due: eslint, prettier

Revert LazyApolloGraphQL.tsx to master version
  react_on_rails_pro/spec/dummy/client/app/components/LazyApolloGraphQL.tsx
Due: eslint, prettier

Reset knip.ts to master version
  knip.ts
Due: eslint, prettier

Update knip.ts for pnpm compatibility
  knip.ts
Due: eslint, prettier

Fix remaining knip issues for pnpm migration
  knip.ts
Due: eslint, prettier

Fix knip config: add worker.ts as entry point
  knip.ts
Due: eslint, prettier

Add @babel/runtime and mini-css-extract-plugin back to ignoreDependencies
  knip.ts
Due: eslint, prettier

Fix lint workflow to use nps eslint command
  .github/workflows/lint-js-and-ruby.yml
Due: prettier

Fix package.json scripts for pnpm compatibility
  .github/workflows/lint-js-and-ruby.yml
  package.json
Due: prettier

Add .npmrc to prettierignore
  .prettierignore
Due: none

Fix markdown formatting for prettier
  .claude/commands/update-changelog.md
  .claude/docs/analysis/MONOREPO_MIGRATION_ANALYSIS.md
  .claude/docs/analysis/PHASE_5_COMPLETION_NOTES.md
  .claude/docs/analysis/claude-md-improvements.md
  .claude/docs/analysis/github-issue-1765-status-update.md
  .claude/docs/analysis/github-issue-1765-update.md
  .claude/docs/avoiding-ci-failure-cycles.md
  CONTRIBUTING.md
  docs/CI_OPTIMIZATION.md
  docs/DIRECTORY_LICENSING.md
  docs/LICENSING_FAQ.md
  docs/MONOREPO_MERGER_PLAN.md
  docs/building-features/i18n.md
  docs/building-features/streaming-server-rendering.md
  docs/contributor-info/releasing.md
  docs/guides/testing-configuration.md
  docs/migrating/migrating-from-react-rails.md
  docs/planning/docs-improvement/01-problem-analysis.md
  docs/planning/docs-improvement/02-pr-1813-comparison.md
  docs/planning/docs-improvement/04-ia-redesign-plan.md
  docs/planning/docs-improvement/ia-redesign-live.md
  docs/upgrading/release-notes/16.0.0.md
  docs/upgrading/upgrading-react-on-rails.md
Due: prettier

Fix lint:scss path for monorepo structure
  package.json
Due: prettier

Fix ESLint no-base-to-string error in LazyApolloGraphQL
  react_on_rails_pro/spec/dummy/client/app/components/LazyApolloGraphQL.tsx
Due: eslint, prettier
