Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Document workersCount zero-mode behavior
  docs/oss/getting-started/pro-quick-start.md
  react_on_rails/lib/generators/react_on_rails/templates/pro/base/client/node-renderer.js
Due: eslint, prettier

Validate worker-count env values in template and docs
  docs/oss/getting-started/pro-quick-start.md
  react_on_rails/lib/generators/react_on_rails/templates/pro/base/client/node-renderer.js
Due: eslint, prettier

Align Pro quick-start worker parsing with template
  docs/oss/getting-started/pro-quick-start.md
  react_on_rails/lib/generators/react_on_rails/templates/pro/base/client/node-renderer.js
Due: eslint, prettier

Fix README quick-start example to use ?? instead of || for workersCount
  packages/react-on-rails-pro-node-renderer/README.md
Due: prettier

Remove unrelated rsc-troubleshooting.md formatting changes
  docs/oss/migrating/rsc-troubleshooting.md
Due: prettier

Simplify worker count parsing for env values
  docs/oss/getting-started/pro-quick-start.md
  react_on_rails/lib/generators/react_on_rails/templates/pro/base/client/node-renderer.js
Due: eslint, prettier

Surface invalid worker-count config and fix README fallback semantics
  docs/oss/getting-started/pro-quick-start.md
  packages/react-on-rails-pro-node-renderer/README.md
  react_on_rails/lib/generators/react_on_rails/templates/pro/base/client/node-renderer.js
Due: eslint, prettier

Fix consulting contact link to use email instead of website URL
  docs/oss/building-features/caching.md
Due: prettier

Preserve custom bin/dev under force
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Centralize worker-count parsing to keep setup examples concise
  docs/oss/getting-started/pro-quick-start.md
  packages/react-on-rails-pro-node-renderer/README.md
  packages/react-on-rails-pro-node-renderer/src/ReactOnRailsProNodeRenderer.ts
  packages/react-on-rails-pro-node-renderer/tests/parseWorkersCount.test.ts
  react_on_rails/lib/generators/react_on_rails/templates/pro/base/client/node-renderer.js
Due: eslint, prettier

Fix CI: update test URL regex and exclude Pro docs from link checker
  .lychee.toml
  react_on_rails_pro/spec/react_on_rails_pro/engine_spec.rb
Due: autofix, rubocop

Exclude contributor-covenant.org from link checker (timeout in CI)
  .lychee.toml
Due: none

Address review comments: update Pro wording, URLs, and remove Pro badge
  .lychee.toml
  AGENTS_USER_GUIDE.md
  README.md
  docs/oss/getting-started/comparison-with-alternatives.md
  docs/oss/getting-started/oss-vs-pro.md
Due: prettier

Migrate Pro doc URLs from pro.reactonrails.com/docs to reactonrails.com/docs
  CHANGELOG.md
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/building-features/bundle-caching.md
  docs/oss/building-features/caching.md
  docs/oss/building-features/code-splitting.md
  docs/oss/building-features/node-renderer/basics.md
  docs/oss/building-features/node-renderer/debugging.md
  docs/oss/building-features/node-renderer/error-reporting-and-tracing.md
  docs/oss/building-features/node-renderer/heroku.md
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/oss/building-features/node-renderer/troubleshooting.md
  docs/oss/configuration/configuration-pro.md
  docs/pro/react-on-rails-pro.md
  llms.txt
  packages/create-react-on-rails-app/src/index.ts
  packages/react-on-rails-pro-node-renderer/README.md
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro/README.md
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/lib/generators/react_on_rails/rsc_generator.rb
  react_on_rails/lib/generators/react_on_rails/templates/pro/base/config/initializers/react_on_rails_pro.rb.tt
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/app/controllers/hello_server_controller.rb.tt
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/app/javascript/src/HelloServer/components/HelloServer.jsx
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/app/javascript/src/HelloServer/components/HelloServer.tsx
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/app/views/hello_server/index.html.erb
  react_on_rails/lib/generators/react_on_rails/templates/rsc/base/config/webpack/rscWebpackConfig.js.tt
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
Due: autofix, rubocop, eslint, prettier

Add replacementWorkerListenTimeout config option
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/pro/installation.md
  packages/react-on-rails-pro-node-renderer/README.md
  packages/react-on-rails-pro-node-renderer/src/master.ts
  packages/react-on-rails-pro-node-renderer/src/master/restartWorkers.ts
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/tests/master/restartWorkers.test.ts
Due: eslint, prettier

Catch rolling restart errors instead of discarding with void
  packages/react-on-rails-pro-node-renderer/src/master.ts
Due: eslint, prettier

Fix seconds-to-ms conversion, error event handling, and liveness re-check
  packages/react-on-rails-pro-node-renderer/src/master/restartWorkers.ts
  packages/react-on-rails-pro-node-renderer/tests/master/restartWorkers.test.ts
Due: eslint, prettier

Remove redundant RSC npm package check from doctor
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Fix Pro/RSC checks reading defaults instead of app config
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Fix YAML alias handling in shakapacker config fallback
  react_on_rails/lib/react_on_rails/doctor.rb
Due: autofix, rubocop

docs: add Node Renderer container deployment guide
  docs/README.md
  docs/oss/building-features/node-renderer/basics.md
  docs/oss/building-features/node-renderer/container-deployment.md
Due: prettier

docs: add single-container as default, reframe sidecar as diagnostic step
  docs/oss/building-features/node-renderer/container-deployment.md
Due: prettier

Fix three review issues: version detection, React 20+, LoadError
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Update install generator spec to expect pro.reactonrails.com URL
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

Fix blank lines inside HTML block that break badge centering
  README.md
Due: prettier

Sync address-review command with upstream triage improvements
  .claude/commands/address-review.md
Due: prettier

Fix stale main refs and base-ref fetch in CI detector
  internal/contributor-info/pull-requests.md
  react_on_rails_pro/CONTRIBUTING.md
  script/ci-changes-detector
Due: prettier

Improve create/install validation flows and migration docs
  README.md
  docs/oss/getting-started/create-react-on-rails-app.md
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/migrating/migrating-from-react-rails.md
  docs/oss/migrating/migrating-from-vite-rails.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
  packages/create-react-on-rails-app/src/utils.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/git_utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Address review feedback on install docs and generator
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
Due: autofix, rubocop, prettier

Address remaining PR review feedback on robustness and docs
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  packages/create-react-on-rails-app/src/create-app.ts
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
  react_on_rails/spec/react_on_rails/git_utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Address PR review feedback on validation and docs
  docs/oss/getting-started/installation-into-an-existing-rails-app.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/scripts/smoke-test-local-gems.sh
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/utils.ts
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
  react_on_rails/spec/react_on_rails/git_utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix install and docs review follow-ups
  docs/oss/building-features/how-to-use-different-files-for-client-and-server-rendering.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/utils.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/git_utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Tighten bundler config detection in system checker
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Avoid misleading generator success signals
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
  react_on_rails/spec/react_on_rails/generators/generator_messages_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/git_utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Address review feedback on validation flows PR (#2654)
  docs/oss/upgrading/upgrading-react-on-rails.md
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
Due: autofix, rubocop, prettier

Address PR review feedback: fix 8 issues from review comments
  docs/oss/migrating/migrating-from-vite-rails.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
Due: autofix, rubocop, eslint, prettier

Fix chmod on preserved bin/dev and re-gate missing_pro_gem? on dirty worktree
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
Due: autofix, rubocop

Address remaining bot review comments across 8 files
  docs/oss/getting-started/comparison-with-alternatives.md
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/tests/create-app.test.ts
  react_on_rails/lib/generators/react_on_rails/generator_messages.rb
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/lib/react_on_rails/git_utils.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/react_on_rails/git_utils_spec.rb
Due: autofix, rubocop, eslint, prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
