Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Fix rake tasks after workspace structure merge (PR #1830) (#1839)
  rakelib/node_package.rake
  rakelib/shakapacker_examples.rake
Due: autofix, rubocop

universalize trigger settings for workflows
  .github/workflows/examples.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/package-js-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/pro-gem-tests.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/rspec-gem-specs.yml
Due: prettier

add rakelib to change detection
  script/ci-changes-detector
Due: none

Fix false positive in async detection for mixed commented/uncommented tags
  lib/react_on_rails/doctor.rb
  spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Add Slim template support to async detection
  lib/react_on_rails/doctor.rb
  spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Simplify configuration files to improve usability
  docs/api-reference/configuration.md
  lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
  react_on_rails_pro/spec/dummy/config/initializers/react_on_rails.rb
  react_on_rails_pro/spec/execjs-compatible-dummy/config/initializers/react_on_rails.rb
  spec/dummy/config/initializers/react_on_rails.rb
Due: autofix, rubocop, prettier

Improve configuration documentation based on code review feedback
  docs/api-reference/configuration-deprecated.md
  docs/api-reference/configuration-pro.md
  docs/api-reference/configuration.md
  lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
Due: prettier

Improve configuration documentation based on code review feedback
  docs/api-reference/configuration.md
  lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
  react_on_rails_pro/spec/dummy/config/initializers/react_on_rails.rb
  react_on_rails_pro/spec/execjs-compatible-dummy/config/initializers/react_on_rails.rb
  spec/dummy/config/initializers/react_on_rails.rb
Due: autofix, rubocop, prettier

Address code review comments for configuration documentation
  docs/api-reference/configuration-deprecated.md
  docs/api-reference/configuration-pro.md
  docs/api-reference/configuration.md
  docs/guides/testing-configuration.md
  lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
  lib/react_on_rails/doctor.rb
Due: autofix, rubocop, prettier

Fix CHANGELOG.md link path in configuration-deprecated.md
  docs/api-reference/configuration-deprecated.md
Due: prettier

Fix documentation issues and add CHANGELOG entry
  CHANGELOG.md
  docs/api-reference/configuration-deprecated.md
  lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
Due: prettier

add more granular detection of rakelib & workflows
  .github/workflows/actionlint.yml
  .github/workflows/gem-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/main.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
  script/ci-changes-detector
Due: prettier

Update .github/workflows/actionlint.yml
  .github/workflows/actionlint.yml
Due: prettier

add force_run references
  .github/workflows/actionlint.yml
  .github/workflows/gem-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/package-js-tests.yml
  .github/workflows/playwright.yml
Due: prettier

misc
  .github/workflows/integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
  script/ci-changes-detector
Due: prettier

Add doctor checks for :async usage without React on Rails Pro (#2010)
  lib/react_on_rails/doctor.rb
  spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

per review
  .github/workflows/actionlint.yml
  script/ci-changes-detector
Due: prettier

Fix shakapacker.yml template to prevent 'Slow setup' warnings in development (#1850)
  lib/generators/react_on_rails/templates/base/base/config/shakapacker.yml
Due: prettier

Fix duplicate RBS definitions for error classes
  sig/react_on_rails.rbs
Due: none

Fix bin/dev --verbose option causing error
  lib/react_on_rails/dev/server_manager.rb
Due: autofix, rubocop

Address code review feedback for configuration documentation
  CHANGELOG.md
  docs/api-reference/configuration.md
  lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
  lib/react_on_rails/doctor.rb
Due: autofix, rubocop, prettier

Security and reliability improvements for CI debugging tools
  bin/ci-rerun-failures
  bin/ci-run-failed-specs
  bin/ci-switch-config
Due: none

Simplify configuration files to improve usability (#2011)
  CHANGELOG.md
  docs/api-reference/configuration-deprecated.md
  docs/api-reference/configuration-pro.md
  docs/api-reference/configuration.md
  docs/guides/testing-configuration.md
  lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
  lib/react_on_rails/doctor.rb
  react_on_rails_pro/spec/dummy/config/initializers/react_on_rails.rb
  react_on_rails_pro/spec/execjs-compatible-dummy/config/initializers/react_on_rails.rb
  spec/dummy/config/initializers/react_on_rails.rb
Due: autofix, rubocop, prettier

Fix failing RSpec test for non-hydrated streamed page (#1879)
  react_on_rails_pro/spec/dummy/spec/system/integration_spec.rb
Due: autofix, rubocop

matrix strategy requires an initial matrix
  .github/workflows/integration-tests.yml
Due: prettier

Concurrently drain streaming fibers (#2015)
  react_on_rails_pro/CHANGELOG.md
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
  react_on_rails_pro/lib/react_on_rails_pro/utils.rb
  react_on_rails_pro/react_on_rails_pro.gemspec
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_spec.rb
Due: autofix, rubocop, prettier

Fix Pro dummy app Playwright test timeouts by aligning with defer loading strategy
  react_on_rails_pro/spec/dummy/app/views/layouts/application.html.erb
  react_on_rails_pro/spec/dummy/bin/shakapacker-precompile-hook
  react_on_rails_pro/spec/dummy/config/shakapacker.yml
Due: prettier

Fix RuboCop violations and add comment about defer loading strategy
  react_on_rails_pro/spec/dummy/bin/shakapacker-precompile-hook
  react_on_rails_pro/spec/dummy/config/initializers/react_on_rails.rb
Due: autofix, rubocop

Improve code quality and generator intelligence for Shakapacker integration
  lib/generators/react_on_rails/base_generator.rb
  lib/generators/react_on_rails/generator_helper.rb
  lib/generators/react_on_rails/templates/base/base/config/shakapacker.yml.tt
  lib/generators/react_on_rails/templates/base/base/config/webpack/serverWebpackConfig.js.tt
  lib/react_on_rails/configuration.rb
  lib/react_on_rails/doctor.rb
  lib/react_on_rails/utils.rb
  spec/react_on_rails/utils_spec.rb
Due: autofix, rubocop

Fix shakapacker.yml template to prevent 'Slow setup' warnings (#1850) (#2021)
  lib/generators/react_on_rails/templates/base/base/config/shakapacker.yml
Due: prettier

Add client disconnect handling and documentation to concurrent streaming
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
Due: autofix, rubocop

try using include instead of exclude
  .github/workflows/integration-tests.yml
Due: prettier

invert conditional logic
  .github/workflows/integration-tests.yml
Due: prettier

Add debug logging for client disconnects and improve error handling
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_spec.rb
Due: autofix, rubocop

update dummy-app-integration-tests job matrix strategy
  .github/workflows/integration-tests.yml
Due: prettier

Enhance change detection & workflow triggers (#2020)
  .github/workflows/actionlint.yml
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/package-js-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
  script/ci-changes-detector
Due: prettier

Fix bin/dev --verbose option causing error (#2023)
  lib/react_on_rails/dev/server_manager.rb
Due: autofix, rubocop

Revert Pro app to async and fix ReScript build in precompile hook
  react_on_rails_pro/spec/dummy/app/views/layouts/application.html.erb
  react_on_rails_pro/spec/dummy/bin/shakapacker-precompile-hook
  react_on_rails_pro/spec/dummy/config/initializers/react_on_rails.rb
Due: autofix, rubocop

Security and reliability improvements for CI debugging tools (#2024)
  bin/ci-rerun-failures
  bin/ci-run-failed-specs
  bin/ci-switch-config
Due: none

Replace spec/dummy/bin/dev symlink with wrapper script
  spec/dummy/bin/dev
Due: none

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
