Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Avoid false release tag checks in CI and apply required doc formatting
  docs/oss/building-features/node-renderer/basics.md
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/js-memory-leaks.md
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop, prettier

Fetch remote tags in version_tagged? for consistent tag resolution
  rakelib/release.rake
Due: autofix, rubocop

Fix release script: require changelog, fix RC version computation (#2848)
  CHANGELOG.md
  docs/oss/building-features/node-renderer/basics.md
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/js-memory-leaks.md
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop, prettier

Remove dependency on internal TanStack Router router.ssr flag
  CHANGELOG.md
  packages/react-on-rails-pro/src/tanstack-router/clientHydrate.ts
  packages/react-on-rails-pro/src/tanstack-router/serverRender.ts
  packages/react-on-rails-pro/src/tanstack-router/types.ts
  packages/react-on-rails-pro/tests/tanstackRouter.test.ts
Due: eslint, prettier

Add positive test for legacy hydration path router.ssr assignment
  packages/react-on-rails-pro/tests/tanstackRouter.test.ts
Due: eslint, prettier

Improve create/install validation flows and migration docs
  docs/oss/getting-started/create-react-on-rails-app.md
Due: prettier

Fix prerequisite ordering and reduce comparison guide redundancy
  docs/oss/getting-started/create-react-on-rails-app.md
  docs/oss/introduction.md
Due: prettier

Quiet bin/dev shutdown on interrupt
  react_on_rails/lib/generators/react_on_rails/rsc_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/Procfile.dev
  react_on_rails/lib/generators/react_on_rails/templates/base/base/Procfile.dev-static-assets
  react_on_rails/lib/generators/react_on_rails/templates/base/base/bin/shakapacker-watch
  react_on_rails/lib/react_on_rails/dev/process_manager.rb
  react_on_rails/spec/dummy/Procfile.dev
  react_on_rails/spec/dummy/Procfile.dev-static-assets
  react_on_rails/spec/dummy/Procfile.dev.no.turbolinks
  react_on_rails/spec/react_on_rails/dev/process_manager_spec.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/rsc_generator_spec.rb
Due: autofix, rubocop

docs: align links with current docs routes
  AGENTS_USER_GUIDE.md
  CHANGELOG.md
  docs/README.md
  docs/oss/api-reference/generator-details.md
  docs/oss/api-reference/rails-view-rendering-from-inline-javascript.md
  docs/oss/api-reference/redux-store-api.md
  docs/oss/building-features/how-to-conditionally-server-render-based-on-device-type.md
  docs/oss/configuration/README.md
  docs/oss/core-concepts/client-vs-server-rendering.md
  docs/oss/core-concepts/how-react-on-rails-works.md
  docs/oss/core-concepts/react-server-rendering.md
  docs/oss/deployment/server-rendering-tips.md
  docs/oss/deployment/troubleshooting.md
  docs/oss/getting-started/common-issues.md
  docs/oss/getting-started/quick-start.md
  docs/oss/introduction.md
  docs/oss/misc/style.md
  react_on_rails/lib/react_on_rails/configuration.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/packer_utils.rb
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/lib/react_on_rails/server_rendering_js_code.rb
  react_on_rails/lib/tasks/generate_packs.rake
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
Due: autofix, rubocop, prettier

Clarify RSC payload optimization heuristics
  docs/oss/migrating/rsc-flight-payload.md
Due: prettier

Tighten RSC upgrade guide React prerequisites
  docs/pro/react-server-components/upgrading-existing-pro-app.md
Due: prettier

docs: avoid overlap with active docs PRs
  docs/README.md
  docs/oss/api-reference/generator-details.md
  docs/oss/getting-started/quick-start.md
  docs/oss/introduction.md
Due: prettier

docs: restore changelog formatting
  CHANGELOG.md
Due: prettier

Validate RSC payload chunks before embedding
  packages/react-on-rails-pro/src/getReactServerComponent.client.ts
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
Due: eslint, prettier

docs: format common issues guide
  docs/oss/getting-started/common-issues.md
Due: prettier

Soften idempotency claim to match actual generator behavior
  docs/pro/react-server-components/upgrading-existing-pro-app.md
Due: prettier

Refine async promise error handling
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop

docs: replace dead Pro CTA links
  README.md
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/building-features/bundle-caching.md
  docs/oss/building-features/caching.md
  docs/oss/building-features/code-splitting.md
  docs/oss/building-features/node-renderer/debugging.md
  docs/oss/building-features/node-renderer/error-reporting-and-tracing.md
  docs/oss/building-features/node-renderer/heroku.md
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/oss/building-features/node-renderer/troubleshooting.md
  docs/oss/building-features/rails-webpacker-react-integration-options.md
  docs/oss/building-features/turbolinks.md
  docs/oss/configuration/configuration-pro.md
  docs/oss/getting-started/comparison-with-alternatives.md
  docs/oss/getting-started/oss-vs-pro.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/upgrading/release-notes/16.1.0.md
  docs/oss/upgrading/release-notes/16.2.0.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  docs/pro/react-server-components/index.md
  react_on_rails/lib/react_on_rails/utils.rb
Due: autofix, rubocop, prettier

docs: refresh generator and helper URLs
  react_on_rails/lib/generators/USAGE
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails/lib/react_on_rails/test_helper/webpack_assets_compiler.rb
  react_on_rails/spec/dummy/app/views/pages/client_side_manual_render.html.erb
Due: autofix, rubocop

Tighten renderer password config diagnostics
  CHANGELOG.md
  docs/pro/node-renderer.md
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/tests/configBuilder.test.ts
  react_on_rails_pro/lib/react_on_rails_pro/configuration.rb
Due: autofix, rubocop, eslint, prettier

Raise docs version floor to 16.4.0 in install/demo guidance (#2610)
  docs/oss/api-reference/generator-details.md
  docs/oss/building-features/extensible-precompile-pattern.md
  docs/oss/building-features/i18n.md
  docs/oss/building-features/testing-configuration.md
  docs/oss/deployment/troubleshooting-build-errors.md
  docs/oss/getting-started/quick-start.md
  docs/pro/installation.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/updating.md
Due: prettier

Trim final RSC payload chunk before embedding
  packages/react-on-rails-pro/src/injectRSCPayload.ts
Due: eslint, prettier

Add standalone RSC upgrade guide for existing Pro apps (#2831)
  docs/README.md
  docs/pro/react-server-components/tutorial.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  docs/pro/upgrading-to-pro.md
Due: prettier

Clarify RSC flight payload caveats
  docs/oss/migrating/rsc-flight-payload.md
Due: prettier

Normalize final buffered RSC payload chunks
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
Due: eslint, prettier

Clarify stream spec error coverage
  react_on_rails_pro/spec/react_on_rails_pro/stream_spec.rb
Due: autofix, rubocop

Expand React upgrade command examples
  docs/pro/react-server-components/upgrading-existing-pro-app.md
Due: prettier

Match React upgrade commands across package managers
  docs/pro/react-server-components/upgrading-existing-pro-app.md
Due: prettier

Tighten password log sanitization
  packages/react-on-rails-pro-node-renderer/src/shared/configBuilder.ts
  packages/react-on-rails-pro-node-renderer/tests/configBuilder.test.ts
Due: eslint, prettier

Clear router.ssr after legacy hydration load settles
  packages/react-on-rails-pro/src/tanstack-router/clientHydrate.ts
  packages/react-on-rails-pro/tests/tanstackRouter.test.ts
Due: eslint, prettier

Keep migration docs aligned with safe and efficient serialization patterns
  docs/oss/migrating/rsc-context-and-state.md
  docs/oss/migrating/rsc-data-fetching.md
Due: prettier

Address PR review: add missing spec/dummy wrapper, fix docs, chmod template
  docs/oss/getting-started/create-react-on-rails-app.md
  react_on_rails/spec/dummy/bin/shakapacker-watch
Due: prettier

docs: fix stale docs review findings
  docs/oss/api-reference/generator-details.md
  docs/oss/api-reference/rails-view-rendering-from-inline-javascript.md
  docs/oss/building-features/how-to-conditionally-server-render-based-on-device-type.md
  docs/oss/getting-started/common-issues.md
Due: prettier

docs: refresh generator and helper URLs (#2852)
  react_on_rails/lib/generators/USAGE
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/initializers/react_on_rails.rb.tt
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails/lib/react_on_rails/test_helper/webpack_assets_compiler.rb
  react_on_rails/spec/dummy/app/views/pages/client_side_manual_render.html.erb
Due: autofix, rubocop

docs: restore pro license cta targets
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/building-features/bundle-caching.md
  docs/oss/building-features/caching.md
  docs/oss/building-features/code-splitting.md
  docs/oss/building-features/node-renderer/debugging.md
  docs/oss/building-features/node-renderer/error-reporting-and-tracing.md
  docs/oss/building-features/node-renderer/heroku.md
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/oss/building-features/node-renderer/troubleshooting.md
  docs/oss/configuration/configuration-pro.md
  docs/pro/react-server-components/index.md
Due: prettier

docs: align node renderer basics pro link
  docs/oss/building-features/node-renderer/basics.md
Due: prettier

docs: replace dead pro.reactonrails.com links (#2851)
  README.md
  docs/oss/api-reference/ruby-api-pro.md
  docs/oss/api-reference/view-helpers-api.md
  docs/oss/building-features/bundle-caching.md
  docs/oss/building-features/caching.md
  docs/oss/building-features/code-splitting.md
  docs/oss/building-features/node-renderer/basics.md
  docs/oss/building-features/node-renderer/debugging.md
  docs/oss/building-features/node-renderer/error-reporting-and-tracing.md
  docs/oss/building-features/node-renderer/heroku.md
  docs/oss/building-features/node-renderer/js-configuration.md
  docs/oss/building-features/node-renderer/troubleshooting.md
  docs/oss/building-features/rails-webpacker-react-integration-options.md
  docs/oss/building-features/turbolinks.md
  docs/oss/configuration/configuration-pro.md
  docs/oss/getting-started/comparison-with-alternatives.md
  docs/oss/getting-started/oss-vs-pro.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/upgrading/release-notes/16.1.0.md
  docs/oss/upgrading/release-notes/16.2.0.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  docs/pro/react-server-components/index.md
  react_on_rails/lib/react_on_rails/utils.rb
Due: autofix, rubocop, prettier

docs: correct ReactOnRails.render API notes
  docs/oss/api-reference/rails-view-rendering-from-inline-javascript.md
Due: prettier

docs: align inline render example with prose
  docs/oss/api-reference/rails-view-rendering-from-inline-javascript.md
Due: prettier

docs: fix stale docs links and help URLs (#2850)
  AGENTS_USER_GUIDE.md
  docs/oss/api-reference/generator-details.md
  docs/oss/api-reference/rails-view-rendering-from-inline-javascript.md
  docs/oss/api-reference/redux-store-api.md
  docs/oss/building-features/how-to-conditionally-server-render-based-on-device-type.md
  docs/oss/configuration/README.md
  docs/oss/core-concepts/client-vs-server-rendering.md
  docs/oss/core-concepts/how-react-on-rails-works.md
  docs/oss/core-concepts/react-server-rendering.md
  docs/oss/deployment/server-rendering-tips.md
  docs/oss/deployment/troubleshooting.md
  docs/oss/getting-started/common-issues.md
  docs/oss/misc/style.md
  react_on_rails/lib/react_on_rails/configuration.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/packer_utils.rb
  react_on_rails/lib/react_on_rails/packs_generator.rb
  react_on_rails/lib/react_on_rails/server_rendering_js_code.rb
  react_on_rails/lib/tasks/generate_packs.rake
  react_on_rails/spec/dummy/spec/packs_generator_spec.rb
Due: autofix, rubocop, prettier
