Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

test(benchmark): cover route normalization, sanitization, and env_or_default
  benchmarks/spec/benchmark_config_spec.rb
  benchmarks/spec/benchmark_routes_spec.rb
Due: autofix, rubocop

test(benchmark): address review nits on env_or_default spec
  benchmarks/spec/benchmark_config_spec.rb
Due: autofix, rubocop

Docs: mark useRailsForm shipped in the migration guides (#3872 / #3942)
  docs/oss/migrating/migrating-from-inertia-rails.md
  docs/oss/migrating/migrating-from-nextjs.md
  docs/oss/migrating/rsc-data-fetching.md
  llms-full.txt
Due: prettier

ci(zizmor): hoist ZIZMOR_IMAGE to workflow-level env
  .github/workflows/zizmor.yml
Due: prettier

test(benchmark): cover route normalization, sanitization, and env_or_default (#4085)
  benchmarks/spec/benchmark_config_spec.rb
  benchmarks/spec/benchmark_routes_spec.rb
Due: autofix, rubocop

Docs: mark useRailsForm shipped in the migration guides (#4090)
  docs/oss/migrating/migrating-from-inertia-rails.md
  docs/oss/migrating/migrating-from-nextjs.md
  docs/oss/migrating/rsc-data-fetching.md
  llms-full.txt
Due: prettier

ci: add zizmor static analysis for GitHub Actions (#4083)
  .github/workflows/zizmor.yml
  .github/zizmor.yml
Due: prettier

Pin react-on-rails-rsc to stable 19.0.5 (#3634)
  CHANGELOG.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  llms-full-pro.txt
  package.json
  packages/react-on-rails-pro/package.json
  pnpm-lock.yaml
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop, prettier

Address PR #4080 review findings for the stable RSC pin (#3634)
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  llms-full-pro.txt
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop, prettier

fix(benchmarks): collapse double slash in locale-prefixed route paths
  benchmarks/lib/benchmark_routes.rb
  benchmarks/spec/benchmark_routes_spec.rb
Due: autofix, rubocop

fix(benchmark): collapse double slashes in route normalization (#4092)
  benchmarks/lib/benchmark_routes.rb
  benchmarks/spec/benchmark_routes_spec.rb
Due: autofix, rubocop

docs(agents): require per-worker worktree isolation in pr-batch
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
Due: prettier

fix(pro-license): check untracked new files, not just tracked ones
  script/check-pro-license-headers
Due: none

docs(agents): require per-worker worktree isolation in pr-batch (#4094)
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
Due: prettier

Pin react-on-rails-rsc to stable 19.0.5 (#4080)
  CHANGELOG.md
  docs/pro/react-server-components/create-without-ssr.md
  docs/pro/react-server-components/rspack-compatibility.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  llms-full-pro.txt
  package.json
  packages/react-on-rails-pro/package.json
  pnpm-lock.yaml
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop, prettier

Raise RSC peer recommendedMin to stable 19.0.5 (#3632)
  CHANGELOG.md
  packages/react-on-rails-pro-node-renderer/src/shared/rscPeerSupport.ts
  packages/react-on-rails-pro-node-renderer/tests/checkRscPeerCompatibility.test.ts
  packages/react-on-rails-pro-node-renderer/tests/runRscPeerCompatibilityCheck.test.ts
Due: eslint, prettier

Raise RSC peer recommendedMin to stable 19.0.5 (#4078)
  CHANGELOG.md
  packages/react-on-rails-pro-node-renderer/src/shared/rscPeerSupport.ts
  packages/react-on-rails-pro-node-renderer/tests/checkRscPeerCompatibility.test.ts
  packages/react-on-rails-pro-node-renderer/tests/runRscPeerCompatibilityCheck.test.ts
Due: eslint, prettier

Pin Pro react-on-rails-rsc peer to an explicit ^19.0.5 range (#3965)
  CHANGELOG.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  llms-full-pro.txt
  packages/react-on-rails-pro/package.json
Due: prettier

Correct ^19.0.5 peer-range wording in RSC docs and CHANGELOG (#4082)
  CHANGELOG.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  llms-full-pro.txt
Due: prettier

fix(pro): abort in-flight SSR render on client disconnect (#3885)
  CHANGELOG.md
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/streamClientDisconnectAbort.test.ts
  packages/react-on-rails-pro-node-renderer/tests/streamErrorHang.test.ts
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/capabilities/proRSC.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  packages/react-on-rails-pro/tests/consumerAbort.test.tsx
Due: eslint, prettier

fix(ci): send browser-like User-Agent in lychee link checker
  .lychee.toml
Due: none

fix(ci): bump lychee UA to current Chrome and note maintenance
  .lychee.toml
Due: none

fix(pro): abort in-flight SSR/RSC render on client disconnect (#4093)
  CHANGELOG.md
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/streamClientDisconnectAbort.test.ts
  packages/react-on-rails-pro-node-renderer/tests/streamErrorHang.test.ts
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/capabilities/proRSC.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  packages/react-on-rails-pro/tests/consumerAbort.test.tsx
Due: eslint, prettier

fix(ci): send browser-like User-Agent in lychee link checker (#4098)
  .lychee.toml
Due: none

AGENTS: add Tracking Issues And Handoffs hygiene policy
  .agents/skills/pr-batch/SKILL.md
  AGENTS.md
Due: prettier

Add bridge sentence between RSC pin notes (review nits, #4082)
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  llms-full-pro.txt
Due: prettier

Address review: de-hard-code ledger pointers, no-parent fallback, define heartbeat, sync to pr-processing.md
  .agents/workflows/pr-processing.md
  AGENTS.md
Due: prettier

Pin Pro react-on-rails-rsc peer to an explicit ^19.0.5 range (#4082)
  CHANGELOG.md
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  llms-full-pro.txt
  packages/react-on-rails-pro/package.json
Due: prettier

fix(pro-license): check untracked new files, not just tracked ones (#4095)
  script/check-pro-license-headers
Due: none

Address review: unify handoff blockquotes; route audit snapshots to ledger in post-merge-audit
  .agents/skills/post-merge-audit/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
Due: prettier

Release CI gate: evaluate last full-CI commit, not changelog/docs HEAD (#4070)
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

AGENTS: add Tracking Issues And Handoffs hygiene policy (#4099)
  .agents/skills/post-merge-audit/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  AGENTS.md
Due: prettier

docs(agents): codify review-loop convergence + local/CI parity
  .agents/skills/address-review/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
Due: prettier

Docs: make evidence gates auditable (#3985)
  .agents/skills/address-review/SKILL.md
  .agents/skills/evaluate-issue/SKILL.md
  .agents/skills/post-merge-audit/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/address-review.md
  .agents/workflows/evaluate-issue.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
Due: prettier

Address RSCProvider retry review nits
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
Due: eslint, prettier

Fix RSCProvider rejected promise retry
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
Due: eslint, prettier

fix: preserve rsc rejection retry semantics
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
Due: eslint, prettier

Clarify rejected RSC retry timing
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
Due: eslint, prettier

Clarify rejected RSC retry window
  packages/react-on-rails-pro/src/RSCProvider.tsx
Due: eslint, prettier

Clarify RSCProvider retry eviction timing
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
Due: eslint, prettier
