Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Remove broken links to files that don't exist on master yet
  docs/deployment/troubleshooting.md
Due: prettier

Add detailed FOUC reproduction and maintenance notes
  react_on_rails_pro/spec/dummy/app/views/layouts/_critical_styles.html.erb
Due: none

Fix FOUC prevention test to handle CSS inlining in CI
  react_on_rails_pro/spec/dummy/spec/system/integration_spec.rb
Due: autofix, rubocop

Refactor FOUC critical CSS to use semantic selectors
  docs/deployment/troubleshooting.md
  react_on_rails_pro/spec/dummy/app/views/layouts/_critical_styles.html.erb
  react_on_rails_pro/spec/dummy/app/views/layouts/application.html.erb
  react_on_rails_pro/spec/dummy/spec/system/integration_spec.rb
Due: autofix, rubocop, prettier

Add HMR detection comment documenting webpack and rspack support
  packages/react-on-rails-pro/src/ComponentRegistry.ts
  packages/react-on-rails-pro/src/StoreRegistry.ts
  packages/react-on-rails/src/ComponentRegistry.ts
  packages/react-on-rails/src/StoreRegistry.ts
Due: eslint, prettier

Assert critical_pos before ordering comparison in FOUC test
  react_on_rails_pro/spec/dummy/spec/system/integration_spec.rb
Due: autofix, rubocop

Fix FOUC in Pro spec/dummy app by inlining critical CSS (#2336)
  docs/core-concepts/auto-bundling-file-system-based-automated-bundle-generation.md
  docs/deployment/troubleshooting.md
  react_on_rails_pro/spec/dummy/app/views/layouts/_critical_styles.html.erb
  react_on_rails_pro/spec/dummy/app/views/layouts/application.html.erb
  react_on_rails_pro/spec/dummy/spec/system/integration_spec.rb
Due: autofix, rubocop, prettier

Remove overly broad HMR suppression of duplicate registration errors
  packages/react-on-rails-pro/src/ComponentRegistry.ts
  packages/react-on-rails-pro/src/StoreRegistry.ts
  packages/react-on-rails/src/ComponentRegistry.ts
  packages/react-on-rails/src/StoreRegistry.ts
Due: eslint, prettier

Add documentation for database connectivity check opt-out
  docs/building-features/process-managers.md
  docs/configuration/README.md
Due: prettier

Update bin/dev step list to include database check
  docs/building-features/process-managers.md
Due: prettier

fix: update shakapacker to 9.5.0 in execjs-compatible-dummy
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: prettier

Fix inaccurate commands and stale references in agent/contributor docs
  .claude/docs/testing-build-scripts.md
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
Due: prettier

chore: group shakapacker Dependabot updates across gem and npm
  .github/dependabot.yml
Due: prettier

Add comments explaining reference comparison design for HMR
  packages/react-on-rails-pro/src/ComponentRegistry.ts
  packages/react-on-rails-pro/src/StoreRegistry.ts
  packages/react-on-rails/src/ComponentRegistry.ts
  packages/react-on-rails/src/StoreRegistry.ts
Due: eslint, prettier

Handle missing Bencher baseline gracefully in benchmark workflow
  .github/workflows/benchmark.yml
Due: prettier

Tighten 404 handling and include hash in warning
  .github/workflows/benchmark.yml
Due: prettier

Remove yalc dependency, use pnpm workspaces for dummy apps
  .github/workflows/benchmark.yml
  .github/workflows/examples.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/package-js-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
  .npmrc
  CONTRIBUTING.md
  bin/setup
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/rakelib/dummy_apps.rake
  react_on_rails/rakelib/node_package.rake
  react_on_rails/rakelib/shakapacker_examples.rake
  react_on_rails/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/execjs-compatible-dummy/package.json
Due: autofix, rubocop, prettier

Add support for pnpm workspace protocol in version checker
  react_on_rails/lib/react_on_rails/version_checker.rb
  react_on_rails/spec/react_on_rails/fixtures/workspace_protocol_package.json
  react_on_rails/spec/react_on_rails/version_checker_spec.rb
Due: autofix, rubocop, prettier

Fix pnpm workspace commands in CI workflows
  .github/workflows/integration-tests.yml
  .github/workflows/precompile-check.yml
Due: prettier

Add dummy apps to pnpm workspace
  pnpm-workspace.yaml
Due: prettier

Fix Dummy JS tests to use pnpm --filter
  .github/workflows/integration-tests.yml
Due: prettier

Update pnpm-lock.yaml for new workspace members
  pnpm-lock.yaml
Due: prettier

Update dev_tests_generator_spec to match new file path dependency
  react_on_rails/spec/react_on_rails/generators/dev_tests_generator_spec.rb
Due: autofix, rubocop

Replace yalc with file path reference in dev_tests generator
  react_on_rails/lib/generators/react_on_rails/dev_tests_generator.rb
Due: autofix, rubocop

Add workspace build steps and fix pnpm workspace issues
  .github/workflows/benchmark.yml
  .github/workflows/examples.yml
  .github/workflows/integration-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
  react_on_rails/rakelib/dummy_apps.rake
  react_on_rails/spec/dummy/pnpm-lock.yaml
  react_on_rails_pro/spec/dummy/pnpm-lock.yaml
Due: autofix, rubocop, prettier

Harden dummy webpack aliases for React subpath resolution
  react_on_rails/spec/dummy/config/webpack/alias.js
  react_on_rails_pro/spec/dummy/config/webpack/alias.js
Due: eslint, prettier

Fix pnpm workspace CI failures: duplicate React, rescript, and RSC plugin
  package.json
  pnpm-lock.yaml
  react_on_rails/rakelib/shakapacker_examples.rake
  react_on_rails/spec/dummy/config/webpack/alias.js
  react_on_rails/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/config/webpack/alias.js
  react_on_rails_pro/spec/dummy/config/webpack/clientWebpackConfig.js
  react_on_rails_pro/spec/dummy/config/webpack/serverWebpackConfig.js
Due: autofix, rubocop, eslint, prettier

Fix pnpm workspace CI: exec commands and RSC react-server condition
  .github/workflows/playwright.yml
  .github/workflows/pro-integration-tests.yml
  react_on_rails/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/config/webpack/rscWebpackConfig.js
Due: eslint, prettier

Strengthen CI with React-resolution and pack generation guards
  .github/workflows/integration-tests.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
  script/check-single-react-resolution.mjs
Due: prettier

Use npx for workspace member scripts to fix binary resolution
  react_on_rails/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/package.json
Due: prettier

Fix relative_path to use dirname instead of fragile sub("../", "")
  react_on_rails/lib/react_on_rails/packs_generator.rb
Due: autofix, rubocop

Fix Pro dummy install, scope root test script, preserve React 18 coverage
  .claude/docs/project-architecture.md
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
  package.json
  pnpm-lock.yaml
  react_on_rails_pro/rakelib/dummy_apps.rake
  script/check-react-major-version.mjs
Due: autofix, rubocop, prettier

Use global React override with execjs exception to fix dual resolution
  .claude/docs/project-architecture.md
  package.json
  pnpm-lock.yaml
Due: prettier

Address PR review: revert unrelated V8 pin, extract rootNodeModules
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-lint.yml
  .github/workflows/pro-test-package-and-gem.yml
  react_on_rails/spec/dummy/config/webpack/alias.js
  react_on_rails_pro/spec/dummy/config/webpack/alias.js
Due: eslint, prettier

Address PR review: add workspace:^ test, document override coupling, improve error handling
  package.json
  react_on_rails/spec/react_on_rails/fixtures/workspace_caret_package.json
  react_on_rails/spec/react_on_rails/version_checker_spec.rb
  script/check-react-major-version.mjs
Due: autofix, rubocop, prettier

Fix ESLint consistent-return error in check-react-major-version
  script/check-react-major-version.mjs
Due: none

Remove //app-overrides comment key from pnpm overrides
  package.json
Due: prettier

Update Claude Code Review model to Opus 4.6
  .github/workflows/claude-code-review.yml
Due: prettier

Remove explicit model pin, use default (latest)
  .github/workflows/claude-code-review.yml
Due: prettier

Use centralized Claude Code Review workflow from shakacode/.github
  .github/workflows/claude-code-review.yml
Due: prettier
