Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Restore confirmed benchmark fallback summary
  benchmarks/lib/track_benchmarks/regression_payloads.rb
  benchmarks/lib/track_benchmarks/summary.rb
  benchmarks/spec/track_benchmarks/regression_payloads_spec.rb
Due: autofix, rubocop

Harden sync marker lexer review cases
  .github/workflows/check-sync-markers.yml
  bin/lint-sync-markers
Due: prettier

Tighten benchmark CLI event handling
  benchmarks/lib/track_benchmarks/cli.rb
  benchmarks/spec/track_benchmarks/cli_spec.rb
Due: autofix, rubocop

Address final sync marker review nits
  .github/workflows/check-sync-markers.yml
  bin/lint-sync-markers
Due: prettier

Use lexer state for trailing block comments
  bin/lint-sync-markers
Due: none

Propagate benchmark CLI env injection
  benchmarks/lib/track_benchmarks/cli.rb
  benchmarks/spec/track_benchmarks/cli_spec.rb
  benchmarks/track_benchmarks.rb
Due: autofix, rubocop

Handle multiline sync marker guards
  bin/lint-sync-markers
Due: none

docs: centralize simplify gate guidance
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  internal/contributor-info/agent-pr-batch-skills.md
Due: prettier

Tighten sync marker review follow-ups
  .github/workflows/check-sync-markers.yml
  bin/lint-sync-markers
Due: prettier

Docs: centralize simplify gate guidance (#4180)
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  internal/contributor-info/agent-pr-batch-skills.md
Due: prettier

Harden sync marker lexer edge cases
  bin/lint-sync-markers
Due: none

fix(docs): repair broken RSC success-stories results table
  docs/pro/react-server-components/success-stories.md
  llms-full-pro.txt
Due: prettier

fix(docs): repair broken RSC success-stories results table (#4183)
  docs/pro/react-server-components/success-stories.md
  llms-full-pro.txt
Due: prettier

Fix precompile hook crash under non-UTF-8 locale for Pro subprocesses
  CHANGELOG.md
  react_on_rails/spec/react_on_rails/shakapacker_precompile_hook_shared_spec.rb
  react_on_rails/spec/support/shakapacker_precompile_hook_shared.rb
Due: autofix, rubocop, prettier

Address review: guard RUBYOPT dup + assert UTF-8 env on RSC discovery
  react_on_rails/spec/react_on_rails/shakapacker_precompile_hook_shared_spec.rb
  react_on_rails/spec/support/shakapacker_precompile_hook_shared.rb
Due: autofix, rubocop

Skip bounded cache test in minimum dependency conversion
  script/convert
Due: none

docs: add JSON gem upgrade recommendation for faster serialization
  .claude/docs/json-gem-benchmark-findings.md
  docs/oss/core-concepts/performance-benchmarks.md
Due: prettier

chore(deps): bump react-on-rails-rsc CI soak pin to 19.2.0-rc.4
  package.json
  pnpm-lock.yaml
  react_on_rails_pro/spec/dummy/package.json
Due: prettier

Fix precompile hook crash under non-UTF-8 locale for Pro subprocesses (#4169)
  CHANGELOG.md
  react_on_rails/spec/react_on_rails/shakapacker_precompile_hook_shared_spec.rb
  react_on_rails/spec/support/shakapacker_precompile_hook_shared.rb
Due: autofix, rubocop, prettier

chore(deps): bump react-on-rails-rsc CI soak pin to 19.2.0-rc.4 (#4186)
  package.json
  pnpm-lock.yaml
  react_on_rails_pro/spec/dummy/package.json
Due: prettier

Fix minimum dependency Pro test selection on Node 20 (#4184)
  script/convert
Due: none

fix: format docs and regenerate llms-full.txt
  .claude/docs/json-gem-benchmark-findings.md
  docs/oss/core-concepts/performance-benchmarks.md
  llms-full.txt
Due: prettier

fix: correct performance savings estimate to 3-4 ms/MB
  benchmark_bundled_json.rb
  benchmark_json_serialization.rb
  benchmark_json_versions.rb
  benchmark_multiversion.rb
  benchmark_old_json.rb
  docs/oss/core-concepts/performance-benchmarks.md
  llms-full.txt
  run_multiversion_benchmark.sh
Due: autofix, rubocop, prettier

chore: remove benchmark scripts (investigation artifacts)
  benchmark_bundled_json.rb
  benchmark_json_serialization.rb
  benchmark_json_versions.rb
  benchmark_multiversion.rb
  benchmark_old_json.rb
  run_multiversion_benchmark.sh
Due: autofix, rubocop

docs: add JSON gem upgrade recommendation for faster serialization (#4185)
  .claude/docs/json-gem-benchmark-findings.md
  docs/oss/core-concepts/performance-benchmarks.md
  llms-full.txt
Due: prettier

Add executable release/* promotion path + CI-tip gate (#4000 follow-up) (#4122)
  .github/actions/hosted-ci-selectors/action.yml
  .github/read-me.md
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/package-js-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
  AGENTS.md
  CONTRIBUTING.md
  internal/contributor-info/ci-optimization.md
  internal/contributor-info/release-train-runbook.md
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop, prettier

Rename "sync markers" lint to "mirrored blocks"
  .github/workflows/check-mirrored-blocks.yml
  bin/lint-mirrored-blocks
  packages/react-on-rails-pro/src/ClientSideRenderer.ts
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/capabilities/core.ts
Due: eslint, prettier

chore(deps): bump @babel/core and form-data (npm-security group)
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  pnpm-lock.yaml
  react_on_rails/spec/dummy/package.json
Due: prettier

chore(deps): bump @babel/core and form-data (npm-security group) (#4188)
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  pnpm-lock.yaml
  react_on_rails/spec/dummy/package.json
Due: prettier

[Pro] Evict rejected RSCProvider getComponent promises so transient failures retry
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
Due: eslint, prettier

[Pro] Add CHANGELOG entry for RSCProvider rejected-promise eviction (#4189)
  CHANGELOG.md
Due: prettier

docs: add Mermaid diagrams to release-train runbook
  internal/contributor-info/release-train-runbook.md
Due: prettier

[Pro] Strengthen RSC retry test 0c to flush the eviction timer before asserting
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
Due: eslint, prettier

docs: address review nits on runbook diagrams
  internal/contributor-info/release-train-runbook.md
Due: prettier

docs: clarify step-3/step-5 forward-port labels in runbook flow diagram
  internal/contributor-info/release-train-runbook.md
Due: prettier

docs: add the "cannot determine target" exit to the gate diagram
  internal/contributor-info/release-train-runbook.md
Due: prettier

Add mirrored-blocks lint gate (#4175)
  .github/workflows/check-mirrored-blocks.yml
  bin/lint-mirrored-blocks
  packages/react-on-rails-pro/src/ClientSideRenderer.ts
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/capabilities/core.ts
Due: eslint, prettier

[Pro] Fix RSCProvider retry after a rejected getComponent promise (#4189)
  CHANGELOG.md
  packages/react-on-rails-pro/src/RSCProvider.tsx
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
Due: eslint, prettier

Fix vendored seam-doctor crash under a non-UTF-8 locale
  .agents/bin/agent-workflow-seam-doctor
  .agents/bin/agent-workflow-seam-doctor-test.rb
Due: autofix, rubocop

docs: add Mermaid diagrams to release-train runbook (#4190)
  internal/contributor-info/release-train-runbook.md
Due: prettier
