Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Handle empty normalized shakapacker config path
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

fix: preserve runtime env vars across Bundler.with_unbundled_env in ProcessManager
  react_on_rails/lib/react_on_rails/dev/process_manager.rb
Due: autofix, rubocop

fix(test): update system call expectation to include env hash argument
  react_on_rails/spec/react_on_rails/dev/process_manager_spec.rb
Due: autofix, rubocop

Address review: move constant to class level, add env preservation tests, update RBS
  react_on_rails/lib/react_on_rails/dev/process_manager.rb
  react_on_rails/sig/react_on_rails/dev/process_manager.rbs
  react_on_rails/spec/react_on_rails/dev/process_manager_spec.rb
Due: autofix, rubocop

Address review feedback: exact pin, fix RSC install commands
  docs/oss/api-reference/generator-details.md
  docs/pro/react-server-components/create-without-ssr.md
Due: prettier

Address PR review feedback on docs consistency
  docs/oss/getting-started/comparing-react-on-rails-to-alternatives.md
  docs/oss/getting-started/create-react-on-rails-app.md
  docs/oss/getting-started/quick-start.md
  docs/oss/introduction.md
Due: prettier

Clarify generator-details Pro prerequisite allows 16.4.0 or later
  docs/oss/api-reference/generator-details.md
Due: prettier

Bump remaining 16.2.0+ version floors to 16.4.0+ in docs
  docs/oss/building-features/extensible-precompile-pattern.md
  docs/oss/building-features/i18n.md
  docs/oss/deployment/troubleshooting-build-errors.md
Due: prettier

Specify 16.4.0 or greater in Pro installation version format section
  docs/pro/installation.md
Due: prettier

Use runtime React on Rails config in doctor diagnostics
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Address doctor runtime-config review findings
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Refine doctor runtime config reporting and memoization
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, eslint, prettier

Fix doctor runtime fallback gaps and clear lint regressions
  packages/create-react-on-rails-app/src/create-app.ts
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop, eslint, prettier

Reduce doctor runtime noise and centralize defaults
  react_on_rails/lib/react_on_rails/configuration.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Clarify doctor runtime-reporting intent in comments
  react_on_rails/lib/react_on_rails/doctor.rb
Due: autofix, rubocop

Replace nested ternaries in create-app CLI flow
  packages/create-react-on-rails-app/src/create-app.ts
  packages/create-react-on-rails-app/src/index.ts
Due: eslint, prettier

Reduce runtime doctor noise and clarify renderer diagnostics
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Refine doctor runtime reporting defaults
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Harden doctor runtime config diagnostics
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

avoid repeated shakapacker load retries in doctor checks
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
Due: autofix, rubocop

Keep explicit shakapacker config paths authoritative
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Align bundler config path resolution semantics
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Clean up checker path resolution helpers
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
Due: autofix, rubocop

Refine doctor bundler config detection fallbacks
  packages/create-react-on-rails-app/src/create-app.ts
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop, eslint, prettier

Honor configured bundler for discovered config candidates
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Improve doctor webpack config discovery and diagnostics
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Tighten doctor fallback checks and path normalization
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
Due: autofix, rubocop

Fix doctor specs for renamed config directory helper
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Handle custom config edge cases in doctor path diagnostics
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
Due: autofix, rubocop

Refine config path normalization and bundler path helpers
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

harden doctor shakapacker path handling and bundler hints
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

document doctor config resolution edge cases
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
Due: autofix, rubocop

Require explicit shakapacker bundler path when configured
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

clarify doctor fallback behavior and logging visibility
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
Due: autofix, rubocop

Align doctor bundler path detection with custom shakapacker configs
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Avoid ternary in pro mode label assignment
  packages/create-react-on-rails-app/src/create-app.ts
Due: eslint, prettier

fix doctor bundler path classification edge cases
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/lib/react_on_rails/system_checker_spec.rb
Due: autofix, rubocop

Refine doctor bundler diagnostics follow-up
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/system_checker.rb
Due: autofix, rubocop

Refine bundler-path resolution edge cases
  react_on_rails/lib/react_on_rails/system_checker.rb
Due: autofix, rubocop

Refine config path resolution and bundler diagnostics
  react_on_rails/lib/react_on_rails/config_path_resolver.rb
  react_on_rails/lib/react_on_rails/doctor.rb
Due: autofix, rubocop

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
