Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Move Node tsconfigs from @tsconfig/node14 to @tsconfig/node18 (#4410)
  package.json
  packages/react-on-rails-pro-node-renderer/src/tsconfig.json
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  pnpm-lock.yaml
  tsconfig.json
Due: eslint, prettier

Extend check-mirrored-blocks.yml path filters to cover all MIRROR_ROOTS (#4412)
  .github/workflows/check-mirrored-blocks.yml
Due: prettier

Add mechanical parity guards for Ruby<->TS protocol constants (#4412)
  bin/lint-mirrored-blocks
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/streamingUtils.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails/src/ClientRenderer.ts
  react_on_rails/lib/react_on_rails/length_prefixed_parser.rb
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
Due: autofix, rubocop, eslint, prettier

Harden mirrored-blocks test, tighten TS guard region, wire test into CI (#4412)
  .github/workflows/git-diff-base-tests.yml
  packages/react-on-rails-pro-node-renderer/src/worker/streamingUtils.ts
  script/lint-mirrored-blocks-test.bash
Due: eslint, prettier

Fix stacked MIRROR VALUES OF: markers leaking tokens into value set (#4412)
  bin/lint-mirrored-blocks
  script/lint-mirrored-blocks-test.bash
Due: none

Remove inert config.server_render_method option (#4415) (#4423)
  CHANGELOG.md
  docs/oss/configuration/README.md
  docs/oss/deployment/troubleshooting.md
  llms-full.txt
  react_on_rails/lib/react_on_rails/configuration.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/sig/react_on_rails/configuration.rbs
  react_on_rails/spec/lib/react_on_rails/doctor_spec.rb
  react_on_rails/spec/react_on_rails/configuration_spec.rb
Due: autofix, rubocop, prettier

Remove obsolete Ruby<2.6 YAML-aliases capability shim (#4417) (#4428)
  react_on_rails/lib/generators/react_on_rails/shakapacker_precompile_hook_helper.rb
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop

Fix scheduler-safe upload and close waits
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/sig/react_on_rails_pro/renderer_http_client.rbs
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop

Strip comments before extracting value-region literals (#4412)
  bin/lint-mirrored-blocks
  script/lint-mirrored-blocks-test.bash
Due: none

Fix stale renderer client cleanup failures
  react_on_rails_pro/lib/react_on_rails_pro/renderer_http_client.rb
  react_on_rails_pro/spec/react_on_rails_pro/renderer_http_client_spec.rb
Due: autofix, rubocop

Extract install_dependency_group helper in JsDependencyManager (#4403) (#4424)
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop

Extract generator scan/tracking helpers (#4405) (#4430)
  react_on_rails/lib/generators/react_on_rails/pro_generator.rb
  react_on_rails/lib/generators/react_on_rails/rsc_setup/client_references.rb
Due: autofix, rubocop

Delete finished #3313 Prism Gemfile-rewriter spike (#4421)
  react_on_rails/.rubocop.yml
  react_on_rails/spike/3313_prism_gemfile_rewriter/DECISION.md
  react_on_rails/spike/3313_prism_gemfile_rewriter/README.md
  react_on_rails/spike/3313_prism_gemfile_rewriter/benchmark.rb
  react_on_rails/spike/3313_prism_gemfile_rewriter/prism_gemfile_rewriter.rb
  react_on_rails/spike/3313_prism_gemfile_rewriter/prism_gemfile_rewriter_spec.rb
Due: autofix, rubocop, prettier

[Pro] Remove unused addressable and rainbow runtime deps from gemspec (#4416) (#4422)
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/react_on_rails_pro.gemspec
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: none

Remove dead methods and prune always-false Rails<5.0 spec branches
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails/lib/react_on_rails/utils.rb
  react_on_rails/sig/react_on_rails/utils.rbs
  react_on_rails/spec/dummy/spec/requests/server_render_check_spec.rb
  react_on_rails_pro/spec/dummy/spec/requests/server_render_check_spec.rb
Due: autofix, rubocop

Remove pull_enabled? and relocate rails_version_less_than to rakelib
  react_on_rails/lib/react_on_rails/utils.rb
  react_on_rails/rakelib/example_type.rb
  react_on_rails/sig/react_on_rails/utils.rbs
  react_on_rails/spec/react_on_rails/utils_spec.rb
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop

Move Node tsconfigs from @tsconfig/node14 to @tsconfig/node18 (#4410) (#4429)
  package.json
  packages/react-on-rails-pro-node-renderer/src/tsconfig.json
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  pnpm-lock.yaml
  tsconfig.json
Due: eslint, prettier

Drop deprecation-tombstone config options for 17.0.0 (#4419)
  CHANGELOG.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  llms-full.txt
  react_on_rails/lib/react_on_rails/configuration.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/sig/react_on_rails/configuration.rbs
  react_on_rails/spec/react_on_rails/configuration_spec.rb
Due: autofix, rubocop, prettier

Add mechanical parity guards for Ruby↔TS protocol constants (#4412) (#4427)
  .github/workflows/check-mirrored-blocks.yml
  .github/workflows/git-diff-base-tests.yml
  bin/lint-mirrored-blocks
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/streamingUtils.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails/src/ClientRenderer.ts
  react_on_rails/lib/react_on_rails/length_prefixed_parser.rb
  react_on_rails_pro/lib/react_on_rails_pro/license_validator.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  script/lint-mirrored-blocks-test.bash
Due: autofix, rubocop, eslint, prettier

Correct CHANGELOG PR link to #4432
  CHANGELOG.md
Due: prettier

Reframe removed config options in config-reference docs (#4419 step 5)
  docs/oss/configuration/README.md
  docs/oss/configuration/configuration-deprecated.md
  llms-full.txt
Due: prettier

Avoid repeated asset upload hashing
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/sig/react_on_rails_pro/renderer_http_client.rbs
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop

Drop deprecation-tombstone config options for 17.0.0 (#4419) (#4432)
  CHANGELOG.md
  docs/oss/configuration/README.md
  docs/oss/configuration/configuration-deprecated.md
  docs/oss/upgrading/upgrading-react-on-rails.md
  llms-full.txt
  react_on_rails/lib/react_on_rails/configuration.rb
  react_on_rails/lib/react_on_rails/doctor.rb
  react_on_rails/sig/react_on_rails/configuration.rbs
  react_on_rails/spec/react_on_rails/configuration_spec.rb
Due: autofix, rubocop, prettier

Remove dead methods; prune always-false Rails<5.0 spec branches (#4418) (#4431)
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails/lib/react_on_rails/utils.rb
  react_on_rails/rakelib/example_type.rb
  react_on_rails/sig/react_on_rails/utils.rbs
  react_on_rails/spec/dummy/spec/requests/server_render_check_spec.rb
  react_on_rails/spec/react_on_rails/utils_spec.rb
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/spec/dummy/spec/requests/server_render_check_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop

Wire eslint-rules RuleTester suite into a runner, CI, and knip (#4409)
  .github/workflows/lint-js-and-ruby.yml
  knip.ts
  package.json
Due: eslint, prettier

Document RSC public-page validation and sidecar patterns (#4387)
  docs/oss/core-concepts/performance-benchmarks.md
  docs/oss/migrating/migrating-to-rsc.md
  docs/oss/migrating/rsc-flight-payload.md
  docs/oss/migrating/rsc-performance-validation.md
  docs/oss/migrating/rsc-static-shell-sidecar.md
  docs/oss/migrating/rsc-troubleshooting.md
  docs/pro/react-server-components/index.md
  docs/sidebars.ts
  llms-full-pro.txt
  llms-full.txt
Due: eslint, prettier

Avoid full locale default obsolete scans (#4398)
  react_on_rails/lib/react_on_rails/locales/to_js.rb
  react_on_rails/spec/react_on_rails/locales_to_js_spec.rb
Due: autofix, rubocop

Preserve tag index retry registrations
  react_on_rails_pro/lib/react_on_rails_pro/cache/tag_index.rb
  react_on_rails_pro/spec/react_on_rails_pro/cache/tag_index_spec.rb
Due: autofix, rubocop

Fix visible hydration cleanup for detached roots (#4374)
  packages/react-on-rails/src/ClientRenderer.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
Due: eslint, prettier

Handle fire-and-forget RSCRoute retry failures (#4378)
  packages/react-on-rails-pro/src/RSCRoute.tsx
  packages/react-on-rails-pro/tests/imperativeRefetch.client.test.tsx
Due: eslint, prettier

Wire eslint-rules RuleTester suite into a runner, CI, and knip (#4409) (#4433)
  .github/workflows/lint-js-and-ruby.yml
  knip.ts
  package.json
Due: eslint, prettier

Remove pre-monorepo node-renderer devDep baggage; consolidate test multipart builders
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/tests/formAutoContent.ts
  packages/react-on-rails-pro-node-renderer/tests/healthEndpoints.test.ts
  packages/react-on-rails-pro-node-renderer/tests/uploadRaceCondition.test.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
  pnpm-lock.yaml
Due: eslint, prettier

Delegate deprecated base/ shims to capabilities/ instead of cloning
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/base/full.rsc.ts
  packages/react-on-rails/src/base/full.ts
  packages/react-on-rails/src/capabilities/core.ts
Due: eslint, prettier

Harden formAutoContent shim: falsy value wrappers + urlencoded unwrap
  packages/react-on-rails-pro-node-renderer/tests/formAutoContent.test.ts
  packages/react-on-rails-pro-node-renderer/tests/formAutoContent.ts
Due: eslint, prettier

Pin base shim Pro-method list to the type with a compile-time drift guard
  packages/react-on-rails/src/base/client.ts
Due: eslint, prettier

Delete never-wired RenderRequest/JsCodeBuilder/RenderingStrategy layer
  CHANGELOG.md
  react_on_rails/Steepfile
  react_on_rails/lib/react_on_rails.rb
  react_on_rails/lib/react_on_rails/configuration.rb
  react_on_rails/lib/react_on_rails/js_code_builder.rb
  react_on_rails/lib/react_on_rails/render_request.rb
  react_on_rails/lib/react_on_rails/rendering_strategy.rb
  react_on_rails/lib/react_on_rails/rendering_strategy/exec_js_strategy.rb
  react_on_rails/sig/react_on_rails.rbs
  react_on_rails/sig/react_on_rails/js_code_builder.rbs
  react_on_rails/sig/react_on_rails/render_request.rbs
  react_on_rails/sig/react_on_rails/rendering_strategy.rbs
  react_on_rails/sig/react_on_rails/rendering_strategy/exec_js_strategy.rbs
  react_on_rails/spec/react_on_rails/js_code_builder_spec.rb
  react_on_rails/spec/react_on_rails/render_request_spec.rb
  react_on_rails/spec/react_on_rails/rendering_strategy/exec_js_strategy_spec.rb
  react_on_rails_pro/lib/react_on_rails_pro.rb
  react_on_rails_pro/lib/react_on_rails_pro/engine.rb
  react_on_rails_pro/lib/react_on_rails_pro/js_code_builder.rb
  react_on_rails_pro/lib/react_on_rails_pro/rendering_strategy/node_strategy.rb
Due: autofix, rubocop, prettier

Preserve scheduled restart classification after worker errors
  packages/react-on-rails-pro-node-renderer/src/master/restartWorkers.ts
  packages/react-on-rails-pro-node-renderer/tests/restartWorkers.test.ts
Due: eslint, prettier

Correct CHANGELOG PR reference to 4437
  CHANGELOG.md
Due: prettier

Clarify graceful shutdown ACK drain semantics
  packages/react-on-rails-pro-node-renderer/src/master.ts
Due: eslint, prettier

Keep scheduled restart timeout active after worker errors
  packages/react-on-rails-pro-node-renderer/src/master/restartWorkers.ts
  packages/react-on-rails-pro-node-renderer/tests/restartWorkers.test.ts
Due: eslint, prettier
