Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

test(pro): address harness merge blockers
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/scripts/load/README.md
  react_on_rails_pro/scripts/load/lib/runner.rb
  react_on_rails_pro/scripts/load/lib/scenario_registry.rb
  react_on_rails_pro/scripts/load/lib/scenarios/incremental_async.rb
  react_on_rails_pro/spec/load/config_spec.rb
  react_on_rails_pro/spec/load/runner_spec.rb
Due: autofix, rubocop, prettier

test(pro): address harness stability reviews
  react_on_rails_pro/lib/react_on_rails_pro/constants.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/scripts/load/lib/harness.rb
  react_on_rails_pro/scripts/load/lib/runner.rb
  react_on_rails_pro/scripts/load/lib/scenarios/base.rb
  react_on_rails_pro/spec/load/base_spec.rb
  react_on_rails_pro/spec/load/harness_spec.rb
  react_on_rails_pro/spec/load/runner_spec.rb
  react_on_rails_pro/spec/load/streaming_render_spec.rb
Due: autofix, rubocop

fix(node-renderer): harden opentelemetry review paths
  docs/pro/node-renderer.md
  docs/superpowers/specs/2026-05-21-otel-node-renderer-design.md
  packages/react-on-rails-pro-node-renderer/src/integrations/api.ts
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/src/shared/tracing.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/fastifyConfig.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleGracefulShutdown.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/handleGracefulShutdown.test.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-init.test.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry.test.ts
  packages/react-on-rails-pro-node-renderer/tests/shared/subSpan.test.ts
Due: eslint, prettier

docs: define security-supported versions policy (#3261) (#3341)
  .claude/docs/changelog-guidelines.md
  SECURITY.md
  internal/contributor-info/releasing.md
Due: prettier

fix(node-renderer): reset opentelemetry init on close
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-init.test.ts
Due: eslint, prettier

Restructure changelog curation guidance for prerelease-to-stable releases
  .claude/commands/update-changelog.md
Due: prettier

test(pro): address streamed payload review followups
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/scripts/load/lib/memory_sampler.rb
  react_on_rails_pro/scripts/load/lib/scenarios/base.rb
  react_on_rails_pro/spec/load/base_spec.rb
  react_on_rails_pro/spec/load/memory_sampler_spec.rb
  react_on_rails_pro/spec/load/streaming_render_spec.rb
Due: autofix, rubocop

docs(generator): record pnpm fallback bump policy and last-checked date (#3248) (#3328)
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop

fix(node-renderer): finish opentelemetry review fixes
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/src/shared/tracing.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-init.test.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry.test.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

Clarify public RSC demo navigation
  docs/pro/react-on-rails-pro.md
  docs/pro/react-server-components/index.md
Due: prettier

Clarify Pro license monitoring examples
  docs/pro/installation.md
Due: prettier

test(pro): address final harness review nits
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/scripts/load/lib/config.rb
  react_on_rails_pro/scripts/load/lib/runner.rb
  react_on_rails_pro/spec/load/config_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_request_spec.rb
Due: autofix, rubocop

fix(node-renderer): finalize opentelemetry review fixes
  docs/pro/node-renderer.md
  docs/superpowers/specs/2026-05-21-otel-node-renderer-design.md
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/src/shared/opentelemetryState.ts
  packages/react-on-rails-pro-node-renderer/src/testUtils/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/src/worker/fastifyConfig.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-init.test.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry.test.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix(node-renderer): unregister opentelemetry Fastify hooks
  docs/superpowers/specs/2026-05-21-otel-node-renderer-design.md
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/src/worker/fastifyConfig.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-init.test.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry.test.ts
Due: eslint, prettier

fix(node-renderer): avoid orphan opentelemetry subspans
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry.test.ts
Due: eslint, prettier

docs(node-renderer): note opentelemetry patch rollback limit
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
Due: eslint, prettier

test(pro): address final stream harness review
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/scripts/load/lib/config.rb
  react_on_rails_pro/scripts/load/lib/harness.rb
  react_on_rails_pro/scripts/load/lib/scenarios/base.rb
  react_on_rails_pro/spec/load/config_spec.rb
  react_on_rails_pro/spec/load/harness_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_request_spec.rb
Due: autofix, rubocop

Clarify public RSC demo links
  docs/README.md
  docs/pro/react-server-components/index.md
Due: prettier

Handle license expiration date examples
  docs/pro/installation.md
Due: prettier

docs: track CI_PNPM_FALLBACK_VERSION bumps in CONTRIBUTING (#3264)
  CONTRIBUTING.md
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop, prettier

fix(node-renderer): close opentelemetry review gaps
  docs/pro/node-renderer.md
  docs/superpowers/specs/2026-05-21-otel-node-renderer-design.md
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/src/shared/tracing.ts
  packages/react-on-rails-pro-node-renderer/src/testUtils/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/src/worker/fastifyConfig.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry-init.test.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry.test.ts
Due: eslint, prettier

Clarify pnpm fallback maintenance guidance
  CONTRIBUTING.md
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
Due: autofix, rubocop, prettier

Clarify pnpm fallback maintenance notes
  CONTRIBUTING.md
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop, prettier

Clarify pnpm fallback maintenance notes
  CONTRIBUTING.md
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
Due: autofix, rubocop, prettier

fix(node-renderer): align opentelemetry api range
  docs/superpowers/specs/2026-05-21-otel-node-renderer-design.md
  packages/react-on-rails-pro-node-renderer/package.json
  pnpm-lock.yaml
Due: prettier

fix(node-renderer): keep opentelemetry test helpers out of knip
  knip.ts
Due: eslint, prettier

test(pro): address streaming harness review
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/scripts/load/lib/reporters/csv_reporter.rb
  react_on_rails_pro/scripts/load/lib/runner.rb
  react_on_rails_pro/scripts/load/lib/scenarios/streaming_render.rb
  react_on_rails_pro/spec/load/reporters_spec.rb
  react_on_rails_pro/spec/load/streaming_render_spec.rb
Due: autofix, rubocop

fix(node-renderer): honor opentelemetry resource service name
  docs/pro/node-renderer.md
  docs/superpowers/specs/2026-05-21-otel-node-renderer-design.md
  packages/react-on-rails-pro-node-renderer/src/integrations/opentelemetry.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/integrations/opentelemetry.test.ts
Due: eslint, prettier

test(pro): handle harness shutdown review
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/scripts/load/README.md
  react_on_rails_pro/scripts/load/lib/memory_sampler.rb
  react_on_rails_pro/scripts/load/lib/runner.rb
  react_on_rails_pro/scripts/load/lib/scenarios/incremental_async.rb
  react_on_rails_pro/spec/load/memory_sampler_spec.rb
  react_on_rails_pro/spec/load/runner_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_request_spec.rb
Due: autofix, rubocop, prettier

docs: track CI_PNPM_FALLBACK_VERSION bumps in CONTRIBUTING (#3264) (#3346)
  CONTRIBUTING.md
  react_on_rails/lib/generators/react_on_rails/install_generator.rb
  react_on_rails/spec/react_on_rails/generators/install_generator_spec.rb
Due: autofix, rubocop, prettier

test(pro): address load harness review followups
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/scripts/load/lib/harness.rb
  react_on_rails_pro/scripts/load/lib/runner.rb
  react_on_rails_pro/spec/load/harness_spec.rb
  react_on_rails_pro/spec/load/memory_sampler_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_request_spec.rb
Due: autofix, rubocop

test(pro): document stream status retry guards
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
Due: autofix, rubocop

test(pro): address final harness review notes
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/scripts/load/lib/harness.rb
  react_on_rails_pro/spec/load/harness_spec.rb
  react_on_rails_pro/spec/load/streaming_render_spec.rb
Due: autofix, rubocop

Clarify Pro license lifecycle docs
  docs/pro/installation.md
Due: prettier

Reduce RSC demo docs link duplication
  docs/README.md
  docs/oss/core-concepts/performance-benchmarks.md
  docs/oss/getting-started/examples-and-references.md
  docs/pro/react-server-components/index.md
Due: prettier

Clarify license expiration sample
  docs/pro/installation.md
Due: prettier

Remove duplicate RSC demo anchor
  docs/pro/react-server-components/index.md
Due: prettier

test(pro): preserve worker failures during result flush
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/scripts/load/lib/runner.rb
  react_on_rails_pro/spec/load/runner_spec.rb
Due: autofix, rubocop

Harden license advisory snippet
  docs/pro/installation.md
Due: prettier

Tighten RSC demo docs wording
  docs/oss/core-concepts/performance-benchmarks.md
  docs/oss/getting-started/examples-and-references.md
Due: prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
