Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Retry skipped-CI workflow verification
  .github/workflows/run-skipped-ci.yml
Due: prettier

Fix skipped CI workflow verification
  .github/workflows/run-skipped-ci.yml
Due: prettier

Clarify skipped CI verification retry logging
  .github/workflows/run-skipped-ci.yml
Due: prettier

Clarify advisory AI review gate
  .agents/workflows/pr-processing.md
  AGENTS.md
Due: prettier

Clarify formal review versus advisory AI comments
  .agents/workflows/pr-processing.md
  AGENTS.md
Due: prettier

Clarify base-ref helper safety comments
  bin/lefthook/get-changed-files
  script/lib/git-diff-base-test.bash
Due: none

Document skipped CI retry queue draining
  .github/workflows/run-skipped-ci.yml
Due: prettier

Polish PR processing review guidance
  .agents/workflows/pr-processing.md
  AGENTS.md
Due: prettier

[codex] Centralize libyaml setup in Ruby action (#3758)
  .github/actions/setup-bundle/action.yml
  .github/actions/setup-ruby/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/dummy-app-bundler-tests.yml
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/playwright.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
  .github/workflows/shakaperf-release-gates.yml
  analysis/vm-script-caching-investigation-2026-06-07.md
Due: prettier

Simplify skipped CI dispatch timestamp buffer
  .github/workflows/run-skipped-ci.yml
Due: prettier

Refine PR processing guidance structure
  .agents/workflows/pr-processing.md
  AGENTS.md
Due: prettier

Retry skipped CI verification lookup errors
  .github/workflows/run-skipped-ci.yml
Due: prettier

Address PR process review feedback
  .agents/workflows/pr-processing.md
  AGENTS.md
Due: prettier

Clarify skipped CI verification filters
  .github/workflows/run-skipped-ci.yml
Due: prettier

Share base-ref helpers across guard scripts (#3764)
  bin/lefthook/get-changed-files
  script/check-docs-sidebar
  script/ci-changes-detector
  script/lib/git-diff-base
  script/lib/git-diff-base-test.bash
Due: none

Address final PR process review notes
  .agents/workflows/pr-processing.md
  AGENTS.md
Due: prettier

[codex] Harden release gate required check matching (#3763)
  .claude/hooks/main-ci-status.sh
  rakelib/release.rake
  react_on_rails/spec/react_on_rails/release_rake_helpers_spec.rb
Due: autofix, rubocop

Clarify skipped CI verification warnings
  .github/workflows/run-skipped-ci.yml
Due: prettier

Address final PR process review notes
  .agents/workflows/pr-processing.md
  AGENTS.md
  internal/contributor-info/agent-workflow-adoption.md
Due: prettier

Use const for skipped CI retry queue
  .github/workflows/run-skipped-ci.yml
Due: prettier

Clarify workflow scope for agent batches (#3757)
  .agents/workflows/pr-processing.md
  AGENTS.md
  internal/contributor-info/agent-workflow-adoption.md
Due: prettier

Show unverified skipped CI workflows
  .github/workflows/run-skipped-ci.yml
Due: prettier

Document Codex batch launch workflow
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  AGENTS.md
  internal/contributor-info/agent-workflow-adoption.md
Due: prettier

Document Codex batch question handling
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
Due: prettier

Document post-merge audit issue planning
  .agents/skills/post-merge-audit/SKILL.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
  AGENTS.md
  internal/contributor-info/agent-workflow-adoption.md
Due: prettier

Add post-merge batch audit gates
  .agents/skills/post-merge-audit/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  AGENTS.md
  internal/contributor-info/agent-workflow-adoption.md
Due: prettier

Document adversarial PR review gate
  .agents/skills/adversarial-pr-review/SKILL.md
  .agents/skills/post-merge-audit/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/adversarial-pr-review.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
  .claude/prompts/adversarial-pr-review.md
  AGENTS.md
  REVIEW.md
  internal/contributor-info/agent-workflow-adoption.md
Due: prettier

Address PR workflow review gaps
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
  REVIEW.md
Due: prettier

Clarify advisory AI review gates
  .agents/skills/adversarial-pr-review/SKILL.md
  .agents/skills/post-merge-audit/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/adversarial-pr-review.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
  AGENTS.md
  REVIEW.md
  internal/contributor-info/agent-workflow-adoption.md
Due: prettier

Guard skipped CI workflow dispatches
  .github/workflows/run-skipped-ci.yml
Due: prettier

Document pre-push review simplify gate
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/pr-processing.md
  internal/contributor-info/agent-workflow-adoption.md
Due: prettier

Tidy skipped CI dispatch metadata
  .github/workflows/run-skipped-ci.yml
Due: prettier

Add Codex PR batch launch skill (#3729)
  .agents/skills/adversarial-pr-review/SKILL.md
  .agents/skills/post-merge-audit/SKILL.md
  .agents/skills/pr-batch/SKILL.md
  .agents/workflows/adversarial-pr-review.md
  .agents/workflows/post-merge-audit.md
  .agents/workflows/pr-processing.md
  .claude/prompts/adversarial-pr-review.md
  AGENTS.md
  REVIEW.md
  internal/contributor-info/agent-workflow-adoption.md
Due: prettier

Handle skipped CI metadata edge cases
  .github/workflows/run-skipped-ci.yml
Due: prettier

Retry skipped-CI workflow verification (#3765)
  .github/workflows/run-skipped-ci.yml
Due: prettier

Pro RSC: avoid caching failed Flight renders (#3775)
  packages/react-on-rails-pro/src/cache/unstable_cache.ts
  packages/react-on-rails-pro/tests/unstable_cacheRSC.rsc.test.tsx
Due: eslint, prettier

Document dummy Redux state indexing rationale
  react_on_rails/spec/dummy/client/app/store/reduxTypes.ts
Due: eslint, prettier

Add renderer transport probe
  react_on_rails_pro/scripts/load/README.md
  react_on_rails_pro/scripts/load/lib/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe.rb
  react_on_rails_pro/scripts/load/transport_probe_server.mjs
  react_on_rails_pro/spec/load/transport_probe_spec.rb
Due: autofix, rubocop, prettier

Centralize CI runtime versions
  .github/actions/read-tool-versions/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/bundle-size.yml
  .github/workflows/check-markdown-links.yml
  .github/workflows/examples.yml
  .github/workflows/gem-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint-js-and-ruby.yml
  .github/workflows/playwright.yml
  .github/workflows/precompile-check.yml
  .github/workflows/pro-integration-tests.yml
  .github/workflows/pro-test-package-and-gem.yml
  .github/workflows/shakaperf-release-gates.yml
  .gitignore
  .minimum.tool-versions
  .tool-versions
  SWITCHING_CI_CONFIGS.md
  bin/ci-switch-config
  react_on_rails/spec/react_on_rails/ci_switch_config_spec.rb
  react_on_rails/spec/react_on_rails/ruby_version_support_spec.rb
Due: autofix, rubocop, prettier

Add RSC payload route-data helper
  CHANGELOG.md
  docs/pro/react-server-components/index.md
  docs/pro/react-server-components/rsc-payload-route-data.md
  docs/sidebars.ts
  packages/react-on-rails-pro/README.md
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/src/createRscPayloadNode.client.ts
  packages/react-on-rails-pro/src/createRscPayloadNode.server.ts
  packages/react-on-rails-pro/src/getReactServerComponent.client.ts
  packages/react-on-rails-pro/tests/createRscPayloadNode.client.test.ts
  packages/react-on-rails-pro/tests/refetchStressDummyConventions.test.ts
Due: eslint, prettier
