Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

make asset-exists endpoint check authentication only
  react_on_rails_pro/packages/node-renderer/src/worker.ts
Due: eslint, prettier

Refactor incremental render handling and improve error management
  react_on_rails_pro/packages/node-renderer/src/worker.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleIncrementalRenderRequest.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleRenderRequest.ts
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Fix runOnOtherBundle function parameters and improve global context handling
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/packages/node-renderer/src/worker/vm.ts
  react_on_rails_pro/packages/node-renderer/tests/fixtures/projects/spec-dummy/asyncComponentsTreeForTestingRenderingRequest.js
Due: autofix, rubocop, eslint, prettier

Enhance asset upload handling to support bundles
  react_on_rails_pro/packages/node-renderer/src/worker.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleRenderRequest.ts
  react_on_rails_pro/packages/node-renderer/tests/worker.test.ts
Due: eslint, prettier

Revert "Refactor incremental rendering logic and enhance bundle validation"
  react_on_rails_pro/packages/node-renderer/src/worker.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleIncrementalRenderRequest.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleRenderRequest.ts
  react_on_rails_pro/packages/node-renderer/src/worker/sharedRenderUtils.ts
  react_on_rails_pro/packages/node-renderer/src/worker/vm.ts
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

tmp
  react_on_rails_pro/packages/node-renderer/tests/helper.ts
  react_on_rails_pro/packages/node-renderer/tests/worker.test.ts
Due: eslint, prettier

Refactor incremental render request handling and improve error management
  react_on_rails_pro/packages/node-renderer/src/worker.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleIncrementalRenderRequest.ts
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Refactor VM handling and introduce ExecutionContext
  react_on_rails_pro/packages/node-renderer/src/worker/handleRenderRequest.ts
  react_on_rails_pro/packages/node-renderer/src/worker/vm.ts
  react_on_rails_pro/packages/node-renderer/tests/helper.ts
  react_on_rails_pro/packages/node-renderer/tests/serverRenderRSCReactComponent.test.js
  react_on_rails_pro/packages/node-renderer/tests/vm.test.ts
  react_on_rails_pro/packages/node-renderer/tests/worker.test.ts
Due: eslint, prettier

Fix incremental render tests (#2032)
  react_on_rails_pro/packages/node-renderer/src/worker/checkProtocolVersionHandler.ts
  react_on_rails_pro/packages/node-renderer/src/worker/requestPrechecks.ts
  react_on_rails_pro/packages/node-renderer/tests/fixtures/bundle-incremental.js
  react_on_rails_pro/packages/node-renderer/tests/fixtures/bundle.js
  react_on_rails_pro/packages/node-renderer/tests/fixtures/secondary-bundle-incremental.js
  react_on_rails_pro/packages/node-renderer/tests/fixtures/secondary-bundle.js
  react_on_rails_pro/packages/node-renderer/tests/handleRenderRequest.test.ts
  react_on_rails_pro/packages/node-renderer/tests/helper.ts
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
  react_on_rails_pro/packages/node-renderer/tests/serverRenderRSCReactComponent.test.js
  react_on_rails_pro/packages/node-renderer/tests/worker.test.ts
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop, eslint, prettier

Add AsyncPropManager to react-on-rails-pro package (#2049)
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails-pro/src/ReactOnRailsRSC.ts
  packages/react-on-rails-pro/src/createReactOnRailsPro.ts
  packages/react-on-rails-pro/tests/AsyncPropManager.test.ts
  packages/react-on-rails-pro/tests/testUtils.ts
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/createReactOnRails.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails_pro/packages/node-renderer/src/worker.ts
  react_on_rails_pro/packages/node-renderer/src/worker/handleIncrementalRenderRequest.ts
  react_on_rails_pro/packages/node-renderer/tests/concurrentHtmlStreaming.test.ts
  react_on_rails_pro/packages/node-renderer/tests/fixtures/projects/spec-dummy/asyncComponentsTreeForTestingRenderingRequest.js
  react_on_rails_pro/packages/node-renderer/tests/httpRequestUtils.ts
  react_on_rails_pro/packages/node-renderer/tests/incrementalHtmlStreaming.test.ts
  react_on_rails_pro/packages/node-renderer/tests/testingNodeRendererConfigs.ts
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/AsyncPropsComponent.tsx
Due: eslint, prettier

Fix stream closed check to ensure compatibility with different stream implementations
  react_on_rails_pro/packages/node-renderer/tests/httpRequestUtils.ts
Due: eslint, prettier

Update error message for invalid incremental render request in worker tests
  react_on_rails_pro/packages/node-renderer/tests/worker.test.ts
Due: eslint, prettier

Refactor generateRSCPayload from global to parameter
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/packages/node-renderer/tests/fixtures/projects/spec-dummy/asyncComponentsTreeForTestingRenderingRequest.js
  react_on_rails_pro/packages/node-renderer/tests/incrementalHtmlStreaming.test.ts
Due: autofix, rubocop, eslint, prettier

Fix race condition by using unique bundle paths per test
  react_on_rails_pro/packages/node-renderer/tests/concurrentHtmlStreaming.test.ts
  react_on_rails_pro/packages/node-renderer/tests/htmlStreaming.test.js
  react_on_rails_pro/packages/node-renderer/tests/incrementalHtmlStreaming.test.ts
  react_on_rails_pro/packages/node-renderer/tests/testingNodeRendererConfigs.ts
Due: eslint, prettier

linting
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails_pro/packages/node-renderer/tests/incrementalHtmlStreaming.test.ts
Due: eslint, prettier

Add tests for concurrent incremental HTML streaming to handle multiple parallel requests
  react_on_rails_pro/packages/node-renderer/tests/incrementalHtmlStreaming.test.ts
Due: eslint, prettier

Test handleRequestClosed is called when connection closes
  react_on_rails_pro/packages/node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

delete new node-renderer package.json
  packages/react-on-rails-pro-node-renderer/package.json
Due: prettier

move old RoR Pro to be node-renderer package.json to preserve history
  packages/react-on-rails-pro-node-renderer/package.json
Due: prettier

update prepack script to support node-renderer
  package-scripts.yml
Due: prettier

remove uneccessary devDependencies
  packages/react-on-rails-pro-node-renderer/package.json
Due: prettier

move preinstall script
  packages/react-on-rails-pro-node-renderer/script/preinstall.js
Due: eslint, prettier

don't use yalc in a yarn workspace
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/tests/concurrentHtmlStreaming.test.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
  yarn.lock
Due: eslint, prettier

prep for running yarn type-check
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/tsconfig.json
Due: prettier

Fix TS errors
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/ReactOnRailsProNodeRenderer.ts
  packages/react-on-rails-pro-node-renderer/src/shared/packageJson.ts
Due: eslint, prettier

Fix knip issues
  .github/workflows/playwright.yml
  knip.ts
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro-node-renderer/src/integrations/api.ts
Due: eslint, prettier

Fix paths in RORP Node Renderer package.json
  packages/react-on-rails-pro-node-renderer/package.json
Due: prettier

Fix additional Knip issues
  package.json
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
Due: eslint, prettier

Remove many unused Knip ignores
  knip.ts
Due: eslint, prettier

Fix ci-changes-detector to recognize Pro package test files
  script/ci-changes-detector
Due: none

move prettier exclusions for node-renderer
  .prettierignore
  react_on_rails_pro/.prettierignore
Due: none

remove unused coverage config for jest
  packages/react-on-rails-pro-node-renderer/package.json
Due: prettier

resolve knip reports
  packages/react-on-rails-pro-node-renderer/src/shared/licenseValidator.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
Due: eslint, prettier

move jest scripts to root
  package-scripts.yml
  react_on_rails_pro/package-scripts.yml
Due: prettier

use file references instead of stale versions
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/yarn.lock
  yarn.lock
Due: prettier

any change to react-on-rails should trigger pro tests
  script/ci-changes-detector
Due: none

use npm script instead of nps script for ci
  .github/workflows/pro-test-package-and-gem.yml
  packages/react-on-rails-pro-node-renderer/package.json
Due: prettier

misc changes
  .github/workflows/pro-test-package-and-gem.yml
Due: prettier

Fix ci-changes-detector to recognize Pro package test files (#2077)
  script/ci-changes-detector
Due: none
