Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Fix ESLint no-base-to-string with JSON.stringify
  react_on_rails_pro/spec/dummy/client/app/components/LazyApolloGraphQL.tsx
Due: eslint, prettier

Update dummy app Babel to ^7.22.0 for pnpm compatibility
  react_on_rails/spec/dummy/package.json
Due: prettier

Fix Prettier formatting in LazyApolloGraphQL
  react_on_rails_pro/spec/dummy/client/app/components/LazyApolloGraphQL.tsx
Due: eslint, prettier

Fix Pro lint workflow Check TypeScript working directory
  .github/workflows/pro-lint.yml
Due: prettier

Fix check-typescript to use pnpm instead of yarn workspace
  package-scripts.yml
Due: prettier

Fix release.rake to use pnpm instead of yarn
  react_on_rails/rakelib/release.rake
Due: autofix, rubocop

Fix RSC test infrastructure: Convert jest.setup.js to ESM and re-enable tests
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/tests/jest.setup.js
  script/convert
Due: eslint, prettier

Extract React version check to separate script file
  .gitignore
  packages/react-on-rails-pro/scripts/check-react-version.cjs
Due: none

Fix HTTPX thread-safety issue with thread-local connections for incremental rendering (#2116)
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
Due: autofix, rubocop, eslint, prettier

Update spec/dummy for React 19 compatibility
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails/spec/dummy/client/app-react16/startup/ReduxApp.client.jsx
  react_on_rails/spec/dummy/client/app/components/ReactHelmet.jsx
  react_on_rails/spec/dummy/client/app/startup/ReactHelmetApp.server.jsx
  react_on_rails/spec/dummy/client/app/startup/ReactHelmetAppBroken.server.jsx
  react_on_rails/spec/dummy/client/app/startup/ReduxApp.client.jsx
  react_on_rails/spec/dummy/client/app/startup/ReduxApp.server.jsx
  react_on_rails/spec/dummy/client/app/stores/SharedReduxStore.jsx
  react_on_rails/spec/dummy/package.json
Due: eslint, prettier

Fix client-side HelmetProvider requirement for @dr.pogodin/react-helmet
  react_on_rails/spec/dummy/client/app/startup/ReactHelmetApp.client.jsx
  react_on_rails/spec/dummy/client/app/startup/ReactHelmetAppBroken.client.jsx
Due: eslint, prettier

Fix RSC test infrastructure: Convert jest.setup.js to ESM and re-enable tests (#2124)
  .gitignore
  packages/react-on-rails-pro/package.json
  packages/react-on-rails-pro/scripts/check-react-version.cjs
  packages/react-on-rails-pro/tests/jest.setup.js
  script/convert
Due: eslint, prettier

Add upgrade guide for v16.0.x to v16.1.1
  docs/upgrading/release-notes/16.1.0.md
  docs/upgrading/upgrading-react-on-rails.md
Due: prettier

Add Rspack migration guide for Shakapacker 9
  docs/README.md
  docs/migrating/migrating-to-rspack.md
Due: prettier

Fix FOUC in Pro spec/dummy app with critical CSS
  react_on_rails_pro/spec/dummy/app/views/layouts/application.html.erb
Due: none

Add database check to bin/dev before starting server
  react_on_rails/lib/react_on_rails/dev/database_checker.rb
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/spec/react_on_rails/dev/database_checker_spec.rb
Due: autofix, rubocop

Add CI workflow to check assets:precompile output for failures
  .github/workflows/precompile-check.yml
Due: prettier

Improve SWC compiler detection and default dependencies
  react_on_rails/lib/generators/react_on_rails/generator_helper.rb
  react_on_rails/lib/generators/react_on_rails/js_dependency_manager.rb
  react_on_rails/spec/dummy/package.json
  react_on_rails/spec/react_on_rails/generators/generator_helper_spec.rb
Due: autofix, rubocop, prettier

Add suppress_unused_component_warnings config option
  CHANGELOG.md
  docs/api-reference/configuration.md
  packages/react-on-rails-pro/src/CallbackRegistry.ts
  packages/react-on-rails/src/types/index.ts
  packages/react-on-rails/tests/ClientRenderer.test.ts
  react_on_rails/lib/react_on_rails/configuration.rb
  react_on_rails/lib/react_on_rails/helper.rb
  react_on_rails/sig/react_on_rails/configuration.rbs
Due: autofix, rubocop, eslint, prettier

Add generate_packs step before assets:precompile
  .github/workflows/precompile-check.yml
Due: prettier

Fix CI: Add using_swc? stub to JsDependencyManager spec
  react_on_rails/spec/react_on_rails/generators/js_dependency_manager_spec.rb
Due: autofix, rubocop

Address code review feedback for DatabaseChecker
  react_on_rails/Steepfile
  react_on_rails/lib/react_on_rails/dev/database_checker.rb
  react_on_rails/sig/react_on_rails/dev/database_checker.rbs
  react_on_rails/spec/react_on_rails/dev/database_checker_spec.rb
Due: autofix, rubocop

Document edge cases for /run-skipped-ci workflow
  CONTRIBUTING.md
Due: prettier

Address review feedback: fix PR number and add unit tests
  CHANGELOG.md
  react_on_rails/spec/react_on_rails/configuration_spec.rb
Due: autofix, rubocop, prettier

Add ReScript build step before assets:precompile
  .github/workflows/precompile-check.yml
Due: prettier

Add css_modules_export_mode setting as preferred solution
  docs/migrating/migrating-to-rspack.md
Due: prettier

Address PR review feedback for precompile check workflow
  .github/workflows/precompile-check.yml
Due: prettier

Fix Pro spec fixture for rails_context test
  react_on_rails_pro/spec/dummy/spec/helpers/react_on_rails_pro_helper_spec.rb
Due: autofix, rubocop

Move React/Shakapacker version compatibility to generator smoke tests
  .github/workflows/examples.yml
  .github/workflows/integration-tests.yml
  package.json
  react_on_rails/rakelib/example_type.rb
  react_on_rails/rakelib/examples_config.yml
  react_on_rails/rakelib/run_rspec.rake
  react_on_rails/rakelib/shakapacker_examples.rake
  react_on_rails/spec/dummy/package.json
  script/convert
Due: autofix, rubocop, prettier

Add JSON parse error handling in apply_minimum_versions
  react_on_rails/rakelib/shakapacker_examples.rake
Due: autofix, rubocop

Add minimum_versions? predicate method for Ruby idiom
  react_on_rails/rakelib/example_type.rb
  react_on_rails/rakelib/run_rspec.rake
Due: autofix, rubocop

Fix webpack-assets-manifest version for minimum Shakapacker compatibility
  react_on_rails/rakelib/shakapacker_examples.rake
Due: autofix, rubocop

Fix Shakapacker gem/npm version mismatch for minimum version testing
  react_on_rails/rakelib/shakapacker_examples.rake
Due: autofix, rubocop

Fix bundler isolation for generated example apps
  react_on_rails/rakelib/shakapacker_examples.rake
Due: autofix, rubocop

Only use BUNDLE_GEMFILE isolation for minimum version examples
  react_on_rails/rakelib/shakapacker_examples.rake
Due: autofix, rubocop

Update pnpm lockfile for React 19.0.0
  pnpm-lock.yaml
Due: prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
