Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Add logging for JSON parsing and update chunk processing errors in incremental render stream
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
Due: eslint, prettier

Fix AsyncPropsManager resolved flag and onRequestClosedUpdateChunk type
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
Due: eslint, prettier

Remove redundant logging in handleIncrementalRenderStream
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
Due: eslint, prettier

Improve code quality in vm.ts buildVM function
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
Due: eslint, prettier

Consolidate duplicate size limit constants
  packages/react-on-rails-pro-node-renderer/src/shared/constants.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
Due: eslint, prettier

Refactor line size limit constant in handleIncrementalRenderStream tests
  packages/react-on-rails-pro-node-renderer/tests/handleIncrementalRenderStream.test.ts
Due: eslint, prettier

Add Async Props documentation with SVG diagrams
  docs/async-props/README.md
  docs/async-props/advanced-usage.md
  docs/async-props/api-reference.md
  docs/async-props/how-it-works.md
  docs/async-props/images/architecture-flow.svg
  docs/async-props/images/progressive-loading-sequence.svg
  docs/async-props/images/timeline-comparison.svg
  docs/async-props/images/traditional-vs-streaming-ssr.svg
Due: prettier

Add animated SVG diagrams for Async Props documentation
  docs/async-props/images/animated/data-packets.svg
  docs/async-props/images/animated/progressive-browser.svg
  docs/async-props/images/animated/race-comparison.svg
  docs/async-props/images/animated/streaming-flow.svg
Due: none

update Gemfile.lock
  react_on_rails/spec/dummy/Gemfile.lock
Due: none

Bump version to 16.2.0.rc.0
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Update CHANGELOG for 16.2.0.rc.0 release
  CHANGELOG.md
Due: prettier

Update Pro CHANGELOG for 16.2.0.rc.0 release
  react_on_rails_pro/CHANGELOG.md
Due: prettier

Update CHANGELOG for 16.2.0.rc.0 release (#2262)
  CHANGELOG.md
  react_on_rails_pro/CHANGELOG.md
Due: prettier

Fix version link formatting in CHANGELOG.md
  CHANGELOG.md
Due: prettier

Add additional animated SVG diagrams for Async Props documentation
  docs/async-props/images/animated/chunk-streaming.svg
  docs/async-props/images/animated/error-handling.svg
  docs/async-props/images/animated/full-request-lifecycle.svg
  docs/async-props/images/animated/hydration-process.svg
  docs/async-props/images/animated/server-vs-client-components.svg
  docs/async-props/images/animated/suspense-boundaries.svg
  docs/async-props/images/animated/user-experience-comparison.svg
  docs/async-props/images/animated/waterfall-vs-parallel.svg
Due: none

Refactor incremental render tests to use custom waitFor function
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/tests/helper.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

create a test to test the streaming from server to client
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

handle errors happen at the InrecementalRequestManager
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/IncrementalRenderRequestManager.ts
Due: eslint, prettier

Refactor incremental rendering to use a new function stream handler
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/IncrementalRenderRequestManager.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
Due: eslint, prettier

Enhance incremental render functionality and improve test coverage
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/bundle.js
  packages/react-on-rails-pro-node-renderer/tests/fixtures/secondary-bundle.js
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Fix runOnOtherBundle function parameters and improve global context handling
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/projects/spec-dummy/asyncComponentsTreeForTestingRenderingRequest.js
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
Due: autofix, rubocop, eslint, prettier

Enhance incremental render tests with helper functions for setup and processing
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Implement Incremental Render Request Manager and Bundle Validation
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/IncrementalRenderRequestManager.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Refactor request handling by consolidating prechecks
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/checkProtocolVersionHandler.ts
  packages/react-on-rails-pro-node-renderer/src/worker/requestPrechecks.ts
Due: eslint, prettier

WIP: handle errors happen during incremental rendering
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/IncrementalRenderRequestManager.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

upload assets in a separate request when needed
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
Due: autofix, rubocop

Refactor incremental render tests to use jest mock functions for sink handling
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

make asset-exists endpoint check authentication only
  packages/react-on-rails-pro-node-renderer/src/worker.ts
Due: eslint, prettier

Add test for asset upload with bundles in hash directories
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

add ndjson end point to accept the rendering request in chunks
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

linting
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

add echo server test and enhance error reporting in waitFor function
  packages/react-on-rails-pro-node-renderer/tests/helper.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Refactor incremental render request handling and improve error management
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Refactor incremental render tests for improved readability and maintainability
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Enhance asset upload handling to support bundles
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

Add incremental render endpoint tests
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

Refactor incremental render handling and improve error management
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

replace pending operations with content buffer
  packages/react-on-rails-pro-node-renderer/src/worker/IncrementalRenderRequestManager.ts
Due: eslint, prettier

make buildVM returns the built vm
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/helper.ts
  packages/react-on-rails-pro-node-renderer/tests/serverRenderRSCReactComponent.test.js
Due: eslint, prettier

Refactor and enhance incremental render endpoint tests
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier
