Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Update quick-start: only react_on_rails_pro gem needed since v16.4.0.rc.5
  docs/getting-started/pro-quick-start.md
Due: prettier

Use react-on-rails-rsc from git branch fix/chunk-merge-bug-v19.0.3
  package.json
  packages/react-on-rails-pro/package.json
  pnpm-lock.yaml
  react_on_rails_pro/spec/dummy/package.json
Due: prettier

Restructure 'use client' guidance: boundary rule + move chunk contamination
  docs/migrating/migrating-to-rsc.md
  docs/migrating/rsc-component-patterns.md
  docs/migrating/rsc-third-party-libs.md
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Add React on Rails Pro async props as recommended data fetching pattern
  docs/migrating/rsc-data-fetching.md
Due: prettier

Remove Next.js-specific patterns from data fetching guide
  docs/migrating/rsc-data-fetching.md
Due: prettier

Fix dead link to old private repo in code-splitting doc
  react_on_rails_pro/docs/code-splitting-loadable-components.md
Due: prettier

Allow Dependabot to trigger claude-code-review workflow (#2499)
  .github/workflows/claude-code-review.yml
Due: prettier

Add checks/statuses read permissions to Claude workflow (#2487)
  .github/workflows/claude.yml
Due: prettier

Fix factual errors in RSC migration docs
  docs/migrating/rsc-third-party-libs.md
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Fix factual errors in RSC migration docs (#2506)
  docs/migrating/rsc-third-party-libs.md
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Preserve RSC stream errors after allSettled
  packages/react-on-rails-pro/src/injectRSCPayload.ts
Due: eslint, prettier

Replace Next.js-specific provider patterns with React on Rails equivalents
  docs/migrating/rsc-context-and-state.md
Due: prettier

Replace Next.js-specific content in data fetching and third-party libs docs
  docs/migrating/rsc-data-fetching.md
  docs/migrating/rsc-third-party-libs.md
Due: prettier

Adapt component tree restructuring guide for React on Rails multi-root
  docs/migrating/rsc-component-patterns.md
Due: prettier

Add "Preparing Your App" article (Part 1) to RSC migration series
  docs/migrating/migrating-to-rsc.md
  docs/migrating/rsc-component-patterns.md
  docs/migrating/rsc-context-and-state.md
  docs/migrating/rsc-data-fetching.md
  docs/migrating/rsc-preparing-app.md
  docs/migrating/rsc-third-party-libs.md
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Replace Next.js-specific content in troubleshooting guide
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Refine RSC migration docs for React on Rails patterns
  docs/migrating/migrating-to-rsc.md
  docs/migrating/rsc-component-patterns.md
  docs/migrating/rsc-context-and-state.md
  docs/migrating/rsc-preparing-app.md
Due: prettier

Add React on Rails-specific content to RSC migration docs (#2508)
  docs/migrating/migrating-to-rsc.md
  docs/migrating/rsc-component-patterns.md
  docs/migrating/rsc-context-and-state.md
  docs/migrating/rsc-data-fetching.md
  docs/migrating/rsc-preparing-app.md
  docs/migrating/rsc-third-party-libs.md
  docs/migrating/rsc-troubleshooting.md
Due: prettier

Add reproduction for RSC chunk mapping bug with .server/.client paired components
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/chunk_mapping_test.html.erb
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ChunkMappingTest.client.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/ChunkMappingTest.server.jsx
  react_on_rails_pro/spec/dummy/config/routes.rb
Due: autofix, rubocop, eslint, prettier

Add React 19 native metadata examples to Pro dummy app (#2507)
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/hybrid_metadata_streaming.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/native_metadata.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/stream_native_metadata.html.erb
  react_on_rails_pro/spec/dummy/app/views/shared/_menu.erb
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/HybridMetadataApp.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/NativeMetadataApp.jsx
  react_on_rails_pro/spec/dummy/config/routes.rb
Due: autofix, rubocop, eslint, prettier

Add RSCRoute-based reproduction for chunk mapping bug
  react_on_rails_pro/spec/dummy/client/app/components/ServerComponentRouter.tsx
  rsc-chunk-mapping-bug-confirmed.png
Due: eslint, prettier

Fix async props race conditions (#2297)
  packages/react-on-rails-pro-node-renderer/src/shared/constants.ts
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleGracefulShutdown.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/projects/spec-dummy/asyncComponentsTreeForTestingRenderingRequest.js
  packages/react-on-rails-pro-node-renderer/tests/fixtures/secondary-bundle-incremental.js
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails-pro/src/ReactOnRailsRSC.ts
  packages/react-on-rails-pro/src/createReactOnRailsPro.ts
  packages/react-on-rails-pro/tests/AsyncPropManager.test.ts
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/lib/react_on_rails_pro/httpx_stream_bidi_patch.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/node_rendering_pool.rb
  react_on_rails_pro/spec/dummy/Procfile.dev
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/client/node-renderer.js
  react_on_rails_pro/spec/dummy/spec/requests/incremental_rendering_integration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_js_code_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/node_rendering_pool_spec.rb
Due: autofix, rubocop, eslint, prettier

Harden lefthook tool resolution for non-interactive shells
  bin/lefthook/check-trailing-newlines
  bin/lefthook/ensure-mise
  bin/lefthook/eslint-lint
  bin/lefthook/prettier-format
  bin/lefthook/ruby-autofix
  bin/lefthook/ruby-lint
Due: none

Simplify sourced mise helper for lefthook
  bin/lefthook/ensure-mise
Due: none

Address remaining review feedback for ensure-mise
  bin/lefthook/check-trailing-newlines
  bin/lefthook/ensure-mise
Due: none

Ensure lefthook uses mise tools in non-interactive shells (#2512)
  bin/lefthook/ensure-mise
  bin/lefthook/eslint-lint
  bin/lefthook/prettier-format
  bin/lefthook/ruby-autofix
  bin/lefthook/ruby-lint
Due: none

Fix streaming SSR hangs and silent error absorption in RSC payload injection (#2407)
  CHANGELOG.md
  packages/react-on-rails-pro-node-renderer/src/shared/utils.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/stream-test-bundle.js
  packages/react-on-rails-pro-node-renderer/tests/handleStreamError.test.ts
  packages/react-on-rails-pro-node-renderer/tests/streamErrorHang.test.ts
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/injectRSCPayload.ts
  packages/react-on-rails-pro/src/safePipe.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  packages/react-on-rails-pro/src/transformRSCNodeStream.ts
  packages/react-on-rails-pro/tests/injectRSCPayload.test.ts
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro/concerns/stream.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/stream_error_demo.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/stream_shell_error_demo.html.erb
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/StreamErrorDemo.jsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/StreamShellErrorDemo.jsx
  react_on_rails_pro/spec/dummy/config/routes.rb
Due: autofix, rubocop, eslint, prettier

Fix buildVM promise cleanup ordering (#2483) (#2484)
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
Due: eslint, prettier

Add dependency license scanning rake task and BugBot config
  .cursor/BUGBOT.md
  react_on_rails/lib/react_on_rails/license_scanner.rb
  react_on_rails/lib/tasks/license_scan.rake
  react_on_rails/spec/react_on_rails/license_scanner_spec.rb
Due: autofix, rubocop, prettier

Remove license scanner rake task — not in scope for this gem
  react_on_rails/lib/react_on_rails/license_scanner.rb
  react_on_rails/lib/tasks/license_scan.rake
  react_on_rails/spec/react_on_rails/license_scanner_spec.rb
Due: autofix, rubocop

Add BugBot license scanning config (#2515)
  .cursor/BUGBOT.md
Due: prettier

Fix CSS module class name divergence between client/server builds with rspack
  docs/migrating/migrating-from-webpack-to-rspack.md
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/serverWebpackConfig.js.tt
Due: prettier

Address review feedback: fix safety issues and update Pro regex
  docs/migrating/migrating-from-webpack-to-rspack.md
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/serverWebpackConfig.js.tt
  react_on_rails/spec/react_on_rails/support/generator_spec_helper.rb
Due: autofix, rubocop, prettier

Update docs for astroturf virtual module collision with rspack
  docs/migrating/migrating-from-webpack-to-rspack.md
Due: prettier

Address review feedback: fix hash collision risks in getLocalIdent
  docs/migrating/migrating-from-webpack-to-rspack.md
Due: prettier

Address review feedback: harden serverWebpackConfig template
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/serverWebpackConfig.js.tt
  react_on_rails/spec/react_on_rails/support/generator_spec_helper.rb
Due: autofix, rubocop

Address remaining review comments: fix broken anchor, add extensions, consistency
  docs/migrating/migrating-from-webpack-to-rspack.md
  react_on_rails/lib/generators/react_on_rails/pro_setup.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/config/webpack/serverWebpackConfig.js.tt
Due: autofix, rubocop, prettier

Streamline docs: move astroturf detail to a note, keep main flow clean
  docs/migrating/migrating-from-webpack-to-rspack.md
Due: prettier

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
