Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

autofix:
  run: bin/lefthook/ruby-autofix all-changed
  stage_fixed: true

rubocop:
  run: bin/lefthook/ruby-lint all-changed

eslint:
  run: bin/lefthook/eslint-lint all-changed
  stage_fixed: true

prettier:
  run: bin/lefthook/prettier-format all-changed
  stage_fixed: true

Test: Add bloat data to verify bundle size CI fails on increases
  packages/react-on-rails/src/bloat.ts
Due: eslint, prettier

Revert "Test: Add bloat data to verify bundle size CI fails on increases"
  packages/react-on-rails/src/bloat.ts
Due: eslint, prettier

Track raw, gzip, and brotli bundle sizes
  .size-limit.json
Due: prettier

Reapply "Test: Add bloat data to verify bundle size CI fails on increases"
  packages/react-on-rails/src/bloat.ts
Due: eslint, prettier

Revert "Reapply "Test: Add bloat data to verify bundle size CI fails on increases""
  packages/react-on-rails/src/bloat.ts
Due: eslint, prettier

Add local bundle size comparison script
  bin/compare-bundle-sizes
Due: none

Add bundle-size.mjs utility script
  scripts/bundle-size.mjs
Due: none

Refactor: Use bundle-size.mjs script in workflow and local script
  .github/workflows/bundle-size.yml
  bin/compare-bundle-sizes
Due: prettier

Add skip-bundle-size-check script for bypassing size check
  .bundle-size-skip-branch
  .github/workflows/bundle-size.yml
  bin/skip-bundle-size-check
Due: prettier

Skip bundle size check for feature/bundle-size-ci
  .bundle-size-skip-branch
Due: none

Revert "Skip bundle size check for feature/bundle-size-ci"
  .bundle-size-skip-branch
Due: none

Add webpack bundled size checks for client imports
  .size-limit.json
  package.json
  pnpm-lock.yaml
Due: prettier

Add size-limit packages for bundle size tracking
  package.json
  pnpm-lock.yaml
Due: prettier

Add size-limit packages for bundle size tracking (#2150)
  package.json
  pnpm-lock.yaml
Due: prettier

Add size-limit configuration for bundle size tracking
  .size-limit.json
Due: prettier

Add size-limit configuration for bundle size tracking (#2152)
  .size-limit.json
Due: prettier

Add bundle size CI check using size-limit
  .github/workflows/bundle-size.yml
  .size-limit.json
  package.json
  pnpm-lock.yaml
Due: prettier

Ensure size scripts build packages first
  package.json
Due: prettier

Fix: Use pnpm exec instead of npx for size-limit
  .github/workflows/bundle-size.yml
Due: prettier

Use dynamic bundle size limits (base branch + 0.5KB)
  .github/workflows/bundle-size.yml
  .size-limit.json
Due: prettier

Fix security warning for github.head_ref in bundle-size workflow
  .github/workflows/bundle-size.yml
Due: prettier

Fix bundle-size CI: copy config from PR branch before measuring base
  .github/workflows/bundle-size.yml
Due: prettier

Make bundle size scripts executable
  bin/compare-bundle-sizes
  bin/skip-bundle-size-check
Due: none

Path conditions:
  autofix: any of: *.{rb,rake,ru}
  rubocop: any of: *.{rb,rake,ru}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
