Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Allow unprivileged atomic guardrail upgrades
  react_on_rails/lib/react_on_rails/agent_guardrails.rb
  react_on_rails/spec/react_on_rails/agent_guardrails_spec.rb
Due: autofix, rubocop

Preserve writable-only guardrail upgrades
  react_on_rails/lib/react_on_rails/agent_guardrails.rb
  react_on_rails/spec/react_on_rails/agent_guardrails_spec.rb
Due: autofix, rubocop

Handle write-only dev session locks
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

Keep permission fallbacks safe for guardrails
  react_on_rails/lib/react_on_rails/agent_guardrails.rb
  react_on_rails/spec/react_on_rails/agent_guardrails_spec.rb
Due: autofix, rubocop

Always release dev session handles after cleanup errors
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

Preserve exact scaffold evidence targets
  internal/agent-evals/pro-app-buildability/bin/derive-evidence.mjs
  internal/agent-evals/pro-app-buildability/tests/run-tests
Due: none

Preserve guardrail permission and skip semantics
  react_on_rails/lib/react_on_rails/agent_guardrails.rb
  react_on_rails/spec/react_on_rails/agent_guardrails_spec.rb
Due: autofix, rubocop

Harden StreamCache dom id rebinding from review follow-ups
  CHANGELOG.md
  react_on_rails_pro/lib/react_on_rails_pro/stream_cache.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_cache_spec.rb
Due: autofix, rubocop, prettier

Land the rewritten document on the first markup-bearing chunk when ids differ in length
  react_on_rails_pro/lib/react_on_rails_pro/stream_cache.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_cache_spec.rb
Due: autofix, rubocop

[Pro] Rebind prerender-cached streams to the current dom id (fixes #4984) (#4987)
  CHANGELOG.md
  docs/oss/building-features/caching.md
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/pro_rendering.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_cache.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/rsc_prerender_cache_probe.html.erb
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/spec/requests/rsc_prerender_cache_dom_id_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/pro_rendering_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_cache_spec.rb
Due: autofix, rubocop, prettier

Stamp CHANGELOG for 17.1.0.rc.2
  CHANGELOG.md
Due: prettier

Stamp CHANGELOG for 17.1.0.rc.2 (#4994)
  CHANGELOG.md
Due: prettier

[Pro] Forward-port #4987: rebind prerender-cached streams to the current dom id (#4996)
  CHANGELOG.md
  docs/oss/building-features/caching.md
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/pro_rendering.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_cache.rb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/rsc_prerender_cache_probe.html.erb
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/spec/requests/rsc_prerender_cache_dom_id_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/pro_rendering_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_cache_spec.rb
Due: autofix, rubocop, prettier

Harden atomic guardrail updates across platforms
  react_on_rails/lib/react_on_rails/agent_guardrails.rb
  react_on_rails/spec/react_on_rails/agent_guardrails_spec.rb
Due: autofix, rubocop

Prevent stale dev-session payloads from targeting replacement owners (#4964)
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
  react_on_rails/sig/react_on_rails/dev/server_manager.rbs
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop, prettier

Docs: explain app-scoped bin/dev kill behavior (#4975)
  docs/oss/building-features/dev-server-and-testing.md
  docs/oss/building-features/process-managers.md
Due: prettier

Bump version to 17.1.0.rc.2
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Release: bump versions to 17.1.0.rc.2 (#4997)
  package.json
  packages/create-react-on-rails-app/package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/execjs-compatible-dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Agents: harden qa-evidence validation
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
  .agents/workflows/pr-processing.md
Due: autofix, rubocop, prettier

Treat nil component ids as omitted
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/react_component/render_options.rb
  react_on_rails/spec/react_on_rails/react_component/render_options_spec.rb
Due: autofix, rubocop, prettier

Link the nil DOM id fix in the changelog
  CHANGELOG.md
Due: prettier

Agents: handle hedged evidence claims
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Regenerate llms-full references
  llms-full-pro.txt
  llms-full.txt
Due: none

Agents: reject plural evidence bypasses
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Clarify empty OpenTelemetry instrumentation behavior
  docs/pro/node-renderer.md
  llms-full-pro.txt
Due: prettier

Agents: reject reversed negation claims
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Agents: remove evidence hedge cap
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Agents: parse negation by clause
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Treat nil component ids as omitted (#4998)
  CHANGELOG.md
  react_on_rails/lib/react_on_rails/react_component/render_options.rb
  react_on_rails/spec/react_on_rails/react_component/render_options_spec.rb
Due: autofix, rubocop, prettier

Agents: preserve negated durable visual states
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop

Agents: bind drift manifest to remediated helper
  .agents/agent-workflow-drift.yml
Due: prettier

Agents: close strict evidence review gaps
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Repair moved Rspack documentation links
  docs/oss/getting-started/why-rspack.md
  docs/pro/react-server-components/rspack-compatibility.md
  llms-full-pro.txt
  llms-full.txt
Due: prettier

Agents: bind negation to evidence outcomes
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Clarify version and package-manager upgrade guidance
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  docs/pro/updating.md
  llms-full-pro.txt
Due: prettier

Correct Fastify 4 multipart override
  docs/pro/react-server-components/upgrading-existing-pro-app.md
  llms-full-pro.txt
Due: prettier

Internal: prune superseded and duplicated planning/analysis content
  internal/analysis/abanoub-ihabe-open-work-investigation-2026-06-01.md
  internal/analysis/agent-workflow-http-dogfood-2026-07-07.md
  internal/analysis/experiments/multi-round-resume/README.md
  internal/analysis/experiments/multi-round-resume/render-in-rounds.jsx
  internal/analysis/experiments/multi-round-resume/rerender-count-test.jsx
  internal/analysis/experiments/multi-round-resume/scale-test.jsx
  internal/analysis/experiments/multi-round-resume/ten-sections-app.jsx
  internal/analysis/experiments/multi-round-resume/timing-test.jsx
  internal/analysis/rsc-fouc-shakaperf-artifacts/README.md
  internal/analysis/rsc-fouc-shakaperf-artifacts/setup/README.md
  internal/analysis/rsc-fouc-shakaperf-artifacts/setup/ab-tests/natural-first-visible-assertion.abtest.ts
  internal/analysis/rsc-fouc-shakaperf-artifacts/setup/ab-tests/rsc-fouc.abtest.ts
  internal/analysis/rsc-fouc-shakaperf-artifacts/setup/generated-shakaperf-skills/ab-servers.SKILL.md
  internal/analysis/rsc-fouc-shakaperf-artifacts/setup/generated-shakaperf-skills/assess-abtest-quality.SKILL.md
  internal/analysis/rsc-fouc-shakaperf-artifacts/setup/generated-shakaperf-skills/discover-abtests.SKILL.md
  internal/analysis/rsc-fouc-shakaperf-artifacts/setup/generated-shakaperf-skills/setup-docker-servers-for-ab-tests.SKILL.md
  internal/analysis/rsc-fouc-shakaperf-artifacts/setup/generated-shakaperf-skills/setup-docker-servers-for-ab-tests/SKILL.md
  internal/analysis/rsc-fouc-shakaperf-investigation.md
  internal/analysis/vm-script-caching-investigation-2026-06-07.md
  internal/analysis/vm-script-caching-repro-2026-06-13.mjs
  internal/contributor-info/fenced-publication-plan-17-1-0.md
  internal/planning/2026-05-21-3258-rsc-parser-helper-cleanup-design.md
  internal/planning/2026-05-21-otel-node-renderer-design.md
  internal/planning/2026-06-04-benchmark-table-improvements-design.md
  internal/planning/2214-unify-lint-configs.md
  internal/planning/3101-rsc-route-ssr-false.md
  internal/planning/3253-gumroad-staging-benchmark-plan.md
  internal/planning/3281-decouple-props-from-js-source.md
  internal/planning/docs-improvement/01-problem-analysis.md
  internal/planning/docs-improvement/04-ia-redesign-plan.md
  internal/planning/docs-improvement/ia-redesign-live.md
  internal/planning/json-render-body-migration-plan.md
  internal/planning/ppr-implementation-plan.md
  internal/planning/ppr-investigation-findings.md
  internal/planning/ppr-plan.md
  internal/planning/react-19-partial-prerendering-plan.md
  internal/react_on_rails_pro/contributors-info/onboarding-customers.md
Due: eslint, prettier

Agents: reject fabricated evidence edge cases
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier

Agents: scope negative evidence by clause
  .agents/agent-workflow-drift.yml
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay
  .agents/skills/post-merge-audit/bin/closeout-evidence-replay-test.rb
Due: autofix, rubocop, prettier
