Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Improve docs
  .claude/docs/pr-testing-guide.md
  README.md
  SWITCHING_CI_CONFIGS.md
Due: prettier

remove print statemenet
  react_on_rails/rakelib/run_rspec.rake
Due: autofix, rubocop

change min version to lower supported one
  react_on_rails/rakelib/example_type.rb
Due: autofix, rubocop

remove testing on generators on older versions of shakapacker
  .github/workflows/examples.yml
  react_on_rails/rakelib/example_type.rb
  react_on_rails/rakelib/run_rspec.rake
  react_on_rails/rakelib/shakapacker_examples.rake
Due: autofix, rubocop, prettier

debug ci
  .github/workflows/examples.yml
Due: prettier

respond to code review
  react_on_rails/sig/react_on_rails/packer_utils.rbs
  react_on_rails/spec/react_on_rails/packer_utils_spec.rb
Due: autofix, rubocop

remove unneeded code
  .github/workflows/examples.yml
  react_on_rails/lib/react_on_rails/configuration.rb
  react_on_rails/lib/react_on_rails/packer_utils.rb
  react_on_rails/sig/react_on_rails/configuration.rbs
Due: autofix, rubocop, prettier

remove debug code
  .github/workflows/examples.yml
Due: prettier

respond to code review
  react_on_rails/lib/react_on_rails/packer_utils.rb
  react_on_rails/sig/react_on_rails/packer_utils.rbs
Due: autofix, rubocop

remove debugs
  react_on_rails/rakelib/shakapacker_examples.rake
Due: autofix, rubocop

respond to code review
  react_on_rails/spec/react_on_rails/packer_utils_spec.rb
Due: autofix, rubocop

respond to code review
  react_on_rails/lib/react_on_rails/packer_utils.rb
  react_on_rails/spec/react_on_rails/packer_utils_spec.rb
Due: autofix, rubocop

comments
  .claude/docs/pr-testing-guide.md
Due: prettier

tmp
  packages/react-on-rails/src/clientStartup.ts
  packages/react-on-rails/src/pageLifecycle.ts
  react_on_rails/spec/dummy/client/app/startup/HelloWorldHooksContext.jsx
Due: eslint, prettier

Revert "tmp"
  packages/react-on-rails/src/clientStartup.ts
  packages/react-on-rails/src/pageLifecycle.ts
  react_on_rails/spec/dummy/client/app/startup/HelloWorldHooksContext.jsx
Due: eslint, prettier

make core reactr on rails components waits for `complete` readyState
  packages/react-on-rails/src/pageLifecycle.ts
Due: eslint, prettier

update pageLifycycle test
  packages/react-on-rails/tests/pageLifecycle.test.js
Due: eslint, prettier

feat: Add getOrCreateAsyncPropsManager for lazy initialization
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails-pro/src/ReactOnRailsRSC.ts
  packages/react-on-rails-pro/src/createReactOnRailsPro.ts
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
Due: autofix, rubocop, eslint, prettier

chore: Fix linting issues in incremental render handlers
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
Due: eslint, prettier

chore: Remove debug console.log statements
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
Due: eslint, prettier

remove unneeded logs
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
Due: autofix, rubocop

fix: Force RSC bundle when async_props_block is present
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/node_rendering_pool.rb
Due: autofix, rubocop

Revert "fix: Force RSC bundle when async_props_block is present"
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/node_rendering_pool.rb
Due: autofix, rubocop

fix: Update AsyncPropsEmitter initialization to use rsc_bundle_hash
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
Due: autofix, rubocop

tmp
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro/src/ReactOnRailsRSC.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/dummy/Procfile.dev
  react_on_rails_pro/spec/dummy/STREAM_BIDI_BUG_ANALYSIS.md
  react_on_rails_pro/spec/dummy/app/views/pages/test_incremental_rendering.html.erb
  react_on_rails_pro/spec/dummy/client/node-renderer.js
  react_on_rails_pro/spec/dummy/stream_bidi_async_race_demo.rb
  react_on_rails_pro/spec/dummy/stream_bidi_buffered_send_demo.rb
  react_on_rails_pro/spec/dummy/stream_bidi_delayed_response_demo.rb
  react_on_rails_pro/spec/dummy/stream_bidi_exact_reproduction.rb
  react_on_rails_pro/spec/dummy/stream_bidi_late_response_demo.rb
  react_on_rails_pro/spec/dummy/stream_bidi_race_condition_demo.rb
  react_on_rails_pro/spec/dummy/test_actual_node_renderer.rb
  react_on_rails_pro/spec/dummy/test_real_incremental_debug.rb
  react_on_rails_pro/spec/dummy/test_stream_bidi_debug.rb
  react_on_rails_pro/spec/dummy/test_stream_bidi_reuse.rb
Due: autofix, rubocop, eslint, prettier

Revert "tmp"
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro/src/ReactOnRailsRSC.ts
  packages/react-on-rails-pro/src/streamServerRenderedReactComponent.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/dummy/Procfile.dev
  react_on_rails_pro/spec/dummy/STREAM_BIDI_BUG_ANALYSIS.md
  react_on_rails_pro/spec/dummy/app/views/pages/test_incremental_rendering.html.erb
  react_on_rails_pro/spec/dummy/client/node-renderer.js
  react_on_rails_pro/spec/dummy/stream_bidi_async_race_demo.rb
  react_on_rails_pro/spec/dummy/stream_bidi_buffered_send_demo.rb
  react_on_rails_pro/spec/dummy/stream_bidi_delayed_response_demo.rb
  react_on_rails_pro/spec/dummy/stream_bidi_exact_reproduction.rb
  react_on_rails_pro/spec/dummy/stream_bidi_late_response_demo.rb
  react_on_rails_pro/spec/dummy/stream_bidi_race_condition_demo.rb
  react_on_rails_pro/spec/dummy/test_actual_node_renderer.rb
  react_on_rails_pro/spec/dummy/test_real_incremental_debug.rb
  react_on_rails_pro/spec/dummy/test_stream_bidi_debug.rb
  react_on_rails_pro/spec/dummy/test_stream_bidi_reuse.rb
Due: autofix, rubocop, eslint, prettier

fix: Update worker restart intervals for better performance
  react_on_rails_pro/spec/dummy/client/node-renderer.js
Due: eslint, prettier

Add mise-exec wrapper for Conductor compatibility
  .rubocop.yml
  CLAUDE.md
  bin/mise-exec
Due: prettier

Add mise-exec wrapper for Conductor compatibility (#2301)
  .rubocop.yml
  CLAUDE.md
  bin/mise-exec
Due: prettier

Update Conductor config to support multiple version managers
  conductor-setup.sh
Due: none

Use mise trust without --all for better security
  conductor-setup.sh
Due: none

Make bin/mise-exec fall back to direct execution
  bin/mise-exec
  conductor.json
Due: prettier

Rename bin/mise-exec to bin/conductor-exec
  .rubocop.yml
  CLAUDE.md
  bin/conductor-exec
  bin/mise-exec
  conductor-setup.sh
  conductor.json
Due: prettier

Update Conductor config to use bin/mise-exec wrapper (#2302)
  .rubocop.yml
  CLAUDE.md
  bin/conductor-exec
  bin/mise-exec
  conductor-setup.sh
  conductor.json
Due: prettier

Fix lefthook globs to match root directory files
  .lefthook.yml
Due: prettier

Fix component not registered error on core `react-on-rails` package (#2295)
  packages/react-on-rails/src/pageLifecycle.ts
  packages/react-on-rails/tests/pageLifecycle.test.js
Due: eslint, prettier

Fix lefthook glob patterns to match root directory files (#2304)
  .lefthook.yml
Due: prettier

Bump version to 16.2.0
  package.json
  packages/react-on-rails-pro-node-renderer/package.json
  packages/react-on-rails-pro/package.json
  packages/react-on-rails/package.json
  react_on_rails/Gemfile.lock
  react_on_rails/lib/react_on_rails/version.rb
  react_on_rails/spec/dummy/Gemfile.lock
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/version.rb
  react_on_rails_pro/spec/dummy/Gemfile.lock
Due: autofix, rubocop, prettier

Fix error handling in publish_gem_with_retry
  rakelib/release.rake
Due: autofix, rubocop
