Repository shakacode/react_on_rails: changes, and which lefthook commands are due for each by the changed paths.
All: autofix, rubocop, eslint, prettier

.lefthook.yml:

# .lefthook.yml
# Fast pre-commit hooks that check all changed files (staged + unstaged + untracked)
# Install with: bundle exec lefthook install

pre-commit:
  parallel: true
  commands:
    autofix:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-autofix all-changed
      stage_fixed: true

    rubocop:
      glob: "*.{rb,rake,ru}"
      run: bin/lefthook/ruby-lint all-changed

    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/eslint-lint all-changed
      stage_fixed: true

    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: bin/lefthook/prettier-format all-changed
      stage_fixed: true

    trailing-newlines:
      run: bin/lefthook/check-trailing-newlines all-changed

pre-push:
  commands:
    branch-lint:
      run: bin/lefthook/ruby-lint branch

Enhance error handling in incremental rendering stream
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

Enhance tests for asset upload handling
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

Refactor VM handling and introduce ExecutionContext
  packages/react-on-rails-pro-node-renderer/src/worker/handleRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/helper.ts
  packages/react-on-rails-pro-node-renderer/tests/serverRenderRSCReactComponent.test.js
  packages/react-on-rails-pro-node-renderer/tests/vm.test.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

Remove unnecessary console logs from worker and test files
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
Due: eslint, prettier

tmp
  packages/react-on-rails-pro-node-renderer/tests/helper.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
Due: eslint, prettier

Add support for incremental rendering at ruby side (#2076)
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/lib/react_on_rails_pro.rb
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/lib/react_on_rails_pro/httpx_stream_bidi_patch.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_pool/node_rendering_pool.rb
  react_on_rails_pro/lib/react_on_rails_pro/stream_request.rb
  react_on_rails_pro/spec/dummy/Procfile.dev
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/test_incremental_rendering.html.erb
  react_on_rails_pro/spec/dummy/config/routes.rb
  react_on_rails_pro/spec/dummy/spec/requests/incremental_rendering_integration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_js_code_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/node_rendering_pool_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/stream_request_spec.rb
Due: autofix, rubocop

Fix incremental render tests (#2032)
  packages/react-on-rails-pro-node-renderer/src/worker/checkProtocolVersionHandler.ts
  packages/react-on-rails-pro-node-renderer/src/worker/requestPrechecks.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/bundle-incremental.js
  packages/react-on-rails-pro-node-renderer/tests/fixtures/bundle.js
  packages/react-on-rails-pro-node-renderer/tests/fixtures/secondary-bundle-incremental.js
  packages/react-on-rails-pro-node-renderer/tests/fixtures/secondary-bundle.js
  packages/react-on-rails-pro-node-renderer/tests/handleRenderRequest.test.ts
  packages/react-on-rails-pro-node-renderer/tests/helper.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
  packages/react-on-rails-pro-node-renderer/tests/serverRenderRSCReactComponent.test.js
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
Due: autofix, rubocop, eslint, prettier

Add AsyncPropManager to react-on-rails-pro package (#2049)
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/tests/fixtures/projects/spec-dummy/asyncComponentsTreeForTestingRenderingRequest.js
  packages/react-on-rails-pro-node-renderer/tests/httpRequestUtils.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalHtmlStreaming.test.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails-pro/src/ReactOnRailsRSC.ts
  packages/react-on-rails-pro/src/createReactOnRailsPro.ts
  packages/react-on-rails-pro/tests/AsyncPropManager.test.ts
  packages/react-on-rails-pro/tests/testUtils.ts
  packages/react-on-rails/src/base/client.ts
  packages/react-on-rails/src/createReactOnRails.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/AsyncPropsComponent.tsx
Due: eslint, prettier

Refactor generateRSCPayload from global to parameter (#2061)
  packages/react-on-rails-pro-node-renderer/tests/fixtures/projects/spec-dummy/asyncComponentsTreeForTestingRenderingRequest.js
  packages/react-on-rails-pro-node-renderer/tests/httpRequestUtils.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalHtmlStreaming.test.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalRender.test.ts
  packages/react-on-rails-pro-node-renderer/tests/worker.test.ts
  packages/react-on-rails-pro/src/RSCRequestTracker.ts
  packages/react-on-rails-pro/src/streamingUtils.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
Due: autofix, rubocop, eslint, prettier

Refactor authentication and protocol version handling to use request body directly
  packages/react-on-rails-pro-node-renderer/src/worker/authHandler.ts
  packages/react-on-rails-pro-node-renderer/src/worker/checkProtocolVersionHandler.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
Due: eslint, prettier

Enhance incremental rendering with async props management and streaming support
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails-pro/src/ReactOnRailsRSC.ts
  react_on_rails_pro/lib/react_on_rails_pro/async_props_emitter.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/lib/react_on_rails_pro/server_rendering_js_code.rb
Due: autofix, rubocop, eslint, prettier

Fix HTTPX streaming compatibility with stream_bidi plugin (#2251)
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/authHandler.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
  packages/react-on-rails-pro-node-renderer/src/worker/types.ts
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
  packages/react-on-rails-pro-node-renderer/tests/handleIncrementalRenderStream.test.ts
  packages/react-on-rails-pro-node-renderer/tests/incrementalHtmlStreaming.test.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
  packages/react-on-rails/src/types/index.ts
  react_on_rails_pro/CHANGELOG.md
  react_on_rails_pro/Gemfile.lock
  react_on_rails_pro/lib/react_on_rails_pro/httpx_stream_bidi_patch.rb
  react_on_rails_pro/lib/react_on_rails_pro/request.rb
  react_on_rails_pro/react_on_rails_pro.gemspec
  react_on_rails_pro/spec/dummy/Gemfile.lock
  react_on_rails_pro/spec/dummy/spec/requests/incremental_rendering_integration_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/async_props_emitter_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/request_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_js_code_spec.rb
  react_on_rails_pro/spec/react_on_rails_pro/server_rendering_pool/node_rendering_pool_spec.rb
Due: autofix, rubocop, eslint, prettier

Add logging for JSON parsing and update chunk processing errors in incremental render stream
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
Due: eslint, prettier

Remove redundant logging in handleIncrementalRenderStream
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
Due: eslint, prettier

Fix AsyncPropsManager resolved flag and onRequestClosedUpdateChunk type
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderRequest.ts
  packages/react-on-rails-pro/src/AsyncPropsManager.ts
Due: eslint, prettier

Consolidate duplicate size limit constants
  packages/react-on-rails-pro-node-renderer/src/shared/constants.ts
  packages/react-on-rails-pro-node-renderer/src/worker.ts
  packages/react-on-rails-pro-node-renderer/src/worker/handleIncrementalRenderStream.ts
Due: eslint, prettier

Improve code quality in vm.ts buildVM function
  packages/react-on-rails-pro-node-renderer/src/worker/vm.ts
Due: eslint, prettier

Refactor line size limit constant in handleIncrementalRenderStream tests
  packages/react-on-rails-pro-node-renderer/tests/handleIncrementalRenderStream.test.ts
Due: eslint, prettier

fix webpack-cli conflict
  react_on_rails_pro/spec/dummy/config/shakapacker.yml
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/pnpm-lock.yaml
Due: prettier

initial implementation of rsc async props and use it at router
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/app/views/react_on_rails_pro/rsc_payload.html.erb
  react_on_rails_pro/spec/dummy/client/app/components/ServerComponentRouter.tsx
Due: autofix, rubocop, eslint, prettier

Fix version link in Pro CHANGELOG.md
  react_on_rails_pro/CHANGELOG.md
Due: prettier

Fix broken CHANGELOG version links (v16.1.1 → 16.1.1)
  CHANGELOG.md
  react_on_rails_pro/CHANGELOG.md
Due: prettier

fix: remove v prefix from git tags to restore historical convention
  .claude/commands/update-changelog.md
  docs/contributor-info/releasing.md
  rakelib/release.rake
  react_on_rails/rakelib/update_changelog.rake
Due: autofix, rubocop, prettier

pass async props to the SSRed router on needed routes
  react_on_rails_pro/app/views/react_on_rails_pro/rsc_payload.html.erb
  react_on_rails_pro/spec/dummy/app/views/pages/server_router.html.erb
Due: none

add e2e test for async props
  react_on_rails_pro/app/views/react_on_rails_pro/rsc_payload.html.erb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/server_router.html.erb
  react_on_rails_pro/spec/dummy/client/app/components/ServerComponentRouter.tsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/AsyncPropsComponentForTesting.tsx
  react_on_rails_pro/spec/dummy/client/node-renderer.js
  react_on_rails_pro/spec/dummy/e2e-tests/asyncProps.spec.ts
  react_on_rails_pro/spec/dummy/e2e-tests/fixture.ts
Due: autofix, rubocop, eslint, prettier

linting
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
Due: autofix, rubocop

linting
  react_on_rails_pro/spec/dummy/client/node-renderer.js
  react_on_rails_pro/spec/dummy/e2e-tests/asyncProps.spec.ts
  react_on_rails_pro/spec/dummy/e2e-tests/fixture.ts
Due: eslint, prettier

linting
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/AsyncPropsComponentForTesting.tsx
  react_on_rails_pro/spec/dummy/e2e-tests/asyncProps.spec.ts
Due: eslint, prettier

Add support for async props at rsc generation helper (#2266)
  react_on_rails_pro/app/helpers/react_on_rails_pro_helper.rb
  react_on_rails_pro/app/views/react_on_rails_pro/rsc_payload.html.erb
  react_on_rails_pro/spec/dummy/app/controllers/pages_controller.rb
  react_on_rails_pro/spec/dummy/app/views/pages/server_router.html.erb
  react_on_rails_pro/spec/dummy/client/app/components/ServerComponentRouter.tsx
  react_on_rails_pro/spec/dummy/client/app/ror-auto-load-components/AsyncPropsComponentForTesting.tsx
  react_on_rails_pro/spec/dummy/client/node-renderer.js
  react_on_rails_pro/spec/dummy/config/shakapacker.yml
  react_on_rails_pro/spec/dummy/e2e-tests/asyncProps.spec.ts
  react_on_rails_pro/spec/dummy/e2e-tests/fixture.ts
  react_on_rails_pro/spec/dummy/package.json
  react_on_rails_pro/spec/dummy/pnpm-lock.yaml
Due: autofix, rubocop, eslint, prettier

Add investigation scripts for partial bundle error analysis
  packages/react-on-rails-pro-node-renderer/scripts/test-atomicity-parallel.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-atomicity.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-concurrent-race.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-concurrent-requests.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-deploy-race.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-fd-truncation.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-http-client-slow.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-http-client.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-multipart-race.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-real-http-v2.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-real-http.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-server.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-timing.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-truncated-upload.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-truncation-detection.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-upload-interruption-inject.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-upload-interruption.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-upload-race-detailed.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-upload-race.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-upload-truncate-race.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-upload-truncation.mjs
  packages/react-on-rails-pro-node-renderer/scripts/test-varied-timing-race.mjs
Due: none

Fix bin/dev failing with "Unknown argument" when using --route flag
  react_on_rails/lib/react_on_rails/dev/server_manager.rb
Due: autofix, rubocop

Fix MONOREPO_MERGER_PLAN
  docs/MONOREPO_MERGER_PLAN.md
Due: prettier

Add unit tests for bin/dev argument parsing
  react_on_rails/spec/react_on_rails/dev/server_manager_spec.rb
Due: autofix, rubocop

Configure Dependabot (#2147)
  .github/dependabot.yml
  docs/MONOREPO_MERGER_PLAN.md
Due: prettier

Fix rspack configuration not applying to all environments
  react_on_rails/lib/generators/react_on_rails/base_generator.rb
  react_on_rails/lib/generators/react_on_rails/templates/base/base/bin/switch-bundler
Due: autofix, rubocop

Avoid possible failure from stopping the Core server unnecessarily
  .github/workflows/benchmark.yml
Due: prettier

Upper-case MISSING for consistency with FAILED
  benchmarks/bench-node-renderer.rb
  benchmarks/bench.rb
  benchmarks/convert_to_benchmark_json.rb
Due: autofix, rubocop

Fix benchmark JSON conversion issues from PR review
  benchmarks/convert_to_benchmark_json.rb
Due: autofix, rubocop

Switch to Bencher for continuous benchmarking
  .github/workflows/benchmark.yml
  benchmarks/convert-to-bmf.rb
Due: autofix, rubocop, prettier
